[2021-03-01 10:44] ThibsG commented on #1832
Finally I chose to upgrade the kernel to 5.9. I tried to patch my 5.4 kernel following Graphene doc instructions, but it didn't work when compiling patched Linux source code (unknown compile error about certs, googling didn't help), so I used a graphical tool called [Mainline](https://ubuntuhandbook.org/index.php/2020/08/mainline-install-latest-kernel-ubuntu-linux-mint/) and I selected the 5.9.0 k

[2021-03-01 10:48] dimakuv commented on #2196
Borys, could you provide some more background? I'm always getting lost in our signal handling...

1. Are you talking about asynchronous signals only (SIGTERM and SIGCONT)?

2. What happens in Graphene (in your proposal) when a "fast syscall emulation" is interrupted by a signal somewhere in PAL (before or after issuing the host syscall)? I guess the PAL just proceeds to completion of such emulatio

[2021-03-01 12:39] mkow commented on #1544
Marked as done.

[2021-03-01 12:54] dimakuv commented on #1767
@sourabh-natesh I was trying to reproduce this issue locally.

How do you expose the host network to your GSC Docker container? I see that `import requests` in Python3 tries to do something like this:
[code]

I did a bit of debugging, but I'm not sure how IPv6 works. I see that Python3 tries to create a TCP/IP (version 6) server socket, but I don't even understand which port I should publish... Qu

[2021-03-01 13:03] boryspoplawski commented on #2196
Yes (basically only SIGCONT is on any interest), but note that such signal appears on each Graphene signal.

Such signal is completely ignored, as we are returning to user app soon anyway (and the signal will be handled then).

How do you want to inject `EINTR` and into what?

I do not understand this question. The problem is in a signal (both Graphene and host level, it's the same thing in this c

[2021-03-01 13:31] #2172 closed

[2021-03-01 14:46] #598 closed

[2021-03-01 14:56] dimakuv commented on #2196
Why "arbitrary code"? We can have case-by-case logic for unwinding. In other words, for e.g. `ocall_read()` we memorize the RIP before the host-level `read()` and the RIP after it. Then in our signal-handling logic, we compare the RIP-at-which-interrupted with the memorized RIPs and figure out that we were interrupted "in ocall_read() after the host-level syscall" -- thus we need to "roll forward"

[2021-03-01 15:09] boryspoplawski commented on #2196
We do that for 3 instructions, not for arbitrary call stacks.

What if we get interrupted inside `ocall_read` before the syscall, while holding some lock? What if we get interrupted before issuing `ocall_read` in trusted PAL or even LibOS?

[2021-03-01 16:36] dimakuv commented on #2196
Ok, yes, I never actually went through this. I was under the impression that we can "simply check if lock is taken and unlock". But now I understand that such implementation would end up in an instruction-by-instruction emulation...

Thanks, at least I now understand that a naive idea of "let's try to unwind case by case" is impossible. I don't have any other idea currently.

[2021-03-01 18:27] jurobystricky opened #2199 "Python vulnerabilities reported by Bandit"
## Description of the problem

Running code scan using **_bandit_** https://github.com/PyCQA/bandit  reported numerous security problems.

Code scanned:
	Total lines of code: 23659
	Total lines skipped (#nosec): 0

Run metrics:
	Total issues (by severity):
		Undefined: 0.0
		Low: 143.0
		Medium: 8.0
		High: 15.0
	Total issues (by confidence):
		Undefined: 0.0
		Low: 3.0
		Medium: 4.0
		High: 159.0

[2021-03-02 00:10] mkow commented on #2199
Hi, thanks for the report, but reporting plain output from linters or similar checkers isn't really useful - they usually contain a lot of false-positive noise.
It would be useful if you could analyze the log and report only the issues which you think are actually security issues.

[2021-03-02 00:10] #2199 closed

[2021-03-02 01:57] boryspoplawski commented on #2196
Updated the top comment with another approach.

[2021-03-02 02:34] johnvenn commented on #2114
could you tell me which PR fixed the issue?

[2021-03-02 02:36] johnvenn commented on #2114
The problem is fixed.

[2021-03-02 02:37] johnvenn commented on #2114
verified on commit bfb2f33d3b3782d4573fb9265f6bdf8a0d4a08f9 (HEAD -> master, origin/master, origin/HEAD)

[2021-03-02 08:56] sourabh-natesh commented on #1767
@dimakuv
My requirement is to send an HTTPS request to a server and fetch some data from it which is required for our application. Below are the steps to reproduce the issue I'm facing.

### Steps to reproduce

1. I'm deploying the graphene docker container using the steps mentioned here : https://github.com/hyperledger/avalon/tree/689122305c659617cd3f3b8749896ad5b52f2e7c/tc/graphene/python_worker

[2021-03-02 09:10] dimakuv commented on #1767
I'm not familiar with Docker compose. Could you figure out what is the underlying `docker run <...arguments...>`  command that actually runs? For example, this line: https://github.com/hyperledger/avalon/blob/689122305c659617cd3f3b8749896ad5b52f2e7c/tc/graphene/python_worker/docker-compose.yaml#L33 looks relevant to how `docker run ...` actually is executed, but I don't understand how e.g. `--devi

[2021-03-02 09:15] dimakuv commented on #2199
@jurobystricky  Thanks for the idea of using Bandit to test our Python scripts.

I agree with @mkow that there are many false positives produced by such tools. Also, we currently have Python scripts like https://github.com/oscarlab/graphene/blob/master/python/graphenelibos/sgx_sign.py which are old and badly written -- these scripts need a re-write first, and then we can apply Bandit to check for

[2021-03-02 09:45] sourabh-natesh commented on #1767
@dimakuv
The sgx devices (gsgx and isgx) are passed from this yaml file: https://github.com/hyperledger/avalon/blob/689122305c659617cd3f3b8749896ad5b52f2e7c/tc/graphene/python_worker/compose/graphene-sgx.yaml#L21

[2021-03-02 09:56] mkow commented on #2114
I think it was #2132 specifically.

Good, I'm closing it then.

[2021-03-02 09:56] #2114 closed

[2021-03-03 08:44] dimakuv commented on #1767
@sourabh-natesh There was a bug in core Graphene that failed `import requests; req = requests.get('http://www.example.com')` in Python. I fixed this bug: https://github.com/oscarlab/graphene/pull/2202. It will hopefully soon be merged in master branch, but for now you can test the branch `dimakuv/fionbio-on-off`.

Also, we have another pending PR to propagate environment variables inside the Graph

[2021-03-03 09:31] sourabh-natesh commented on #1767
@dimakuv Thank you for providing the fix so quickly! I'll test it and let you know how it goes.

[2021-03-03 10:16] dimakuv commented on #1767
I created one more PR for GSC: https://github.com/oscarlab/graphene/pull/2203. This is purely for debugging-of-GSC purposes, not really related to your issue. So if you're frustrated with the debugging experience in GSC (well, this experience is currently non-existing because there were no debugging tools in GSC), this PR will help you.

[2021-03-03 11:25] dimakuv commented on #1767
Finally, I create the PR https://github.com/oscarlab/graphene/pull/2204. This PR allows to skip already-defined allowed/trusted/protected files in the user-supplied manifest. Exactly as @manojgop suggested above.

Now with all these new PRs, @sourabh-natesh's stuff must work. It's a matter of reviewing and merging them, which may take another week or two...

[2021-03-03 19:46] mkow opened #2205 "Add recursive directory scan to trusted files"
## Description of the problem

It should be possible to add whole directories using `sgx.trusted_files` syntax. Right now all files need to be listed manually, which is very PITA and causes problems if the precise list varies between platforms.

Resolving this will greatly simplify our manifests and make them more portable (e.g. between Ubuntu versions).

[2021-03-03 19:46] mkow commented on #746
Blocked by #2205.

[2021-03-04 08:27] dimakuv commented on #2205
How do you want to implement this? `sgx.trusted_files.walkdir1 = /lib/`? You'll still need hashes of each lib, right (`sgx.trusted_checksums.walkdir1_file001 = ...`)? Won't it bring way too many libraries in the final manifest?

[2021-03-04 11:33] mkow commented on #2205
I'll just check if the path leads to a dir in `sgx_sign.py`, and if so, then I'll emit entries for all subfiles. Ad too many libs - that's users decision, no one forces you to use the directory version ;) But we have a proper TOML parser, it shouldn't be as slow as the old, handcrafted one.

[2021-03-04 12:38] dimakuv commented on #2205
Ok, sounds good to me.

[2021-03-04 14:20] prakashngit opened #2208 "Make MRenclave measurement independent of file options appearing in the Graphene manifest"
This is a feature request for supporting extended measurements via SGX's CONFIGID, (instead of measuring user trusted/allowed files via MRenclave.)

Context
---------
In applications such as Federated learning, one to would like multiple data owners to execute the same training algorithm but with different datasets. We use graphene to run the training algorithm. In terms of the manifest, there is

[2021-03-04 16:23] mkow commented on #2208
Why not use protected files for this? See https://graphene.readthedocs.io/en/latest/manifest-syntax.html#protected-files. This is the intended way of shipping additional files at runtime.

[2021-03-04 16:38] tonyreina commented on #2208
Do protected files get encrypted and loaded into the enclave? I guess what we're worried about is that this is typically the case where there is a directory of maybe a few thousand files with each file being maybe 100 MB in size. So I'm just wondering about performance issues for speed.

[2021-03-04 16:59] prakashngit commented on #2208
Thank you for the question. In addition to performance hit that @tonyreina  alluded to, I am afraid protected files fundamentally do not solve the problem at hand. Here is why:

The data at rest resides with the data-owner. No one outside the data owner node has access to the data. So we are not "protecting" data from the data-owner. It does not matter if the data at rest is encrypted or not. Ther

[2021-03-04 18:04] woju commented on #2205
Do you really need to implement this in graphene? I'd move this to jinja templates (#2076), if it would be enough:

[code]

This would be more flexible, because you'll be able to add some custom filtering, if you don't really want to add all the files.

I've got some preliminary implementation already (d8de596aef4e40f7dd44117f998403a83eadd9d1), and it uses similar construction for `ldd` (https://g

[2021-03-04 18:37] mkow commented on #2205
It's 5 lines of Python in sgx_sign.py.
I don't really see any reason why we wouldn't want this. And woju's version requires our manifests to be jinja templates generating TOML to be able to use this.

[2021-03-05 19:19] rahulunair opened #2211 "GSC production status on cloud service providers"
Hi,

I have been looking thorough the projects to see if graphene can be used for PPML in production environments. I have seen issues[1][2] that are open blocking production status of grapehene, but there is documentation[3] on how to use graphene shielded containers on AKS, can you please confirm if graphene is production ready or not and if the AKS solution can be used for prod deployment ?

[1]

[2021-03-07 08:07] reckeyzhang opened #2213 "PyTorch PPML Framework issue about Enclave EADD"
I ran the PyTorch example with Graphene in SGX Enclave on two SGX nodes:
The two nodes are with the same hardware config: Intel® Xeon® E-2288G Processor (16 cores), 128GB RAM.
The difference is:
Node 1 is installed with OOT SGX driver
Node 2 is installed with DCAP driver with FLC

I can maximum assign 64G as sgx enclave_size.
pytorchexample.py can be correctly executed in Node1 enclave and generat

[2021-03-08 00:21] mkow opened #2214 "Mountpoint order is not preserved in current manifest syntax"
## Description of the problem

Currently we don't use proper TOML syntax for declaring mountpoints, instead, we use a syntax which resembles the pre-TOML one used in Graphene. As a result, the entries are not ordered, but Graphene actually relies on the specific mounting order (e.g. you can't mount /lib/asdf first and then /lib, but the other way around works). The problem is, that TOML structure

[2021-03-08 07:46] dimakuv commented on #2211
Graphene is currently **not** production ready.

The AKS solution can **not** be used for production deployment.

We are working on making both Graphene and the GSC tool production-ready.

[2021-03-08 08:00] dimakuv commented on #2213
Maye you are incorrectly building Graphene? Graphene needs a hint `ISGX_DRIVER_PATH` (path to the sources of your Intel SGX driver), see https://graphene.readthedocs.io/en/latest/building.html#id1.

So if you have an OOT SGX driver, you specify something like: `ISGX_DRIVER_PATH=/opt/intel/linux-sgx-driver/ make SGX=1`. You have a DCAP SGX driver, you specify something like: `ISGX_DRIVER_PATH=/usr/

[2021-03-08 08:05] dimakuv commented on #2214
True. We will need to change the manifest syntax for this...

Notice that this only happens on #2210, which adds TOML parsing to our Python scripts. The default TOML parser in Python doesn't preserve the order.

Interestingly, the TOML parser that we use in Graphene itself (in our C codebase) preserves the order of TOML entries. That's why we haven't seen this error manifesting itself in Graphene

[2021-03-08 11:12] dimakuv commented on #2208
To put it another way, I think what @prakashngit and @tonyreina want boils down to this:

1. Some files are listed as `sgx.trusted_files` during enclave-creation time (before shipping the enclavized-app package to the remote untrusted machine).
2. Some files are listed as `sgx.more_trusted_files` during enclave-startup time (after shipping the enclavized-app package to the remote untrusted machine

[2021-03-08 11:48] mkow commented on #2208
Yes, they are encrypted at rest and decrypted + integrity-checked inside enclave memory. The decryption uses HW acceleration, so it should be quite fast (but still, a small overhead may be seen).

Thanks for the explanation, I think I now see what's your case exactly. I proposed protected files, because it's a superset of trusted files - it also does the integrity check and allows shipping files a

[2021-03-08 12:27] #2211 closed

[2021-03-08 12:33] mkow commented on #2214
I answered the same question under #2210. TL;DR: migrating Python scripts to a proper TOML library shuffled the order (which is perfectly correct) and broke the incorrect assumptions our C code has.

[2021-03-08 13:15] reckeyzhang commented on #2213
Thanks Dmitrii for your help, actually on the node2 with DCAP driver, I have already built graphene with: ISGX_DRIVER_PATH set (dcap driver 1.41)
[code]

1) Can I know what does the following log error stand for(EADD returns -12)?
[code]

2) Is there any way(command or binary) to check whether my Dcap driver and SDK (or other necessary component to make graphene pytorch work) is correctly installe

[2021-03-08 13:38] dimakuv commented on #2213
Yes, what you did looks correct.

This is just a normal UNIX error code:
https://www-numi.fnal.gov/offline_software/srt_public_context/WebDocs/Errors/unix_system_errors.html. `-12` stands for "out of memory", which is kinda weird... Are you sure you have 128GBs of RAM on that DCAP machine?

One way to check the DCAP SGX driver is to run `dmesg | grep sgx`. It should print some Linux kernel debug m

[2021-03-08 13:54] reckeyzhang commented on #2213
Thanks Dmitrii.
I tried to run the HelloWorld, after I build with the command "make SGX=1 sgx-tokens" in the folder "LibOS/shim/test/regression", it finied with the following log, and I am no idea whether it finished with success:
[code]

because it's strange that it did not generate a symbolic link pal_loader pointing to "Runtime/pal_loader", so I have to create it manually to make it work, but t

[2021-03-08 13:56] dimakuv commented on #2213
Please open `manifest.template` and comment out `/dev/kmsg` mount point there.

You're not using Ubuntu? In Ubuntu, by default, `/dev/kmsg` is typically available to all users.

[2021-03-08 14:03] reckeyzhang commented on #2213
Hi Dmitrii, I am indeed running with Ubuntu 18.04, but with the kernal updated to 5.9,  I commented the kmsg, and it works:
[code]

[2021-03-08 14:07] reckeyzhang commented on #2213
By the way, here is the output of sgx dmesg
[code]
and the RAM is 128G:
[code]

[2021-03-08 14:17] dimakuv commented on #2213
Hard to say why HelloWorld runs but not your example...

Can you try your example with say `sgx.enclave_size = 4G`? Just to see if you'll hit the same error.

Also, can you try another example, for example Redis (find it under `Examples/redis`)?

[2021-03-08 14:41] reckeyzhang commented on #2213
Well, that's totally weird!!!  it worked when I set sgx.enclave_size = 4G, and failed when I set sgx.enclave_size = 64G.
See the log below:
- sgx.enclave_size = "64G"
[code]

- sgx.enclave_size = "4G"
[code]

Any possible explication? very strange

[2021-03-08 15:15] mkow commented on #2213
Huh. Maybe the DCAP driver locks the pages, the system can't allocate enough of them and can't swap, and further allocations in the driver fail? (but OOT doesn't do any locking, and that's the difference? I'm just guessing)
But I'm not sure how exactly would this work, someone would need to check how DCAP exactly does the allocations.

[2021-03-08 21:28] rahulunair opened #2217 "open to contributions?"
Hi,

I was trying to update the docs, is the repo open to external contributions?

[2021-03-08 21:52] dimakuv commented on #2217
Hi,

Yes, we can see your contribution: https://github.com/oscarlab/graphene/pull/2216. I already reviewed and approved it. There will be two more reviews/approvals, and then we'll merge this PR. Thanks for contributing!

[2021-03-08 22:02] rahulunair commented on #2217
Thank you @dimakuv

[2021-03-09 00:54] #2217 closed

[2021-03-09 06:35] monavij commented on #2213
Like Dmitrii explained above you are likely runnning out of swap space wth 64GB enclave. Try increasing your swap file in Linux.

[2021-03-09 06:43] sindhuamir opened #2221 "Unable to run Mariadb server application with SGX"
## Description of the problem

Unable to run Mariadb application with Graphene LibOS

## Steps to reproduce

Issue produced on Graphene repo with latest commit below:

commit d97f43a4cce4fc5c7f35d064f701e9afc2a538d2 (HEAD -> dimakuv/init-log-level-in-enclave-early, origin/dimakuv/init-log-level-in-enclave-early)
Author: Dmitrii Kuvaiskii <dmitrii.kuvaiskii@intel.com>
Date:   Tue Mar 2 00:02:20 202

[2021-03-09 07:58] yanzhichao commented on #2033
Thanks for your guidance。
I  rebuild the AESMD in debug mode ,and also I read the code which you given. Unfortunately I still cann't check out the problem, as there is so less debug information.

Now, I  doubt my platform or the version of Linux-sgx  incompatible with Graphene.
My platform is intel  NUC7PJYH with Intel(R) Pentium(R) Silver J5005 CPU
Here is the cpuid
[code]

and  the version of Li

[2021-03-09 11:45] mkow commented on #2213
@reckeyzhang What I meant is explaining why you are actually able to allocate these 64 GB on OOT (you mentioned this in the first post: "Node 1 is installed with OOT SGX driver"), but not on DCAP.
You can try increasing the swap space, as @monavij suggests.

[2021-03-09 11:55] mkow commented on #2221
Some of the errors are related to the fact we don't support file locks yet (but we plan to do this as part of #1803), but it seems to continue despite them.

[code]

(38 is ENOSYS, which is expected, because we don't implement these syscalls)

The fatal error seems to be this one:
[code]

Most likely the problem is that you didn't add this file to allowed_files not trusted_files. If you change Gra

[2021-03-09 12:20] dimakuv commented on #2033
@yanzhichao The problem is not with Graphene, the problem is with the DCAP library.

In other words, you first need to solve this problem: https://github.com/intel/SGXDataCenterAttestationPrimitives/issues/150.

Graphene developers are separate from Intel DCAP library developers, so we can't help in resolving Intel DCAP issues, unfortunately :(

[2021-03-09 12:43] dimakuv commented on #2213
@reckeyzhang Are you sure you have **the exact same machines**?

You posted this on your machine with DCAP:
[code]

The `EPC section` message indicates that you have only 189MB of EPC. So this is some older machine, with limited amount of EPC memory.

Moreover, this older machine probably doesn't have SGX-TME but has SGX-MEE (see https://www.kernel.org/doc/Documentation/x86/sgx.rst for some detail

[2021-03-09 12:44] dimakuv commented on #2213
Heh, someone really needs to sit and write a new `Intel SGX Explained` document explaining all these intricate details...

[2021-03-09 12:45] dimakuv commented on #2221
For what it's worth, I'm fairly certain that MySQL (used underneath MariaDB? not sure what is the dependency here) **requires** file locking, and loudly fails when it doesn't detect this feature. Which is not implemented in Graphene.

[2021-03-09 14:21] reckeyzhang commented on #2213
Hi Mona, Dmitrii, Michał, appreciate your help.

I display the EPC size for the two machines:
Node1(OOT):        intel_sgx INT0E0C:00: EPC bank 0x70200000-0x7bf80000
Node2(DCAP):     sgx: EPC section 0x70200000-0x7bf7ffff

Concerning what you mentioned: _"The EPC section message indicates that you have only 189MB of EPC. So this is some older machine, with limited amount of EPC memory."_
Actually

[2021-03-09 14:36] reckeyzhang commented on #2213
Hi Mona, Dmitrii, Michał, appreciate your help.

I display the EPC size for the two machines:
Node1(OOT): intel_sgx INT0E0C:00: EPC bank 0x70200000-0x7bf80000
Node2(DCAP): sgx: EPC section 0x70200000-0x7bf7ffff

Concerning what you mentioned: "The EPC section message indicates that you have only 189MB of EPC. So this is some older machine, with limited amount of EPC memory."
Actually we have 2 ser

[2021-03-09 14:52] dimakuv commented on #2213
Your understanding is correct. There is a limitation in the pre-Icelake software/hardware combination that precludes from creating very-large SGX enclaves. I hit the same issue periodically on older machines. I believe this will be solved in the Intel SGX driver one day... (Maybe already solved in the upstreamed Linux driver? I haven't checked.)

By the way, I checked our examples, and nowhere I c

[2021-03-09 15:07] reckeyzhang commented on #2213
Thanks Dmitrii, Actually I ran pytorch example with 4G enclave size weeks ago on one of my old machines, and had Out-Of-Memory Killer issue, and it was proposed to increase the enclave size, because we thought the enclave size might not be sufficient, that's why took a new server and tested with huge (64G) enclave size .

[2021-03-09 16:19] monavij commented on #2213
All right it’s possible that your data set/Model is bigger and it needs more heap space, so you need to go higher than 4G. So try 8G, 16G etc and see what is the minimum size you can use (there is always an overhead when you use too large an enclave, especially with limited EPC. This is the limitation of SGX 1.0 where you need to build the needed enclave size upfront. Once we have support for dyna

[2021-03-09 18:16] dimakuv commented on #1520
https://github.com/oscarlab/graphene/pull/2195 -- secure environment variables were added to GSC.

[2021-03-10 03:16] yanzhichao commented on #2033
Thanks a lot.
I agree the problem is not with Graphene.
Actually，different with @kamathhrishi  ,in my platform there is no  problem of intel/SGXDataCenterAttestationPrimitives#150.

I can run the QuoteGenerationSample successfully  as follow：
[code]

It's very probably a problem with my configuration or version.

so could you tell me which version of linux-sgx you are use ?

[2021-03-10 07:28] dimakuv commented on #2033
Ah, ok. Sorry, I thought that you had an identical problem.

Then I have a couple of suggestions for you:
- Please try `SGX_AESM_ADDR=1` environment variable when running Graphene, see e.g.: https://github.com/oscarlab/graphene/issues/2062#issuecomment-769855356
- For more info on `SGX_AESM_ADDR`, please check https://github.com/intel/SGXDataCenterAttestationPrimitives/issues/107

Another avenue t

[2021-03-10 15:51] #2205 closed

[2021-03-11 03:29] stefanberger commented on #2185
The solution may be as easy as this:

[code]

[2021-03-11 03:31] stefanberger commented on #2185
Now this works:

[code]

[2021-03-11 13:17] reckeyzhang commented on #2213
Thanks very much Mona, I will definitely have a try:)

[2021-03-11 17:20] jurobystricky opened #2229 "GSC containers build error"
## Description of the problem
Building GSC containers is broken:

Seems this commit caused the new error:

[Pal/Linux-SGX] sgx_sign.py: Use proper TOML parser for manifests

I get an error  while building Ubuntu containers:
<pre>
/usr/bin/python3: No module named pip
</pre>

This seems to fix the problem:
<pre>
diff --git a/Tools/gsc/templates/Dockerfile.ubuntu18.04.compile.template b/Tools/gsc/te

[2021-03-11 20:02] #2066 closed

[2021-03-12 08:22] dimakuv commented on #2229
That's because our Jenkins worker that is responsible for GSC testing died and we still haven't replaced it :(

So such tiny errors creep in currently into GSC, because we don't manually test GSC for every change. We should finally move to a normal Jenkins environment.

Let me test locally on my machine and submit a fixing PR. Sorry for this.

[2021-03-12 12:57] #2229 closed

[2021-03-12 15:12] #2185 closed

[2021-03-12 17:03] hansinator opened #2233 "Hello world example won't run (not /dev/sgx/enclave)"
## Description of the problem

I was following the quick start guide for an SGX enabled system and tried running the hello world example.
The pal loader complains that it can not find /dev/sgx/enclave, but I have got the isgx kernel module with /dev/isgx on kernel 5.10.

## Steps to reproduce

Follow quick start guide.

## Expected results

Seeing the words "Hello World" on my console.

## Actual

[2021-03-12 22:01] jaddoescad opened #2235 "Issue running helloworld quickstart without SGX support"
## Description of the problem
Issue Running Hello world application without sgx support in quickstart

## Steps to reproduce

follow quickstart
ran `./pal_loader helloworld`

## Expected results
running hello world

## Actual results

**

**

[2021-03-13 15:28] mkow commented on #2233
You've probably passed wrong path in `ISGX_DRIVER_PATH` when building. Please take a look at https://graphene.readthedocs.io/en/latest/building.html#id1.

[2021-03-13 15:31] mkow commented on #2235
I just tested it and it worked. Are you sure you didn't forgot the `make` step in `regression` directory?

[2021-03-15 00:31] jurobystricky opened #2237 "[GSC] Occassional errors in test-5-ubuntu18.04"
## Description of the problem
Repeatedly running GSC test test-5-ubuntu18.04 results in occasional errors such as those listed below.
I was able to reproduce the errors both on base metal host and in a VM.
These errors are very rare (once every 100 or so runs), most likely due to a subtle race condition.

<pre>
5/9: make[1]: Entering directory '/home/juro/graphene/Tools/gsc/test'
docker run  --dev

[2021-03-15 15:17] mkow commented on #2237
Could you try running on #2232? No idea if it's related, but the bug fixed there manifested similarly ;)

[2021-03-15 16:44] jurobystricky commented on #2237
I will re-run the tests with the patch. First I need to apply the patch to my fork of Graphene and then edit relevant  files so the containers clone Graphene from the fork.

[2021-03-16 07:37] 0400H commented on #2108
@dimakuv

[protected files](https://github.com/oscarlab/graphene/pull/1325) is claimed that integrity of data is protected. How is it achieved? Is it a check of message digest?

[2021-03-16 11:09] mkow commented on #2108
Message? There are no messages there ;)
Anyways, we use authenticated encryption (precisely: AES-GCM), which provides both confidentiality and integrity.

[2021-03-16 12:13] 0400H commented on #2108
@mkow

Thank you for your reply.  :-)
A [message digest](https://www.techopedia.com/definition/4024/message-digest) is a cryptographic hash function containing a string of digits created by a one-way hashing formula. :-)

I found it. :-)
[pf_crypt.c:pf_init](https://github.com/oscarlab/graphene/blob/1102fee8f5f5ea85316b1d20a736500b0f1bc04d/Pal/src/host/Linux-SGX/tools/pf_crypt/pf_crypt.c#L95) -->

[2021-03-16 13:19] jurobystricky commented on #2237
I created GSC containers that include the patches from [#2232](https://github.com/oscarlab/graphene/pull/2232l).
Then I ran repeatedly test-5-ubuntu18.04. It did not find any problems in 500 repetitions. While absence of evidence is not evidence of absence, the patches do seem to fix the problem. Normally, I would expect several errors after this many repetitions. Having said that, I will continue

[2021-03-16 14:51] mkow commented on #2108
Yeah, I know what's a hash/digest :) I was just confused by "message", which makes no sense in this context.

Yup, that's the place :)

Btw. If you want to continue this discussion please move it to our mailing list, or if you find a bug then create a separate issue, otherwise it's a bit off-topic here (this is a meta-issue to keep track of the subtasks).

[2021-03-16 14:52] mkow commented on #2237
Yay! :)
Thanks for testing this and please let us know if you manage to trigger it after more runs.

[2021-03-16 15:14] 0400H opened #2242 "Confidentiality and integrity of protected file system."
[protected file system](https://github.com/oscarlab/graphene/pull/1325) claim that it has confidentiality and integrity.
How it achieved?

[2021-03-16 15:15] 0400H commented on #2242
Original link:

[pf_crypt.c:pf_init](https://github.com/oscarlab/graphene/blob/1102fee8f5f5ea85316b1d20a736500b0f1bc04d/Pal/src/host/Linux-SGX/tools/pf_crypt/pf_crypt.c#L95) --> [pf_util.c:mbedtls_aes_gcm_encrypt](https://github.com/oscarlab/graphene/blob/1102fee8f5f5ea85316b1d20a736500b0f1bc04d/Pal/src/host/Linux-SGX/tools/common/pf_util.c#L110)

[2021-03-16 15:17] mkow commented on #2242
No screenshots, pleaaase... Just paste the logs or just link to them ;)

[2021-03-16 16:50] prakashngit opened #2243 "RA-TLS Feature request: Sign the Cert by an external Authority rather than Self Signed"
This is a feature request to have the X.509 certificate used in Graphene RA-TLS signed by an external authority rather than self-signed by the enclave as it is now. The feature would be very useful to bind the graphene instance to the host of the enclave if the host can use its keys to sign the X.509 certificate.

Context
--------
In applications such as Federated learning, one to would like multi

[2021-03-16 17:28] nsxfreddy commented on #2208
The reason not to use protected files is that the data files in question may have use in addition to the enclave usage, but placing them in protected files requires a copy of that (large) dataset in order to encrypt it. The envisioned use case only requires integrity protection, so using protected files creates a large wasted space (100's GB or TB).

[2021-03-17 10:20] anjalirx-intel opened #2245 "msg_next_id verification failed"
## Description of the problem
msg_next_id specifies desired id for next allocated IPC message. By default they are equal to -1. The msgget() system call returns the System V message queue identifier associated with the value of the key argument.  It may be used either to obtain the identifier of a previously created message queue, or to create a new set. In this testfile queue_id and pid did not m

[2021-03-17 10:23] anjalirx-intel opened #2246 "Could not read output of 'ipcs' to calculate used message queues"
## Description of the problem
Msgstress tries to get and manipulate a message queue, the testcase calls get_used_msgqueues which gets the number of message queues which are already in use. In Graphene OS get_used_msgqueues function call failed with error: Could not read output of 'ipcs' to calculate used message queues.

## TestFile
msgstress01, msgstress02, msgstress03 and msgstress04

## Expecte

[2021-03-17 10:25] anjalirx-intel opened #2247 "semctl returns unexpected number of sems and unexpected semzcnt"
## Description of the problem
This testcase tries to Get and manipulate a set of semaphores,
TestCase:
1.	semctl(semid, 0, IPC_STAT, arg): It Copies information from the kernel data structure associated with semid into the
        semid_ds structure pointed to by arg.buf. In Graphene OS it returned the number of sems as 0

2.	semctl(semid, 0, GETZCNT, arg)
        It Returns the semzcnt value for

[2021-03-17 11:03] anjalirx-intel opened #2248 "write called failed with EFAULT, instead of writing successfully"
## Description of the problem
As per Graphene OS if buf size is 0, write() command returns EFAULT error

## TestFile
write02

## TestCase
TEST(write(fd, NULL, 0));

## Expected results
TINFO: Timeout per run is 0h 05m 00s
TPASS: write(fd, NULL, 0) == 0

Summary:
passed   1
failed   0
skipped  0
warnings 0

## Actual results
TINFO: Timeout per run is 0h 05m 00s
TFAIL: write() should have succeeded

[2021-03-17 12:49] mkow commented on #2245
@anjalirx-intel Could you include more context here? What's "msgget04 test"? (I know what's this because we talked previously on Slack, but others probably don't). Same for your other recent issues.

[2021-03-17 21:20] jurobystricky commented on #2237
I ran the test another 1000 times, no errors found.

[2021-03-17 22:32] g2flyer commented on #2243
Technically, this would essentially mean that instead of creating the self-signed certificate, it would create a certificate signing request (CSR) with the same content. As long as a CA would process the extension with the attestation and include it in the certificate, this should work nicely and shouldn't require that many chances to the enclave code. [In fact, this was an option which was consid

[2021-03-18 01:10] sudharkrish opened #2250 "Support for netlink sockets"
## Description of the problem
Currently graphene does not support netlink sockets.
Working on a project, that needs support for netlink sockets to communicate with kernel.
Project info here-> https://github.com/omec-project/upf-epc
Would like to know, if there is any plan to support netlink socket in graphene.

## Steps to reproduce
When running any application, that creates netlink socket, for ex

[2021-03-18 01:47] sudharkrish opened #2251 "Support for additional system calls for BESS framework"
## Description of the problem
While enabling graphene for BESS framework, came across some system calls that are used by BESS framework,
but not supported in graphene.
1. flock (I am aware that with Pavel's work for file-sharing, we may get this support).
2. msync
3. get_mempolicy
4. iopl

Just opening this PR, to get some info on whether there is any plan to add support for these system calls.

M

[2021-03-18 02:16] mkow commented on #2237
Great to hear :) Thanks for testing!
I'm closing this issue then.

[2021-03-18 02:16] #2237 closed

[2021-03-18 02:20] mkow commented on #2251
iopl? Are you _sure_ this one is actually used?

[2021-03-18 02:22] mkow commented on #2250
Isn't this a duplicate of #1995?

[2021-03-18 05:46] monavij commented on #2243
This is where you can also use config id to identify the host. At create time specify the hostID that graphene can add to KSS/Config ID and you can verify tha via attestation.

[2021-03-18 11:48] #2248 closed

[2021-03-19 12:16] anjalirx-intel opened #2253 "Syscall signature mismatch b/w Linux and Graphene for rt_sigprocmask syscall"
## Description of the problem
In Graphene OS, the syscall signature between Linux implementation for syscall doesn't match the signature inside Graphene. It is missing fourth argument which is size.

Linux:
int rt_sigprocmask(int how, const kernel_sigset_t *set, kernel_sigset_t *oldset, size_t sigsetsize);

Graphene:
long shim_do_rt_sigprocmask(int how, const __sigset_t* set, __sigset_t* oldset)

[2021-03-19 12:30] anjalirx-intel opened #2254 "semctl call succeeded when error EINVAL and EFAULT expected"
## Testfile
semctl03

## TestCase:
TC-1: &sem_id_1, -1, SEMUN_CAST & sem_ds, EINVAL         `/* EINVAL - the IPC command is not valid */`
TC-2: &bad_id, IPC_STAT, SEMUN_CAST & sem_ds, EINVAL  `/* EINVAL - the semaphore ID is not valid */`
TC-3: &sem_id_1, GETALL, SEMUN_CAST - 1, EFAULT            `/* EFAULT - the union arg is invalid when expecting "ushort *array" */`
TC-4: &sem_id_1, IPC_SET, SEM

[2021-03-19 12:43] anjalirx-intel opened #2255 "semctl call succeeded when ERANGE error expected"
## Testfile
semctl05

## TestCases
TC-1: 5, SETVAL, SEMUN_CAST - 1} `/* ERANGE - the value to set is less than zero - SETVAL */`
TC-2: 0, SETALL, SEMUN_CAST big_arr}, `/* ERANGE - the values to set are too large, > semaphore max value */`
TC-3: 5, SETVAL, SEMUN_CAST BIGV` /* ERANGE - the value to set is too large, > semaphore max value */`

## Description of the problem
The testfile checks for ERA

[2021-03-19 12:51] anjalirai-intel opened #2256 "fstat03 didn't reported results when executed in Graphene OS"
## Testfile
fstat03

## Description of the problem
The testfile has 2 testcases checking for error EBADF and EFAULT. In Graphene OS, 1 testcase is passed and 2nd one does not returns result and throws error. Error handling is not done properly

## Expected results
root@ubuntu-test-base: ./fstat03
/root/MasterGraphene/LibOS/shim/test/ltp/src/lib/tst_test.c:1250: TINFO: Timeout per run is 0h 05m 00s

[2021-03-19 13:37] yanzhichao commented on #2033
What a Suggestions，It works！
Although I still can't find the root cause of the problem, but it works!
I share my works as follow:

### Hardware platform:
`Intel NUC7PJYH with Intel(R) Pentium(R) Silver J5005 CPU`
the sgx information:
[code]
Operate System：Ubuntu 18.04

### The steps to run the stuff successful
+ 1、clean the environment，use `apt purge` to clean the package about sgx you have instal

[2021-03-19 22:05] sudharkrish commented on #2251
During launch of application, I noticed a call in graphene's debug log, with a warning that iopl is not supported.

[2021-03-19 22:08] sudharkrish commented on #2250
Yes @mkow, you can close this one. Also, if you are aware of any plans to support this, you can update in the other PR.

[2021-03-20 01:17] mkow commented on #2251
But you know what is `iopl`? It enables access to some privileged x86 instructions in usermode, it makes no sense in SGX (and in general doesn't sound like something you should ever allow programs to do in your system).

[2021-03-20 01:17] #2250 closed

[2021-03-22 02:47] anjalirx-intel opened #2260 "Incorrect remaining time is returned when nanosleep error code is set to EINTR"
## Testfile
nanosleep02

## Description of the problem
This testcase verifies that nanosleep() will be successful to suspend the execution of a process, returns after the receipt of a signal and writes the remaining sleep time into the structure.
In this testcase the process sleeps for 1sec and then it get terminated by kill signal. The remaining time is incorrectly returned in Graphene OS

## Exp

[2021-03-22 19:35] ADL-work opened #2261 "[GSC] Unable to converting docker image running python flask"
## Description of the problem
I am trying to converting docker image running a simple flask server using GSC, but failed to run the converted docker image.
Given that I have all needed SGX PSW and SGX SDK installed (I managed to run the examples in graphene/Examples/ folder)

## Steps to reproduce

testflask.py
[code]

testflask.dockerfile
[code]

testflask.yaml
[code]

Following by conversion com

[2021-03-22 20:55] woju opened #2262 "Deprecate IAS API v3 and `ias_request` tool"
IAS API v3 (which is currently used by attestation utilities in `/Pal/**/Linux-SGX/tools/*`) is undocumented as of this writing. The documentation describes only v4 API: https://api.trustedservices.intel.com/documents/sgx-attestation-api-spec.pdf.

The `ias_request` tool needs not to be written in C, I wrote `graphene-ias-query` in Python as a wrapper of a simple library (`graphenelibos.ias`). Whe

[2021-03-22 20:59] woju commented on #895
16. rename cli tools to `graphene-*` with kebab-case

[2021-03-23 13:42] #2253 closed

[2021-03-23 14:20] dimakuv commented on #2033
Great to hear that you solved this! I really appreciate describing the steps you made, thanks :)

[2021-03-23 16:24] anjalirx-intel opened #2265 "Syscalls are failing with Internal Memory Fault in Graphene OS"
## Description of the problem
Syscalls are failing with Internal Memory Fault in Graphene OS

## TestFile
1.	Sendfile04
2.	Semop02
3.	Semctl03
4.	Msgsnd02
5. 	Msgrcv05
6.	Msgrcv06
7.	Chroot03
8.	Msgsnd06
9.	Msgsnd05
10.   Recvmsg01
[InternalMemoryFault.zip](https://github.com/oscarlab/graphene/files/6191223/InternalMemoryFault.zip)

[2021-03-23 21:48] prakashngit opened #2266 "Enable configurable signing algorithm in RA-TLS (currently forced to use RSA)"
This is a feature request to support ECDSA in addition to RSA as the choice of signing algorithm used by RA-TLS. From https://github.com/oscarlab/graphene/blob/master/Pal/src/host/Linux-SGX/tools/ra-tls/ra_tls.h, it appears that currently the certs are forced to be RSA based certs. It would be great if ECDSA based RA-TLS certs can be supported.

I would further request to permit the ECDSA curve ch

[2021-03-24 00:02] mkow commented on #2243
The parenthesis isn't true, but let's keep this discussion in #2208.

The specific implementation suggested by @g2flyer sounds reasonable to me.

[2021-03-24 00:24] mkow commented on #2208
Ok, that's a good argument against using protected files in this case.

Anyways, what about my last point? ("You may just shift the signing of the enclave to the entity which provides input and you'll have the same security properties, but no need for two signatures.")

[2021-03-24 00:34] nsxfreddy commented on #2208
We want the attestation to represent the algorithm being performed on the input data (including algorithmic defenses against the platform host manipulating the data) to provide assurance to other parties. If the data owner (which in FL is likely the platform host) signs the enclave, then verification of the attestation does not prove anything of value to the verifier(s) since they would need the d

[2021-03-24 01:13] mkow commented on #2208
Ok, thanks for the explanation. This is exactly what I was afraid that you want to achieve with the solution initially suggested by @prakashngit. In short, this doesn't work this way and the guarantees you're expecting aren't actually provided by @prakashngit's design.

The main problem is, that if you allow the data owner to define the contents of the filesystem, then they can easily take over th

[2021-03-24 09:19] dimakuv commented on #2235
Same for me. @jaddoescad Can you reproduce your issue? I don't see why this won't work (unless Graphene build itself failed, but in this case you would see some errors).

[2021-03-24 09:34] dimakuv commented on #2261
`docker run -p 5000:5000 -it --device /dev/isgx:/dev/isgx --device /dev/gsgx:/dev/gsgx -v /var/run/aesmd/aesm.socket:/var/run/aesmd/aesm.socket gsc-testflask`

This command simply runs the Python interpreter because you didn't specify any arguments on the command line, and your `CMD` in the Dockerfile also doesn't have any arguments.

You should specify the arguments. Something like:
[code]

Note

[2021-03-24 09:47] dimakuv commented on #2266
What does this mean? Could you provide any link? I'm not familiar with this "ECDSA curve choice".

[2021-03-24 09:49] dimakuv commented on #2266
By the way, why is this the case? Why only ECDSA? Is RSA deprecated?

[2021-03-24 09:59] dimakuv commented on #2243
I agree that the "generate CSR in an enclave, send to a CA, receive the RA-TLS-enhanced certificate back" proposed by @g2flyer is reasonable.

We can implement this, though I currently don't know what this second step of "send to a CA" should look like. Do we want to rely on a specific implementation of this communication with CA, like a Kubernetes one? E.g. see https://kubernetes.io/docs/referenc

[2021-03-24 10:41] ADL-work commented on #2261
Hi @dimakuv, thank you for pointing that out,

Yes, I have run the suggested command:

`docker run -d -p 5000:5000 --device /dev/isgx:/dev/isgx --device /dev/gsgx:/dev/gsgx -v /var/run/aesmd/aesm.socket:/var/run/aesmd/aesm.socket  gsc-testflask /graphene/Examples/testflask.py`

I still have the error

`curl: (56) Recv failure: Connection reset by peer`

and when I went into the container, I can ma

[2021-03-24 10:56] mkow commented on #2266
I think so.

EC crypto has much better performance and smaller keys (when compared at the same security level).

[2021-03-24 11:03] dimakuv commented on #2261
I see, so you already did all these steps. Looks like something is missing to run Flask correctly in Graphene.

This could be the same problem as in https://github.com/oscarlab/graphene/issues/1767.

I created a PR #2204 some time ago to fix this. Could you check it? Or wait until it is merged.

Can you also show your `test/testflask.manifest` contents? Maybe something is wrong there.

Also, you s

[2021-03-24 12:16] ADL-work commented on #2261
Hi, thanks for the hint, I will take a look in the #1767

Oh, I forgot to share the `testflask.manifest` file, basically I just replicated from some existing samples:

[code]
Might be the manifest does not list all the required files/settings to be used.

Yes, I could see Graphene debug logs printing during the run, mostly relating to `shim` activities for python3 (`[P8:python3]` ...) but nothing

[2021-03-24 16:09] dimakuv commented on #1767
All the required PRs were merged finally.

@manojgop @sourabh-natesh Feel free to try it out now. You can check https://github.com/oscarlab/graphene/pull/2204 for more context. And you can use this example as a starting point: https://github.com/oscarlab/graphene/blob/master/Tools/gsc/test/ubuntu18.04-python3.manifest

[2021-03-25 04:51] g2flyer commented on #2208
My five cents: to me the main (actually, only) general requirement here is that you can reason as a verifier of an attestation compositionally/separately about (files of) separate components of your application and hence manage (e.g., distribute) root-of-trusts"/measurements independently (and potentially differently) for various components. E.g., In prakash's case it is about separating the appli

[2021-03-25 16:24] mkow commented on #2208
How do you exactly define composition of the measurements? Because from what @nsxfreddy wrote (and from what @prakashngit explained to me in a call yesterday) the algorithm owner _doesn't_ have the data which were added to the Graphene configuration, yet they want to be able to reason about the algorithm which is running there (so, they want to reason only from MRENCLAVE, and treat CONFIGID just a

[2021-03-25 18:42] g2flyer commented on #2208
You wouldn't treat CONFIGID as a blackbox, only the particular value of the content of the filenames specified in the CONFIGID manifest.  Of course for this to work you have to rely on the application to do proper input-validation of these files.  The semantics of the overall attestation of course has to be application specific and there is always some dependencies between the manifests of the com

[2021-03-26 03:26] vijaydhanraj commented on #2213
It looks like on recent Linux kernels(>5.10.3) to open /dev/kmsg one needs to be a privileged user. If not, graphene fails here https://github.com/oscarlab/graphene/blob/master/Pal/src/host/Linux-SGX/enclave_ocalls.c#L374 with EACCES 13 Permission denied error. To get around this issue `sudo sysctl kernel.dmesg_restrict=0`.

Some discussion here on dmesg_restrict, https://www.reddit.com/r/archlinu

[2021-03-26 13:21] dimakuv commented on #2266
I'll leave some of my findings here (I guess I will be the one to implement this feature).

## Current RA-TLS

This is where RA-TLS X.509 certificate is created (in particular, this is where the keypair for the cert is created):
- https://github.com/oscarlab/graphene/blob/master/Pal/src/host/Linux-SGX/tools/ra-tls/ra_tls_attest.c#L226-L235

We'll need to add a switch statement to generate RSA or E

[2021-03-26 20:13] donporter commented on #2196
Sorry to be late to the party; if this is still under active discussion, my main question is whether we could build this and exitless support on the same substrate?

[2021-03-26 21:36] mkow commented on #2196
@donporter still under discussion and we don't plan to implement this soon. It's just an RFC to discuss the idea and see what others think ;)

[2021-03-27 00:23] mkow commented on #2208
Yup, I think this was the confusion - I assumed that the algorithm owner doesn't know what was added to the manifest, only the resulting CONFIGID. I guess in the future I'll just ask for a detailed information and verification flows for such designs, will be harder to misinterpret than long discussions :)

I agree with your disagreement :) My comment (as noted above) assumed that the algorithm own

[2021-03-27 00:55] g2flyer commented on #2208
That part i completely agree (and have mentioned to Mona et al in the past) ...

... although that part is somewhat debatable.   I don't think CONFIGID support should be really complicated but it is certainly also true (as also mentioned to other graphene folks in the past :-) that all the code already exists somewhere in graphene and you would have have to just refactor and re-use it so (a) the p

[2021-03-27 01:22] mkow commented on #2208
So, do we agree that this whole issue is only about tooling, and KSS/CONFIGID doesn't give any more properties than we can have without it? So, the actual problem underneath this issue is "how can end users create enclaves compositionally"? (I'm not sure yet how to define precisely what "compositionally" means in this context, so that's open for input)

If so, then I think we should analyze potent

[2021-03-27 02:47] g2flyer commented on #2208
It is rather the verification than the creation which is the issue.

[2021-03-27 17:32] boryspoplawski commented on #2196
These are rather orthogonal features: the proposed idea works completely in untrusted part. While it could probably be special cased with exitless (e.g. instead of sleeping thread would actively spin in enclave), it needs careful design. Original idea assumed waking up the helper thread, which probably needs exiting the enclave anyway, so I'm not sure if this is doable, but I've not given it much

[2021-03-29 12:27] dimakuv opened #2279 "Enhance `/proc/self/cmdline` emulation similarly to the Linux implementation"
Currently, we implement a naïve emulation of `/proc/self/cmdline` in Graphene, see #2180.

In particular:
1. Graphene copies cmdline to a global variable on LibOS initialization, while in normal Linux it just stores pointers to argv
     - for example, if you modify `argv[4]`, the `/proc/self/cmdline` must show this modification
2. Graphene has a static buffer of one page (4KB) in size to hold cmd

[2021-03-29 14:38] mkow commented on #2208
Isn't this the same thing actually? Building an enclave is just simulating loading of binaries to calculate hashes, and I think for verification you usually want to do the same (get the claimed Graphene binaries, get the specific app version, build and compare hash). One disclaimer: this assumes that the enclave building is reproducible, but I think it is in Graphene?

Also, moving one step back,

[2021-03-29 23:39] g2flyer commented on #2208
Reproducible build is a somewhat orthogonal argument to composition in verifcation i'm talking about, i.e., it is related to how you get confidence in various binary code artifact (pal, lib, executable) vs whether the artifacts plus other values together make a meaningful manifest. It's the latter which i think it would be good to make composable and enable some divide'n'conquer approaches. Yes, w

[2021-03-30 18:42] dimakuv commented on #2208
@prakashngit @g2flyer @mkow What about a completely different approach?

With Graphene, we've been thinking of having a central entity that would simplify SGX remote attestation and secret provisioning. Currently, we don't have a good attestation story when there is a cluster of SGX enclaves working towards one goal. E.g., the Federated Learning case has a bunch of loosely coupled SGX enclaves (on

[2021-03-30 18:44] dimakuv commented on #2243
@prakashngit What about the alternative approach of a central attestation entity: https://github.com/oscarlab/graphene/issues/2208#issuecomment-810490870?

[2021-03-30 20:30] mkow commented on #2208
Let me answer @g2flyer first, then I'll comment on Dmitrii's and Mona's proposal in a separate comment.

Sorry, I wasn't clear, by "reproducible build" in this context I meant only the final step, the enclave "assembling" from binaries and configs.

So, I meant +/- this part :) Although I'm not sure what you mean by "making a meaningful manifest" - do you want Graphene tooling to safe-check the in

[2021-03-31 06:40] monavij commented on #2208
@mkow   While Dmitrii used the term secret as in those hashes will be passed to enclave over a secure channel during the phase after attestation that is typically called secret provisioing. We need to get those hashes inside the enclave (old proposal suggested using config ID). We are just proposing sending over a secure channel as those hashes do need to be registred with the coordinator - both s

[2021-03-31 06:58] dimakuv commented on #2208
Yes. I think it is. By "verification" of this, do you mean just a thorough code review of our `sgx_framework.c` file?

I don't see a need for this with the Coordinator approach:
- All Graphene SGX enclaves are built normally. In the Federated Learning case, these enclaves consist of: Graphene libs, Federated Learning base code, training algo code. In other words, all enclaves have the same MRENCLA

[2021-03-31 13:28] m1ghtym0 opened #2284 "Typo for ISV SVN settings in docs"
## Description of the problem

There is a naming mismatch between documentation and code for setting the ISV SVN in the manifest:
* Docs say [sgx.isnsvn](https://github.com/oscarlab/graphene/blob/master/Documentation/manifest-syntax.rst#isv-product-id-and-svn)
* Code says [sgx.isvsvn](https://github.com/oscarlab/graphene/blob/master/python/graphenelibos/sgx_sign.py#L720)

[2021-03-31 18:05] woju opened #2289 "Packaging"
Development:
- [x] Jenkins split, stage 1 (#1858)
- [x] Jenkins split, stage 2 (#1859)
- [x] Initial meson implementation (#1879)
- [x] Python packaging (#1909)
- [x] Remove submodules (#1997)
- [x] First meson options (#2003)
- [ ] Manifest preprocessor (#2288)
- [ ] Make testsuites test installed graphene (WIP #2064, probably will be abandoned)
- [ ] Jenkins split, stage 3: make CI test installe

[2021-04-01 12:12] #1787 closed

[2021-04-01 13:11] #2284 closed

[2021-04-01 14:16] flxflx commented on #2208
The approach you sketched makes sense to me @dimakuv. I think it is a good use case for Marblerun. In general, we're happy to help with integrating Graphene and Marblerun.

True. To reduce the risk, we plan to replicate the Coordinator using Raft (via etcd) in the future.

[2021-04-01 14:31] monavij commented on #2208
@flxflx  Great to hear that you are going to look at Raft support for coordinatore. That is definitely an area where we can work together.

One other idea I have is that marblerun to explore integrating with Azure MAA and Azure Key vault and use attestation/key provisioing services provided by Azure instead of Marblerun. This way anyone integrating with Marblerun will also automatically get integr

[2021-04-01 14:49] flxflx commented on #2208
That's an interesting thought. We have MAA support on the roadmap but haven't spent much thought on AKV. There primary reason being that AKV seems to rely on HSMs without RA. Thus, establishing a secure channel (in the CC sense) between AKV and enclaves doesn't seem possible. But I may be mistaken here.

[2021-04-04 12:49] anjalirai-intel opened #2291 "sendmmsg fails to send multiple messages on a socket returns error EINVAL"
## Description of the problem
sendmmsg - It is used to send multiple message on a socket.
sendmmsg01 tests fails in do_sendmsg while doing DkStreamWrite which  write to stream at absolute offset. The function returns 4 as a unix error which is 22 in linux(EINVAL)

## Expected results
/root/Graphene_Master/LibOS/shim/test/ltp/src/lib/tst_buffers.c:55: TINFO: Test is using guarded buffers
/root/Grap

[2021-04-05 00:12] mkow commented on #2208
@dimakuv:

Yes. But the fact that the C loader and the Python signer give the same measurements is a bit reassuring here.

Ok, now that I re-read everything I see that it's not directly needed in this approach, as Coordinator doesn't need to calculate anything in runtime. But on the other hand (also, a bit off-topic to this whole discussion), this approach assumes that "all enclaves have the same

[2021-04-05 10:48] reckeyzhang commented on #2213
Hello, I had an issue in this PyTorch PPML Framework which has blocked for a bit while, could you please kindly help me on that?
Q1) Actually I succeeded in running with pytorch example alone in enclave; and I followed strictly the PPML guide,  when I ran the final step (command SGX=1 ./pal_loader ./pytorch pytorchexample.py), I have issue:
[code]
(I also uploaded the whole log file in the attachm

[2021-04-06 05:03] chicolinux opened #2293 "Error when building Pytorch example"
## Description of the problem
I get the following error message after trying to build the Pytorch example with make SGX=1

[code]
## Steps to reproduce
Run: make SGX=1
Ubuntu 18.4 Python 3.6.9

## Expected results

## Actual results

[2021-04-06 12:12] mkow commented on #2293
Hi, try building with `PYTHONVERSION=python3.6`.
Also, I think after #2288 we'll have Python version autodetection, so it will be a bit easier.

[2021-04-06 13:55] dimakuv commented on #2213
This is normal. The `pytorch.manifest.sgx` does **not** contain the final MRENCLAVE. This file contains SHA256 hashes of all binary files (specified through `sgx.trusted_files`), but it doesn't contain any enclave measurements.

The enclave measurement can be extracted either during the build process, or taken from the run (this is what you observe: `mr_enclave: dccd900525295e35ece59f7a43bac840903

[2021-04-06 14:04] dimakuv commented on #2213
You log hints at the root cause:
[code]

When I look at how Secret Provisioning happens, I can see this in your log:
[code]

So I can see that your PyTorch (with the Graphene secret-provisioning library attached) connects to the Secret Provisioning server at `127.0.0.1:4433`, talks to it, generates the SGX quote via `/dev/attestation/quote`, talks some more, and then shuts down the connection.

So

[2021-04-07 09:19] anjalirx-intel opened #2296 "Unable to open max numbers of open file descriptors permitted by pipe syscall"
## Description of the problem
Description: This test checks ability of pipe to open the maximum number of file descriptors permitted. It records file descriptors open prior to test run until EMFILE is returned and check to see that the number of pipes opened is (maxfds - 3) / 2
TestFile: pipe07

## Expected results
pipe07     0 TINFO : Found 3 files open
pipe07     1 TPASS : Opened 510 pipes

## A

[2021-04-07 09:28] anjalirai-intel opened #2297 "Graphene support is required for these test function present in LTP suite"
## Description of the problem
Missing Graphene Support to test the following testfile.

## TestFile 1: open10 (UPDATE: unfixable)
Description: Uses getpwnam("nobody") and requires "nobody" user to exist.

## TestFile 2: open14 (UPDATE: Requires new feature)
Description: It requires O_TMPFILE support

## TestFile : openat03 (UPDATE: Requires new feature)
Description: It requires O_TMPFILE support

[2021-04-08 01:49] reckeyzhang commented on #2213
Hi Dmitrii, Thanks very much for your reply.
1. =>"The Secret Provisioning server doesn't seem fine. What is the output of this server? Does it complain about the PyTorch client? Does it complain about the certificate ("can't verify")?"
When you say the "output of this server", do you mean server's log, actually, it does not show anything when I ran the server "./secret_prov_server_dcap", should I

[2021-04-10 03:39] kfxp12138 opened #2303 "No module named 'generated_offsets'"
## problem
when I input **"make SGX=1 DEBUG=1"** in file  **"/graphene/python/graphenelibos/sgx_sign.py"**, I receive
[code]
I have no idea how to deal with the module 'generated_offset' ,has anyone met the same problem?

I can make true my SGX work successfully, and I follow the guide step by step, I am confused by the problem for a long while.

**THANKS for any help**

[2021-04-10 22:26] mkow commented on #2303
This is one of Graphene dependencies, please take a look at our Graphene building guide: https://graphene.readthedocs.io/en/latest/quickstart.html#quick-start-with-sgx-support.

[2021-04-10 22:26] #2303 closed

[2021-04-12 07:39] dimakuv commented on #2213
1. The `secret_prov_server_dcap` should print something like this at startup:
[code]

If you don't see this output, then something is wrong with your `secret_prov_server_dcap` application and its dependencies. I highly recommend to try the https://github.com/oscarlab/graphene/tree/master/Examples/ra-tls-secret-prov example first, to debug what goes wrong with your server.

2. An independent third

[2021-04-12 08:14] dimakuv commented on #2296
I didn't understand, how does the test know this maximum number?

[2021-04-12 08:15] dimakuv commented on #2297
I'm curious why this happens. We have non-blocking pipes in Graphene... Some corner case, I guess.

[2021-04-12 11:18] dimakuv commented on #2208
Yes, this is correct.

Yes, your proposed approach also works.

[2021-04-12 23:03] dychen95 opened #2306 "Build error for graphene/LibOS/glibc-build/malloc/memusagestat"
## Description of the problem

Tried to build Graphene on intel Core i7-6700K desktop with Ubuntu 18.04.5 LTS.

- gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
- glibc (Ubuntu GLIBC 2.27-3ubuntu1.4) 2.27

Got the following build errors:

[code]
The last few lines in the build.log shows:
[code]

## Steps to reproduce

1. git clone https://github.com/oscarlab/graphene.git
commit d1e3f27060a06ea3654e315678

[2021-04-13 07:01] dimakuv commented on #2306
This is surprising that you experienced this issue. The culprit is `memusagestat`. Googling about this Glibc utility sheds some light:
- http://www.linuxfromscratch.org/lfs/view/6.2/chapter05/glibc.html (people suggest to disable the build of it using `--without-gd`)
- https://elixir.bootlin.com/glibc/glibc-2.33.9000/source/NEWS (search for `memusagestat` and you'll see this bugfix: `[18465] mallo

[2021-04-13 07:13] dimakuv commented on #2306
@dychen95 I'll be glad if you could try #2308 on your system and see if this resolves your issues.

[2021-04-13 15:58] dychen95 commented on #2306
I applied the patch [#2308](https://github.com/oscarlab/graphene/pull/2308), the build completed successfully with the patch. Thanks,

[2021-04-13 16:37] dimakuv commented on #2306
Thanks for checking! We'll merge this PR very soon.

[2021-04-14 14:06] dimakuv commented on #2266
Ok, I learned the hard way that ECDSA cannot be used with some EC curves. In particular, `CURVE25519` and `CURVE448` and not supported. See e.g. https://stackoverflow.com/questions/2515948/use-of-curve25519-in-ecdsa.

So I'm adding only `SECP256K1`, `SECP256R1`, `ECDSA_SECP384R1`, `ECDSA_SECP521R1`.

[2021-04-14 14:46] prakashngit commented on #2266
@dimakuv  Thank you very much Dmitrii. Those are good for my purposes at least. For instance, CCF supports 256 and 384 curves.

[2021-04-14 16:02] #2306 closed

[2021-04-15 04:38] anjalirx-intel commented on #2296
When the maximum number of file descriptors opened, pipe returns EMFILE, which tells us the per-process limit on the number of open file descriptors has been reached.

[2021-04-15 11:20] dimakuv commented on #2266
Ok, I created #2314. This should be good, @prakashngit ?

[2021-04-15 13:20] ADL-work commented on #2261
Hi @dimakuv ,

Do you have any updates on your side?
I've tried to run with different commit versions, unfortunately non of it works so far.
Thank you for the help!

[2021-04-15 13:29] dimakuv commented on #2261
No, I haven't looked at this.

Could you do this? Could you look at the Graphene log? Or at least attach the Graphene debug log here.

[2021-04-15 14:52] ADL-work commented on #2261
Hi @dimakuv

Here is the log from the docker run output of the converted image
[debug.log](https://github.com/oscarlab/graphene/files/6318872/debug.log)

There was an error at the end mentioning
`FileNotFoundError: [Errno 2] No such file or directory: '/entrypoint': '/entrypoint'`

My dockerfile is below, I name it as `testflask1.dockerfile`
[code]

`testflask.yaml` file
[code]

`testflask1.manife

[2021-04-15 15:25] woju opened #2316 "[RFC] Standard installation paths"
# Statement of the problems

Those are problems that we need to be aware when solving

## Stable paths
After signing the manifest, paths are baked in, so Graphene needs a standardised set of installed paths. The immediate problem concerns `libsysdb.so` and libc. Paths need to be the same across distributions.

## Multiple libcs installed together
There is an ongoing proposal to make graphene work

[2021-04-15 15:27] woju commented on #2316
Cc: @mkow @dimakuv @stefanberger @jurobystricky @jinengandhi-intel

[2021-04-15 17:33] prakashngit commented on #2266
@dimakuv  Thank you very much! Yes, looks good looking at the changes ( i haven't tested, will do soon).

[2021-04-16 06:43] dimakuv commented on #2316
@woju Could you please fix `Multiple versions installed together, for signing` section -- it ends abruptly. (I will remove this comment once you fixed it.)

[2021-04-16 06:50] dimakuv commented on #2316
Looks good to me, but I'm very bad at packaging. Couple points:

- We definitely need a guidance for tools (I'm thinking of GSC and the smaller ones like `argv_serializer`)
    - Lib path should be `/usr/lib/graphene-<version>/tools/<gsc>/...`
    - Execs should be `/usr/bin/graphene-gsc` (actually, do we just prepend everything with `graphene-`?)

- One thing I don't understand is how you plan to

[2021-04-16 07:13] dimakuv commented on #2261
Thanks, this is much better with the Graphene log.

- You have a bunch of `error: Accessing file:/tmp/ccnLCaRy.le is denied (Operation denied)` errors. This makes sense because these temporary files are created on the fly by different Graphene processes, and they are not allowed in your manifest. For testing, please add `sgx.allowed_files.tmpfiles = "file:/tmp"` to your `testflask1.manifest` file.

[2021-04-16 07:16] dimakuv commented on #2261
Also, you have some (non-critical) issues in your manifest file:
[code]
[code]

[2021-04-16 07:18] dimakuv commented on #2261
The bug in GSC that allowed this to happen is this: https://github.com/oscarlab/graphene/blob/master/Tools/gsc/templates/entrypoint.manifest.template#L21.

As you can see, GSC template misspells `loader.arg0_override` (it must be `loader.argv0_override`, with a `v`!). I will submit a quick PR to fix it.

[2021-04-16 08:20] ADL-work commented on #2261
Hi @dimakuv
Yes, some of the issues from the manifest file are basically my trial-and-error attempts to test the container, thanks for clarifying them out :)

Thanks to your suggestion, now I have this manifest file for `testflask1.manifest`

[code]

I added the `/usr` folder because during the run I encountered the error `error: Accessing file: ...` with `/usr` and `/usr/lib` or `/usr/lib/python3

[2021-04-16 10:17] dimakuv commented on #2261
You should **not** add the `.pyc` files to the manifest file. These files are Python's "pre-compiled" versions of `.py` files, and Python doesn't really need them. So these errors are expected. (Also, my person opinion, but Python runtime is absolutely terrible, and someone should rewrite Python's internals to be adequate.)

I am currently looking at your log to see what goes wrong.

[2021-04-16 10:49] dimakuv commented on #2261
At this point, I can't help much. You correctly identified the root cause of the failure, it is these lines:
[code]

So basically the parent enclave created (yet another) child enclave, but the child enclave didn't perform a handshake with the parent enclave. And the parent enclave said "My child enclave unexpectedly died, I don't know how to handle this so I'll die myself" (well, kinda, the paren

[2021-04-16 10:51] dimakuv commented on #2261
Ok, to test this hypothesis of Linux killing your Docker container because there is too few RAM left on the system, you can change your manifest file:
[code]

Also, why do you need some many threads (`sgx.thread_num = 128`)? Just specify a small number, e.g., `8` or `16`. Python is single-threaded anyway, right? Or does Flask use some multi-threading library underneath?

[2021-04-16 15:09] ADL-work commented on #2261
Hi @dimakuv  thanks for pointing it out.

I have modified `sgx.enclave_size = "1G"` and `sgx.thread_num = 16`

Now the docker container isn't killed any more, the docker app keeps running, but the `curl` request is hanged without any response.

I am currently using an Azure Confidential Computing VM with Standard DC4s_v2 (4 vcpus, 16 GiB memory)
Here is the latest log file
[testflask1_4.log](https

[2021-04-16 17:15] jurobystricky commented on #2316
With respect to packaging:  Linux distros create their own packages based on their own rules with respect to file installation folders and package naming conventions. So this does not need to be specified by Graphene.  However, the packagers need to know ***which*** files to package and install. This is typically determined by
<pre>
make install DESTDIR=/patch/to/install/directory
</pre>

The pack

[2021-04-17 04:32] triplewings opened #2320 "ImportError: cannot import name '_offsets'"
### when I follow **Quick start with SGX support** and run step 5 sentence **make SGX=1**,  i receive error like this
[code]

I can make sure my SGX run successfully,  someone have met same problem?

# Thanks for any help plz~

[2021-04-19 06:48] dimakuv commented on #2320
The module `generated_offsets` is auto-generated by Graphene as part of the build process. Since Python complains that it cannot find this module, it means that Graphene build broke on something else and didn't auto-generate `generated_offsets`.

I think you have some other build error before this error. Please go through the build log and check what else breaks. Graphene must complain about somet

[2021-04-19 11:40] pwmarcz opened #2321 "RFC: Dentry cleanup"
Master issue: #1803

I started looking at the filesystem and want to do the following cleanup. It is intended to be a clear improvement, but a much smaller effort than a complete rewrite of all filesystems.

This issue is me asking for a **sanity check**: is there anything that sounds like a bad idea, or will turn out to be impossible on closer look?

## Summary

- Get rid of the hashes from the A

[2021-04-19 18:02] dimakuv commented on #2321
[code]

Isn't `rel_path` an optimization over `name + parent->name + parent->parent->name + ...`? Do you want to keep `rel_path` or we can remove it and construct the name dynamically?

I agree with all your other points. (Though I'm not very well-versed in Graphene's FS subsystem.)

[2021-04-19 20:16] woju commented on #2316
That's OK for package names, but for paths that would be in the signed manifest (libsysdb.so) would be a major pain for whoever would sign the enclaves, because then s/he would have to provide several different manifests, each for a different distro. That's why I propose to have a canonical set of paths, unless we can come up with a different solution.

DESTDIR is supported natively by meson: http

[2021-04-19 20:20] woju commented on #2316
Updated. You might consider not deleting, instead put the whole comment inside `<details></details>`, like here (edit this post to see example):

<details>
Nothing to worry about anymore.
</details>

[2021-04-20 03:56] boryspoplawski commented on #2321
+1 to removing `rel_path`. Why do we even need it?

`DENTRY_LISTED` - what is this flag for? I've never really understood. If we handle listing purely in Graphene we should never query host fs and we use host fs to obtain directory entries, then we need to do it always (to notice other processes' changes), don't we?
`DENTRY_ANCESTOR` - probably needs a better name. This is like a virtual dentry, t

[2021-04-20 17:40] srieyulianti opened #2323 "Misinterpretation of ret return value on ra_tls_verify_common.c"
Hi Graphene team,

I coincidentally find doubt in a function you wrote on ra_tls_verify_common. c library as the following:

`/*! compares if report_data from \quote corresponds to sha256 of public key in \p crt */
int cmp_crt_pk_against_quote_report_data(mbedtls_x509_crt* crt, sgx_quote_t* quote) {
    int ret;

    uint8_t sha[SHA256_DIGEST_SIZE];
    ret = sha256_over_crt_pk(crt, sha);
    if (

[2021-04-20 18:20] dimakuv commented on #2323
Everything looks correct to me. The return value of `memcmp()` is "unusual": https://man7.org/linux/man-pages/man3/memcmp.3.html#RETURN_VALUE. So `ret == 0` means "strings match" and `ret != 0` means "strings do not match".

[2021-04-21 01:57] mkow commented on #2321
Hmm, I think I don't get this point. Could you show an example of both cases? Also, isn't such a check inherently racy? How will you lock on this "can be created" property?

A bit off-topic, but could we change this "negative"/"positive" naming for dentries to something more intuitive? Each time I stumble upon this I have no idea what's the meaning of them both in a context of a dentry.

[2021-04-21 02:11] mkow commented on #2316
It's not actually for signing, only for _verification_ of MRENCLAVE of an enclave created by someone else.

Seems it doesn't depend on the package with `libsysdb.so`? (even indirectly)

What about finally switching to static linking of PAL with LibOS? :) It would solve all such issues and many more.

[2021-04-21 02:38] boryspoplawski commented on #1984
This didn't trigger for a while (probably got resolved with some recent signlas/threads/ipc fixes).

[2021-04-21 02:38] #1984 closed

[2021-04-21 02:45] boryspoplawski commented on #1903
This is no longer a problem:
1) the offending code is already gone,
2) currently the first process is an unchangeable IPC leader.

[2021-04-21 02:45] #1903 closed

[2021-04-21 07:20] srieyulianti commented on #2323
@dimakuv thank you. However, when I run the program, the result is inconsistent. Sometimes, I got the comparation pass but sometimes not.  Any idea what is the issue?

Thanks

[2021-04-21 07:58] dimakuv commented on #2323
It really depends on how you run the program, on which machines, etc. Without the additional description, it is impossible to know what exactly happens in your case.

Also, why do you think it fails in exactly this place in the code?

[2021-04-21 08:09] srieyulianti commented on #2323
Thanks for your response. Here some details relating to the platform:
CPU Info:
Intel(R) Xeon(R) E-2288G CPU @ 3.70GHz

BIOS Info:
BIOS Information Vendor: Microsoft Corporation Version: Hyper-V UEFI Release v4.1 Release Date: 10/27/2020 ROM Size: 64 kB Characteristics: BIOS characteristics not supported ACPI is supported Targeted content distribution is supported UEFI is supported System is a vir

[2021-04-21 08:27] pwmarcz commented on #2321
Agreed, I will look closer into it. Usually we need the absolute path anyway, not `rel_path` (`rel_path` is from current filesystem root, not global root).

The dentries are a cache. They are not guaranteed to contain all files, even for filesystems "purely in Graphene" (such as `/proc`), but the entries are created during operations such as lookup or listing the directory. So for a given director

[2021-04-21 09:55] dimakuv commented on #2323
What does it mean, "to run over the socket"? That's what the example already does:
- The server program listens on port 4433 for TLS connections (https://github.com/oscarlab/graphene/blob/b9dbf7d7ff38534c85bb4510ea8e78b3a792346e/Examples/ra-tls-mbedtls/src/server.c#L182)
- The client program connects on port 4443 (https://github.com/oscarlab/graphene/blob/b9dbf7d7ff38534c85bb4510ea8e78b3a792346e/E

[2021-04-21 10:11] dimakuv commented on #2316
I would love that, and I want it asap :) I actually need this feature for another thingy.

[2021-04-21 10:20] dimakuv commented on #2321
I like this name, but also could be `DENTRY_MOCK`, `DENTRY_PSEUDO`, `DENTRY_FAKE`.

I was actually fine with "negative", but "empty" also sounds fine.

Do you mean cases like `rename()`? First of all, I guess you can just continue your refactorings with the global lock for now. Second, yes, we'll need some hierarchical locking for these cases.

[2021-04-21 12:13] mkow commented on #2321
Ok, I get it now. So, this point IMO makes sense.

Yup, something like this, I guess. But it still be tricky with multiple processes which may remove a directory in the meantime. Or maybe you mean taking a multi-process (IPC/sync-engine-based) lock for this?

Sounds much better!

If we want to go this way then I'd prefer something like `DENTRY_PLACEHOLDER`.

[2021-04-21 12:32] boryspoplawski commented on #2321
What, why? Where do we need the absolute path and why? Doesn't sound right...

My point was that we don't even notice changes from other Graphene processes, so this flag sounds super useless. I guess it could make some sense, but that would require dentry invalidation.

Sounds good.

Actually I've never had problems with "negative" in dentries context as well and I prefer the old name than the "em

[2021-04-21 14:22] pwmarcz commented on #2321
See all the usages of `dentry_get_path`. Many of these are for internal logging, but there is also implementation of `getcwd`, information available in `/proc`, internal socket addresses, and such. And of course all the path lookups recognize absolute paths.

But yes, I see the mount-relative path is also needed in some places, mostly related to specific filesystems. So maybe it won't be so easy t

[2021-04-21 14:40] yamahata commented on #2316
slightly offtopic. IIRC, currently the path to host unix domain socket is in /tmp ?
According to FHS, it should be /run/graphene/ (or /var/run/graphene/).

[2021-04-21 14:43] dimakuv commented on #2316
@yamahata raised a very good point. Graphene creates named UNIX domain sockets (to communicate between Graphene processes) under `/tmp`.

[2021-04-21 16:15] pwmarcz commented on #2321
So what's the point here? There are places in Graphene that need an absolute path, they use `dentry_get_path` (which does traverse the tree on each call), and they probably should stay that way. I'm not suggesting to put the path in dentry, if that's what this is about - sorry if it sounded that way.

[2021-04-21 16:20] boryspoplawski commented on #2321
Sorry, I've misunderstood you want to change the `rel_path` into `absolute_path` (i.e. keep cached path in dentry).

[2021-04-22 08:00] dimakuv opened #2326 "[Pal/Linux-SGX] Remove redundant AES-CMAC hashing of `sgx.trusted_files` chunks"
## Description of the problem

We have legacy and seemingly redundant logic of AES-CMAC hashing of `sgx.trusted_files` chunks of 1KB. The hashing itself looks useful because upon reads from trusted files, we don't want to hash the whole trusted file but instead a reasonably small chunk of it (for verification purposes). But the usage of keyed AES-CMAC looks like an overkill.

In particular, we cre

[2021-04-22 09:27] dimakuv commented on #2326
The situation with `g_enclave_key` is actually even worse than I thought. This is how it is produced: https://github.com/oscarlab/graphene/blob/189f99f62bc6cbd5d368b1ef26760f71ffe4e967/Pal/src/host/Linux-SGX/enclave_framework.c#L208-L212

So `g_enclave_key` is generated via the SGX instruction `EGETKEY` that looks at the parameters in the `keyrequest` struct. This struct is all-zeros except for th

[2021-04-22 13:19] xiaohanxu11 opened #2327 "unable to load the file system codec"
Hello, I'm having some problems running the pytorch example
here is my log
[code]
here is my pytorch.manifest
[code]
thank you

[2021-04-22 19:37] dimakuv commented on #2327
Why do you have the following lines commented out in your manifest?
[code]

Also, why do you have the incorrect path `fs.mount.pythonhome.uri="file:home/qiuhan/anaconda3"`? This path is missing `/` after the `file:` prefix. The correct one should be `fs.mount.pythonhome.uri="file:/home/qiuhan/anaconda3"`.

[2021-04-24 17:56] xiaohanxu11 commented on #2327
Thank you very much for your reply. Actually, I made the revision based on this similar problem[[Pal/Linux-SGX] Python execution issue with PyTorch PPML Framework](https://github.com/oscarlab/graphene/issues/2116).But there still seem to be some problems.
here is my log:
[code]
here is my pytorch.manifest:
[code]
It's embarrassing that I don't know much about PYTHONHOME and PYTHONPATH，I just set P

[2021-04-24 20:01] dimakuv commented on #2327
You have a typo in your new manifest file:
[code]

You have `PATHON` but it should be `PYTHON`.

[2021-04-25 22:27] #2320 closed

[2021-04-26 10:29] specio opened #2332 "Spring graphene - Gradlew - Failed to load"
Hi,

I am trying to port spring service to Graphene and run it on SGX enclave (NUC7PJYH machine)
During research I found an old issue (https://github.com/oscarlab/graphene/issues/198), so I decided to start with the same simple example: https://github.com/spring-guides/gs-uploading-files/tree/master/complete.
As the manifest there is quite old I based on curl example.

1)	I downloaded the spring g

[2021-04-26 10:35] specio commented on #2332
gradlew is a build script (not ELF binary)
spring boot services are run by invoking
` ./gradlew bootRun`
I followed idea of running it based on: #198
https://github.com/spring-guides/gs-uploading-files/blob/master/complete/gradlew

[2021-04-26 10:44] dimakuv commented on #2332
You cannot do this. Graphene can only run ELF binaries.

[2021-04-26 12:56] mkow commented on #2332
What kind of script it is? You can invoke the interpreter directly and pass the script as an argument.

[2021-04-26 15:09] specio commented on #2332
I'm trying different approach now, gradle is to complex to bother...

I created service.jar and I'll try to run jdk inside enclave.
I downloaded OpenJDK 14 (https://download.java.net/openjdk/jdk14/ri/openjdk-14+36_linux-x64_bin.tar.gz)
Extracted it to: ~/graphene/Examples/spring/jdk-14
Now service can be started with:
`/home/oenctester/graphene/Examples/spring/jdk-14/bin/java -jar jdk-14/service.j

[2021-04-26 17:22] dimakuv commented on #2332
You need to rebuild your example with `make clean; make DEBUG=1 SGX=1` and look at the Graphene log. It will probably complain about something before the JDK failure.

Yes, you can specify the whole directory instead of adding files one by one:
`sgx.trusted_files.java_bin_dir= "file:jdk-14/bin/"` -- this adds all files under the bin directory of Java.

[2021-04-26 17:36] dimakuv opened #2335 "[Examples] `python-simple` HTTP web-server test fails with `localhost` on Glibc 2.33 + Python 3.8"
## Description of the problem

This issue was detected while working on https://github.com/oscarlab/graphene/pull/2325. Currently in that PR, I worked around this issue, but we need to figure out the root cause.

In our `python-simple` example, we have a simple web-server and a simple web-client Python scripts:
- https://github.com/oscarlab/graphene/blob/master/Examples/python-simple/scripts/dummy

[2021-04-27 13:53] specio commented on #2332
I added whole bin directory as sgx trusted and run with debug flag
[code]
I added jdk-14/bin to trusted, then whole jdk-14 no change.
No clue what "Assertion `linkval[0] == '/'' failed!" could mean

[2021-04-27 14:14] specio commented on #2332
Now I decided to run java on any SDK which might work( it doesn't need to be jdk-14)
I tried with OpenJDK 1.8, then I found issue #1743 and decided to give it a try (OpenJDK 11) , each time i get:
`Could not reserve enough space for 31424512KB object heap`
Is there a way to solve that problem?

[code]
Result:
[code]

[2021-04-27 15:11] dimakuv commented on #2332
You should do two things:
- increase `sgx.enclave_size` even further
- decrease how much memory Java Virtual Machine (JVM) will use via `-Xmx` (see e.g. https://alvinalexander.com/blog/post/java/java-xmx-xms-memory-heap-size-control/)

With these options tweaked, JVM should start working.

[2021-04-29 15:10] daniel-weisse opened #2340 "Setting multiple preload libraries using loader.env.LD_PRELOAD causes memory issues"
## Description of the problem

When running applications inside SGX enclaves using graphene and more than one shared library is defined in the manifest trough the use of the `LD_PRELOAD` env variable, e.g. `loader.env.LD_PRELOAD = "./test-2.so /test-1.so"` , applications encounter memory issues.

## Steps to reproduce

originally built using commit `3ab0dfaa5c4e54a9df826c444c57577f6f209adc`, but s

[2021-04-29 16:03] dimakuv commented on #2340
@daniel-weisse What do these two Go programs have as dependencies? I am not familiar with Go libraries that much, and I'm not sure if they also initialize and use the Go runtime. I'm also not sure how the two Go libraries "share" the Go runtime. Could you point to any explanations on this? And are you sure it works adequately in non-SGX (native) execution?

What I could imagine (and what seems to

[2021-04-29 16:09] mkow commented on #2340
+1 to what @dimakuv wrote, this doesn't sound like something which should work even without Graphene. `LD_PRELOAD` is not a good mechanism, it should be used mostly for hacks and testing, not in production setups. I don't think `go` runtime expects to be preloaded into completely different environment (twice!).

So, what are you actually trying to achieve with preloading?

[2021-04-29 16:14] dimakuv commented on #2340
Now about debugging and root causing this.

First, try `loader.log_level = "all"`. This will spam you with a lot of Graphene internal logs, but you'll probably see some interesting messages. You can also redirect these logs into a file using `loader.log_file = "<your file>"`.

Second, we clearly have an "out of enclave memory" error. Several ways to play with it/increase enclave memory:
- `sgx.enc

[2021-04-30 09:02] daniel-weisse commented on #2340
Hi, thanks for the quick reply.

The entire code of the test library:
* Go code:
[code]
* C constructor:
[code]

It seems i heavily underestimated the needed memory when using shared go libraries.
I did some testing with a rather simple hello world program: https://github.com/edgelesssys/marblerun/tree/master/samples/graphene-hello/preload
When i added the above to the preload, the application fai

[2021-04-30 09:24] dimakuv commented on #2340
@daniel-weisse Do I understand correctly that you resolved this issue on your side? Or do you still need some changes/explanations in Graphene?

[2021-04-30 09:38] daniel-weisse commented on #2340
@dimakuv The issue is resolved, thanks for the help!

[2021-04-30 09:38] #2340 closed

[2021-05-03 12:51] mkow commented on #2326
Seems this issue wasn't properly understood/reported so far (same for #2000), I was thinking whether this was just a mess in the code and dangerous variable naming, or maybe a huge security vulnerability?

The problem I see is that CMAC can (probably?) be used as a hashing function, but only if the key is unknown to the attacker. If the key is known, you can easily make almost fully controlled (i.

[2021-05-03 13:46] dimakuv commented on #2326
The part about "if the key is known, then ... it completely breaks the security of Graphene" is correct. Fortunately, the key is **not** leaving the enclave, and so can only be fetched by the attacker via side channels. But yes, this was a "kinda" vulnerability (if it would become known, Graphene security breaks).

[2021-05-03 14:18] mkow commented on #2326
Hmm, but you also said: "This leads to **the same key generated for any enclave on this platform**.". So, the key is known to the attacker (which in our model is usually the host which runs the enclave), right?

[2021-05-03 16:06] dimakuv commented on #2326
Lol, @mkow you're right, I should re-read my own comments before replying :)

Yes, agreed, this is a vulnerability then.

[2021-05-04 08:44] Relyor opened #2343 "Graphene support for SGX Simulation mode"
Can graphene SGX run without SGX hardware (let's say on AMD processors)? Does it support a simulation mode, or the SGX simulation mode?

Thanks!

[2021-05-04 09:38] dimakuv commented on #2343
Graphene is a LibOS runtime that has different backends (so-called "PALs" or "Platform Adaptation Layers").

Thus, Graphene can run on any support backend. We currently only have two:
- native Linux (we also call it "direct" sometimes), that doesn't require SGX hardware and runs on any x86-64 machine
- Linux-SGX (what we sometimes call "Graphene-SGX"), that requires SGX hardware

You can think of

[2021-05-04 10:44] shmeni opened #2344 "SGX PAL mutex possible vulnerability"
The current implementation in SGX PAL for db_mutex uses the futex system call and passes an untrusted address to the OS. The data in this untrusted address also seemed to be used as a userspace lock.
A malicious adversary may change the value to represent an unlock state, which will cause the trusted code to succeed in the atomic operation and consider the lock to succeed even though another threa

[2021-05-04 10:56] dimakuv commented on #2344
This issue was fixed 7 days ago: https://github.com/oscarlab/graphene/pull/2336.

[2021-05-04 10:58] dimakuv commented on #2344
But in general yes, the LibOS layer also checks the correctness of futexes (via its own enclave-memory metadata). Now with #2336 we also have the same level of protection in the PAL layer.

[2021-05-04 11:09] boryspoplawski commented on #2344
That's not true, the linked PR fixed an issue identical to this one, but in different place.

[2021-05-04 11:16] dimakuv commented on #2344
@boryspoplawski is right, sorry for confusion.

#2336 only fixes `db_events.c` logic, not the `db_mutex.c` logic.

[2021-05-04 13:09] #2326 closed

[2021-05-04 22:30] dnoliver commented on #2233
Having the same issue here, I don't have SGX Launch Config support, so I am using the legacy kernel module `isgx`.

I built and installed the `isgx` module from source:

[code]

And built graphene as well:

[code]

Then, trying to run it fails:

[code]

I can run sample apps with the Intel SGX SDK and with the OpenEnclave SDK with that built kernel module

Any hints?

[2021-05-05 00:15] boryspoplawski opened #2346 "[Tests] `(e)poll*` syscalls and underlying `DkStreamsWaitEvents` PAL API function lack proper testing"
## Description of the problem
`(e)poll*` syscalls and underlying `DkStreamsWaitEvents` PAL API function heavily lack in tests coverage. Currently we only have a couple of tests in `Libos/regression` and some LTP tests enabled. This leads to some bugs creeping around e.g. one in #2313, which could be easily caught with proper testing.

[2021-05-05 03:21] triplewings commented on #2233
Having exactly the same issue, need help

[2021-05-05 06:09] dimakuv commented on #2233
@dnoliver @triplewings Can you copy-paste here the autogenerated `Pal/src/host/Linux-SGX/gsgx.h` file? In particular, the last couple lines must contain `ISGX_FILE` and `SGX_DCAP` macros. It looks like something got broken in builds that use `/dev/isgx`.

The steps presented by @dnoliver look correct. I am surprised Graphene incorrectly detects `/dev/sgx/enclave`.

[2021-05-05 07:05] dimakuv opened #2347 "[Examples] Add sanitize-args-then-execve example for Python"
## Description of the problem

Sometimes people don't want to hard-code command-line arguments and environment variables via `loader.env_src_file` and `loader.argv_src_file`. What they want is to allow arbitrary arguments/envvars but have a way to sanitize them.

With Graphene, we can do a simple trick to achieve this. We create a "premain" tiny program that does the following:
[code]

Marblerun u

[2021-05-05 09:19] dimakuv opened #2348 "[Pal/Linux-SGX] Replace RDRAND with RDSEED instruction"
RDRAND hardware instruction is not suitable for producing a secret value more than 64 bits in size (by concatenating 64-bit return values of RDRAND). We use RDRAND in this way in several places in our codebase (e.g., to generate a random 256-bit master key).

We need to replace the RDRAND instruction with the RDSEED instruction -- then we can continue with our simple logic of concatenating return

[2021-05-05 11:46] mkow commented on #2347
In general, I believe argv and envp sanitization can only be reasonably secure if done using whitelisting. And overall I'd discourage our users from sanitizing the arguments, they should rather just provide them from a trusted source (using protected argv).

Doesn't this option allow arbitrary code execution?

[2021-05-05 12:11] dimakuv commented on #2347
Sometimes there are legit reasons to use such a "sanitization" approach. Sometimes you have an app that can e.g. show some non-private info based on an argument `--info`, and there are no other allowed arguments. So instead of having two argv files, you can just do this trick.

Oops, I meant `python3 scripts/helloworld.py | scripts/fibonacci.py`.

[2021-05-05 14:15] dimakuv commented on #2348
Interestingly, RDSEED is not *that* slower than RDRAND: https://stackoverflow.com/questions/45336283/negligible-difference-in-performance-between-rdseed-and-rdrand. People say ~3 times slower, which is not awful.

I initially thought that we would need two interfaces: one using RDRAND for frequent operations (like LibOS requests to fill its `/dev/random`) and one using RDSEED for rare operations (

[2021-05-05 14:19] dnoliver commented on #2233
Here is my `Pal/src/host/Linux-SGX/gsgx.h`

[code]

[2021-05-05 14:30] dimakuv commented on #2233
This line is not good. Your `ISGX_DRIVER_PATH` wasn't used at all.

I have a suspicion that you first built incorrectly (maybe with `ISGX_DRIVER_PATH=""`) and then tried to build again. If this is the case, you need to do `make distclean && make distclean SGX=1`. And then build Graphene again, this time from scratch.

[2021-05-05 14:43] dnoliver commented on #2233
It looks like doing `export ISGX_DRIVER_PATH=/root/linux-sgx-driver/` and then building solve this issue.
I guess the env vars are not being passed correctly to the child make targets?

After building with the exported `ISGX_DRIVER_PATH`, I see this error:

[code]

I thought the `gsgx` module was there for the `FSGSBASE` support. I have it loaded:

[code]

Is that being ignored as well?

[2021-05-05 14:55] dimakuv commented on #2233
What is the Linux version you have? `uname -a`

[2021-05-05 15:07] dnoliver commented on #2233
Ubuntu 2020 with 5.8 HWE kernel:

[code]

[2021-05-05 16:22] mkow commented on #2347
Yup. But I still would be careful suggesting this solution to users and only recommend it if they actually can't use other, safer approaches.

This is still very hard to secure. The path may point to some allowed directory, or even worse, to `/dev/stdin` or similar.

[2021-05-05 16:26] dimakuv commented on #2233
Linux 5.8 is a "bad" kernel for Graphene.

There was a period starting from Linux 5.4 where the kernel proactively disables FSGSBASE if it was set by an insecure kernel module like our `/dev/gsgx`. In Linux 5.9, the FSGSBASE functionality was merged in, and thus there is no need for `/dev/gsgx` at all.

So what happens is that your Linux 5.8 detects that `/dev/gsgx` toggles the FSGSBASE feature bi

[2021-05-05 16:58] dnoliver commented on #2233
Installed Kernel 5.9 following instructions from https://ubuntuhandbook.org/index.php/2020/10/linux-kernel-5-9-released/
Checked for FSGSBASE support with `cat /proc/cpuinfo | grep fsgsbase` with success, so stopped using the `gsgx` driver.
Rebuilt and reinstalled `isgx` kernel module with new headers
Restarted `aesmd.service` with new `isgx` kernel module
Cleaned and rebuilt graphene, and now my

[2021-05-05 17:05] dimakuv commented on #2233
Well, yes, kinda. You must install a proper Linux kernel for it...

[2021-05-05 17:19] dnoliver commented on #2233
@hansinator proper cleaning (`make distclean && make distclean SGX=1`) seems to solve this issue as noted in https://github.com/oscarlab/graphene/issues/2233#issuecomment-832736219.
Doing `export ISGX_DRIVER_PATH=/path/to/linux-sgx-driver` also seems to work.

And then, having the right kernel version > 5.9 is also a must (I guess < 5.4 with `gsgx` should also work).

Thanks!

[2021-05-06 00:32] mkow commented on #2348
This article doesn't make this issue any clearer to me, it just made me completely confused :) I've read on this topic before and I'm still confused and have never found a good explanation about the difference between these two instructions.

Issues:
1. The "short answer" clearly says that we should use RDRAND, not RDSEED in our case ("If you wish to seed another pseudorandom number generator (PRN

[2021-05-06 16:47] #2343 closed

[2021-05-07 08:08] Nirusu opened #2356 "Allowlist for envp (& argv?)"
## Description of the problem
Sometimes there may be cases in which it is desired to pass information from the host to the enclave, as long as it is handled in a secure way, as already discussed in #2347 .

However, when choosing the approach to pass the whole environment variables and sanitize them later in the application (e.g. in some kind of "premain"), [you can run into certain issues with th

[2021-05-07 08:29] dimakuv commented on #2356
So what you want is basically this syntax in Graphene manifest:
[code]

[2021-05-07 08:35] Nirusu commented on #2356
Yup, or other way around (provide default value, make it overwritable), though I suppose the "trusted does overwrite untrusted" approach is properly better.

[2021-05-07 09:14] dimakuv commented on #2356
Yeah, that is exactly what my new proposed syntax means:
`loader.untrusted_env.second = "this default will be overwritten by user-supplied envvar, if any"`

[2021-05-07 09:57] Nirusu commented on #2356
Ah sorry, yes that would work fine for our use case 👍🏻

[2021-05-07 14:00] daniel-weisse opened #2359 "Problem reading protected files"
## Description of the problem
In reference to: https://github.com/oscarlab/graphene/pull/2194#issuecomment-834221612

I am using TensorFlow with Graphene + Marblerun. I would like to keep the pre-trained model encrypted at all times using keys provisioned by Marblerun. The model is ~105MB.

My current solution is encrypting the model first using a custom program and then decrypting it again using

[2021-05-08 00:20] mkow commented on #2356
Overall this sounds like a useful feature and I'm not against it.
What I'm against is passing `LD_LIBRARY_PATH` from untrusted world :) (and I don't see how adding such a selective passthrough could solve the original issue which you solved with passing `LD_LIBRARY_PATH`. I don't know what the issue was, but this new proposal doesn't sound like a fix for it)

[2021-05-08 05:49] Nirusu commented on #2356
Reality is that we couldn't care less about `LD_LIBRARY_PATH`. Not my lines of code, but I can only imagine we pass this through to correctly load a dynamically linked application. Normally we don't touch any of those LD vars because we have no reasons to. We know it's a bad idea - it's just that we always assumed that one would set this in the manifest (which of course does not necessarily need t

[2021-05-08 12:51] mkow commented on #2356
Ok, I get it now :) Until we get this feature, please ensure that `LD_LIBRARY_PATH` is actually defined in the user manifest, otherwise this will be completely insecure (and we can't expect users to know this quirk).

[2021-05-08 17:33] #1986 closed

[2021-05-09 12:44] shmeni opened #2360 "SGX protected files possible vulnerability"
There might be a possible vulnerability in the implementation of the protected files feature. Specifically, we tested the following code that opens two protected files (configured the tmp dir to be protected according to the very intuitive examples you provide)

`int fd1 = open("tmp/sec1.txt", O_CREAT | O_RDWR, 0644);`
`int fd2 = open("tmp/sec2.txt", O_CREAT | O_RDWR, 0644);`

Then we tested what

[2021-05-10 07:28] dimakuv commented on #2359
The Protected FS algorithm and format have a subtle requirement: the filepath used during initial encryption (via `pf_crypt`) **must be exactly the same** as when opening the protected file during enclave runtime.

From the enclave runtime logs, I see the path that Graphene uses: `models/resnet50-v15-fp32/1/saved_model.pb`.

Your initial encryption via `pf_crypt` should use the exact same path (it

[2021-05-10 07:32] dimakuv commented on #2359
If this turns out to be your root cause, I would be happy to get your feedback on how to make this subtlety more prominent. Maybe a loud message during `pf_crypt`? Or a specific loud message during `pf_open()` that the file is probably not stored under the directory expected by the Protected FS?

Also, I see that you have an error `-5` which is `PF_STATUS_NO_MEMORY`. Which sounds wrong. Maybe it's

[2021-05-10 07:36] dimakuv commented on #2360
Could you give a more complete example? It's unclear what your program tries to do next with these two file handles. Do you try to read from them? Write to them? Simply close them immediately?

[2021-05-10 08:17] shmeni commented on #2360
Just opening and closing the files is enough to trigger the crash. Here's the complete code we used:
`void test() {`
`        int fd1 = open("tmp/sec1.txt", O_CREAT | O_RDWR, 0644);`
`        int fd2 = open("tmp/sec2.txt", O_CREAT | O_RDWR, 0644);`
`        close(fd1);`
`        close(fd2);`
`}`

For completeness, we configured tmp dir in the manifest to be protected:
`sgx.protected_files.tmpdir =

[2021-05-10 10:07] boryspoplawski commented on #2360
I'm not that familiar with our pf implementation, but why cannot we allow for two handles to have the very same fd? If we break the underlying file on the host it's fine (since the host is messing with us anyway). To me it doesn't look like the duplicated fd is the culprit...

[2021-05-10 11:07] dimakuv commented on #2360
I agree that this is hardly the root cause for this issue (looks like some missing checks on Protected Files code?).

But shouldn't this be considered a part of sanitization of OCALL return values? An `open()` returning an already-existing FD is surely a wrong return value.

[2021-05-10 11:13] boryspoplawski commented on #2360
Just sounds like an useless thing - it doesn't stop any attack whatsoever, can only hide issues in other places.

[2021-05-10 11:18] mkow commented on #2360
Yup, and the host can always duplicate an FD to create an illusion of separate descriptors which are in fact mapped to the same resource. It's just that our code should work correctly in also such cases.

[2021-05-10 12:16] dimakuv commented on #951
`sendfile()` calls `handle_copy()`. This function is really bad and needs to be re-written.

We found yet one more issue with `handle_copy()`. It wants to change the offset in the file using `seek()` FS callback: https://github.com/oscarlab/graphene/blob/5a80ab150ea9b3947a9fd0217ce05fcf3fe436e4/LibOS/shim/src/sys/shim_fs.c#L301

But there is no check of the return value. And `seek()` can easily fa

[2021-05-10 13:14] daniel-weisse commented on #2359
It was indeed a problem caused by the filepath the model was saved to during encryption!

I used `pf_crypt` as follows:
[code]
I fixed it by first copying `saved_model.pb` to a different folder and then running as follows:
[code]
I think this is also similar to how it is used in the Graphene examples.

I then moved the file from `encrypted/` to a different folder which seems to have caused the pro

[2021-05-11 06:46] #2344 closed

[2021-05-11 07:48] cathhuo commented on #1846
+1. --2021-05-11 07:13:39--  (try: 3)  https://raw.githubusercontent.com/troydhanson/uthash/8b214aefcb81df86a7e5e0d4fa20e59a6c18bc02/src/uthash.h
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|0.0.0.0|:443... failed: Connection refused.
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|::|:443... failed: Cannot assign requested address.

[2021-05-11 08:21] dimakuv commented on #2359
@daniel-weisse Could you take a quick look at https://github.com/oscarlab/graphene/pull/2362? Feel free to leave your comments and suggest better wordings.

[2021-05-11 08:22] dimakuv commented on #2359
I didn't implement this. First, we are not supposed to reveal the "expected" file path (embedded and encrypted in the protected-file metadata). Second, the message would be way to long. A shorter "Invalid header" is printed instead.

[2021-05-11 08:40] dimakuv commented on #2360
@shmeni I cannot reproduce your crash. Here is my diff on the latest Graphene master branch:
[code]

Then I build this and run in debug mode: `GDB=1 graphene-sgx ./helloworld`. I manually replace the result of the second `ocall_open()` with the FD of the first protected file (in my case `fd = 15`).

And here is the output:
[code]

So as expected, I got a bad write error (`-9` is the UNIX error cod

[2021-05-11 08:59] cathhuo opened #2363 "https 403"
--2021-05-11 08:01:04--  (try:18)  https://packages.grapheneproject.io/distfiles/uthash-2.1.0/src/uthash.h
Connecting to packages.grapheneproject.io (packages.grapheneproject.io)|2a00:1ca8:2a:d::10|:443... failed: Cannot assign requested address.
Retrying.

[2021-05-11 11:07] anjalirx-intel opened #2364 "Graphene-SGX: sendfile syscall with invalid offset, should return EINVAL instead it goes through call successfully"
## Description of the problem
sendfile05: Negative offset(-1) is given as an argument to the syscall, expecting it to return EINVAL, but the call goes through successfully in Graphene-SGX, in Graphene native, sendile05 returns EINVAL

## Steps to reproduce
Execute ltp test sendfile05

## Expected results
sendfile05    1  TPASS  :  sendfile() returned 22 : Invalid argument

## Actual results
sendfi

[2021-05-11 11:16] anjalirx-intel opened #2365 "Graphene-SGX: Graphene-SGX Failed to exchange the secret key via RPC at the end of the test"
## Description of the problem
setrlimit01: There are 4 test cases in the test file. It is used to check the basic functionality of the setrlimit system call by Using the different commands like RLIMIT_NOFILE, RLIMIT_CORE, RLIMIT_FSIZE, and, RLIMIT_NOFILE, and test for different test conditions.

As of now test_2 is failing which is a known issue.

But additionally in Graphene_SGX after all the tes

[2021-05-11 11:53] anjalirx-intel opened #2366 "Graphene-SGX: Calling of Unsupported system call setresuid lead to memory fault"
[semget02.log](https://github.com/oscarlab/graphene/files/6458919/semget02.log)
## Description of the problem
semget02: The test calls for seteuid function which is not supported by Graphene, calling this function in Graphene-SGX leads to memory fault which could be seen in trace logs

## Steps to reproduce:
Make following changes in test file
Replace this
ltpuser = getpwnam(nobody_uid);
if (seteu

[2021-05-11 12:43] boryspoplawski commented on #2360
I also failed to reproduce it (modified `sgx_ocall_open`).
@shmeni Could you provide more details or even complete PoC?

[2021-05-11 12:51] shmeni commented on #2360
Sorry about the lack of details @dimakuv. Let me try again:

Here's the strace output for the example (I've modified the same helloworld test as you did, so I got the same fd numbers),
I've marked down the exact location where I changed the values. I think my confusion was that I assumed the protected files open the files regularly, but it actually opens the file twice. Changing the second open fd

[2021-05-12 13:30] dimakuv opened #2371 "[Pal/lib] mbedTLS crypto adapter calls `_DkRandomBitsRead()` but is also linked into LibOS"
## Description of the problem

We have the "common library" that has a bunch of Standard C and utility functions. This library is a static archive called `graphene-lib.a` and is linked into both PAL binaries and the LibOS binary (`libsysdb.so`).

This "common library" includes the crypto code. In particular, it includes the minimal mbedTLS code and our Graphene convenience wrappers around it. Thes

[2021-05-12 14:59] dimakuv commented on #2360
@shmeni Would be interesting if you could cause a crash on Protected Files now, with #2372.

[2021-05-12 17:40] shmeni commented on #2360
@dimakuv Happy to say that I don't see this crash anymore with #2372

[2021-05-13 18:48] woju commented on #2363
On Tue, May 11, 2021 at 02:00:21AM -0700, cathhuo wrote:

Note this is trying IPv6 address. Is your IPv6 stack working?

[2021-05-14 08:12] #2359 closed

[2021-05-14 09:40] reckeyzhang commented on #2213
Hi Mona, Dmitrii, Michał, can I ask another question on running Graphene in SGX V2.

We have already run Graphene PyTorch example on our current SGX1+FLC server, it works well with an enclave_size = 4G.
Now we are testing Graphene with an Intel Incelake server that is SGX V2 with huge memory, when I executed PyTorch with Graphene in SGX Enclave, I get this "out of PAL memory" error.
So I progressi

[2021-05-17 06:19] rmRabbishFile opened #2378 "CANNOT get EPID based attestation in the examples running"
## Description of the problem
Hi, I am testing the EPID-based attestation in the provided `Examples/ra-tls-mbedtls` folder.  I cannot get a proper handshake as in `native` mode.
## Steps to reproduce
[code]
## Expected results

GET / HTTP/1.0

  < Read from server: 156 bytes read

HTTP/1.0 200 OK
Content-Type: text/html

<h2>mbed TLS Test Server</h2>
## Actual results

### On the server side:
erro

[2021-05-17 06:26] dimakuv commented on #2213
@reckeyzhang  Most probably this has to do with the **increased number of CPU cores** on your Icelake server. You probably have 4-8 cores on your old SGX v1 machine, and something like 128-256 cores on your Icelake server. This is a huge difference.

Now, what do CPU cores have to do with enclave memory? The short answer is: most applications/frameworks/runtimes allocate application memory **per t

[2021-05-17 06:30] dimakuv commented on #2378
Two immediate questions:

1. Do you run both the server and the client on the same machine? The provided example works only if both are run on the same machine.

2. Did you replace RA-TLS environment variables with your private values? I talk about `RA_CLIENT_SPID`, `RA_CLIENT_LINKABLE`, `RA_TLS_EPID_API_KEY`, `RA_TLS_MRENCLAVE`, `RA_TLS_MRSIGNER`, etc. You must replace them with your values, beca

[2021-05-17 07:12] reckeyzhang commented on #2213
Thanks very much for your reply, Dmitrii

[2021-05-17 07:26] rmRabbishFile commented on #2378
Thanks! I guess that I should change the color coding of comments in my Markdown viewer

[2021-05-17 07:26] #2378 closed

[2021-05-17 12:06] dimakuv commented on #1053
Request from me: Could we add "build" flags and choices inside the final executable of Graphene? It would be cool to have something like `graphene-direct --version` which would show the version and maybe month/year. And also `graphene-direct --fullversion` which would also show the set of flags with which Graphene was built.

@woju's comment:

[2021-05-17 14:37] mkow commented on #1053
+1
Also, I'd add this info to the debug output (on "debug" level and above). Will make catching people using old Graphene easier :)

[2021-05-17 15:33] woju commented on #1053
Note to myself: all these ideas are certainly worth consideration, but some
will require careful implementation to have the build reproducible. Instead of
time of compilation, we will probably have timestamp of the HEAD commit etc.

[2021-05-17 22:43] mkow commented on #1053
Yup, personally I don't care about the compilation time, but about the commit hash (if compiled from a git repo).

[2021-05-18 11:33] dimakuv opened #2382 "[LibOS,Pal] Combine LibOS and PAL into one executable"
**This is a dump of my progress, not a real issue!**

## Combined linker script

Linux PAL and LibOS have their own linker scripts: `pal.lds` and `shim.lds`. We create a combined linker script that incorporates the features of them both. It looks like this:
[code]

## Changes in source code

Snippet of code changes:
[code]

## Build combined executable

We currently don't change the build scripts

[2021-05-18 12:54] thomasten commented on #2356
After the discussion in edgelesssys/marblerun#158 we came to the conclusion that this is an important feature for us. Do you consider to implement this? And if so, can you give an approximate ETA?

[2021-05-18 15:08] dimakuv commented on #2356
@thomasten This is a generally simple feature to implement. I can do it this week, though I'm not sure if @mkow likes my proposed approach. Michal, what do you think about this:
[code]

[2021-05-18 19:51] mkow commented on #2356
@dimakuv Looks fine, although I think `passthrough_env` name would be easier to understand than `untrusted_env` for the users (in terms of what it actually does). Also, when doing this, maybe we should finally switch to proper TOML dicts syntax? This would be more work, but it parses to the same result in TOML, so the change would be only in the conventions we use in our examples. So, it would loo

[2021-05-19 00:30] jtakeshi-nd commented on #2233
I am also having this issue. System is Ubuntu 18.04, with kernel 5.11.0-051100-generic (so the driver is in-kernel). The fix of setting `export ISGX_DRIVER_PATH=""` before building did not work. My gsgx.h has `#define ISGX_FILE "/dev/sgx/enclave"`, but the only files in /dev related to SGX are isgx, sgx_enclave, and sgx_provision.

Upon running the GCC example, the following error occurs:
`graphen

[2021-05-19 01:06] dnoliver commented on #2233
From the official documentation of the Kernel 5.11 about SGX (https://www.kernel.org/doc/html/v5.11/x86/sgx.html#enclave-build-functions) the dev nodes are `/dev/sgx_enclave` and `/dev/sgx_provision`.

The DCAP driver mention this discrepancy in https://github.com/intel/SGXDataCenterAttestationPrimitives/blob/94e327a8235bc7c85353dc5e0a6dc1564e6c96c6/driver/linux/README.kernel.md#udev-rules. The pr

[2021-05-19 10:59] mkow commented on #2233
That's right, the in-kernel driver supports only platforms with FLC (but that doesn't mean SGX2, all these features are independent and to make it even more annoying, you can't check which ones are supported on ARK).

[2021-05-19 13:54] pwmarcz opened #2385 "[LibOS] `/proc` is broken"
## Description of the problem

Several things in `/proc` do not work correctly:
- other processes than self
- `/proc/xxx/fd`
- `/proc/xxx/task/`

## Steps to reproduce

Go to `busybox` example and try to run:

```graphene-direct sh -c 'sleep 1 & find /proc```

## Expected results

[code]

## Actual results

Several files are inaccessible:

[code]

## Additional information

There needs to be a mor

[2021-05-19 13:56] pwmarcz commented on #2385
Assigning to myself since I'm working of filesystem refactoring now.

[2021-05-19 14:12] dimakuv opened #2386 "[Pal/Linux-SGX] Wrong crypto in key derivation of Protected Files"
For Protected FS, we copied the implementation from Intel SGX SDK:
- https://github.com/oscarlab/graphene/tree/master/Pal/src/host/Linux-SGX/protected-files
- https://github.com/intel/linux-sgx/tree/master/sdk/protected_fs/sgx_tprotected_fs

However, we made one crypto mistake: we use AES-GCM for key derivation, but we must use AES-CMAC. Here are the relevant sources:
- https://github.com/oscarlab

[2021-05-19 15:16] dimakuv commented on #2233
@jtakeshi-nd @dnoliver I created a PR https://github.com/oscarlab/graphene/pull/2387. We decided to make Linux 5.11+ the default choice for Graphene. With this PR, Graphene will use `/dev/sgx_enclave` by default (if `ISGX_DRIVER_PATH=""`). I'll be grateful if you could test this PR.

[2021-05-19 17:34] jtakeshi-nd commented on #2233
@dimakuv Thanks! I have tested this on 5.11. Initially, there were errors relating to enclave initialization or loading or freeing pages. I tried adding a group and udev rules as suggested in the link from @dnoliver; this did not work so I removed the group and rules and rebooted. After a reboot, running now works - there is probably a moral somewhere here.

I have tested the curl and GCC tests wi

[2021-05-20 06:47] DiegoCao opened #2388 "[Linux-SGX] Error of process Builder."
## Description of the problem

Compared with the commit on 1b8848bdae09fa0e92e4644b7fbd4e8c6cd1718c (on Jan 21), for the SGX graphene, the current new master has issues with the ProcessBuilder with Java.

Sample java code
[code]
Outside SGX environment the code can run well without error, but inside the code there will be error, and error for java part is:

[code]

And the full log is attached her

[2021-05-20 08:04] glorysdj commented on #2388
@DiegoCao please also provide info of epc size and enclave size

[2021-05-20 09:19] dimakuv commented on #2388
What do you mean by this? Do you mean Graphene in non-SGX mode (`graphene-direct`)?

[2021-05-20 12:03] DiegoCao commented on #2388
I mean run java program simply by:
[code]

[2021-05-20 12:14] dimakuv commented on #2388
Please try the same in non-SGX Graphene mode. Will it work, or will it fail in the same way?

[2021-05-20 12:31] Nirusu commented on #2356
I think having defaults could actually prove useful for some cases, e.g. you want to set some default value that you expect most of the time, but could be overrided in certain cases? Though not too sure about any concrete examples right now where this would actually be important.

Another solution I could think of to handle this would be to define the default values in `loader.env`, and make them

[2021-05-21 11:04] dimakuv commented on #2356
@mkow @Nirusu So do we converge on the following syntax?
[code]

[2021-05-21 11:25] mkow commented on #2356
Looks good, except this part:
[code]

I thought you were supposed to still be able to define other variables? Without this the feature will be unusable - e.g. you won't be able to hardcode `LD_LIBRARY_PATH` in the manifest and simultaneously allow `EDG_SOMETHING` from the host.

[2021-05-21 11:49] dimakuv commented on #2356
@mkow True. So it should be this:

[code]

[2021-05-21 11:56] mkow commented on #2356
[code]

Not the other way? (to make it work as defaults for these)

[2021-05-21 12:05] dimakuv commented on #2356
I don't like such semantics. Why not allow the host (user) to pass the default, or no-value? I think the user should decide on this.

Also, when I see `loader.foo = "asdf"`, I am automatically assuming that this is the "secure" value. But in your semantics, it will only be the "default", which could be overwritten by a passthrough value.

[2021-05-21 12:10] mkow commented on #2356
That was my original suggestion (that Graphene shouldn't handle defaults), but @Nirusu argued that it would be very handy for them ;)

So, I personally prefer to not support passthrough defaults, but it's not a terribly strong preference.

[2021-05-21 13:40] Nirusu commented on #2356
@dimakuv The suggestion to define a pass-through variable and make it override in the same manifest does not make sense. It essentially makes the definition useless, as the manifest is set in stone after the build and thus always overrides the pass-through. Might as well just not define it at all.

@mkow I don't have a terribly strong preference either. Having defaults seems like a good idea to me

[2021-05-21 14:43] mkow commented on #2356
Ok, so maybe for now we could disallow the same variable to be present in both lists (i.e. fail with an error), and if we find a stronger reason to allow specifying defaults, then we could implement it. This way we could add this feature later without silently changing semantics of something which users already would have in their manifests.

[2021-05-22 00:16] boryspoplawski opened #2391 "Options to `setsockopt` are just passed through to the host"
## Description of the problem
Options to `setsockopt` are just passed through to host. Some of the options might not be supported by the host OS, some might be hazardous e.g. on SGX PAL (might, not sure, did not investigate if there are such options) and ideally some should be implemented purely in LibOS, e.g. `SO_RCVTIMEO` (e.g. timeout vs restarting in case of no signal handler or spurious wakeu

[2021-05-22 00:25] boryspoplawski commented on #2385
Duplicate of #948 ?

[2021-05-22 00:48] boryspoplawski commented on #2366
Your patch is invalid, you remove setting of `ltpuser` pointer, which defaults to `NULL`, but is then dereferenced anyway.
Graphene currently does not support `setresuid`, but the fault you observed is happening in the user app due to above.

[2021-05-22 00:48] #2366 closed

[2021-05-24 03:46] DiegoCao commented on #2388
I have tried the non-SGX mode and it worked with no errors.

[2021-05-24 05:26] anjalirx-intel commented on #2366
I think you have misunderstood the issue. In this issue ltpuser is not used, this issue occurs only in Graphene-SGX, in Graphene native it works fine and returns ENOSYS

Trace Logs for Graphene Native:
[P27534:T1:semget02] trace: ---- return from shim_mprotect(...) = 0x0
[P27534:T1:semget02] trace: ---- shim_brk(0x0) = 0x40cbcc142000
[P27534:T1:semget02] trace: ---- shim_brk(0x40cbcc163000) = 0x40

[2021-05-24 08:52] duanbing commented on #602
Any progress on this issue? we got the same error when we run TensorFlow. @dimakuv @kamathhrishi

[2021-05-24 14:23] boryspoplawski commented on #2366
`ltpuser` is used. `tst_resm(TINFO, "setreuid failed to "
"to set the effective uid to %d", `**ltpuser->pw_uid**`);`

The code you pasted is wrong, has a memory fault in user app, which is in no way related to Graphene.
If you think there is a bug in Graphene itself, please point to the offending line or attach code causing the issue.
Also note you used different compilations of Graphene (judging

[2021-05-24 18:29] dimakuv commented on #2388
Could you provide this info? If non-SGX mode of Graphene works fine, then it can be because of the limitations of your testing machine. In particular, a machine with too-small RAM may decide to kill Graphene processes (because that's what Linux does when it notices that too much RAM is used by some processes).

As I mentioned above, the failure may happen because of the limitations of your machine

[2021-05-24 21:25] srcman opened #2393 "`getsockname` on AF_UNIX sockets causes a crash"
## Description of the problem

Using `getsockname()` or `getpeername()` on UNIX domain sockets crashes Graphene.

## Steps to reproduce

Create a UNIX domain socket with, e.g., `socket()` or `socketpair()`, and call `getsockname()` or `getpeername()` on the socket.

(A particular situation where this problem occurs is if a UNIX socket object is printed in Python, but this bug is not Python-specifi

[2021-05-25 01:50] DiegoCao commented on #2388
The SGX size is 64G and the epc size is 256G. I test the new Graphene commit on exactly the same machine.

[2021-05-25 08:07] dimakuv commented on #2393
Thanks for reporting this bug!

Yes, I'm pretty sure your analysis is correct. Hopefully we'll find some time soon to fix this bug.

[2021-05-25 09:19] dimakuv commented on #2388
Could you provide the info on the available RAM and swap file? You can just copy-paste the output of the `free -h` command.

[2021-05-25 09:25] dimakuv commented on #2388
Actually, I have a strong feeling that this new error happens because of the interrupts during parent process's sending of the checkpoint. It looks like the parent's `send()` of a part of the checkpoint state is interrupted, and Graphene treats it as non-restartable syscall and errors out. We're currently working on fixing this problem. As soon as we have a fix, we will ask you to try out the new

[2021-05-25 23:02] vahldiek opened #2396 "Implementing Intel MPK-related System Calls"
For one project we're interested to enable Intel MPK-related system calls (pkey_alloc, pkey_free, pkey_mprotect). Today they are not implemented. With this issue, I'd like to start a discussion about the correct way to implement them before actually starting to implement them.

`pkey_alloc` and `pkey_free` are specific function calls to create Intel MPK domains in the Linux kernel (it keeps track

[2021-05-26 02:01] DiegoCao commented on #2388
The info of swap is as follows.
[code]

[2021-05-26 06:10] dimakuv commented on #2396
1. How does an application running inside of Graphene use these syscalls?
2. How does Intel MPK work together with Intel SGX?
3. How is MPX + SGX bundle protected against a malicious OS doing weird things on `pkey_alloc`, `pkey_free`, etc.?
4. Do you want this to be transparent to the application (implemented in Graphene), or should Graphene forward requests from the app to the host?

For the actu

[2021-05-26 06:13] dimakuv commented on #2388
Thanks! So it's not about the small amount of RAM/EPC. This should be definitely enough to create 2 SGX enclaves, each 64GB in size.

@DiegoCao If you want to, you can try this PR: https://github.com/oscarlab/graphene/pull/2392. I hope this one fixes your issues.

[2021-05-26 09:41] pwmarcz commented on #952
Fixed in a993a906cd3eea421edc9b25675b3bcd7f50a0e9.

(In case of mountpoints, the directory listing code went through to `dentry->mounted->root`, which was a node not marked as valid.)

[2021-05-26 09:41] #952 closed

[2021-05-26 11:06] pwmarcz opened #2398 "[WIP] Filesystem refactoring"
This describes the current state of my filesystem refactoring project.

Legend:

:heavy_check_mark: Done (merged to master)
:construction: In progress (usually has a PR open)
:star: Next (usually will be unlocked by current "in progress")

## Bug fixes and new features
:construction: **Investigate the master list of issues (#1803)**: probably will lead to more minor bug fixes.
:star: File locking

[2021-05-26 11:56] boryspoplawski commented on #2388
@dimakuv #2392 handles emulated syscall restarting and is not connected to Graphene internal sends in any way.

[2021-05-26 13:04] #2386 closed

[2021-05-26 15:46] vahldiek commented on #2396
Thank you for the info and the pointer to the other PR.

1. I'm assuming that it uses the function calls defined in  `sys/mman.h` from libc. During the runtime of the application one or multiple pkeys would be allocated. After memory allocation the application would use pkey_mprotect to alter the memory protection key of a set of pages. Afterwards access to these pages is controlled via the WRPKRU

[2021-05-27 16:46] MerveTurhan commented on #2396
A toy example of Intel MPK:

An MPK aware application runs within Graphene-SGX. For being able to protect some sensitive data (e.g. cryptographic keys, etc..) we would like to utilize Intel MPK e.g., via solutions like [libmpk](https://www.microsoft.com/en-us/research/uploads/prod/2019/05/park-libmpk.pdf). The sensitive data can be stored in a page is tagged with Intel MPK to protect it from third

[2021-05-27 23:01] mkow commented on #2396
To be honest I have troubles grasping the threat model here. If I understand correctly, this protects only from a very specific and limited attack scenario, which is:
* The attacker is network-based and does not collude with the enclave host.
* The attacker is exploiting a memory disclosure bug which allows leaking memory at arbitrary address, but not arbitrary code execution.
* The application in

[2021-05-28 02:45] vahldiek commented on #2396
I agree with you Michal. MPK is a defense in-depth technology with weaker threat model than SGX. That doesn't mean it is useless or doesn't provide protections. I wouldn't call these attacks specific, since a lot of (today's) attacks are carried out this way. Handling this class of attacks and limiting their potential blast radius is beneficial to the eco-system.

For now the question was more abo

[2021-05-28 17:03] mkow commented on #2396
But also doesn't mean that it's a good idea to implement it.

[citation needed] :)
Remember that this isn't protecting against generic memory disclosures, but against a very specific scenario.

This may be an interesting research project, but if you want this to be included in something intended for production, then you need to justify it. Not all mitigations are worth adding, all of them introduc

[2021-05-31 02:56] sammyne opened #2408 "`graphene-sgx helloworld` failed within docker container"
## Description of the problem

Following the [building instructions](https://graphene.readthedocs.io/en/latest/building.html#id1) within docker container failed with following logs,

[code]

The docker image is built using this [Dockerfile](https://github.com/sammyne/graphene-testbot/blob/main/Dockerfile).

## Steps to reproduce

[code]

## Expected results

Okay with no error~

## Actual results

[2021-05-31 06:47] dimakuv commented on #2396
@mkow Let people do their research PoC :)

Is  #1866 sufficient for your purposes for now, or do you have more questions on how this stuff is implemented in Graphene?

[2021-05-31 06:51] dimakuv commented on #2408
Graphene thinks that CPUID leaf is "bad" and loudly fails. The check happens here: https://github.com/oscarlab/graphene/blob/86ba92e962dcee023ff55fa04b90930c37e0102d/Pal/src/host/Linux-SGX/db_misc.c#L274.

Is it *only* inside the Docker container? What happens if you run Graphene on your host?

In general, a surprising error. What kind of CPU do you have?

[2021-05-31 07:05] sammyne commented on #2408
Copying files out of the built docker containers and running it on host doesn't help, either~

`uname -a` produces

[code]

CPU model name is Intel(R) Xeon(R) Platinum 8374C.

[2021-05-31 07:17] dimakuv commented on #2408
Hm, looks like you have a normal Intel Cooper Lake CPU with nothing fancy...

Unfortunately, you'll have to debug this Graphene failure. I recommend you to build and install Graphene in debug mode and debug it with GDB. Please see instructions here: https://graphene.readthedocs.io/en/latest/building.html and https://graphene.readthedocs.io/en/latest/building.html#additional-build-options. For debu

[2021-05-31 09:29] sammyne commented on #2408
Great thanks for the tip~

I found the error occurred in case of `MPX_1` with the false `if` at line 278.

https://github.com/oscarlab/graphene/blob/86ba92e962dcee023ff55fa04b90930c37e0102d/Pal/src/host/Linux-SGX/db_misc.c#L265-L286

Specifically, the `values` passed in goes as

[code]

hitting the 13th leaf as follows

[code]

However, I think the SGX related `values` should be read from the 7th

[2021-05-31 10:14] dimakuv commented on #2408
@sammyne Awesome, thanks for this detailed analysis! From what I see, this is a bug in Graphene: we put this redundant check on line 278. This check should be removed from Graphene. Let me prepare a simple PR to fix this.

[2021-05-31 10:28] dimakuv commented on #2408
@thomasknauth Do you maybe remember why you added this check? See https://github.com/oscarlab/graphene/blob/86ba92e962dcee023ff55fa04b90930c37e0102d/Pal/src/host/Linux-SGX/db_misc.c#L278-L281.

It looks unneeded. It means: "If the SGX enclave did not request to use a particular CPU XSAVE feature, verify that this feature is not available on this CPU". But this doesn't make sense: the CPU can have

[2021-05-31 10:48] dimakuv commented on #2408
@sammyne Could you try https://github.com/oscarlab/graphene/pull/2409 and report if this fixes your issue?

[2021-05-31 12:15] sammyne commented on #2408
It works! Thank you so much~😄 @dimakuv

[2021-05-31 16:34] mkow commented on #2396
As I said, for research it's fine, but I'm skeptical about having this in the mainline Graphene :)

Anyways, I'm not actually sure if this issue was about adding this to Graphene (that was my impression) or maybe that you want to implement this yourself only as an experiment, currently without plans for merging?

[2021-05-31 17:40] MerveTurhan commented on #2396
I got inspiration from [Enclavedom.](https://arxiv.org/pdf/1907.13245.pdf). It is about privileged separation on Graphene using Intel-MPK.   Good to check.  Also, I have checked adding a [new system call tutorial on Graphene](https://graphene.readthedocs.io/en/latest/devel/new-syscall.html). But I was a bit lost in that tutorial.  I couldn't add intel_mpk related system call to Graphene, probably

[2021-05-31 23:59] boryspoplawski commented on #2396
Personal option ahead: I've skimmed through the paper you linked and I have to say I'm not impressed:
- example quote that's not true: `At every ecall and ocall, Intel SGX encrypts or decrypts any memory contents being passed  between the  context.`,
- they keep using "untrusted third-party library" while also admitting that such code runs inside the enclave and hence must be generally trusted,
-

[2021-06-01 00:46] glorysdj commented on #2388
BTW, is there any way to add this to graphene's tests for ci/cd?

[2021-06-01 01:30] boryspoplawski commented on #2388
By inspecting the provided logs and Graphene code I was able to find the offending line: https://github.com/oscarlab/graphene/blob/master/Pal/src/host/Linux-SGX/db_process.c#L313 The java process tries to checkpoint a memory region with ~16GB and this fails.
@dimakuv you seem to be the last touching it, maybe you remember better, but this seems to be a historical quirk from times when ocalls used

[2021-06-01 02:54] sammyne commented on #2408
This issue is closed thanks to the fix #2409

[2021-06-01 06:36] dimakuv commented on #2388
@boryspoplawski Thanks! This is indeed the root cause.

Yes :( I didn't modify that logic at all, just simplified it. And you can guess where the original implementation came from :)

There seem to be no obstacles in having 64-bit values everywhere, so let me just remove this useless check and submit a quick PR.

[2021-06-01 08:12] dimakuv commented on #2388
@glorysdj No, I don't think we want to add this test to our CI/CD. Sending ~16GB of data from one enclave to another enclave is very slow (on our wimpy NUC machines with 128MB of EPC). This will probably take a couple minutes, even if we restrict our test to sending only 4GB of data...

[2021-06-01 08:55] dimakuv commented on #2388
@glorysdj @DiegoCao Could you check if PR #2414 solves your issue? And thanks for reporting this bug!

@boryspoplawski Could you take a look at #2414? Does it seem reasonable to you?

[2021-06-01 09:33] MerveTurhan commented on #2396
Concerning the need to trust the OS in enclavedom: note that the initial page table configuration for an enclave is not trusted but validated during the attestation process and protected by the EPCM/TLB check mechanism at runtime. That should include the protection keys as they are encoded in the virtual addresses.

As a side note, [Intel Software Developer Manual ](https://www.intel.com/content/d

[2021-06-01 09:42] dimakuv commented on #2396
Sorry, I'm afraid there is no documentation. The internal implementation of (the current state of) Graphene is not described anywhere. We haven't had the time/energy/resources for this.

However, I think the FOSDEM talk summarizes some of the implementation details: https://fosdem.org/2021/schedule/event/tee_graphene/.

If you have any specific questions about LibOS/PAL code, you can ask here.

[2021-06-01 11:08] boryspoplawski commented on #2388
@dimakuv Thanks for the PR, looks good!

[2021-06-01 12:00] pwmarcz opened #2415 "RFC: Make URIs absolute"
## Problem

PAL happily accepts relative URIs, including paths like `..`. These are passed verbatim to the host system, and treated as paths starting from current working directory, but this is completely implicit.

Problems in code that I know of:
- LibOS wants to [know where the executable is mounted](https://github.com/oscarlab/graphene/blob/8fad86c04f65027800d4dc9bf27f85a70747637d/LibOS/shim/s

[2021-06-01 13:35] pwmarcz commented on #2415
Counterpoint: maybe LibOS shouldn't be interested in details of URIs, and the above is a design mistake. Instead, `libos.entrypoint` in manifest should be a Graphene path, not URI.

[2021-06-01 14:20] boryspoplawski commented on #2396
Page table is not validated, you only validate tuples of `(address, size, type+permissions)` and memory contents and afaik protection keys are no included in any of those. Besides, I'm pretty sure there is no place to store them in SGX structures (including EPCM), so the CPU cannot verify them (outside of normal PT walk, but that is provided by untrusted host).

[2021-06-01 14:25] mkow commented on #2396
Ok, seems we don't plan to have this feature in mainline Graphene (if you think otherwise, then please convince us that it makes sense), so I'm closing this issue, as we use issues as a project-wise TODO-list. Feel free to continue discussion here though.

[2021-06-01 14:25] #2396 closed

[2021-06-01 16:59] dimakuv commented on #2382
Here is a way to keep only `Dk*` symbols as global in the PAL static library (must be flattened):
[code]

[2021-06-01 18:52] boryspoplawski commented on #2408
@sammyne Please don't close issues manually, it will be closed once we merge #2409 (which did not happen yet).

[2021-06-01 19:34] boryspoplawski commented on #2415
I think your counterpoint is valid: LibOS shouldn't really care about host URIs, it just needs to store them and pass to PAL. Making `libos.entrypoint` a Graphene path makes total sense, if it would work, thne please do it :)
Also I like the idea that we can pass a host path (URI) to PAL and it can contain (host level) symlinks: it gives a lot of flexibility when setting up Graphene.

[2021-06-01 22:52] #2408 closed

[2021-06-02 01:54] glorysdj commented on #2388
Regarding to sending ~16GB data between enclaves, is there anyway to avoid this? Is dynamic epc memory management supported?

[2021-06-02 02:25] jtakeshi-nd commented on #1840
This feature would be useful for my current work, to be able to disable threads when running a binary in SGX without having to recompile dependencies using OpenMP. It's possible to disable threading programmatically in my program source, but it would be nice to specify at runtime.

[2021-06-02 06:37] dimakuv commented on #2388
Enclave Dynamic Memory Management (EDMM) is not yet supported by the Intel SGX driver (the one that ships with Linux), so Graphene also doesn't support EDMM at this point. As soon as EDMM lands in the Intel SGX driver, Graphene will also have support for it.

I don't think there is any way of avoiding this, other than playing with Java Virtual Machine settings (and avoiding process forks in your J

[2021-06-03 03:38] jinengandhi-intel opened #2419 "Stress-ng test suite causing memory fault and heap corruption failure in Graphene"
## Description of the problem
While trying to enable the different stressors with Graphene I am seeing some failures Memory fault, Heap corruption and other failures from Graphene.

Failure 1: Testing procfs.

Run 1:
$ graphene-direct stress-ng --procfs 8 --timeout 40s
error: Using insecure argv source. Graphene will continue application execution, but this configuration must not be used in produc

[2021-06-03 08:19] dimakuv commented on #2419
Thanks @jinengandhi-intel for the detailed bug report!

This is easy to reproduce. I spent a couple hours debugging this, and the culprit is always the same: our IPC communication code at the LibOS layer. In particular, all that stuff in `ipc-thread.c` and `shim_ipc_pid.c / shim_ipc_ranges.c / shim_ipc_sysv.c`.

The immediate bug is something like this: we have lists of objects and operate on them

[2021-06-03 08:24] dimakuv commented on #2419
Some quick comments on this `stress-ng` program, maybe helpful for future debugs.

The program spawns several **processes**. Each process has a bunch of threads (around 6, why this number I don't understand). Each thread does the same -- e.g., repeatedly opens the file `/proc/self/maps` if you run with `stress-ng --procfs`.

Specifying `stress-ng --procfs 1` means: there is one main process waitin

[2021-06-03 08:27] dimakuv commented on #2419
Btw, putting watchpoints on `g_ipc_connections` object wouldn't be too hard, but the problem is that our misbehaving application has at least three processes, and GDB constantly failed on me when I tried to stop exactly in Inferior 2 (the "middle" process). I tried different combinations of `set detach-on-fork` and `set follow-fork-mode`, but GDB always ended up in an `Internal GDB error`.

@pwmar

[2021-06-03 21:57] dzygann opened #2420 "libQt5Core.so.5 shared Library not found"
By using the memcached example I want to run murmurd in Graphene. By running make, the manifest file for my binary is created. The loader.env looks like this:

```loader.env.LD_LIBRARY_PATH = "/lib:{{ arch_libdir }}:/usr/lib:/usr/{{ arch_libdir }}```

It's also mounted via:
[code]

The ldd command returns the following for murmurd:
[code]
I get the following output if I try to run murmur in Graphe

[2021-06-04 05:11] dimakuv commented on #2420
You can ignore this, not important.

This is indeed very strange. Couple questions:

1. Could you provide details on how you install Murmurd, how you port it to Graphene, and how you run it with Graphene? It should be easy to reproduce on our local systems, and we (Graphene developers) could quickly debug the root cause.

2. Could you try running the **original** Murmurd application under strace?

[2021-06-04 06:13] dzygann commented on #2420
Hi,

I pulled mumble from https://github.com/mumble-voip/mumble and followed the build process. Then I copied all files from the build folder (here are the executables located for mumble(client) and murmur(server))and put it into the Graphene Example folder.  Then I copied the Makefile and the manifest.template from memcached and made the customization for murmur.

strace gives the following outpu

[2021-06-04 07:37] dimakuv commented on #2420
Everything looks very normal in the strace. The `libQt5Core.so.5` file is where it is expected to be, this file is only ~5MB in size, it is a normal ELF file... Everything is good, and Graphene shouldn't complain.

Can you set the log level in the Graphene debug output to `all`? You need to modify the manifest file with something like `loader.log_level = "all"`. This will give you the most verbose

[2021-06-04 08:13] pwmarcz commented on #2419
Not sure if this exactly, but sometimes GDB outright freezes for me with some applications that use fork (even simple regression tests). I haven't been able to debug it yet.

[2021-06-04 09:43] dzygann commented on #2420
I could find the libQt5Core.so.5 in both places /lib/x86_64-linux-gnu and in /usr/lib/x86_64-linux-gnu on my machine.
The trace confuse me a little bit. Does the output mean that the shim_openat function can find the lib?

`[P1665:T1:murmurd] trace: ---- shim_openat(AT_FDCWD, "/lib/x86_64-linux-gnu/libQt5Core.so.5", O_RDONLY|0x80000, 0000) = 0x3`

But it is not possible to register it to glibc?

[

[2021-06-04 10:27] dimakuv commented on #2420
Heh, that's very interesting.

The "good" strace has these lines:
[code]

The "bad" Graphene trace has these lines:
[code]

Note that `832 == 0x340`, so both reads get the same number of characters from the file.

But the good strace continues with `fstat` and `mmap` -- so apparently the application is happy with what it read in the ELF header section of the `libQt5Core.so.5` file.

However, the b

[2021-06-04 10:50] dzygann commented on #2420
My OS is Ubuntu 20.04. To check the the GLIBC I have used ldd --version, which returns
`ldd (Ubuntu GLIBC 2.31-0ubuntu9.2) 2.31`

Should I try to upgrade glibc or to downgrade the Glibc version of Graphene?

[2021-06-04 10:53] dimakuv commented on #2420
Try to downgrade the Glibc version used in Graphene to 2.31 (fortunately, we have it).

Please re-build Graphene from scratch using environment variable `GLIBC_VERSION = '2.31'`. And then try again.

It would be also good to google a bit about libQt5Core and its requirements. Maybe someone else hit this problem (independently of Graphene), and there is a solution to it?

[2021-06-04 12:17] dzygann commented on #2420
I changed the value in the LibOS/Makefile and did a make clean and make again.
It is still the same issue:
[code]
Is it possible to double check the Graphene GLIBC version somehow?

[2021-06-04 12:43] dimakuv commented on #2420
I guess the easiest would be something like:
`~/graphene/Runtime$ strings libc.so.6 | grep "GLIBC_2.31"`

[2021-06-04 12:45] dimakuv commented on #2420
I didn't read through the rationale, but maybe try this: https://github.com/YosysHQ/nextpnr/issues/375#issuecomment-570002328. No idea how this can be related to Graphene :)

[2021-06-04 12:45] dimakuv commented on #2420
I didn't read through the rationale, but maybe try this: https://github.com/YosysHQ/nextpnr/issues/375#issuecomment-570002328. No idea how this can be related to Graphene :)

[2021-06-04 13:01] dzygann commented on #2420
@dimakuv You are incredible. This did the trick :)

`sudo strip --remove-section=.note.ABI-tag /usr/lib/x86_64-linux-gnu/libQt5Core.so.5`

[code]

Now I run into the next issue, but I will first investigate and open a new ticket if I need support.
Thank you so much for your support!

[2021-06-04 14:48] pwmarcz commented on #2415
Okay, I'm going in the suggested direction, closing. Thanks for the feedback.

[2021-06-04 14:48] #2415 closed

[2021-06-04 15:41] dimakuv commented on #2420
Cool.

So I found the real root cause analysis for this: https://github.com/Microsoft/WSL/issues/3023#issuecomment-452339739.

Long story short: Glibc checks the kernel version using three methods (reading vDSO magic numbers, reading `uname(2)` and reading `/proc/sys/kernel/osrelease`), if it finds the `.note.ABI-tag` ELF section (it contains the minimal required kernel version).

In Graphene, we

[2021-06-04 17:18] boryspoplawski commented on #2420
We do have a note section in vDSO, currently with hardcoded version `4.13.0` https://github.com/oscarlab/graphene/blob/master/LibOS/shim/src/vdso/vdso-note.S#L10

[2021-06-04 21:22] dzygann commented on #2420
Should I reopen the ticket, so that you can deliver a fix for this issue?

[2021-06-05 12:32] dzygann opened #2423 "Failed to set initial capabilities"
Hi,

In want to run the mumble server (https://github.com/mumble-voip/mumble) called murmur in Graphene. My OS is Ubuntu 20.04.

I copied the memcached manifest template and the Makefile and customized it to my needs.
When I run graphene in direct mode I got the following error from murmur:

` Failed to set initial capabilities`

Could be the issue, that some system calls are missing? The log thro

[2021-06-05 23:47] boryspoplawski commented on #2423
Graphene currently does not support thread capabilities (including `capget` and `capset` syscalls) and there are no plans to do so, especially since they would be kind of pointless in case of SGX PAL.
I can think of 3 ways you can go with:
- try to disable capabilities usage in your application - maybe it has some args flag to do that?
- recompile your application so it does not use them,
- add du

[2021-06-06 13:07] dzygann commented on #2423
Hi @boryspoplawski

I would like to implement a dummy syscall implementation. Do you have some documentation for it or could you point to some src files where I can see how to implement it?

Thanks in advance.

[2021-06-06 15:58] boryspoplawski commented on #2423
The closes we have are process groups, the dummy implementation should be pretty similar, as we only alow for reading and storing them (they are not checked/enforced anywhere): https://github.com/oscarlab/graphene/blob/master/LibOS/shim/src/sys/shim_getuid.c#L65
But I wouldn't go with it, since commenting their usage out did not help.

Unfortunately there's not much here, the process just exits wi

[2021-06-06 18:10] jurobystricky opened #2425 "Pal/regression seems broken after 13afef4313b3dfcc3fad73e5ecc685a2c133418f"
## Description of the problem
Running Pal regresions seems broken
## Steps to reproduce
<pre>
$ git clone https://github.com/oscarlab/graphene.git
$ cd graphene
$ make -j32
$ cd Pal/regression/
$ make regression
</pre>

## Expected results
Regression tests passed, something like:
<pre>
==== 35 passed, 4 skipped in 12.48 seconds ====
</pre>

## Actual results
<pre>
...
make[2]: Leaving directory '/

[2021-06-06 22:47] dzygann commented on #2423
Yes, I agree.

Yes, SQLite uses file locking. So this makes complete sense. Unfortunately, I don't know how to disable it, but I could exchange the SQLite DB with a MySQL DB. Maybe it's a little bit too late for me now, but in general, it should be possible to connect to a MySQL DB? Now, I get the following error:

[code]

[2021-06-07 01:47] boryspoplawski commented on #2423
This log is not enough, it just prints the error message. Actual cause of the error happened before these lines.

[2021-06-07 06:01] dzygann commented on #2423
It was too late, yesterday :)

[code]

[2021-06-07 06:49] dimakuv commented on #2423
Here is the problematic system call:
[code]

The error code is `111 | ECONNREFUSED | Connection refused`. (See https://mariadb.com/kb/en/operating-system-error-codes/)

Are you sure that your MySQL service is actually running on your machine? Do you see the file `/var/run/mysqld/mysqld.sock`? Do you have the right permissions to access it from the Graphene process?

[2021-06-07 07:33] DiegoCao commented on #2388
Hi, I have tried with the new master branch and PR yet the previous problem with processBuilder still exists.

[2021-06-07 07:57] dzygann commented on #2423
Hi
the service is up and running and the `mysqld.sock` exists.

What do I have to do to give Graphene the permissions?

[2021-06-07 08:03] dimakuv commented on #2423
Nothing, it's just from which user do you start Graphene. If this user has access to the `mysqld.sock`, then no need to do anything.

I just thought that maybe your `murmurd` application changes the user to some other user (e.g. to root) to connect to `mysqld.sock`? And you commented out this part (if I understood correctly), so now your murmurd doesn't have enough permissions to connect.

[2021-06-07 08:27] dimakuv commented on #2388
Could you attach the manifest and the Makefile/build instructions? And the command line how you start this.

I will try to reproduce this issue at some point.

[2021-06-07 08:32] woju commented on #2425
Yes, this wasn't intentional. I wonder, why it even works before this commit. For now you can add `pal_lib=` argument to `make regression`, like in `.ci`: https://github.com/oscarlab/graphene/blob/293ed2032e709807bfc238728e6f55aa6c7d5d61/.ci/lib/stage-test.jenkinsfile#L21-L26 That's also why this wasn't caught...

[2021-06-07 08:33] dzygann commented on #2423
I can start the application by root and by my local user. Both works.
As root I get a additional warining the logs:

`<C>2021-06-07 10:22:12.160 WARNING: You are running murmurd as root, without setting a uname in the ini file. This might be a security risk.
`

Here is a output from the murmur without Graphene trace:

[code]
I can even define that my local user should be used, but both does not wo

[2021-06-07 09:14] DiegoCao commented on #2388
The java.manifest.sgx is as follows:
[code]
Makefile:
[code]

[2021-06-07 09:30] dimakuv commented on #2423
I have a suspicion. You have this trace:
[code]

But you probably don't have the directory `/var/run/mysqld/` mounted inside Graphene. Please add something like the following in your manifest file:
[code]

[2021-06-07 09:42] anjalirx-intel opened #2426 "Graphene-SGX: Execution of waitpid03 ltp test lead to inconsistent results"
## Description of the problem
Execution of waitpid03 ltp test lead to inconsistent results for Graphene-SGX

Syscalls -> waitpid(wait for a child process to stop or terminate)
Syntax ->   pid_t waitpid(pid_t pid, int *stat_loc, int options);

The waitpid() system call suspends execution of the calling process until a child specified by pid argument has changed state. By default, waitpid() waits on

[2021-06-07 10:21] dzygann commented on #2423
You're right, I don't had the mount definition. But it is not sufficient. The message is still the same:

[code]
Do I have to add some other property like one of these:

[code]

[2021-06-07 11:40] boryspoplawski commented on #2423
Wait, don't mount `/var/run/mysqld` inside Graphene, you are not supposed to share it between Graphene and outside (I mean, you can, if that's what you really want to do...)
What is creating your local MySQL server? That should probably be run inside Graphene too.

Actaully, if the path wasn't mounted inside Graphene, it would fail with `ENOENT`, not `ECONNREFUSED`, so probably there is something

[2021-06-07 12:23] dzygann commented on #2423
The server is running on my local machine. What I have to do to run the MySQL server inside Graphene?

I had mount /var, only. Does it work recursively through the file tree?

[2021-06-07 20:25] dimakuv commented on #2388
Not really related to the error, but why do you have these variables declared in the Makefile:
[code]

But they are not used anywhere? Did you try to use them? How did it go? Did the error that you report still persist with these 2G/8G sizes?

[2021-06-07 21:59] boryspoplawski commented on #2388
Is it really failing in the same way? New error log could be useful.

[2021-06-08 09:33] #2425 closed

[2021-06-08 17:50] dzygann commented on #2423
Hi,
I could solve this issue by using the host `127.0.0.1` instead of `localhost`.

Now, the next issue came up with error code -38 again:

[code]

Here is the trace without Graphene. It seems something is wrong with getpeername:

[code]

Do you have an idea what's wrong and how I can solve it?

[2021-06-08 18:47] #330 closed

[2021-06-08 18:47] #755 closed

[2021-06-08 18:47] #756 closed

[2021-06-08 18:47] #2245 closed

[2021-06-08 18:47] #2247 closed

[2021-06-08 18:47] #2254 closed

[2021-06-08 18:47] #2255 closed

[2021-06-09 05:07] dimakuv commented on #2423
@dzygann This is a tough one. In particular, this error is not good:
[code]

It's unclear what happens in your application. I don't see anything particularly bad (`ioctl` with -38) doesn't seem to be important. I also see that the two logs (Graphene one and the native one) look quite different...

I think it could be time for debugging with GDB :( If you know how to GDB, then doing it with Graphen

[2021-06-09 06:59] dzygann commented on #2423
Hi,
I followed the steps from` https://graphene.readthedocs.io/en/latest/devel/debugging.html#debugging-without-sgx-support` and adjust the build meson build part like the following:

`meson build -Ddirect=enabled --buildtype=debug --reconfigure`

I get the following output if I run graphene with murmur:

[code]

And that's it. Nothing else happens. Do I have to do further steps or did I do a mist

[2021-06-09 07:12] dimakuv commented on #2423
There is no mistake, you entered the GDB interactive debugging session :) That's how debugging in GDB works. At this point you're supposed to debug the program (by putting breakpoints and watchpoints and then typing `run`). But from your question looks like you haven't debugged with GDB previously.

Unfortunately, at this point I can't help more. The bug you hit looks pretty bad (and I don't know

[2021-06-10 05:26] yanzhichao opened #2434 "Run pytorch in Docker with sgx， container will be killed"
## Description of the problem
I build a docker images modelled the gsc, but  the container‘s frond  will be killed at the adding pages phase ,the log as flowing
[code]
As you see, after the container'frond be killed  ,the  container is still running  in the backend acturally and it will run over successfully.  the docker logs  as flowing
[code]
Yes , the  **killed** occured  before the `error: Fai

[2021-06-10 07:26] dimakuv commented on #2434
The `killed` message comes from the Linux Out Of Memory Killer. This is a special background process that tracks total RAM usage (including SGX enclave memory usage), and kills some chosen processes when the amount of free RAM becomes dangerously small.

It looks like your system has too little RAM + swapfile. Could you show the output of `free -h`? (Recall that Intel SGX allocates all enclave mem

[2021-06-10 07:52] yanzhichao commented on #2434
Thanks for reply .

Beforce run the container
[code]

when run the container
[code]
docker stats
[code]

I can't believe it too. But it really will not be killed  although still have the error `Failed to exchange the secret key via RPC: -21`

[2021-06-10 08:53] dimakuv commented on #2434
No, I'm pretty sure it will be killed. Maybe the message from Linux (`Killed`) is just buried somewhere among all the output logs.

Anyway, you have about 8GB of available memory in total. But your enclave size is `4G`, and PyTorch is known to create two processes during its run (thus two SGX enclaves). So a run of PyTorch in Graphene-SGX requires 8GB of memory, which basically eats all available

[2021-06-10 09:39] yanzhichao commented on #2434
Thanks
You are right,  the message from Linux (Killed) is just buried somewhere among all the output logs.
[code]

I adject the swap size to 16GBtemporarily , and  it is no longer killed.
It seems that I have to buy another memory.

Thanks again,Close.

[2021-06-10 09:39] #2434 closed

[2021-06-11 01:45] ratnadeepb opened #2435 "failed to create SGX docker image"
## Description of the problem
Attempting to create a SGX docker image results in a Python jinja2 TemplateNotFound exception

## Steps to reproduce

[code]

## Expected results
Create an SGX version of the image

## Actual results
[code]
## Additional information
1. The environment is a virtualbox Ubuntu 20.04 VM (issue?)
2. SGX is not available, I am hoping to run this in simulation

[2021-06-11 13:29] mythi opened #2436 "gsc sign-image fails"
## Description of the problem

gsc started failing after b8b867096ed288f3d55abc2ace30148f8bfeaa9f

## Steps to reproduce

https://graphene.readthedocs.io/en/latest/manpages/gsc.html

## Expected results

`./gsc sign-image python enclave-key.pem` succeeds without failures

## Actual results

The build fails because the python tools are copied from the repo and not properly installed:

[code]

[2021-06-12 11:38] dzygann commented on #2423
Okay, I get the following output when I run murmur with Graphene-direct mode and enabled GDB:

[code]

If I'm not wrong this points to Graphene, isn't it? The method `__socket_is_ipv6_v6only` gets a `struct shim_handle* hdl`.  The object itself seems to be right because the asserts are not violated.  But the iteration over the pending options level or optname seems to be broken. Do you have an ide

[2021-06-12 15:35] kenplusplus commented on #2436
I also meet with this issue, sound like need both "make and meson" build now, and ninja will install the file to system directories like below. Then need use /usr/loca/bin/graphene-sgx-sign

ninja: Entering directory `build'
[0/1] Installing files.
Installing subdir /graphene/Runtime/../Pal/src/host/Linux-SGX/gdb_integration to /usr/local/lib/x86_64-linux-gnu/graphene/sgx/gdb_integration
Installin

[2021-06-12 16:42] vans163 opened #2437 "Kernel >= 5.11 (5.12.9) how to load driver?"
Looking at is_sgx_available
[code]
[code]
ls /dev | grep sgx
[code]
uname -a
[code]
My understanding is that kernel 5.11 carries all the needed kmods to run graphene-sgx, but it seems like it wants the driver, when I try to run the example in different ways:

[code]

I dont see SGX in lsmod.  Guessing I need to install https://github.com/intel/SGXDataCenterAttestationPrimitives/tree/master/driver/

[2021-06-12 17:49] mkow commented on #2437
Oops, seems we forgot to update this tool when SGX drivers got upstreamed. Please check if #2438 fixes the problem for you.

From the description you provided it seems that your system is fine and should be able to run SGX, it's just our script which is outdated :)

[2021-06-12 23:58] vans163 commented on #2437
Well this makes it just return true for `sgx_driver_loaded` but the helloworld example app is having the same errors. I am guessing based on what I posted it might be a problem with the helloworld example not updated for kernel >= 5.11?

[2021-06-13 00:05] mkow commented on #2437
Ah, I missed that there is one more issue in your description.

[code]

This is most likely caused by quite bad support for SGX in current Linux distros. AFAIR by default this device is accessible only by root, so you just need to `chmod` it properly. To my best knowledge doing this shouldn't be a security issue, as enclaves doesn't give additional permissions to their users. The only problem may

[2021-06-13 00:15] vans163 commented on #2437
So even as root (or sudo) / giving perms to this dev to another user.
[code]
It seems

[code]
    /* ask Intel SGX driver to actually mmap the added enclave pages */
    uint64_t mapped = INLINE_SYSCALL(mmap, 6, addr, size, prot, MAP_FIXED | MAP_SHARED,
                                     g_isgx_device, 0);
    if (IS_ERR_P(mapped)) {
        log_error("Cannot map enclave pages %ld\n", ERRNO_P(ma

[2021-06-13 00:54] vans163 commented on #2437
K fixed, so on ubuntu 20.04 and up need to remount /dev and give it exec. I wonder if there is a better fix for this?

[2021-06-13 23:44] vans163 opened #2439 "Unrecognized leaf/subleaf in CPUID (EAX=19, ECX=91)"
[code]

Having a issue running a manifest I just put together, not sure what is wrong but the binary uses CUDA and has AVX. The binary inits correctly and loads all the libs it needs (including the CUDA libs).

[code]

[code]

NOTE: `graphene-direct ffprobe` works perfectly fine.

[2021-06-14 10:41] dimakuv commented on #2435
Sorry, GSC is currently broken. We're moving to a new build/deployment system in core Graphene, which breaks GSC. We'll fix GSC as soon as this migration to the new build system is done.

[2021-06-14 10:41] dimakuv commented on #2436
Sorry, GSC is currently broken. We're moving to a new build/deployment system in core Graphene, which breaks GSC. We'll fix GSC as soon as this migration to the new build system is done.

[2021-06-14 10:49] dimakuv commented on #2423
Thanks for the debugging session!

There is definitely a bug inside Graphene. You have a `o` object pointer pointing to `0x1` which is not valid memory. Looking at the `sock->pending_options` code, it looks this sub-object is freed but then later re-used (so, the case of a dangling pointer): https://github.com/oscarlab/graphene/blob/bd60bd0a42f0f29fd084d3ed3f50da64447b8595/LibOS/shim/src/sys/shim_

[2021-06-14 10:55] dimakuv commented on #2437
@vans163 I didn't encounter this "remount /dev". Where did you find this suggestion? Why does it help?

After quick googling, I found this: https://unix.stackexchange.com/questions/581928/is-it-safe-to-add-noexec-mount-option-in-dev. And it looks like Debian/Ubuntu indeed now mounts with `noexec` by default. But I don't see how this could affect the Intel SGX driver and Graphene... Strange.

[2021-06-14 11:16] ratnadeepb commented on #2435
Thanks for the update. Until such time, is there another way to dockerize graphene apps?

[2021-06-14 11:57] dimakuv commented on #2435
@ratnadeepb You can specify a particular Graphene commit in the GSC's configuration file: https://github.com/oscarlab/graphene/blob/master/Tools/gsc/config.yaml.template#L9.

Simply replace `"master"` with the specific commit ID. For example, a good candidate (I think) should be: a743b6a83b4f3587e1d72b53509239c21d3c1231. So you can replace with `"a743b6a83b4f3587e1d72b53509239c21d3c1231"`.

[2021-06-14 12:16] dimakuv commented on #2439
Indeed this is a case of Graphene being too strict. I created a PR #2440 to fix your issue, could you try it out and report the results?

[2021-06-14 12:21] mkow commented on #2437
This is interesting, but I think it's only on 21.04 and up. We do testing on 20.04 and it works there, I even checked on my instance:
[code]

CC: @woju, seems 21.04 broke SGX support altogether?

[2021-06-14 14:03] boryspoplawski commented on #2087
I think we can just use sequential values as there should be no need for randomization. The malicious host could know that value and it should not pose any security risks.

[2021-06-14 15:46] vans163 commented on #2439
That PR fixes my issue thank you.

[2021-06-15 09:50] anjalirx-intel opened #2443 "Graphene-SGX: Regression Failures on Kernel 5.12 upstream kernel"
## Config
Graphene :-  Commit: f9ed396dba0fc3bb988c9cd53375306300a66178
Linux :-  5.12.0 upstream kernel

## Description of the problem
**Pal:**
**TC-1: test_200_event**
The test expect to return “TEST OK” but it returned “Error at line 71, pal_errno: -1, debug: DkProcessExit: Returning exit code 1”

**TC-2: test_900_misc**
Expected Result
Query System Time OK
Delay Execution for 10000 Microsecond

[2021-06-15 14:04] dimakuv commented on #2443
So is this regression because of:
- moving to the new Linux kernel, or
- moving to a new Graphene commit?

[2021-06-15 14:05] dimakuv commented on #2443
There seems to be something wrong with timings in this new Linux 5.12 kernel. Looks like all new regressions are about timings that are very slightly off.

[2021-06-16 02:51] sammyne opened #2448 "AESM still reports 'Malformed request received'"
## Description
I think the error reported by issue #1228 still remains unsolved~

The DCAP quote generation failed for graphene running within docker containers, but it's fine when running the official DCAP [SampleCodes][dcap-samplecode] by Intel.

The specific error is reported by the AESM, and goes as
[code]

The demo app goes in the testbot folder, where
- hello-world.c is the simplified versio

[2021-06-16 04:03] anjalirx-intel commented on #2443
@dimakuv This regression is because moving to new Linux Kernel

[2021-06-16 09:59] dimakuv commented on #2448
Yes, this `Malformed request received` doesn't sound good.

But looks like your `hello-world` example works correctly? Or does Graphene actually fail? I see `SUCCESS` in your output.

[2021-06-16 10:04] anjalirx-intel opened #2451 "Graphene: stress-ng chmod fails when the number of stressors gradually increased"
## Description of the problem
As no of stressors increased per CPU, chmod calls fails with graphene-direct

**Run-1:**
[code]

**Run-2:**
[code]

**Run-3:**
[code]

**Run-4:**
[code]

[2021-06-16 11:50] sammyne commented on #2448
The example goes well.

The `Malformed request received` error reported by AESM seems to have no effect on generating quote, and I have double check by the correct verification using Intel SGX SDK against this quote.

Quote generation using Intel SGX SDK goes well with AESM, but the graphene doesn't.
So it's probably there's some mismatched struct in the graphene, which is better to tackle in the

[2021-06-16 11:53] dimakuv commented on #2448
Yeah, true. I will take note of this, but currently we don't have resources to look at such low-priority things, sorry. From what I understand, this is not blocking you from anything. Though the message is annoying :)

[2021-06-16 11:56] sammyne commented on #2448
Currently, it looks fine~ Anything bad will be reported in this issue 😄
Thanks for the feedback~

[2021-06-16 15:54] dzygann commented on #2423
Hi @dimakuv ,
If you have an idea how to fix this one, even with a workaround, could you share this knowledge with me? I would implement it on my local clone. I would like to know if, mumble is working after all :)

Thanks in advance.

[2021-06-17 03:23] ltinerary commented on #1847
I had the same problem.
And according to @dimakuv  answer，
I found in my `/usr/lib/x86_64-linux-gnu`  directory,
My machine environment missed a *.so file.
And the *.so file is just a Symbolic Link.
So I Manually set up the Symbolic Link.
It worked!
![image](https://user-images.githubusercontent.com/79144923/122325745-b7f30f80-cf5d-11eb-92b3-20624582a8a0.png)

[2021-06-17 03:45] jinengandhi-intel opened #2456 "Graphene SGX not building with DEBUGOPT=1"
## Description of the problem

To collect the perf record for workloads I was trying to following the instructions in the Graphene docs for SGX profiling and there it mentions about building Graphene with SGX=1 and DEBUGOPT=1 flag but when I tried that on the latest Graphene I am getting build errors. Please find attached the build log with the error.
[code]
When I try to build the same for Graphe

[2021-06-17 05:23] jinengandhi-intel commented on #2437
I was trying to setup a new machine with 5.11 upstream kernel and Ubuntu 20.04 and I faced this same issue even there, was able to resolve with ```mount -o remount,exec /dev```

[2021-06-17 07:42] dimakuv commented on #2423
Sorry, I have plans to debug and submit a fix for this. It's non-trivial to circumvent this error... I don't have a good idea how to simply circumvent this. Maybe try different network settings in your Mumble application, if possible at all? Like different IP addresses (domain name vs IPv4 vs IPv6), different ports, etc. This may skip this code path, and you won't hit this error. But I'm doubtful.

[2021-06-17 09:19] dzygann commented on #2423
Hi

I look forward to the bug fix :) If you need some further input how I could produce the issue, let me know.

I will try your suggestions and give a feedback if one of these will work for me.

[2021-06-17 13:04] mkow commented on #2456
@jinengandhi-intel Could you edit your issue and use proper Markdown? E.g. triple backticks for logs. It's hard to read in this form.

[2021-06-18 02:50] jinengandhi-intel commented on #2456
Done, sorry for the inconvenience.

[2021-06-18 08:17] #152 closed

[2021-06-18 15:33] dimakuv commented on #433
@bigdata-memory Is this issue for `allowed files`, `trusted files` or `protected files`?

- Trusted files cannot be writable by design
- Protected files should already support it (please test)
- Allowed files indeed disallow mmap in untrusted memory and instead always copy the contents into enclave memory (and the file changes happen inside enclave memory and are not reflected in outside untrusted

[2021-06-20 03:51] bigdata-memory commented on #433
@dimakuv  it is for `allowed files` and yes, a manifest option would be sufficient for users to enable this mode for writable file-back mapping in untrusted memory address space. thanks.

[2021-06-20 09:08] Keepmoving-ZXY opened #2461 "I/O error during run SQLite in Graphene"
## Description of the problem
I am working on run SQLite on Graphene, according to my two day's work, the compile of SQLite is okay, but run a SQLite database insert will cause SQLite I/O error.

## Steps to reproduce

I change memcached manifest template file to use during SQLite compile and run,
the `Makefile` can be found at:https://github.com/Keepmoving-ZXY/graphene/blob/master/Examples/sqlite

[2021-06-20 23:37] mkow commented on #2461
In this particular case the culprit is this line: `sgx.protected_files.dbfile = "file:/tmp/test.db"`, or rather what you're trying to do. Graphene currently doesn't support R/W protected files, you can either read one or write, but both both at the same time. This is due to challenges in cryptographically securing such files against replay attacks.
Fortunately, if your database doesn't need to be

[2021-06-21 00:39] mkow commented on #2461
Correction: actually, we should support R/W accesses to protected files, there was an old implementation of PF which didn't support this, but the current one should, which I forgot :) So, this shouldn't be the culprit.
Could you find what exactly is failing in the logs? (see the post scriptum in my previous message).

[2021-06-21 02:38] Keepmoving-ZXY commented on #2461
Thank you for help, below is trace level log during `graphene-sgx ./app`:
[code]

[2021-06-21 07:03] dimakuv commented on #2461
The culprit is this output line:
[code]

Graphene doesn't support `flock` (or `F_SETLK`; both stand for "file locking") yet. Support for file-locking will come in a couple weeks, hopefully.

[2021-06-21 14:54] mkow opened #2467 "[Pal/Linux-SGX] Handle leak in `pipe_connect`"
## Description of the problem

There seem to be a thread handle leak in `pipe_connect()` function in Linux-SGX PAL:
https://github.com/oscarlab/graphene/blob/6ba10c60b94a066d516bb9121c31280c0ba69468/Pal/src/host/Linux-SGX/db_pipes.c#L244

`thread_hdl` is never closed anywhere.

There doesn't seem to be any easy fix for this, we can't just close the handle while the thread is still running.

[2021-06-22 10:15] DiegoCao commented on #2388
I attach the error log here for the new Master branch and it still fails. The error log is:
[Testls_sgx_logall.log](https://github.com/oscarlab/graphene/files/6693303/Testls_sgx_logall.log)

[2021-06-22 13:25] boryspoplawski commented on #2388
@DiegoCao Could you provide commit hash which you used? Simple local test send big (4GB) checkpoints successfully and provided log doesn't give much more info (than that sending failed).

[2021-06-22 13:38] boryspoplawski opened #2471 "MbedTLS uses small internal buffers for encryption"
## Description of the problem
When using encrypted pipes (e.g. to send checkpoint) MbedTLS has to encrypt the data and uses 4 pages buffer for that. This might drastically reduce `fork` performance in case of big enclaves.

Proposed solution (needs performance improvement verification):
set MbedTLS buffer size (hopefully possible) to some grater value, probably tied to enclave size (e.g. we would

[2021-06-22 18:45] mythi commented on #2436
@dimakuv what would be a good/safe commit in master that still has gsc working?

[2021-06-23 05:30] Keepmoving-ZXY commented on #2461
ok, thank you.

[2021-06-23 05:30] #2461 closed

[2021-06-24 09:23] anjalirx-intel opened #2474 "CentOS 8.2 Graphene Failures"
## Description of the problem
## Issue-1: Graphene Installation Location in CentOS
While installing Graphene in Ubuntu, graphene is getting installed in /usr/local/bin which is part of default environment path. Whereas in CentOS, the default environment path is /usr/bin but Graphene gets installed in /usr/local/bin.
However if we add the /usr/local/bin path to the environment file, it works proper

[2021-06-24 09:39] anjalirx-intel opened #2475 "CentOS: Incorrect trusted_file path specified for libstdbuf in manifest.template for LTP"
## Description of the problem
Trusted file path of libstd should not be dependent on arch_libdir, it should be solely dependent upon coreutils_libdir

In Manifest.template

## Steps to reproduce
cd LibOS/shim/test/ltp
make SGX=1 all sgx-tokens

## Expected results
SGX-Tokens should be able to generate successfully.

## Actual results
make[1]: *** No rule to make target '/usr/lib64/coreutils/libstd

[2021-06-24 13:08] daniel-weisse opened #2477 "Broken ra-tls-secret-prov sample"
## Description of the problem

Trying to run the secret provisioning Example results in no secrets being sent to the client.

## Steps to reproduce
commit ID: `6ba10c60b94a066d516bb9121c31280c0ba69468`

Graphene was built on an Azure Standard DC4s_v2 VM following [cloud deployment](https://graphene.readthedocs.io/en/latest/cloud-deployment.html).
`uname -r`: 5.4.0-1051-azure

Build and run the ra-

[2021-06-24 19:21] stefanberger commented on #2474
Maybe https://github.com/oscarlab/graphene/pull/2319 helps you?

[2021-06-27 00:51] StanPlatinum opened #2478 "[fseek] No such file or directory when loading large input"
## Description of the problem

I am running a bwa (https://github.com/lh3/bwa) application, which is a bio-informatics algorithm, on Graphene.

When I try to feed a large dataset (hg38.fa, about 3.1GB) to the `bwa mem` command, a [fseek] error come out at the very beginning. When I feed a smaller dataset (mref.fa, about 1.1GB), it works fine.

This `bwa` application may consume very large memory s

[2021-06-28 06:20] #948 closed

[2021-06-28 06:20] #2385 closed

[2021-06-28 06:25] dimakuv commented on #2436
https://github.com/oscarlab/graphene/pull/2457 -- this PR will be merged very soon (maybe today). So GSC on master branch will work again.

Inside this PR, you can observe that GSC uses commit 2e737e69f076c60918f87d6829bb769925e75fec.

[2021-06-28 06:33] dimakuv commented on #2477
Is this a bug in your description or you actually tried the `12345...` EPID key? You should replace it with your actual key.

But it could also be that the IAS web service deprecated the version of the protocol used by Graphene. I will need to check it and if true, update Graphene.

[2021-06-28 09:25] anjalirx-intel commented on #2365
Fixed with latest

[2021-06-28 09:29] anjalirx-intel commented on #2142
@mkow  Fixed with Latest master. Can you please close this issue

[2021-06-28 09:52] anjalirx-intel commented on #2260
@boryspoplawski The issue is fixed for Graphene Native but Graphene-SGX still fails

/home/intel/jenkins/workspace/local_ci_gsgx_apps_test/graphene/LibOS/shim/test/ltp/ltp_src/lib/tst_test.c:1250: TINFO: Timeout per run is 0h 05m 00s
/home/intel/jenkins/workspace/local_ci_gsgx_apps_test/graphene/LibOS/shim/test/ltp/ltp_src/testcases/kernel/syscalls/nanosleep/nanosleep02.c:57: TPASS: nanosleep() re

[2021-06-28 10:10] anjalirai-intel opened #2479 "Graphene-SGX: Syscalls sleeps for too long sometimes"
## Description of the problem
These below mentioned syscalls sometimes sleeps for too long randomly

1. clock_nanosleep02
2. epoll_wait02
3. nanosleep01
4. poll02
5. pselect01
6. pselect01_64
7. select04
8. futex_wait05

## Steps to reproduce
Run LTP tests with SGX=1

## Expected results
[code]

## Actual results
[code]

[2021-06-28 12:14] anjalirx-intel commented on #2474
@stefanberger Yes #2319 helps.

[2021-06-28 12:33] anjalirx-intel commented on #2419
@dimakuv @jinengandhi-intel
Heap corruption is not seen with IPC PR.

However mknod issue still exists and procfs throws different error

Procfs:
[code]

mknod:
[code]

[2021-06-28 12:59] #2142 closed

[2021-06-28 13:01] dimakuv commented on #2419
Interesting, thanks for testing! @pwmarcz You'll want to take a look at this.

[2021-06-28 13:09] mkow commented on #2436
@mythi: #2457 was just merged, could you check if it works for you now?

[2021-06-28 14:40] #2456 closed

[2021-06-29 10:07] anjalirx-intel commented on #2246
Removed *sysv* stuff

[2021-06-29 10:07] #2246 closed

[2021-06-29 12:27] #2107 closed

[2021-06-29 12:32] mkow commented on #2265
@anjalirx-intel Could you retry on the current master? The IPC rework was just merged.

[2021-06-29 13:20] pwmarcz commented on #2478
@StanPlatinum

Thank you for the report! It seems that we have a bug in handling large files (> 2 GB).

Could you check if PR #2485 fixes your problem? It's a one-line fix:
[code]

[2021-06-29 17:36] pwmarcz commented on #2321
This is now mostly implemented, and the rest is outdated, so I'm closing this issue. Thanks for all the feedback.

[2021-06-29 17:36] #2321 closed

[2021-06-30 02:40] DiegoCao commented on #2388
Hi, the commit hash I use is 6eb3b8e33203a8f43646dac8d1c58f15416806fc.

[2021-06-30 08:57] anjalirx-intel opened #2488 "Tests failing with latest commit [LibOS] Rework IDs management"
## Description of the problem
Test Failing with latest graphene: 205cbe0123978b7b178c413a172b0be38658ef55
1. tgkill03 :- Test Failed in CI but  it does not report as FAIL because the runltp_xml parser only checks for test returncode which is 0 here

     Old Result : https://localhost:8080/job/graphene-18.04/5841/testReport/apps/LTP/test_direct___tgkill03/
     New Result : https://localhost:8080/

[2021-06-30 10:07] pwmarcz commented on #82
As discussed in #176, this is intentionally not allowed, and `sgx.allow_file_creation` solves the reporter's use-case. Closing.

[2021-06-30 10:07] #82 closed

[2021-06-30 10:19] pwmarcz commented on #1387
This appears to be fixed after #2453:

[code]

[2021-06-30 10:19] #1387 closed

[2021-06-30 10:24] pwmarcz commented on #516
`readlink()` should work correctly now. Example from report  (using `python`):

[code]

Note that symlinks are (intentionally) not supported when mounting host files: host symlinks appear as normal files to the application.

[2021-06-30 10:24] #516 closed

[2021-06-30 11:26] boryspoplawski commented on #2388
This commit is not even in the master branch (or actually any other) and definitely is not and never was the latest master.

[2021-06-30 11:26] #2388 closed

[2021-06-30 12:27] anjalirx-intel opened #2489 "GCC Example failed with RHEL 8 & CentOS 8.2"
## Description of the problem
**CentOS:**
GCC Example failed with "collect2: fatal error: ld terminated with signal 11 [Segmentation fault], core dumped"

**RHEL**
Graphene-Direct:
Inconsistency detected by ld.so: dl-call-libc-early-init.c: 37: _dl_call_libc_early_init: Assertion `sym != NULL' failed!
Graphene-SGX:
gcc: error trying to exec '/usr/libexec/gcc/x86_64-redhat-linux/8/cc1': execv: Perm

[2021-06-30 12:50] mkow commented on #2489
Please use proper Markdown in your issues, they are unreadable.
Also, could you run this with debug output and with Graphene compiled in debug mode, and then check if there are any interesting lines in the output?

[2021-06-30 13:34] mkow opened #2491 "LTP parser should also be run when a test itself declares a success"
## Description of the problem

As has happened in #2488, sometimes LTP tests can end with exit code 0 and empty summary (which is probably due to lack/broken support for shared mem mappings in Graphene) despite having "FAIL" entries in the log.

Currently we run the parser only if `must-pass` entries exist, otherwise we just check the exit code (or maybe also the summary?). We should run our outpu

[2021-06-30 13:36] dimakuv commented on #2489
GCC works for me on Ubuntu 18.04.

Looks like you test GCC on some RedHat distro? It seems to have quite different paths for GCC components and probably a quite different GCC version itself... Unfortunately, I don't see how to reproduce this failure on our developers' Ubuntus.

[2021-06-30 14:13] jinengandhi-intel commented on #2488
Shouldn't we be looking at the other test? And shouldn't you get a confirmation from the issue filer before we close the issue?

[2021-06-30 14:17] dimakuv commented on #2488
Indeed, at least the second test (`rt_sigtimedwait01`) is not covered by the merged PR #2490. Reopening.

[2021-06-30 14:26] mkow commented on #1053
One more thing: Please not only include the commit hash, but also build mode (debug/release/...).

[2021-06-30 14:38] boryspoplawski commented on #2488
Sorry, I've missed that his issue describes another test, since there was no info about it in email.

We were able to cleanly reproduce the issue, so there should be no need. Worst case we can reopen the issue, if it's still present.

[2021-06-30 15:23] anjalirx-intel commented on #2488
@dimakuv @boryspoplawski We have tested the rt_sigtimedwait01 with latest master, and it is getting passed.

But we want to run this tests with all nightly builds. Please wait till tomorrow morning for all nightly results

[2021-06-30 15:31] anjalirx-intel commented on #2489
@mkow I hope its fine too read now.  I have attached the trace logs for it.

@dimakuv Yes, it is tested on CentOS 8.2 and gcc version is different.

[code]

[2021-07-01 03:19] StanPlatinum commented on #2478
@pwmarcz Thanks!

Yes, the PR fixes it! Feel free to close the issue.

[2021-07-01 05:43] anjalirx-intel commented on #2488
@dimakuv Both the test is passed in all Jenkins. Closing this issue now.

[2021-07-01 05:43] #2488 closed

[2021-07-01 06:08] #2478 closed

[2021-07-01 09:05] dimakuv commented on #2489
Ok, I debugged this. The root cause is really convoluted.

The actual failing executable is `/usr/bin/ld`. On CentOS, it is backed by `/usr/bin/ld.bfd` actual executable:
[code]

This `/usr/bin/ld.bfd` is very peculiar in the path where it searches for Glibc:
[code]

As you can see, Glibc is loaded from the host directory `/usr/lib64/` -- which is *not* the Graphene-specific `/lib` directory. In o

[2021-07-01 09:12] dimakuv commented on #2489
I tried to trick this `/usr/bin/ld.bfd` executable by specifying this in the manifest:
[code]

This forced `/usr/bin/ld.bfd` executable to pick up our Graphene-patched Glibc, and the workload continued past the previous segfault point. However, this executable got stuck a bit later when it tried to open `crti.o` (which is the Graphene version, not the host version as should be):
[code]

So basical

[2021-07-01 12:52] dimakuv commented on #2423
@dzygann Could you check https://github.com/oscarlab/graphene/pull/2495?

[2021-07-01 13:44] dzygann commented on #2423
Hi @dimakuv,
I could start murmur without the issue anymore.

Many thanks!!!!

[2021-07-02 13:58] pwmarcz commented on #2419
I wasn't able to reproduce the procfs issue, but I fixed crash in `shim_do_poll`. @anjalirx-intel Does PR @2498 fix the procfs crash for you?

I was able to reproduce the mknod one and I'm working on a fix.

[2021-07-02 18:13] #437 closed

[2021-07-02 18:55] dimakuv commented on #2265
`sendfile04` is fixed by https://github.com/oscarlab/graphene/pull/2500. In fact, that PR fixes our `sendfile()` emulation completely (bar some corner cases).

[2021-07-02 22:21] #2439 closed

[2021-07-03 16:24] vans163 opened #2503 "futex does not wake"
Running FFMPEG inside graphene direct or sgx FUTEX_CLOCK_REALTIME is not implemented, and it causes the FUTEX to get the wrong time (notice the -1594868808) causing infinite stalls on threads.

EDIT: The issue with not waking remains but it seems that its not related to FUTEX_CLOCK_REALTIME.
[code]

Running outside graphene notice the signed int max value for the futex.

[code]

[2021-07-05 06:49] dimakuv commented on #2503
Looks like a question to @boryspoplawski

[2021-07-05 09:00] dimakuv commented on #2265
`Semop02` and `Semctl03` (as well as all other `sem*` tests) are disabled in current Graphene, because we purged Sys-V emulation from Graphene currently. So these two issues are not relevant anymore.

[2021-07-05 09:01] dimakuv commented on #2265
`Msgsnd*` and `Msgrcv*` are disabled in current Graphene, because we purged Sys-V emulation from Graphene currently. So these two issues are not relevant anymore.

[2021-07-05 09:03] dimakuv commented on #2265
`Chroot03` is disabled in current Graphene, because Graphene doesn't implement `symlink`: https://github.com/oscarlab/graphene/blob/2dc94fc698a0e61b056828561dd376d094938de6/LibOS/shim/test/ltp/ltp.cfg#L117.

[2021-07-05 09:03] jinengandhi-intel opened #2504 "IPC pid release failed error followed by Illegal instruction during Graphene internal execution seen with LTP tests"
## Description of the problem

For random tests we are seeing the following errors after the tests have finished and the return code for the test is 0.
``` <system-err>error: Using insecure argv source. Graphene will continue application execution, but this configuration must not be used in production! [P19048:T2:fcntl12] error: IPC pid release failed [P19048:T2:fcntl12] error: Illegal instruction

[2021-07-05 09:04] dimakuv commented on #2265
SUMMARY: The only currently relevant LTP test that is crashing is `sendfile04`. It will be fixed by #2500.

[2021-07-05 09:09] dimakuv commented on #2504
Looks like an issue for @boryspoplawski

[2021-07-05 09:50] jinengandhi-intel commented on #2504
Went back and checked the nightly results in our local CI, and no such failures were seen for our June 29 nightly i.e. until commit [LibOS] Rework IDs management (205cbe0123978b7b178c413a172b0be38658ef55) but something that started with June 30 nightly run, so most probably it could be one of the 2 commits from Borys:

[LibOS] Send PID alongside TID in tgkill IPC message …
[LibOS] Do not remove IP

[2021-07-05 09:52] jinengandhi-intel commented on #2504
In our internal CI, I also saw connect01 fail once

 `<testcase classname="apps.LTP" name="connect01" time="0.011">
    <system-out>connect01    1  TPASS  :  bad file descriptor successful
connect01    2  TPASS  :  invalid socket buffer successful
connect01    3  TPASS  :  invalid salen successful
connect01    4  TPASS  :  invalid socket successful
connect01    5  TPASS  :  already connected succe

[2021-07-05 10:40] dimakuv commented on #1435
Update: most of the above issues were fixed. However, there is still one issue of having RTLD code in the PAL component. This will become redundant (and will be removed) after we merge PAL and LibOS components into one single binary.

[2021-07-05 12:30] mkow opened #2506 "Security mitigations and hardening"
## Ideas for security mitigations and "bug prevention"

### Mitigations/sanitizations
- [ ] We need better sanitization of OCALL arguments. Current version most likely is not dangerous, but there's a chance that some apps may be manipulated this way into doing something unexpected. See #1236.

### Bug detection
- [ ] Run tests with sanitizers in CI (see #2106).
- [ ] Run some linters in CI. Proble

[2021-07-05 12:34] pwmarcz opened #2507 "Filesystem code should not reuse dentries"
## Problem

The current code marks a dentry as `DENTRY_NEGATIVE` when removing or renaming it. As a result, when we create a new file with the same name, the dentry is reused, even though it's no longer in a "fresh" state (various fields might have been changed).

This has already caused a bug related to the `fs` field overriden for special files (see #2499, #2505).

## Solution

* On file delete,

[2021-07-05 15:08] boryspoplawski commented on #2503
In your trace `-1594868808` is the last argument to futex, which is unused (ignored) in `FUTEX_WAKE`.
Graphene implements only one clock, so ignoring `FUTEX_CLOCK_REALTIME` should be safe (as application cannot get different times for different clocks).

[2021-07-05 15:11] vans163 commented on #2503
Okay thanks, it seems the issue stems from something else.

[2021-07-05 15:19] boryspoplawski commented on #2503
Unfortunately there seems to be nothing wrong in the logs you've provided, so I won't be able to help more without more information.

[2021-07-05 15:40] boryspoplawski commented on #2504
@jinengandhi-intel please check #2508 it should fix the issue.

`Illegal instruction during Graphene internal execution` was just due to `die_or_inf_loop` which does `ud2`. The general problem is that IPC leader does not wait for all subprocesses to finish, but #2508 should fix the problem temporarily.

[2021-07-05 15:41] mkow commented on #2504
@jinengandhi-intel please format your comments better, the logs in the one above are impossible to read :/

[2021-07-05 16:50] dimakuv commented on #2474
# Analysis of Issue 1

CentOS/Fedora has a problem with `/usr/local/bin` where we install Graphene (actually, Meson installs Graphene; this is the default in Meson).

The `PATH` envvar in CentOS/Fedora doesn't contain `/usr/local/bin` by default. The rationale seems to be "CentOS/RHEL/Fedora is security-oriented and doesn't want the users to run some malicious graphene-sgx  binary by default" (see

[2021-07-05 16:55] dimakuv commented on #2474
## Analysis of Issue 2

Here is the problem (see also https://github.com/oscarlab/graphene/pull/2319 for full context):

We have our Python/PyTorch examples that rely on system-wide installation of Python. Our example manifest file wants to mount Python directories and also add Python scripts as `sgx.trusted_files` (see https://github.com/oscarlab/graphene/blob/master/Examples/python/python.manife

[2021-07-05 17:35] dimakuv commented on #2474
For Issue 1, I submitted https://github.com/oscarlab/graphene/pull/2509 (adds a note to our documentation).

Issue 2 looks unsolvable to me. One has to adopt a manifest file for each new target OS distro (or use venv of Python, but this again means writing a new manifest file).

Finally, Issue 3 (`/etc/default/apport`) can be easily circumvented by removing this line from the manifest file. Since

[2021-07-06 05:34] jinengandhi-intel commented on #2504
Since the log level for the message has been changed from error to warning, I don't see it in the default setting but do see in when I change the log_level to trace, but there are no side-effects of this. As this is just a workaround, I would suggest we keep the issue open as it is a legitimate error which needs to be resolved and don't want this temp fix to mask the issue.

[2021-07-06 05:43] jinengandhi-intel commented on #2419
@pwmarcz @mkow I don't see the Internal memory fault with the mknod test but I see it 3/5 times with procfs test.

Logs below:

[code]

[2021-07-06 07:56] anjalirx-intel commented on #2365
Issue can be seen in latest master

[2021-07-06 07:59] anjalirx-intel commented on #2265
A new syscall has been added to the list recvmsg01

[2021-07-06 08:46] jinengandhi-intel opened #2510 "Stress-ng test lockf hangs with Graphene"
## Description of the problem
Description of lockf test
[code]

Link to the lockf stress-ng test source code: https://github.com/ColinIanKing/stress-ng/blob/master/stress-lockf.c

This test when run under Graphene hangs for any number of stressors. I have attached the logs for lockf running with 8 stressors as well as 1 stressor.
[lockf_8stressor.log](https://github.com/oscarlab/graphene/files/676

[2021-07-06 08:53] dimakuv commented on #2510
@pwmarcz This will be interesting for you. That's a cool stress test for your F_SETLK implementation in Graphene.

[2021-07-06 09:15] pwmarcz commented on #2510
I will take a look. One big limitation of the current locks is that they're uninterruptible, that might be it.

[2021-07-06 09:30] jinengandhi-intel opened #2511 "Tests run with Graphene-SGX (installed from packaged deb) fail with segmentation fault"
## Description of the problem
When we try to run any test with Graphene SGX (installed using deb packages) we are seeing Segmentation fault. The issue is reproducible by the ITL team and is under investigation.

## Steps to reproduce

## Expected results

## Actual results

[2021-07-06 11:13] dimakuv commented on #2265
I looked into `recvmsg01`. It fails in the child process (doesn't affect the execution of the main, parent process).

There is also a detailed comment about this child-failure in our LTP config: https://github.com/oscarlab/graphene/blob/4f8d6fb8b323d62f00be2ac2c7239878b14afc1e/LibOS/shim/test/ltp/ltp.cfg#L1638-L1642

So it's kinda expected to see a memory fault. We may want to disable this particu

[2021-07-06 13:49] dimakuv commented on #2265
https://github.com/oscarlab/graphene/pull/2513 -- I created a PR that skips `recvmsg01` LTP test completely. This is better than having a "half-way" working test.

[2021-07-06 15:30] pwmarcz commented on #2419
Initially I couldn't reproduce the procfs crash, but I found out that it appears only in Ubuntu 18.04 (stress-ng 0.09.25), not Ubuntu 20.04 (stress-ng 0.11.07).

The exact line in stress-ng causing the crash is here: [stress-procfs.c:129](https://github.com/ColinIanKing/stress-ng/blob/V0.09.25/stress-procfs.c#L129)

It looks like we're calling `open()` on a path that changes in the meantime. I thi

[2021-07-06 15:54] dimakuv commented on #2419
@pwmarcz I did only superficial analysis of this, but here's my dump:

---
The assert fires here:
[code]

I am looking at the code of `shim_namei.c: do_path_lookupat()` and can't understand how the name can end up starting with `/`.
There seems to be a data race. I have a feeling that somewhere in pseudo/proc FS code, we have temporary substitute like this `*name = '\0'`. It's some kind of a memor

[2021-07-06 15:57] boryspoplawski opened #2514 "IPC leader does not wait for all processes to finish"
## Description of the problem
If the first process, which is the IPC leader, exits, all other processes cannot use IPC any more. We need to decide on a first process exit policy and implement it. I see two options:
- IPC leader kills all other processes before exiting
- IPC leader just cleans up app resources, but stays alive as long as other processes are still running.

We already have a TODO ab

[2021-07-06 15:58] boryspoplawski commented on #2504
The actual issue is tracked in #2514

[2021-07-06 15:58] #2504 closed

[2021-07-06 16:02] boryspoplawski commented on #2419
I guess we do not do that currently for performance reasons as we do not really have to do that (if the app is not bugged). Linux has to do that for security reasons.

[2021-07-06 16:37] Relyor opened #2515 "Binary file identified as being non-PIE"
Hello,

I am trying to run a C program which is mostly using libusb library.

#include <stdio.h>
#include <unistd.h>
#include <string.h>

#include <libusb.h>

#define OUT_BULK_KINGSTON_ENDPOINT 0x02
#define IN_BULK_KINGSTON_ENDPOINT 0x81

int main(void) {
	libusb_device **devs;
	int r;
	ssize_t cnt;

	r = libusb_init(NULL);
	if (r < 0) {
		printf("%s\n", libusb_error_name(r));
		return r;
	}

	cnt

[2021-07-06 18:35] dimakuv commented on #2419
@boryspoplawski True, but sometimes we have this kind of buggy apps. Plus, performance drop should be negligible. So sounds like a reasonable thing to do.

[2021-07-06 18:41] dimakuv commented on #2515
First, you seem to be using a very old Graphene version. Please try with the latest master commit.

Second, `libusb` works with devices, doesn't it? Graphene currently doesn't support accesses to devices (other than pseudo-devices like `/dev/null`, `/dev/random`). So I don't think Graphene will work at all in your use case.

[2021-07-06 18:42] dimakuv commented on #2265
Accidentally auto-closed this issue. This issue should be actually closed after #2513 is merged.

[2021-07-07 00:39] mkow commented on #2511
Closing, as we don't have any official deb packages yet.

[2021-07-07 00:39] #2511 closed

[2021-07-07 00:49] mkow commented on #2514
The second option seems better to me (I think it's fine if the main process of a user app just spawns something and then exits right away leaving the child).

[2021-07-07 00:56] mkow commented on #2419
I agree with Borys, Linux has to do this, but that's because its security model is opposite to ours.

We shouldn't try to patch around such bugs in apps. It's just another complexity for which I don't see a good enough justification.

[2021-07-07 06:24] dimakuv commented on #2514
But then Graphene will have unexpected behavior: the caller of this user app expects the main process to exit immediately, but instead the caller will hang because the main process is still alive. E.g., when we start Memcached in daemon mode, we expect `memcached -d` to return immediately, and we continue with our Bash session, but with this second option, the process will simply live forever (unt

[2021-07-07 06:48] dimakuv commented on #2419
Ok, I agree that it doesn't make sense to "hide" bugs in the user application. On the other hand, I don't think it has any detrimental effect on performance or complexity.

But I agree, if there is no good justification to add something to Graphene, then we shouldn't add it. And here we don't have a good justification.

So I guess we should just recommend to use stress-ng with a minimal version of

[2021-07-07 09:36] pwmarcz commented on #2419
I think there is a justification: the bug causes Graphene to behave in internally inconsistent ways (break assertions, etc.), this is confusing to us as Graphene developers, and we waste time trying to find a bug in Graphene. That could be avoided if we copied the path, and could depend on it not changing afterwards.

We already *usually* check if user memory is readable, and return `-EFAULT` othe