[2021-07-07 09:52] dimakuv commented on #2419
This also leads to an interesting question: if an application (perhaps inadvertently) relies on a side-effect of the Linux implementation, do we emulate this side-effect in Graphene? Or do we declare this application buggy/not conformant?

[2021-07-07 09:57] boryspoplawski commented on #2419
I guess that depends on the complexity and impact of such quirks. Currently we do support some and I would say we should as we emulate Linux (Graphene is not just some UNIX system), but if the implementation would be hard and the particular quirk weird/hard I would say we could ignore it.

As for adding a path copying to open-like syscalls: I do not directly oppose it (because at some level I agre

[2021-07-07 09:59] boryspoplawski commented on #2514
@dimakuv Well, that call would have `graphene-something` prepended so it wouldn't be *that* surprising. Also going with the first option would just... kill the memcached.

[2021-07-07 10:08] 0400H opened #2516 "ra-tls-mbedtls client failed."
Example:
[ra-tls-mbedtls](https://github.com/oscarlab/graphene/tree/master/Examples/ra-tls-mbedtls)

commit:
f1a9c785128522ae4abc604a7ae10f4d4e7f0573
2fdb529f81e839ef1d9638362c2c02a4e34af79f

Test case:
[code]

Server log:
[code]

Client Error log:

[code]

[2021-07-07 10:28] dimakuv commented on #2516
Are you sure DCAP software stack is correctly installed and working on your machine?

[2021-07-07 10:30] dimakuv commented on #2514
Yes, both options don't work for this daemon case. I was thinking about "electing a new IPC leader" third option, but this sounds... complex.

If choosing between these two options, I also vote for the second option.

[2021-07-07 13:19] pwmarcz opened #2517 "RFC: interruptible POSIX locks"
I'm trying to fix recently added POSIX locks (#2481) so that you can interrupt them, but I ran into a problem trying to do it with current IPC. I don't want to jump and change too much before I learn your opinion.

@boryspoplawski @mkow @dimakuv

## The problem

Graphene's current implementation of POSIX locks (`fcntl`) do not support interrupting the request:

[code]

The `fcntl(F_SETLKW)` in the

[2021-07-07 14:44] mkow commented on #2419
Actually, shouldn't this particular bug also fail sporadically on Linux? And in general, this whole class of bugs. If the path changes in the meantime, then in can also start changing during kernel copy and the kernel would get a partially updated version?

[2021-07-07 14:47] vijaydhanraj commented on #2297
It looks like we don't save the `O_NONBLOCK` flag for the write end of the pipe `fd[1]`. We simply set the `O_NONBLOCK` flag for the `PAL_HANDLE` but this isn't propagated to the `SHIM_HANDLE` when creating pipe. So, when the test tries to verify the `O_NONBLOCK` flag by `fcntl(p[1], F_GETFL)`, graphene looks up the flag from `SHIM_HANDLE` which doesn't have the flag set resulting in the error.

C

[2021-07-07 15:15] pwmarcz commented on #2419
One of the commit messages mentions unexplained errors on some systems, so maybe it did fail on Linux. But kernel copy should take much less time, so it would rarely fail anyway. Graphene lookup takes locks and performs I/O while traversing the path, so there is more time for the string to change.

If we add the proposed fix to Graphene and run the old version of `stress-ng`, I would expect Graphe

[2021-07-07 15:23] boryspoplawski commented on #2514
It does not work in the sense it will stay up and not become a "real daemon". But I think if you want to have Graphene as a daemon process on the host, then you should wrap it in some script doing that. Or, in some future, we could add a `-d` flag to Graphene invocation which would daemonize Graphene as a whole.

[2021-07-07 15:41] pwmarcz commented on #2297
As for `F_SETPIPE_SZ`: seems pretty non-trivial (AFAIK we don't have pipe buffers in LibOS internally, we use sockets from the host), if there are no applications requiring it, there is probably no reason for change.

I agree about fixing the issue with `O_NONBLOCK`, but (on the first look, at least):
* `set_handle_nonblocking` modifies the PAL handle and calls out to host, the comment is right th

[2021-07-07 15:53] 0400H commented on #2516
I have used to run [PPML](https://graphene.readthedocs.io/en/latest/tutorials/pytorch/index.html#background-on-remote-attestation-ra-tls-and-secret-provisioning) in same docker image and "secret_prov_server_dcap" in the host.

The container is running in an environment lacking internet currently.

Does the client need to connect to the Internet for sgx verification?

[2021-07-07 16:30] Relyor commented on #2515
Hi @dimakuv, thanks for the answer.

Is it possible to call all the libusb functions through some ECALLS and run the other part of my program over graphene? If yes, can I find a similar example on github?

[2021-07-07 17:59] dimakuv opened #2519 "Output a Graphene configuration on startup (including insecure options!)"
Right now we print some ad-hoc messages. We need some nice always outputted multi-line configuration message which is printed at every Graphene startup. This configuration message should print out the most important manifest options and also (in red) the enabled insecure options.

[2021-07-07 18:26] vijaydhanraj commented on #2297
OK, so we can leave the `F_SETPIPE_SZ` implementation for now until there is a requirement from an application.

Since we update the `cli->pal_handle` only after calling `set_handle_nonblocking(cli, /*on=*/true);` this https://github.com/oscarlab/graphene/blob/master/LibOS/shim/src/sys/shim_fcntl.c#L36 will simply return 0 due to this check, https://github.com/oscarlab/graphene/blob/master/LibOS/s

[2021-07-07 21:14] dimakuv commented on #2516
The client needs to connect to the PCCS (Provisioning Certificate Caching Service). This service is typically running on premises (in the same data center). E.g., if you're working on MS Azure, PCCS is available on one of the dedicated MS Azure servers. But if you're running in your single-machine testing environment, you probably installed PCCS on your machine.

Anyway, PCCS may require access to

[2021-07-08 02:14] 0400H commented on #2516
@dimakuv

The libraries I install are as follows, it seems that the PCCS is missing currently.

[code]

I will try it later.

[2021-07-08 03:54] vijaydhanraj commented on #2297
Description: Uses getpwnam("nobody") and requires "nobody" user to exist.

Regarding this test case, we can get past the getpwnam("nobody") by adding `/etc/passwd` as part of the allowed files. But the test goes ahead and fails when changing ownership of a test directory. Currently in graphene, `chown` syscall simply verifies if the path is valid and returns without setting the `uid` or `gid`. In

[2021-07-08 05:42] 0400H commented on #2516
@dimakuv

After configuring the PCCS client settings(/etc/sgx_default_qcnl.conf) in container, the issue is solved, thanks.

[2021-07-08 05:42] #2516 closed

[2021-07-08 06:17] dimakuv commented on #2515
@Relyor Currently this is not possible. We have plans for implementing such functionality, but this is rather long-term (6 months from now? I can't say).

[2021-07-08 06:32] dimakuv commented on #2297
@vijaydhanraj Thanks for the analysis!

## TestFile 4: pipe2_04

- I prefer @vijaydhanraj's solution to use `set_handle_nonblocking(cli, /*on=*/true)` instead of @pwmarcz's `cli->flags |= O_NONBLOCK`. Given Vijay's walk-through of the code, `set_handle_nonblocking()` does all the required checks and only updated the shim handle's attributes (and doesn't update the PAL handle's attributes).

  I wo

[2021-07-08 07:24] dimakuv commented on #2517
I prefer option 4.

Option 3 sounds like an overkill to fix this issue (and similar "amend/cancel pending operation" issues). Splitting our nice `ipc_send_message_and_get_response()` into two phases, with some state maintained in-between, sounds complex.

By the way, what is the `struct shim_ipc_message* msg` in your `send_cancel` callback? Why is this argument needed? And what is `msg->seq`, how

[2021-07-08 08:28] Memtwo opened #2520 "Can I run a non-SGX application under SGX environment with graphene?"
I want to rn click modular router, which is a non SGX application, under SGX environment. Can I make it with graphene?

[2021-07-08 08:56] dimakuv commented on #2520
Yes, that's the whole point of Graphene -- enabling an existing non-SGX application in the SGX environment without any modifications to the application itself (the "lift and shift" paradigm). You only need to create an accompanying "manifest" file for your application, so Graphene knows how to "handle" the application.

You can find several examples on enabling apps in Graphene here: https://githu

[2021-07-08 09:03] pwmarcz commented on #2517
I agree; on the other hand, option 4 sounds over-specific. But since it seems cheap, maybe it doesn't hurt to try it out. I'll try finishing my branch with option 4 and we'll see how it looks.

It was supposed to be the original message (`lock_msg`). I need `seq` which is a message identifier (currently added by `ipc_send_message_and_get_response`), so that the "cancel" message says *which* operat

[2021-07-08 09:07] pwmarcz commented on #2297
I didn't read so deep. Then I agree, `set_handle_nonblocking()` is cleaner and there's no reason not to use it.

[2021-07-08 10:20] anjalirx-intel commented on #2265
Closing this defect now. We will be opening another defect for chroot03 with more details on how to reproduce this issue

[2021-07-08 10:20] #2265 closed

[2021-07-08 10:23] anjalirx-intel commented on #2364
Fixed with latest master. Closing this issue now

[2021-07-08 10:23] #2364 closed

[2021-07-08 22:49] vijaydhanraj commented on #2297
The LTP test will still fail as the test calls `F_GETPIPE_SZ ` next to validate the pipe size that was previously set.

[2021-07-09 01:19] vijaydhanraj commented on #2297
Thanks, @dimakuv @pwmarcz for the feedback. I have created PR https://github.com/oscarlab/graphene/pull/2524 to address this issue.

[2021-07-09 01:28] vijaydhanraj commented on #2297
Description: It requires O_TMPFILE support
TestFile : openat03
Description: It requires O_TMPFILE support

Regarding these test cases, yes graphene currently doesn't support the creation of an unnamed temporary regular file. We basically fail here, https://github.com/oscarlab/graphene/blob/master/LibOS/shim/src/fs/shim_namei.c#L548.

The error is as expected according to man page, https://man7.org

[2021-07-09 06:50] dimakuv commented on #2297
How bad is it to add a new SHIM_HANDLE-only attribute for pipe size (*not* propagating this to PAL)? And set this attribute on F_SETPIPE_SZ and read this attribute on F_GETPIPE_SZ? This will be a dummy but will make applications happy. Actually, is it purely a performance optimization on Linux, or does it actually have some functional behavior?

[2021-07-09 06:57] dimakuv commented on #2297
Regarding this, looks like we should wait with this implementation (looks like non-trivial). I would hope for @pwmarcz to add this at some point during his FS work, since he knows these parts the best. Or just ignore this for now, until some real-world application requires this feature.

[2021-07-09 08:30] tomolenet opened #2527 "Run command as specific user in gsc"
## Description of the problem
We try to run a command as a specific user inside a graphene container. We do not want the `root` user to execute our commands.

## Steps to reproduce

Follow the instructions of the [Graphene Shielded Containers](https://graphene.readthedocs.io/en/latest/manpages/gsc.html#example).

In **Step 3** do not use the prebuild python image. Use a custom Dockerfile with a cu

[2021-07-09 09:17] dimakuv commented on #2527
Good catch. Indeed, we just assumed the `root` user in GSC Dockerfiles.

@vahldiek Do you know of a quick fix for this?

[2021-07-09 14:59] monavij commented on #2520
Alternatively you can also package your application in a Docker container and then use our tool called GSC that will automatically create the manifest and wrap your application in Graphene with SGX. But GSC is also under development so has certain limitaions in current version.

[2021-07-09 20:59] vahldiek commented on #2527
I believe the easiest, since ```sudo``` is not always installed in docker images (and certainly not in ```ubuntu:18.04```), would be to remove the ```USER``` keyword from the docker file and instead pass it as a runtime argument to ```docker run --user myuser```.

Alternatively, one could generate the GSC image without the ```USER``` keyword and afterwards from the GSC image create another image t

[2021-07-10 08:36] tomolenet commented on #2527
There is one problem with these solutions. The [entrypoint scripts](https://github.com/oscarlab/graphene/blob/master/Tools/gsc/templates/apploader.template) need root permissions too.

[2021-07-11 12:46] mkow commented on #2419
So, at least to me, it seems that:
* Such kind of races should also fail on Linux, just more rarely.
* Implementing the copying is syscall-specific and will rather take non-negligible amount of work.
* But sometimes may save us some debugging of crashes.

So, overall I'm rather opposed to implementing this, mostly because of the first point.

[2021-07-11 13:43] mkow commented on #2517
How does 4. work with both messages? Will we wait for responses for both? (original lock + cancel msg)
Overall it seems like an ok solution for now.

[2021-07-11 13:54] mkow commented on #2527
It shouldn't, but maybe some permissions on the FS are wrong and that's why it fails? Overall running Graphene shouldn't require root, but on some distros it may require being in specific groups to get access to the SGX devices (`/dev/sgx/*`).

[2021-07-11 14:12] tomolenet commented on #2527
[code]

This is what I did. But there are no permissions on `/entrypoint.token`.

[2021-07-11 23:51] boryspoplawski commented on #2517
1. `seq` wasn't mean to be a public interface, it was intended to stay inside IPC implementation. Using it outside and sending two messages with same `seq` may break some core assumptions.
2. `ipc_send_message_and_get_response` is not interruptible by design. It's meant to be an internal mechanism and all public IPC interfaces are meant to be building blocks for other subsystems. Response messages

[2021-07-12 05:50] vijaydhanraj commented on #2297
Implementing dummy code just for LTP doesn't seem helpful. If there is a real-world application that is gated, then we can go ahead and implement this.  This is my thought, but I don't mind implementing dummy code.

[2021-07-12 05:52] vijaydhanraj commented on #2297
Yes, this is not trivial, and it needs special handling as far as I understand. We can hold off on this one.

[2021-07-12 06:12] dimakuv commented on #2256
@aneessahib will work on this bug. Anees, please comment here (with any text), because only commenters on issues can be put into "Assignees".

[2021-07-12 06:15] aneessahib commented on #2256
Able to repro the issue. debugging this now.

[2021-07-12 06:17] dimakuv commented on #2419
Ok, looks like the consensus is that bugs in the app are allowed to crash/trigger asserts in Graphene. Then the solution for this issue is to ask to use newer stress-ng version. And there is nothing to do in Graphene. Should we close this issue then, @jinengandhi-intel ?

[2021-07-12 06:20] jinengandhi-intel commented on #2419
Sure, we will upgrade the systems and try the newer version in the coming sprint and raise a separate issue if we still see similar errors. For now, closing the issue.

[2021-07-12 06:20] #2419 closed

[2021-07-12 07:23] dzygann opened #2529 "GSC throws runtime error during signing"
## Description of the problem
Hi,
We are trying to run the mumble-server (murmur) in GSC. Unfortunately, the signing step runs into the following error:
[code]

## Steps to reproduce

- We changed in the config.yaml the branch commit to this one: `dimakuv/libos-better-socket-pending-options`
- Run `./gsc build --insecure-args murmur test/ubuntu18.04-murmur.manifest`
- Run `./gsc sign-image murmur

[2021-07-12 07:44] dimakuv commented on #2529
This is a known current limitation of GSC. GSC only works with the specific (and rather old) commit of Graphene: 2e737e69f076c60918f87d6829bb769925e75fec. See the warning at the top of the page https://graphene.readthedocs.io/en/latest/manpages/gsc.html.

We have plans to update GSC to track a later commit of Graphene. However, there is always this caveat that GSC doesn't work with *any* commit of

[2021-07-12 11:55] anjalirai-intel opened #2531 "Random LTP test fails with "IPC process-exit notification fails" or "Failed to send IPC msg" or "Failed to exchange the secret key via RPC""
## Description of the problem
For random tests we are seeing the following errors after the tests have finished and the return code for the test is 0.
Graphene-Native:
**waitpid03**
[code]

**waitpid04**
[code]
**fcntl12_64**
[code]
**recv01**
[code]

**recvfrom01**
[code]

Graphene-SGX:
**sendfile04**
[code]

**fork08**
[code]

[code]

**Stress-Ng Test:**

1. graphene-direct stress-ng --kill 0 --

[2021-07-12 16:09] dzygann commented on #2529
Hi @dimakuv,
thanks for your input. We could solve the issue, by branching the last working commit and cherry-picking your commit.

For everyone who is interested: https://github.com/jefrww/graphene/tree/rollbackcherrypick

[2021-07-12 17:48] vahldiek commented on #2527
The issue is that user IDs inside docker don't necessarily match the once found outside. The best discussion of this I could find is documented here: https://blog.gougousis.net/file-permissions-the-painful-side-of-docker/

Basically, when creating a new user ID inside Docker, make sure that it matches the user ID outside, otherwise file permission won't work. The same holds true for group membersh

[2021-07-12 18:35] #36 closed

[2021-07-12 18:38] mkow commented on #207
Ok, closing then (seems we missed that this is already reasolved).

[2021-07-12 18:39] #207 closed

[2021-07-12 20:14] mkow commented on #416
I don't think we have doing this in our plans, closing.

[2021-07-12 20:14] #416 closed

[2021-07-12 20:20] mkow commented on #396
So far it seems that the newly added Go support is working, so I'm closing this one.

[2021-07-12 20:20] #396 closed

[2021-07-12 20:23] mkow commented on #445
I believe this was fixed while rewriting the code, at least the places I knew about.

[2021-07-12 20:23] #445 closed

[2021-07-12 20:35] boryspoplawski commented on #2506
The TOCTOU part is already solved, see the last comment in #635.

[2021-07-12 20:50] mkow commented on #495
SYS-V synchronization was removed from Graphene due to it's poor implementation quality, so this issue is no longer relevant.

[2021-07-12 20:50] #495 closed

[2021-07-12 20:57] mkow commented on #506
Seems that all of this was done while rewriting the codebase.

[2021-07-12 20:57] #506 closed

[2021-07-12 21:17] mkow commented on #602
@duanbing: Would you be able to produce a small repro for this?

[2021-07-12 21:17] #624 closed

[2021-07-12 22:13] boryspoplawski opened #2532 "[Pal/SGX] `EINTR` injection is broken"
## Description of the problem

If an async signal happens while handling an ocall, `-EINTR` is injected and code returns back to the enclave as the actual host-level syscall was interrupted.
https://github.com/oscarlab/graphene/blob/4cb98219d8e302055587a8952c1102415a72ba42/Pal/src/host/Linux-SGX/sgx_exception.c#L184
If this happens after the syscall was actually done and before returning back to t

[2021-07-12 22:15] boryspoplawski opened #2533 "[Pal/SGX] Rework `enclave_entry.S`"
## Description of the problem
`enclave_entry.S` is a place holding code which manages, well, enclave entry. This includes all kinds of entries:
- ecalls,
- ocalls,
- ocall returns,
- exception handling entries,
- ocalls  from exceptions,
- ...

The code has a couple of problems:
- some already described in: #2532 #292 #637
- stack overflows, e.g. issuing multiple exception handling entries - while

[2021-07-12 23:04] #2520 closed

[2021-07-12 23:07] mkow commented on #635
Ok, so, the only thing left here is implementing something like `__user` to ensure that the compiler checks this?

[2021-07-12 23:09] mkow commented on #2506
Right, I updated that point.

[2021-07-12 23:13] boryspoplawski commented on #635
That would be for ensuring proper accesses to untrusted memory from inside enclave (not only for preventing TOCTOU issues),

[2021-07-12 23:14] mkow commented on #2474
@anjalirx-intel ping ^
I think we can close this issue now?

[2021-07-12 23:16] mkow commented on #872
I believe this is outdated, see #2106.

[2021-07-12 23:16] #872 closed

[2021-07-12 23:25] mkow commented on #1152
I think this is outdated, AFAIK OpenJDK should work under current version of Graphene. Feel free to reopen if the issue is still present actually.

[2021-07-12 23:25] #1152 closed

[2021-07-12 23:32] mkow commented on #1391
This seems to just be a user configuration error, closing.

[2021-07-12 23:32] #1391 closed

[2021-07-12 23:36] mkow commented on #1569
No reply from the reporter, closing. @manojgop feel free to reopen if the issue still occurs on the current master.

[2021-07-12 23:36] #1569 closed

[2021-07-12 23:37] mkow commented on #1642
Already done, closing.

[2021-07-12 23:37] #1642 closed

[2021-07-12 23:43] #1950 closed

[2021-07-12 23:47] mkow commented on #2144
I don't think this is something we actually plan to implement. There's a partial support for this after FS rewrite (I think only user permissions), but the rest doesn't seem to be worth implementing.

[2021-07-12 23:47] #2144 closed

[2021-07-12 23:48] #2164 closed

[2021-07-12 23:49] #2213 closed

[2021-07-12 23:51] mkow commented on #2221
@sindhuamir please try again on current master, we implemented POSIX locks recently.

[2021-07-12 23:51] #2233 closed

[2021-07-12 23:52] #2251 closed

[2021-07-12 23:53] #2235 closed

[2021-07-12 23:55] #2293 closed

[2021-07-12 23:56] #2323 closed

[2021-07-12 23:56] #2327 closed

[2021-07-12 23:57] mkow commented on #2332
No response from the reporter, closing (and this seems to be just a misconfiguration).

[2021-07-12 23:57] #2332 closed

[2021-07-12 23:59] mkow commented on #2363
No response from the reporter, closing (and seems to be a network issue on their side).

[2021-07-12 23:59] #2363 closed

[2021-07-13 00:01] #2435 closed

[2021-07-13 00:01] mkow commented on #2436
No reply from the reporter and seems to be already fixed, closing.

[2021-07-13 00:01] #2436 closed

[2021-07-13 02:38] vijaydhanraj commented on #2296
@anjalirx-intel, is this still reproducible on the latest master? I am not able to repro this issue.
[code]

[code]

[code]

[2021-07-13 02:59] duanbing commented on #602
@mkow I fixed it by increasing the enclave_size as far as I recall.

[2021-07-13 04:33] anjalirx-intel commented on #2474
@mkow Yes, we can. Closing the issue now

[2021-07-13 04:33] #2474 closed

[2021-07-13 04:45] jinengandhi-intel commented on #2068
Local CI add the file paths to manifest file and emulates the paths forcefully.

[2021-07-13 05:22] anjalirx-intel commented on #2296
Hi @vijaydhanraj, i can still see this issue. Can you please tell me which config are you using, or do you have done any additional settings.

This is my config, result and commit details
Git
[code]

graphene-direct pipe07
[code]

cat /etc/os-release
[code]

[2021-07-13 06:37] dimakuv commented on #602
Ok, let's close this issue then.

[2021-07-13 06:37] #602 closed

[2021-07-13 06:45] anjalirx-intel commented on #2069
Retested with release 1.2rc1 and issue is still reproducible

[2021-07-13 06:46] anjalirx-intel commented on #2143
Retested with release 1.2rc1 and issue is still reproducible

[2021-07-13 06:46] anjalirx-intel commented on #2291
Retested with release 1.2rc1 and issue is still reproducible

[2021-07-13 10:19] tomolenet commented on #2527
Thanks for your reply. That is true. But I do not mount  the `entrypoint.token` or `entrypoint.sig` at any point in Docker. These files should be generated by `/graphene/python/graphene-sgx-get-token`. Maybe the custom `user` has no permissions to write at `/`?

[2021-07-13 16:12] vijaydhanraj commented on #2296
Even I on the same graphene commit `4cb98219d8e302055587a8952c1102415a72ba42` and using the Ubuntu 18.04. But one thing is, I am on the 4.15 kernel and using the Intel OOT driver.

[2021-07-14 06:04] anjalirx-intel opened #2536 "epoll_pwait syscall fails when sigmask argument is specified"
## Description of the problem
epoll_pwait unable to block signal when sigmask is specified
epoll_pwait(2) with sigmask argument allows the caller to safely wait until either a file descriptor becomes ready or the timeout expires.

## Steps to reproduce
Run LTP Test epoll_pwait01

## Expected results
epoll_pwait01    1  TPASS  :  epoll_pwait(sigmask) blocked signal
epoll_pwait01    0  TINFO  :  Chi

[2021-07-14 06:08] anjalirx-intel opened #2537 "Filesystem does not support real SEEK_DATA/SEEK_HOLE"
## Description of the problem
filesystem maybe use generic_file_llseek(), not support real SEEK_DATA/SEEK_HOLE

## Steps to reproduce
Run LTP Test lseek11

## Expected results
TINFO: The block size is 4096
TPASS: The 0th test passed: SEEK_DATA from startblock 0 offset 0
TPASS: The 1th test passed: SEEK_DATA from startblock 0 offset 4
TPASS: The 2th test passed: SEEK_HOLE from startblock 0 offset 0

[2021-07-14 06:16] anjalirai-intel opened #2538 "Syscalls should fail with EBADF, but successfully goes through"
## Description of the problem
Following syscalls should fail with EBADF, but they are successful in Graphene.
A file descriptor is obtained that can be used to perform operations  that act purely at the file descriptor level, the file itself is  not opened, the operations read(2), write(2), fchmod(2), fchown(2) fail with the error EBADF.

## Steps to reproduce
Execute attached files
open13_setup i

[2021-07-14 06:18] anjalirai-intel opened #2539 "pread fails when file descriptor refers to a directory"
## Description of the problem
pread() should return -1 and errno should be EISDIR.

## Steps to reproduce
Run LTP Test pread03

## Expected results
pread03     1  TPASS  :  pread() fails with expected error EISDIR errno:21

## Actual results
pread03    1 TFAIL : pread() fails, EISDIR, unexpected errno:13, expected:21

## Label
P0, bug

[2021-07-14 06:20] anjalirai-intel opened #2540 "readv system calls executes successfully fails when fd refers to a directory"
## Description of the problem
Testcase to check the error condition of the readv(2) system call when fd refers to a directory.

## Steps to reproduce
Run LTP test readv03

## Expected results
readv03     1  TPASS  :  got EISDIR

## Actual results
readv03     1  TFAIL  :  Error: readv returned a positive value: errno=SUCCESS(0): Success

## Label
P0, bug

[2021-07-14 06:26] anjalirai-intel opened #2541 "sendfile syscall fails to copies data when offset argument is specified"
## Description of the problem
sendfile returns -1 when sendfile syscall is tested with different offset argument specified

Testcase to test the basic functionality of the sendfile(2) system call.
call sendfile(2) with offset = 0
call sendfile(2) with offset in the middle of the file(2, 4, 6)

If offset is not NULL, then it points to a variable holding the file offset from which sendfile() will st

[2021-07-14 06:29] anjalirai-intel opened #2542 "sendfile system call fails to update file position of in_fd correctly when passing NULL as offset."
## Description of the problem
If offset is NULL, then data will be read from in_fd starting at the file offset, and the file offset will be updated by the call.
TC: Testcase to test that sendfile(2) system call updates file position of in_fd correctly when passing NULL as offset.

## Steps to reproduce
Run LTP test sendfile06

## Expected results
sendfile06    1  TPASS  :  functionality of sendfil

[2021-07-14 06:35] anjalirai-intel opened #2543 "Graphene is creating file with wrong permissions and also reading it incorrectly"
## Description of the problem
TestCase is trying to create a file with 0777 permissions, the file created has 0755 permissions and Graphene is reporting the file permissions as 700

TC: umask(2) sets the mask from 0000 to 0777 while we create files, the previous value of the mask should be returned correctly, and the file mode should be correct for each creation mask

## Steps to reproduce
Run LTP

[2021-07-14 08:47] anjalirx-intel opened #2544 "Graphene does not support shared futexes b/w processes"
## Description of the problem
Shared futexes does not wake up and fails with error "tst_checkpoint_wait(0, 10000): ETIMEDOUT (110)" followed by "tst_checkpoint_wake(0, 1, 10000): errno=ETIMEDOUT(110): Connection timed out"

## Steps to reproduce
Run following LTP tests. For some of the tests manifest file update may be required.

1. dirtyc0w
2. futex_wait02
3. getsockopt02
4. pause01
5. pipe02
6.

[2021-07-14 09:00] dimakuv commented on #334
This was fixed long ago in both PALs.

- Linux PAL re-uses the stacks left from the exited threads (so the memory leak is kinda there, but it is capped): https://github.com/oscarlab/graphene/blob/4cb98219d8e302055587a8952c1102415a72ba42/Pal/src/host/Linux/db_threading.c#L25

- Linux-SGX PAL frees the untrusted stack at thread exit: https://github.com/oscarlab/graphene/blob/4cb98219d8e302055587a895

[2021-07-14 09:00] #334 closed

[2021-07-14 09:06] dimakuv commented on #365
This was fixed long time ago by this commit: https://github.com/oscarlab/graphene/commit/4485f5af9883c4996137ab4c8ff1e7bb1a257bac

[2021-07-14 09:06] #365 closed

[2021-07-14 09:07] dimakuv commented on #377
We are in the middle of migration to Meson which forces to have out-of-source-tree builds. Given that this is already the case even with our current half-way Meson build system, I'm closing this issue.

[2021-07-14 09:07] #377 closed

[2021-07-14 09:15] anjalirai-intel opened #2545 "BUG() called during execution of unlink05 test from LTP"
## Description of the problem
unlink05 throwed Illegal instruction error at the 2nd test

## Steps to reproduce
Execute attached files
unlink05_setup in linux environment and unlink05_run with graphene-direct
$ ./unlink05_setup
$ graphene-direct ./unlink05_run

## Expected results
[code]

## Actual results
[code]

[unlink05.zip](https://github.com/oscarlab/graphene/files/6814933/unlink05.zip)

[2021-07-14 09:22] anjalirx-intel opened #2547 "Test fails in unlinking of writable directory and breaks without reporting results"
## Description of the problem
Unlinking of a writable directory fails and test fails with "TBROK: Test 0 haven't reported results!"

## Steps to reproduce
Execute attached files
unlink08_setup in linux environment and unlink08_run with graphene-direct
$ ./unlink08_setup
$ graphene-direct ./unlink08_run

## Expected results
[code]
## Actual results
[code]

## Label
bug
[unlink08.zip](https://github

[2021-07-14 09:26] anjalirai-intel opened #2548 "chroot syscall fails with Internal Memory Fault"
## Description of the problem
chroot syscall fails with Internal Memory Fault

## Steps to reproduce
Execute attached files
chroot03_setup in linux environment and chroot03_run with graphene-direct
$ ./chroot03_setup
$ graphene-direct ./chroot03_run

## Expected results
chroot03    1  TPASS  :  failed as expected: TEST_ERRNO=ENAMETOOLONG(36): File name too long
chroot03    2  TPASS  :  failed as e

[2021-07-14 09:28] dimakuv commented on #381
This limitation is still there. I once tried to fix it with this (not merged) PR: https://github.com/oscarlab/graphene/pull/1511.

But the problem with sending ancillary data in `sendmsg` (via `SCM_RIGHTS` flag) is not so trivial: we need to checkpoint the corresponding shim handle and send it to the other process, where this shim handle must be restored (and the corresponding PAL handle re-create

[2021-07-14 09:30] boryspoplawski commented on #1418
This is an old issue, but this is still the case and that's by design.

This is actually the only case that we support. There is a special manifest entry that enables one-time injecting of SIGTERM just to handle graceful exits.

This are not supported and are not meant to be. In general case being able to arbitrarily inject signals could be a security issue. If your use case really needs that, you

[2021-07-14 09:30] #1418 closed

[2021-07-14 09:32] anjalirx-intel opened #2549 "access01 syscalls fails for nobody and root user when checked individually"
## Description of the problem
In this test multiple files and directories are created with different users and permissions and there are total of 199 testcases that verify the accessibility of the files and directories. Currently only those testcases which check for for both (nobody and root) user are getting passed.
The testcases which are of nobody user throws exception: TBROK: Test haven't repo

[2021-07-14 09:35] dimakuv commented on #382
From what I see, the issue is still there: https://github.com/oscarlab/graphene/blob/4cb98219d8e302055587a8952c1102415a72ba42/LibOS/shim/src/fs/chroot/fs.c#L1013

Definitely looks like a bug. Assigning Priority 1 to this. Hopefully will be fixed as part of a Big Chroot Rewrite.

[2021-07-14 09:46] dimakuv commented on #392
We added `attribute((format(printf)))` everywhere and fixed all related issues long ago. Closing.

[2021-07-14 09:46] #392 closed

[2021-07-14 09:49] dimakuv commented on #435
Still valid issue: https://github.com/oscarlab/graphene/blob/4cb98219d8e302055587a8952c1102415a72ba42/LibOS/shim/src/sys/shim_epoll.c#L373

We haven't encountered any real-world problems with this though, so this is very low priority.

[2021-07-14 09:53] dimakuv commented on #443
Duplicate of #895. Let's close this issue and track all progress in #895.

[2021-07-14 09:53] #443 closed

[2021-07-14 10:08] boryspoplawski commented on #440
Update of the issue wrt the current state of Graphene:
the issue is still present, but can be fixed with the same manner as #2313 fixed it for IPC worker thread. The problem is that it requires rewriting async thread, which needs to be done, but is not a big priority.

[2021-07-14 11:08] dimakuv commented on #469
Pawel will look more into this, but for now I'm assigning Priority 2 since this doesn't look like blocking any workloads.

[2021-07-14 11:11] dimakuv commented on #485
This is still the case on current master: https://github.com/oscarlab/graphene/blob/4cb98219d8e302055587a8952c1102415a72ba42/Pal/src/host/Linux/db_devices.c#L43

Even though this particular piece of code was rewritten.

This doesn't seem to matter to real-world applications, so assigning very low priority to this.

[2021-07-14 11:16] dimakuv commented on #504
As already mentioned previously, we have the warning: https://github.com/oscarlab/graphene/blob/4cb98219d8e302055587a8952c1102415a72ba42/Pal/src/host/Linux-SGX/db_memory.c#L79

We do return `0` (i.e., success), but this is better than returning an error code and breaking applications. SGX2/EDMM support is on its way (https://github.com/oscarlab/graphene/pull/2190), so the current solution seems fi

[2021-07-14 11:16] #504 closed

[2021-07-14 12:01] anjalirx-intel commented on #2296
I have tested on the same config which you have mentioned, i am still facing this issue.

[2021-07-14 12:15] anjalirai-intel opened #2550 "Opening dir should fail with EISDIR but gets opened successfully"
## Description of the problem
1. Opening device special file with O_RDONLY or O_WRONLY or O_RDWR permission fails
2. Opening a symlink dir with O_RDONLY | O_CREAT should fails with error EISDIR but got SUCCESS
3. Opening a dir with O_RDONLY | O_CREAT should also fail with EISDIR error but got success

## Steps to reproduce
Execute attached files
open11_setup in linux environment and open11_run wit

[2021-07-14 12:27] dimakuv commented on #570
Pawel will look at it again, but just in case, I'm assigning this bug Priority 1 (if this bug is still there).

[2021-07-14 12:34] orangecalculator opened #2551 "rename on protected files make them not available to open"
## Description of the problem
Invoking `rename` system call makes them not available to open.

After some research, I think the reason is because protected files have their original filename in the header, but renaming the file does not change the header correspondingly, so the filename does not match the changed filename, which causes reading the file to fail.

## Steps to reproduce

I have used

[2021-07-14 12:39] mkow commented on #2551
Could you try #2521? Disclaimer: it's still under review, so use it with caution :)

[2021-07-14 12:42] dimakuv commented on #637
Closing since the specific issue is resolved (by relying on `SECS.NSSA == 2`, validated by the SGX hardware), and since Borys created a new meta-issue #2533.

[2021-07-14 12:42] #637 closed

[2021-07-14 12:45] orangecalculator commented on #2551
My mistake. This is what I was thinking about. I guess I should close this issue.

[2021-07-14 12:45] #2551 closed

[2021-07-14 12:50] dimakuv commented on #647
`mcast_port` was removed long time ago.

`instance_id` is populated inside the enclave now (very recent change by Borys): https://github.com/oscarlab/graphene/blob/4cb98219d8e302055587a8952c1102415a72ba42/Pal/src/db_main.c#L276-L282

So the issue can be closed.

[2021-07-14 12:50] #647 closed

[2021-07-14 12:52] dimakuv commented on #674
Item 2 is still not fixed on current master: https://github.com/oscarlab/graphene/blob/4cb98219d8e302055587a8952c1102415a72ba42/Pal/src/host/Linux-SGX/sgx_enclave.c#L334

Though it's not very important, so Priority 2.

[2021-07-14 13:12] dimakuv commented on #2551
This is not implemented and is currently not in plans. Not sure if there is a legitimate usecase for this.

But anyway, thanks for the great issue! Really appreciate this analysis!

[2021-07-14 13:19] dimakuv commented on #675
The issue was abandoned, but it looks like the issuer wanted to connect a Graphene instance with some non-Graphene instance. This is impossible in Graphene model.

UNIX domain sockets work fine, we have a test for them: https://github.com/oscarlab/graphene/blob/4cb98219d8e302055587a8952c1102415a72ba42/LibOS/shim/test/regression/unix.c#L1

This test also has a top-level comment saying that only two

[2021-07-14 13:19] #675 closed

[2021-07-14 13:21] dimakuv commented on #685
Actually, I don't see a reason for this. Adding stuff on-demand looks like a reasonable strategy in Graphene. Closing this issue, but if someone has strong feelings, we can reopen it.

[2021-07-14 13:21] #685 closed

[2021-07-14 13:23] dimakuv commented on #689
I don't know why this issue is marked as FS-related. @mkow ?

Anyway, this is very low priority. We haven't yet encountered any real-world applications that depend on these syscalls.

[2021-07-14 13:25] dimakuv commented on #720
`ENABLE_ASLR` was removed long time ago.

[2021-07-14 13:25] #720 closed

[2021-07-14 13:29] dimakuv commented on #746
The PR is there (#2269) but it is currently blocked on Meson rewrite and proper installation/packaging of Graphene.

[2021-07-14 13:31] dimakuv commented on #750
This is still valid for the latest master: https://github.com/oscarlab/graphene/blob/af2f7809b36945382a535f95c2af7a2b32a2059a/LibOS/shim/src/sys/shim_alarm.c#L98

However, we haven't encountered any real-world applications that rely on this. So the priority is low.

[2021-07-14 13:35] dimakuv commented on #767
I don't remember why I needed this feature. It's dangerous to map address `0x00` and I'm not aware of any application that would require this. Closing.

[2021-07-14 13:35] #767 closed

[2021-07-14 13:36] dimakuv commented on #769
This metaissue is of little value. We know that some code must be cleaned up / refactored. Closing.

[2021-07-14 13:36] #769 closed

[2021-07-14 13:38] dimakuv commented on #785
This is still valid for the current master: https://github.com/oscarlab/graphene/blob/af2f7809b36945382a535f95c2af7a2b32a2059a/LibOS/shim/src/sys/shim_wait.c#L231

Though we haven't encountered any real-world applications that rely on this, so assigning very low priority.

[2021-07-14 13:39] dimakuv commented on #786
This is true: https://github.com/oscarlab/graphene/blob/af2f7809b36945382a535f95c2af7a2b32a2059a/LibOS/shim/src/sys/shim_stat.c#L158-L163

However, the priority of this is very low. Does any application truly care?

[2021-07-14 13:43] dimakuv commented on #787
This is still valid on current master: https://github.com/oscarlab/graphene/blob/f1a9c785128522ae4abc604a7ae10f4d4e7f0573/LibOS/shim/src/sys/shim_file.c#L239

I actually prefer to close this issue. We don't care about file permissions. Pawel, feel free to re-open if you think this is important.

[2021-07-14 13:43] #787 closed

[2021-07-14 13:45] dimakuv commented on #789
Still valid on current master: https://github.com/oscarlab/graphene/blob/af2f7809b36945382a535f95c2af7a2b32a2059a/LibOS/shim/src/sys/shim_epoll.c#L465-L466

Given that we have complete and correct signal handling in LibOS (courtesy of Borys), this could actually be easily implemented. But we haven't encountered applications that rely on this, so priority is low.

[2021-07-14 13:48] dimakuv commented on #1814
Is this issue still relevant? I don't think we had any problems with GDB integration recently, and a small patch in Glibc doesn't hurt.

I would consider GDB integration done.

[2021-07-14 13:48] dimakuv commented on #794
This was fixed at some point by Pawel. Closing.

[2021-07-14 13:48] #794 closed

[2021-07-14 13:53] dimakuv commented on #836
I don't think this issue applies anymore, since the FS-agnostic code (and also the `shim_dir_handle` code) was rewritten by Pawel extensively.

[2021-07-14 13:53] #836 closed

[2021-07-14 13:56] dimakuv commented on #880
This issue was fixed in this commit: https://github.com/oscarlab/graphene/commit/66d8e61453da7bec667936feaf494672eaded4d8#diff-1e1e63718feef3de130985c2241ef89172b3fa89cba1ee1f6e7fec33de7d1cfb

[2021-07-14 13:56] #880 closed

[2021-07-14 14:01] dimakuv commented on #903
The rename syscall was mostly fixed by Borys in https://github.com/oscarlab/graphene/pull/943. But there are still cases that are broken. So keeping this issue open and adding rather-high priority.

[2021-07-14 14:06] bigdata-memory opened #2552 "Proper implementation of eventfd"
## Description of the problem
As we know, we have to enable the following option in manifest to use evenfd related syscall.
`sys.insecure__allow_eventfd = 1`
The reason is that the internal counter value maintained by kernel outside of SGX enclave. some applications relies on event fd for complex networking operations. e.g. ipykernel.

[2021-07-14 14:07] #2087 closed

[2021-07-14 14:08] dimakuv commented on #905
LibOS ELF loader was completely reworked recently by Pawel, and `setup_elf_hash()` is not even present in the reworked code. Closing this.

[2021-07-14 14:08] #905 closed

[2021-07-14 14:09] dimakuv commented on #915
This issue is mostly irrelevant to Graphene, and this effort was completely abandoned. Let's close it for now, though it would be very nice to have.

[2021-07-14 14:09] #915 closed

[2021-07-14 14:17] dimakuv commented on #921
There was no movement on this, and I think nobody really has any problems with this. Closing.

[2021-07-14 14:17] #921 closed

[2021-07-14 14:21] dimakuv commented on #951
We rewrote `sendfile` implementation but there are quite a few TODOs and corner cases: https://github.com/oscarlab/graphene/pull/2500. So keeping this issue open.

[2021-07-14 14:25] mkow commented on #2242
I'm still not sure what this issue is about, closing until we get more details.

[2021-07-14 14:25] #2242 closed

[2021-07-14 14:27] dimakuv commented on #977
In these two years, we fixed a lot of such performance bugs in Graphene. We haven't heard any complaints about NumPy recently, so closing this.

[2021-07-14 14:27] #977 closed

[2021-07-14 14:31] dimakuv commented on #1013
We removed Sys-V stuff from Graphene recently. So now Apache just fails with:
[code]

Closing this issue as not relevant.

[2021-07-14 14:31] #1013 closed

[2021-07-14 14:38] dimakuv commented on #1030
It looks like  the memory leak of PAL handle in `_DkThreadExit()` is still there.

This is how it is created in both PALs:
- https://github.com/oscarlab/graphene/blob/af2f7809b36945382a535f95c2af7a2b32a2059a/Pal/src/host/Linux-SGX/db_threading.c#L97
- https://github.com/oscarlab/graphene/blob/4f0927ff993c9e34aa20d6bad93fad47e2daa2ef/Pal/src/host/Linux/db_threading.c#L147

And there is no free of t

[2021-07-14 14:39] dimakuv commented on #1030
This is a very small memory leak (hundred bytes for each thread?), so the priority is low.

[2021-07-14 14:43] dimakuv commented on #1046
@boryspoplawski Should we keep this issue? Probably still exists (maybe will be fixed after moving to Meson). But in general, can this happen in practice? Is this something that was detected on Jenkins CI? And what priority would you assign?

[2021-07-14 14:48] dimakuv commented on #1072
We circumvent this by having `loader.pal_internal_mem_size` manifest option -- both our PALs allocate this amount of memory at startup and inform the LibOS to never use this PAL-allocated memory. This is just a workaround because it is static, not dynamic. But it works Okish for now. So keeping this issue but with very low priority.

[2021-07-14 14:51] dimakuv commented on #1131
This is a duplicate of some other issues (e.g. https://github.com/gramineproject/gramine/issues/50), so closing this.

[2021-07-14 14:51] #1131 closed

[2021-07-14 14:58] dimakuv commented on #1188
This should be still the case in current master (though I didn't verify). It's unclear though if applications use such patterns (using both read/write accesses and mmap accesses at the same time on the same file region). Thus the priority is not too high.

[2021-07-14 15:01] dimakuv commented on #1236
This needs to be done. Quite important.

[2021-07-14 15:03] dimakuv commented on #1389
Actually, I don't know of anyone who ever needed this. Also, we have more documentation on attestation now: https://graphene.readthedocs.io/en/latest/attestation.html. So closing this issue.

[2021-07-14 15:03] #1389 closed

[2021-07-14 15:04] mkow commented on #2552
This isn't a security vulnerability in Graphene as the title indicates, the option is explicitly marked as insecure.
If I understand correctly, you just request a new feature to be implemented? (an in-LibOS emulation of eventfd)

[2021-07-14 15:23] bigdata-memory commented on #2552
Yes, we need a secure eventfd that should be emulated in LibOS as the counter value may get leaked internal states if the kernel got compromised, thanks.

[2021-07-14 15:28] boryspoplawski opened #2553 "[LibOS] Wrong semantics (+bug) of `poll`/`select` on fd `0` ("dev:tty")"
## Description of the problem
Doing `poll` or `select` (or any of their variants) on fd `0` returns immediately and indicates the fd is ready for reading even if there is no data available.
There is a bug here:
https://github.com/oscarlab/graphene/blob/df5882b02b8e59b7d3827842dd9f10c903492032/LibOS/shim/src/sys/shim_poll.c#L117
there is no error checking, `hdl->fs->fs_ops->poll` returns `-EAGAIN`

[2021-07-14 15:33] boryspoplawski commented on #2552
But we will never have a secure event fd which wait's for notifications from untrusted host (which is what you want, right?)

Also, what's the point of running networking software in SGX?

[2021-07-14 16:11] dimakuv commented on #1298
Nothing happened on this for the last 1.5 years. I don't think this deserves an explicit issue, so closing this.

[2021-07-14 16:11] #1298 closed

[2021-07-14 16:14] dimakuv commented on #1337
I don't think this is a problem anymore, since we use TOML for our manifest files, and TOML requires UTF-8 encoding. @mkow You changed our Python scripts to TOML, do you think this issue still relevant? I think not, so closing for now. But feel free to re-open.

[2021-07-14 16:19] dimakuv commented on #1380
I don't think we can do anything about this issue. We must specify `sgx.nonpie_binary = true` (which is the new name for `sgx.static_address = 1`) in case of multi-process applications where at least one process is non-PIE. It seems that people also don't complain about it. So closing this.

[2021-07-14 16:19] #1380 closed

[2021-07-14 16:21] dimakuv commented on #1398
I'm closing this since it was collectively agreed that verifying `quote-from-qe.qe_report.report_data` doesn't add any security.

[2021-07-14 16:21] #1398 closed

[2021-07-14 16:24] dimakuv commented on #1417
This issue is still relevant, but a quick update after 1.5 years: we haven't encountered any application that opens the same end of the pipe twice. So it looks like real-world applications do not trigger this corner case.

[2021-07-14 16:46] mkow commented on #2537
Sorry, I don't understand this sentence. Could you rephrase it?

[2021-07-14 16:56] mkow commented on #2543
File permissions are not supported in Graphene and I don't think we need them for any real-world workload.

[2021-07-14 17:09] boryspoplawski commented on #1046
I do not remember exactly how it was detected, but it should be fixed after moving to meson.

[2021-07-14 17:14] mkow commented on #2544
It's just a missing feature, if you want us to implement it then please provide a real world example which uses it.

[2021-07-14 17:14] #2544 closed

[2021-07-14 19:27] mkow commented on #2549
File permissions are not supported in Graphene.

[2021-07-14 19:33] mkow commented on #2296
@anjalirx-intel maybe it's just your host limiting your Graphene process, not Graphene limiting the app?

[2021-07-14 19:42] mkow commented on #689
Oops, this was incorrectly linked. Fixed.

[2021-07-14 19:48] mkow commented on #1814
Let's ask @pwmarcz to decide.

[2021-07-14 19:49] boryspoplawski commented on #1236
#2554 does `ocall_gettime`

[2021-07-14 20:01] mkow commented on #1337
I think it's still relevant, because as @woju mentioned, file paths doesn't need to be in UTF-8 on some platforms. We should at least add a test to verify that this works (I think it doesn't).

[2021-07-14 20:06] mkow commented on #1046
I think after Meson rework we should install Graphene into a directory like "żółty żółw" in CI, to ensure that such things work and are actively tested :) @woju: what do you think?

[2021-07-14 20:17] boryspoplawski commented on #1046
This problem was when building, so install might be too late.

[2021-07-14 20:19] mkow commented on #1046
Ok, we can test both then.

[2021-07-15 03:29] aneessahib commented on #2479
i can work on this . pls assign

[2021-07-15 04:17] anjalirx-intel commented on #2537
@mkow This is the statement from lseek11 log, overall it means Filesystem might be using generic_file_llseek(). But all this test needs support for SEEK_DATA/SEEK_HOLE

I don't know how much it will helps, but i could found little info on below link about generic_file_llseek

[2021-07-15 05:31] bigdata-memory commented on #2552
It could be the case of IPC among multiple GSGX enclaves via wrapped counter by secrets provisioned through attestation.

[2021-07-15 07:54] vijaydhanraj commented on #2296
Tried even on the 5.11 kernel and not able to repro the issue.
[code]
[code]
[code]

[2021-07-15 08:21] dimakuv commented on #2437
Just a quick note on this, since we hit this today. Actually there are two separate issues:

- The SGX driver `/dev/sgx_enclave` has wrong permissions. Typically these are `700` ("only root can read/write/execute"). You can check your permissions on this file with `ls -la /dev/sgx_enclave`. In reality, the permissions should be set to something like `660`  and `/dev/sgx_enclave` must be rewired to

[2021-07-15 08:33] dimakuv commented on #2475
@anjalirx-intel https://github.com/oscarlab/graphene/pull/2555 should fix your problem. Thanks for reporting this!

[2021-07-15 09:23] boryspoplawski commented on #2479
This is probably also the culprit of #2260

[2021-07-15 09:27] boryspoplawski commented on #2552
I'm not sure if I understood you correctly, but:
- eventfd shared between processes - yes, we can implement this with IPC, but that would only allow for **in** Graphene processes to use it,
- eventfd shared between Graphene and host OS - this we cannot do with any meaningful security/correctness guarantees.

I suppose it's the 2nd case you are interested in?

[2021-07-15 09:39] dimakuv opened #2556 "Improve security of sysfs pseudo-filesystem"
## Description of the problem

@vijaydhanraj recently expanded support for `/proc/cpuinfo` and added support for `/sys` pseudo-filesystems:
- https://github.com/oscarlab/graphene/pull/1910
- https://github.com/oscarlab/graphene/pull/1975
- ...and several fixup PRs to these...

The general approach is to copy all relevant information from host-level `/proc` and `/sys` filesystems and store it insid

[2021-07-15 09:40] dimakuv commented on #2556
@vijaydhanraj Please comment on this issue (something like "Please assign me" is enough), so I can mark this GitHub issue as assigned to you. (Otherwise GitHub doesn't allow the assignment.)

[2021-07-15 10:02] boryspoplawski commented on #2260
The original issue was fixed, the 2nd one is most likely unrelated and tracked in #2479

[2021-07-15 10:02] #2260 closed

[2021-07-15 10:58] dimakuv commented on #2540
Even though it is unlikely that an app will try `pread(directory-fd)`, returning success is quite bad. So bumping priority.

[2021-07-15 11:01] mkow commented on #2437
Yup, this is basically distros breaking SGX driver in their default setups. And they don't ship any usermode SGX daemons yet, so they probably don't even know that they've broken something.

[2021-07-15 11:06] dimakuv commented on #2531
This is dependent on https://github.com/gramineproject/gramine/issues/21. Looks like the same issue.

[2021-07-15 11:06] dimakuv commented on #2541
This is dependent on https://github.com/gramineproject/gramine/issues/21 and #2531. Looks like the same issue.

[2021-07-15 11:09] dimakuv commented on #2542
This is dependent on https://github.com/gramineproject/gramine/issues/21, #2531 and #2541. Looks like the same issue.

[2021-07-15 11:20] dimakuv commented on #2547
The actual problem is that this LTP test does `setuid(<some-other-uid>)` -- and this syscall is a mockup (doesn't do anything and returns success) in Graphene. So the LTP test thinks that it changed the user (which is not the owner of the directory), and tries to `unlink(directory-of-another-user)`. This should fail but it doesn't, as can be seen in the log.

[2021-07-15 11:23] mkow commented on #2503
I believe there's no problem with futex syscall here, and FFMPEG troubles were caused by #2553, so I'm closing this issue.
@vans163 Feel free to reopen if you think that there are still some problems with futexes.

[2021-07-15 11:23] #2503 closed

[2021-07-15 11:24] mkow commented on #2547
So, can we close it then?

[2021-07-15 11:32] dimakuv commented on #2549
The real issue here is that these LTP tests do not report any results (no TFAIL, no errors) and this leads to LTP outputting a general TBROK message. Need to investigate why this happens on LTP (does Graphene "hide" any error messages?).

[2021-07-15 11:32] boryspoplawski commented on #2531
@dimakuv are you sure? I thought LTP tests spawn child processes to do actual testing and the parent (which is an IPC leader) waits for their finish.

[2021-07-15 11:38] dimakuv commented on #2543
The actual issue is that Graphene created the file with some default permissions, but it reported back absolutely different permissions (there is no internal consistency). It looks like the permissions-to-return are hard-coded to some arbitrary value. This is bad.

[2021-07-15 11:38] mkow commented on #2549
I'd assume it's just a bug in LTP, but we can investigate it if you want.

[2021-07-15 11:52] dimakuv commented on #2547
We need to discuss the Big Problem of `setuid`, `chown` and so on. Graphene doesn't have the concept of Users, Groups, Ownership, Permissions for files. And Graphene just does absolutely random things: some syscalls return with `ENOSYS`, some syscalls return with success but do nothing, some syscalls return hard-coded values (???). This is a complete mess, and we at least need a *uniform* policy o

[2021-07-15 12:05] dimakuv commented on #2479
Anees expects this to unblock some LTP tests and some other workloads. Just a note for the context on bumping the priority..

[2021-07-15 12:10] dimakuv commented on #2143
`fchownat()` implementation in Graphene does some checks (but doesn't care about flags, uid, gid) and then doesn't perform any "change ownership" logic but simply returns success:
https://github.com/oscarlab/graphene/blob/f1a9c785128522ae4abc604a7ae10f4d4e7f0573/LibOS/shim/src/sys/shim_file.c#L239

Technically, Graphene doesn't support permissions/ownership of files so must return `ENOSYS`. Return

[2021-07-15 12:17] #2475 closed

[2021-07-15 12:34] dimakuv commented on #2543
Looks like the file mode creation mask (`umask`) is initially zero, before the first call to `umask()`: https://github.com/oscarlab/graphene/blob/af2f7809b36945382a535f95c2af7a2b32a2059a/LibOS/shim/src/bookkeep/shim_process.c#L46

I didn't debug where file permissions come from (other than they come from `dent->perm`), but it looks like LibOS permissions are correctly set to whatever user requests

[2021-07-15 12:44] dimakuv commented on #2531
@boryspoplawski No, LTP does a lot of weird (and not entirely correct) stuff in many tests.

Here is just one example (I looked into the first reported test here, `waitpid03`, and bingo):
[code]

As you can see, the parent creates a bunch of child processes, then waits for **one** child process, then sends `kill(SIGKILL)` to all other kids, and **doesn't bother waiting**.

[2021-07-15 12:46] dimakuv commented on #2531
Actually, I re-read your comment more carefully. And what you're saying here is that there is a "init-like" LTP process that spawns the child process, and the actual `main()` stuff happens in that child process. No, I don't remember anything like this in LTP. Are you confusing with that-other-test-suite?

[2021-07-15 13:28] boryspoplawski commented on #2531
Yes, that's what I meant.
It's probably different for different LTP tests, I think they changes some stuff around. After checking: yes, some tests run directly, some spawn a child process which does the testing (the newer interface does the latter).

[2021-07-15 13:51] dimakuv opened #2558 "Reorganize Graphene components when moving to new GitHub organization"
## 1. Repository split

When moving to a new GitHub organization, we should split Graphene into several different repositories. Repositories should be self-sufficient because we don't want to use git submodules (we had bad experiences with maintaining submodules). The proposed repositories are:

1. `graphene` -- contains the core; this is the main repository, successor to the current repo.
2. `exa

[2021-07-15 17:07] vijaydhanraj commented on #2556
Please assign this issue to me.

[2021-07-15 17:46] vijaydhanraj commented on #2296
Debugged this issue further with @anjalirx-intel and it looks like by default the test case works for both `graphene` and `graphene-direct`. But found that when `/proc` is mounted as the part of the manifest (she had this in her manifest), then the test fails.

Adding below to the manifest cases the failure.
[code]
Although this might not be directly related to the test case, will continue to look

[2021-07-15 23:09] bigdata-memory commented on #2552
`eventfd shared between processes - yes, we can implement this with IPC, but that would only allow for in Graphene processes to use it`
This case is what we expected, e.g. A frontend (Browser UI) service <-> its backends, all of them are running inside of GSGX enclaves for higher level of security.
`eventfd shared between Graphene and host OS - this we cannot do with any meaningful security/correc

[2021-07-16 06:19] anjalirx-intel commented on #2296
Adding Dmitrii also @dimakuv @vijaydhanraj

The reason for mounting proc separately is to enable other tests who needs access to files present under proc directory and it is emulated in graphene.
Like, you can see below test kill03 initially it fails with error to open file /proc/sys/kernel/pid_max but when proc is mounted, the testcase worked
**$ graphene-direct kill03**
[code]

**After manifest

[2021-07-16 14:24] mkow commented on #2296
@anjalirx-intel What you're doing is completely unsupported and a very bad idea overall, it's good that it stopped to work :)
I guess this test fails for you because it gets wrong numbers from procfs (because it's from the host, not from Graphene). I don't think that testing Graphene this way is meaningful.

[2021-07-16 18:58] vijaydhanraj commented on #2296
As @mkow pointed out, mounting host procfs results in the test getting an incorrect number of `fd`s being open and ends up failing.

Some details:
The test works in the following way. It gets the max fds that can be open by a process using `getdtablesize()` api and subtracts `fd`s already opened by the process by reading `/proc/self/fd` directory. It then continues to open pipes until `EMFILE` err

[2021-07-18 19:32] #2296 closed

[2021-07-19 07:04] dimakuv commented on #2296
Cool analysis, thanks Vijay!

[2021-07-19 11:23] pwmarcz commented on #1814
I'm going to close this. In the previous comments to this issue, we agreed to leave the glibc patch as is.

[2021-07-19 11:23] #1814 closed

[2021-07-19 11:31] pwmarcz commented on #2517
OK, looks like no easy win here. On the other hand, reimplementing responses doesn't seem so bad: an IPC abstraction for "long-term operations" might be exactly what I need. I'll think about it more.

[2021-07-19 11:32] boryspoplawski commented on #2517
@pwmarcz It's quite possible that we need to add some more advanced IPC primitives than we have right now.

[2021-07-20 00:46] mkow commented on #2558
You missed one zero here :)

Ad. the squash: We should credit all the contributors whose commits we squashed in the new commit message. Not sure how to exactly do this, but we could generate some stats from git or something similar.

Overall the plan looks good, thanks for writing it down here!

[2021-07-20 15:41] Nirusu opened #2563 "Requirements are missing in .deb release of v1.2-rc1"
## Description of the problem
When using the new .deb packages of v1.2-rc1 on a relatively clean system using the instructions listed [in the release](https://github.com/oscarlab/graphene/releases/tag/v1.2-rc1), Graphene cannot be used correctly due to missing Python, protobuf & maybe Intel AESM packages, depending on the environment.

## Steps to reproduce
- Have a fairly clean system with essent

[2021-07-20 15:43] dimakuv commented on #2558
**Change**: Having `graphene/Examples` and a separate `examples` repo is confusing to outsiders. We should rename them as follows (decided during the meeting): `graphene/TestExamples` and `examples` repo.

[2021-07-20 15:57] dimakuv commented on #2563
Thanks @Nirusu for pointing it out! Looks like work for @woju and @mkow.

Do you mean in the Makefiles or in the Graphene manifest files?
- In the Makefiles, we still have `GRAPHENEDIR` but only as a "hack" to get to the default enclave-signing private key of the user.
- In the Graphene manifest files, `GRAPHENEDIR` was already removed from them.

For the Makefiles, we'll probably remove the menti

[2021-07-20 18:00] Nirusu commented on #2563
Yup, I meant the references in the Makefiles! I know that these were mainly used as a hack to link to the private key used for enclave signing, however one other... let's say, implicit... reference to GRAPHENEDIR are the included in the Makefile, such as in [line 39 of the Redis Makefile](https://github.com/oscarlab/graphene/blob/202b77ace19e13bffd24959e3a6dc46dc9066ec9/Examples/redis/Makefile#L39

[2021-07-20 21:05] bliu40 opened #2564 "Run graphene-sgx with python examples not work"
I have installed the Graphene successfully on the remote ubuntu 20.04 server, however, it seems like not work when I run the python examples (~/graphene/Examples/). For example: graphene-sgx ./python scripts/helloworld.py

The errors are shown as below:
error: Could not find size of file: file:/usr/lib/python3.8/__pycache__/__future__.cpython-38.pyc.1110420480
error: Failed to load the checksums o

[2021-07-20 21:28] bliu40 opened #2565 "Run graphene-sgx ./pytorch ./test.py has errors related to pycache/future.cpython-38.pyc.1110420480"
The graphene has been built successfully on the ubuntu 20.04 server, I try to run some inference programs ($graphene-sgx ./pytorch inference.py) under the path: ~graphene/Examples/pytorch/,  it has errors as following:

error: Could not find size of file: file:/usr/lib/python3.8/__pycache__/__future__.cpython-38.pyc.1110420480
error: Failed to load the checksums of trusted files: -6

If I use $sud

[2021-07-21 03:19] bliu40 commented on #2565
![image](https://user-images.githubusercontent.com/12901110/126425360-c773a7ea-3eb0-41e3-ae9f-7dd19f183784.png)

[2021-07-21 07:32] dimakuv commented on #2563
@Nirusu Thanks again for the comments! Indeed, the problem of GRAPHENEDIR in Makefiles is annoying.

I started fixing Examples: https://github.com/oscarlab/graphene/pull/2566. This PR is more about clean up of the manifest files.

I will create another PR to remove GRAPHENEDIR and generally cleanup Makefiles in examples. Probably today/tomorrow.

[2021-07-21 07:35] dimakuv commented on #2564
I can't reproduce it. Can you list the exact commands how you build + install Graphene and how you build + run the Python example?

Also, what do you mean by `on the remote server`?

[2021-07-21 07:37] dimakuv commented on #2565
You're doing something wrong with user permissions. How do you install Graphene? Why do you try `sudo`?

In general, Python workloads should *never* be run under sudo.

[2021-07-21 14:16] mkow commented on #2565
@bliu40 also, please don't post logs as screenshots...

[2021-07-21 17:51] bliu40 commented on #2564
Thanks for the reply.
1)I followed the steps (https://graphene.readthedocs.io/en/latest/building.html) to install Intel SGX driver and Intel SGX SDK/PSW and run ./app in Simulation mode and Hardware Mode, everything is good.
2)Then I start to build the SGX with Graphene as doc(https://graphene.readthedocs.io/en/latest/quickstart.html)
from step1-6, graphene-sgx helloworld works successfully.
3)The

[2021-07-21 17:58] bliu40 commented on #2565
Sure, I delete that. This is my first time to post the issue, please correct me if I have done something wrong.

[2021-07-21 18:32] mkow commented on #2565
Thanks. The problem with screenshots is that you can't copy or search text in them, plus they are pretty heavy compared to text. You can paste logs (if they aren't too long) using proper Markdown syntax for them (triple backticks).

[2021-07-21 20:26] bliu40 commented on #2565
Sure, thanks for letting me know.

[2021-07-21 20:26] bliu40 commented on #2565
Sure, thanks for letting me know.

[2021-07-21 20:30] bliu40 commented on #2565
Thanks for the reply. If I do not use the "sudo", I will get the error:

**Actual results:**

error: Could not find size of file: file:/usr/lib/python3.8/pycache/future.cpython-38.pyc.1110420480
error: Failed to load the checksums of trusted files: -6

Any idea how to handle this issue? thanks in advance

[2021-07-22 06:58] dimakuv commented on #2564
Interesting. Could you tell me if you have this file `/usr/lib/python3.8/pycache/future.cpython-38.pyc.1110420480`?

Simply copy-paste the output of this command:
[code]

I wonder if this file doesn't exist or its size is zero or something like this. I'm also curious about its permissions.

[2021-07-22 07:20] dimakuv commented on #2565
This is a duplicate of your other issue #2564 (the underlying issue is the same), so let's close this issue and keep the discussion in #2564.

[2021-07-22 07:20] #2565 closed

[2021-07-22 07:28] dimakuv commented on #2553
@boryspoplawski Do you want to fix it? The first bug is simple (checking return value of `poll()`), but the second problem seems more complex. I will assign a low priority for it now.

[2021-07-22 07:30] dimakuv commented on #2552
So there are two sub-problems in this issue:
1. Implementing secure eventfd shared between Graphene processes: possible but requires a lot of implementation effort.
2. Implementing secure eventfd shared between Graphene and host OS: not possible.

For the sub-problem 1, we can assign a rather low priority. It is a nice feature to have, but will take long to implement it.

[2021-07-22 07:32] dimakuv commented on #2529
This is really cool :) I will close this issue since this is solved.

[2021-07-22 07:32] #2529 closed

[2021-07-22 07:36] dimakuv commented on #2515
Since there is nothing that can be done at the moment, and we are aware of the device support requests (but this will not happen soon), I'll close this issue.

[2021-07-22 07:36] #2515 closed

[2021-07-22 07:42] dimakuv commented on #2506
From what I understand, only the first item ("We need better sanitization of OCALL arguments") must be resolved for the release (so priority P0 or P1). The rest (sanitizers/linters) is to be added after the release (so priority P2). For this reason, I'm marking this whole issue as P2.

Notice that https://github.com/oscarlab/graphene/issues/1236 linked to the first item is already marked as P0.

[2021-07-22 07:46] dimakuv commented on #2477
Update from my side: the `ra-tls-secret-prov` example works for me. I verified that the IAS protocol v3 still works correctly. So maybe the problem is in the wrong EPID key?

[2021-07-22 07:47] dimakuv commented on #2471
Looks like a simple performance optimization, but someone will need to do thorough performance analysis of this change. Doesn't seem too important at the moment, so assigning low priority.

[2021-07-22 07:48] dimakuv commented on #2477
Pinging @daniel-weisse since it's been several weeks already. Is this still relevant?

[2021-07-22 07:53] daniel-weisse commented on #2477
Just tried it again on commit `202b77ace19e13bffd24959e3a6dc46dc9066ec9` and everything seems to work fine, including the `secret_prov_pf_client`.
If the problem was not on my end, it is now fixed in graphene.

[2021-07-22 07:53] #2477 closed

[2021-07-22 07:55] dimakuv commented on #2467
This is tied to the fact that we generally don't have a way to close/free PAL-thread handles. See also https://github.com/oscarlab/graphene/issues/1030#issuecomment-879950108.

So we need to solve a general problem of "how to safely close and free a PAL thread handle". The memory leaks are very small though, so assigning a low priority.

[2021-07-22 07:59] dimakuv commented on #2451
@anjalirx-intel @jinengandhi-intel Have you re-tried this test again after we agreed to update Stress-ng version? See discussion in https://github.com/oscarlab/graphene/issues/2419#issuecomment-878004114.

[2021-07-22 08:01] dimakuv commented on #2443
@anjalirx-intel I don't remember if we agreed on some way of solving this issue... Is anyone looking at it? I think someone volunteered to check this. I will assign priority P1 for now and mark it as a bug.

[2021-07-22 08:02] dimakuv commented on #2437
The issue itself was resolved, closing.

[2021-07-22 08:24] jinengandhi-intel commented on #2451
Dmitrii, we had agreed that the 2419 issue could be related to the stress-ng version, wasn't asked to test the chmod test. For latest version of stress-ng we need to try out on an Ubuntu 20.04, which we haven't been able to.

[2021-07-22 08:48] dimakuv commented on #2451
My assumption is that the new stress-ng version may fix this issue (since it looks related to the root cause of #2419). Anyway, assigning P1 for now and hope this will be trivially resolved when moving to the new stress-ng version.

[2021-07-22 08:49] dimakuv commented on #2426
This issue is the same as https://github.com/oscarlab/graphene/issues/2531, so a duplicate. Closing.

[2021-07-22 08:49] #2426 closed

[2021-07-22 08:56] dimakuv opened #2572 "[Meson] vDSO doesn't have the `.note` section"
## Description of the problem

Extracted from https://github.com/oscarlab/graphene/issues/2420. Comment from @boryspoplawski:

We should choose one version (I vote for 4.15.0 -- this is the default version on Ubuntu 18.04) and return it in both vDSO note section and in `uname`. We should also probably add some Graphene identifier as well.

[2021-07-22 08:57] dimakuv commented on #2420
Created https://github.com/oscarlab/graphene/issues/2572 per Borys's last comments. This issue got too long, the original problem is solved (well, circumvented).

[2021-07-22 08:57] #2420 closed

[2021-07-22 09:00] dimakuv commented on #2382
This issue was more like a dump of my experiments. Let me close it for now, it doesn't bring any value for anyone other than me :)

[2021-07-22 09:00] #2382 closed

[2021-07-22 09:03] dimakuv commented on #2365
How many processes (==SGX enclaves) does this test create? Could it be that there are simply too many SGX enclaves, and your machine doesn't have another RAM to run them all, and kills some of them?

[2021-07-22 09:05] dimakuv commented on #2356
Somehow we still don't have a good user-friendly backwards-compatible proposal for this feature.

[2021-07-22 09:06] dimakuv commented on #2348
After some internal discussions, looks like we can keep using RDRAND.

[2021-07-22 09:06] #2348 closed

[2021-07-22 09:09] dimakuv commented on #2335
This seems to be a specific case of our general issue of "Fix all problems with our sockets". We need to refactor that code, and test more with IPv6 and UNIX sockets. For now, closing this.

[2021-07-22 09:11] dimakuv commented on #2316
This looks like a metaissue, and we already implement most of the recommendations here during Meson build and install. Should we still keep this issue open?

[2021-07-22 09:13] anjalirx-intel commented on #2443
No @dimakuv , we haven't agreed on any way for solving this issue

[2021-07-22 09:17] dimakuv commented on #2297
Current summary for this issue:

- `TestFile 1: open10` requires too much unimplemented functionality in Graphene (and quite useless too: `chown`, `setreuid`, real permissions). Not gonna happen.
- `TestFile 2: open14` and `TestFile 3: openat03` require new feature `O_TMPFILE`; should be fixed when Pawel finishes FS rework hopefully.
- `TestFile 4: pipe2_04` is partially fixed by #2524 but then pr

[2021-07-22 09:22] dimakuv commented on #2262
Currently IAS API v3 is considered deprecated but still working (checked a couple days ago). But yes, we need to be moving to v4. Rewritting all our C IAS-related tools in Python seems reasonable.

By the way, the spec for IAS API v3 can be found here: https://api.trustedservices.intel.com/documents/IAS-API-Spec-rev-5.0.pdf

[2021-07-22 09:25] dimakuv commented on #2261
Unfortunately, I don't know how to proceed with this issue. It will take too much effort to reproduce (install Flask-on-Graphene in Azure VM), and there is no obvious error visible here.

@ADL-work Maybe you already figured it out? Is this still relevant?

[2021-07-22 09:27] dimakuv commented on #2221
@sindhuamir Please try again on the current master. Otherwise we'll close this issue shortly, assuming it was resolved.

[2021-07-22 09:31] dimakuv commented on #2188
Very old inactive issue, closing.

[2021-07-22 09:31] #2188 closed

[2021-07-22 09:34] dimakuv commented on #2158
@pwmarcz Since this is (mostly) implemented, do you still want to keep this issue open? Or can we close it?

[2021-07-22 09:38] anjalirx-intel commented on #2365
We didn't check how many process does this test create. This test fails on every machines. One of the server memory details are as below
**Memory Details**
                      total        used        free      shared  buff/cache   available
Mem:           125G        3.2G        105G        4.3M         16G        121G
Swap:           2.0G         92M        1.9G

[2021-07-22 09:41] dimakuv commented on #2076
@mkow @woju Do you think we should still keep this issue open? We added "specifying whole directories in trusted files", and now our manifest templates look much cleaner (though still not TOML arrays but TOML tables for sgx files). We also changed from the `sed` hack to `graphene-manifest`.

[2021-07-22 09:43] dimakuv commented on #2058
This one is annoying hard to fix...

[2021-07-22 09:44] dimakuv commented on #2057
This should be fixed by https://github.com/oscarlab/graphene/pull/2466. Keeping this issue open not to forget about it.

[2021-07-22 09:46] dimakuv commented on #2025
This is very old. We rewrote `sendfile()` implementation recently. Anyway, `sendfile` performance is not an issue for real-world apps since they use TLS and encryption anyway.

[2021-07-22 09:46] #2025 closed

[2021-07-22 09:47] dimakuv commented on #2017
@boryspoplawski What is the status of this issue?

[2021-07-22 09:48] dimakuv commented on #2009
We have at least a warning on this (and we're also currently working on sysfs), so I think we should just close this issue.

[2021-07-22 09:48] #2009 closed

[2021-07-22 09:53] dimakuv commented on #2365
Could you please check? And also mention what is the `sgx.enclave_size` for your LTP test?

[2021-07-22 10:06] dimakuv commented on #1989
No reply for 6 months, considering this issue closed.

[2021-07-22 10:06] #1989 closed

[2021-07-22 10:07] dimakuv commented on #1988
Very old issue, Graphene did a lot of bug fixing in the meantime, and our R example works. Closing it. @jopasserat Feel free to reopen this issue if your problem still persists.

[2021-07-22 10:07] #1988 closed

[2021-07-22 10:10] dimakuv commented on #1981
We rewrote the Common library (previously under Pal/lib) completely -- from Makefiles to Meson. So this issue is not relevant anymore, closing.

[2021-07-22 10:10] #1981 closed

[2021-07-22 10:11] dimakuv commented on #1976
@mainarke If this is still relevant for you, could you check on the latest Graphene version? Otherwise I will close this issue after a couple days, assuming the issue was fixed.

[2021-07-22 10:12] dimakuv commented on #1947
I think the issue was completely fixed by Pawel. @pwmarcz Feel free to reopen if there is something left.

[2021-07-22 10:12] #1947 closed

[2021-07-22 10:15] dimakuv commented on #1923
@vijaydhanraj @pwmarcz It looks like we still don't implement `/proc/stat` in Graphene. Do we want to add support for this? I think the rather dummy implementation as per my last comment should suffice.

[2021-07-22 10:17] dimakuv commented on #1918
@pedrotbtl We added extensive support for `/proc` in the recent months. Please try again on the latest Graphene. Otherwise I will close this issue after a couple days, assuming the issue is resolved.

[2021-07-22 10:19] dimakuv commented on #1880
@mainarke We recently implemented support for POSIX locks (but not `flock` actually). Assuming that your workload can fall-back to POSIX locks when it doesn't find flocks, your workload should work under latest Graphene.

So if this is still relevant, please try it on the latest Graphene version. Othewise I will consider this issue resolved and close it after a couple days.

[2021-07-22 10:20] dimakuv commented on #1869
OpenVINO works under Ubuntu 20.04 with the latest Graphene. Closing this. @justalittlenoob If your issue still persists under latest Graphene, feel free to reopen.

[2021-07-22 10:20] #1869 closed

[2021-07-22 10:21] dimakuv commented on #1844
@woju Did we fix this issue? Should we close it?

[2021-07-22 10:21] dimakuv commented on #1844
Oops, actually the author is @pwmarcz . Do you consider this issue closed?

[2021-07-22 10:22] dimakuv commented on #1839
@boryspoplawski I don't remember if this issue was fixed?

[2021-07-22 10:23] Nirusu commented on #2356
Mhh, why should it not be backwards-compatible if pass-through is specified as an extra value in the config? When it's not set the environment variable definition can work as before. Or do I miss something here?

[2021-07-22 10:25] dimakuv commented on #1767
This was resolved several months ago, and no replies with new questions from thread starters. Closing.

[2021-07-22 10:25] #1767 closed

[2021-07-22 10:26] dimakuv commented on #1734
@bigdata-memory Is this still relevant?

[2021-07-22 10:26] dimakuv commented on #1717
@boryspoplawski Is this still relevant?

[2021-07-22 10:28] dimakuv commented on #1702
@mkow Is this still relevant?

[2021-07-22 10:29] dimakuv commented on #1701
@mkow Is this still relevant?

[2021-07-22 10:30] dimakuv commented on #1652
This was fixed.

[2021-07-22 10:30] #1652 closed

[2021-07-22 10:31] dimakuv commented on #1605
@pwmarcz @mkow Do you think it is still relevant?

[2021-07-22 11:00] boryspoplawski commented on #2553
@pwmarcz is reworking fs stuff, so I didn't want to get in his way...
I did not submit a PR on the first bug since it wouldn't solve the original issue (polling on `0`), so this can be fixed all at once.

[2021-07-22 11:13] pwmarcz commented on #2158
So far I have only implemented a basic version, but this discussion seems finished for now. Closing.

[2021-07-22 11:13] #2158 closed

[2021-07-22 11:13] boryspoplawski commented on #1839
Afaik it was not.

[2021-07-22 11:14] boryspoplawski commented on #1717
Afaik yes.

[2021-07-22 11:25] boryspoplawski commented on #2017
Still present.
Some more context from #2472 (which had an issue connected to this):

The problem is that solving this is hard: we would need to make the parent own the pid of the child, but that would require "reparenting" in case the parent dies but the child is still alive. Such solution would also have some nasty consequences: Graphene pid 1 (which I guess would become the new parent) might not

[2021-07-22 11:28] dimakuv commented on #2537
Graphene currently doesn't support `SEEK_DATA` and `SEEK_HOLE` and apparently no real-world applications request this feature. So let's consider it as "Linux feature not implemented in Graphene and not needed by real-world apps". And disable this particular LTP test.

[2021-07-22 11:28] #2537 closed

[2021-07-22 11:28] pwmarcz commented on #1844
Yes, this looks much better now, I'm closing the issue.

[2021-07-22 11:28] #1844 closed

[2021-07-22 11:29] dimakuv commented on #1593
So apparently we need to use C11 atomics. Closing this issue.

[2021-07-22 11:29] #1593 closed

[2021-07-22 11:33] mkow commented on #2552
To be honest, I still don't see any legitimate use for this. How do you want to run a browser in an enclave and what's the point of doing so? It's a GUI app...

[2021-07-22 11:34] anjalirx-intel commented on #2365
It creates around 109 process. I have analyzed it into 2 machines and attaching the log for the same. The log file contains memory details and strace logs as well.

The enclave size is 256MB
[sgx]
enclave_size = "256M"

[strace_setrlimit_1.log](https://github.com/oscarlab/graphene/files/6861893/strace_setrlimit_1.log)
[strace_setrlimit_2.log](https://github.com/oscarlab/graphene/files/6861894/stra

[2021-07-22 11:37] mkow commented on #2506
Yup. Although the OCALL thing is a bit of an unknown area, I think all obviously dangerous places are sanitized already, only some more subtle ones are left. But we should resolve it rather sooner than later to not risk having security vulns. But if #1236 is P0 then this can stay at P2.

[2021-07-22 11:38] pwmarcz commented on #1605
None of these things should happen now.

Using Busybox, `ls ..` gives me the same listing as `ls .` and `ls /`. I'm not sure how the above happened before, but that code is gone.

Using Busybox, `ls /lib` gives me a listing of the Runtime directory, but with the `x86-64-linux-gnu` directory added. This is expected: `x86-64-linux-gnu` is a mountpoint for `file:/lib/x86-64-linux-gnu`. Before refacto

[2021-07-22 11:38] #1605 closed

[2021-07-22 11:49] mkow commented on #2437
Was it really resolved? This seems to be quite a big problem for SGX ecosystem, I'd say we need to either document this or ask Ubuntu devs to fix this.

[2021-07-22 11:56] mkow commented on #2335
Wouldn't this be worth keeping open then? Sounds useful for testing the changes in the networking code.

[2021-07-22 11:58] mkow commented on #2316
This is mostly a question to @woju, i.e. whether there's anything left to be implemented from it.

[2021-07-22 12:18] dimakuv commented on #1450
Stefan already submitted (and continues submitting) fixes to make Graphene PPC64 compatible. Thanks for this effort, greatly appreciated! But this general meta-issue can be closed now.

[2021-07-22 12:18] #1450 closed

[2021-07-22 12:43] dimakuv commented on #2365
109 SGX enclaves, each 256MB in size, results in ~27.9GB in total size. This is far less than your RAM size (128GB). So Linux shouldn't run our of memory...

Yes, there is some issue with this test.

[2021-07-22 13:40] pedrotbtl commented on #1918
@dimakuv Thanks very much for the heads up. I will give it a go and get back to you, probably no so quickly! Thanks a lot!

[2021-07-22 14:05] dimakuv commented on #2356
Ok, I digged our old internal conversation on Slack, and this is the latest state of affairs:

[code]

- `loader.env.VAR = { passthrough = true, value = "hard-coded" }` is an error -- as per Michal's comment https://github.com/oscarlab/graphene/issues/2356#issuecomment-846001523
- `loader.env.VAR = { passthrough = true}; loader.env_src_file = "file:contains_this_var"` is an error -- mainly because

[2021-07-22 16:34] vijaydhanraj commented on #2531
Was looking at issue #2426(waitpid03 ltp failure test) but since the issue is discussed here, will add my comments.

Found `waitpid03` test to be doing something like below,
1. Parent forks around 24 (pids ranging from 1-25) threads and all the children are paused.
2. Then the parent sends `SIGTERM` signal to all the children to exit gracefully.
3. Parent waits for one particular child to exit.
4.

[2021-07-22 16:38] vijaydhanraj commented on #2531
Given the above analysis, @boryspoplawski @dimakuv this seems to be a genuine issue. What do you think?

[2021-07-22 17:04] vijaydhanraj commented on #1923
IIRC, this support was requested to see if `/proc/stat` could improve the performance of an application (I think it was pytorch, @iqbaleric please confirm). I did add this functionality and shared the changes via my local test branch, https://github.com/vijaydhanraj/graphene/commit/4d6b8267ead1023d920e0b42408cd1fd6b79539d but it turned out to have no impact. So, the request was dropped.

If there

[2021-07-22 17:22] boryspoplawski commented on #2531
@vijaydhanraj are you sure your analysis is correct? To be specific: the part about IPC message receiving failure. Are you sure it happens while IPC leader is still alive?
From a quick look at the code it seems that we've already correctly identified the culprit as https://github.com/gramineproject/gramine/issues/21 above.

Are you sure the parent is still alive (or rather the IPC worker thread in

[2021-07-22 17:24] iqbaleric commented on #1923
I think we needed that for SPECCPU17 workloads. We are still blocked on
that. Please implement it.

On Thu, Jul 22, 2021 at 10:04 AM Vijay Dhanraj ***@***.***>
wrote:

[2021-07-22 18:10] vijaydhanraj commented on #2531
@boryspoplawski I am still trying to understand the IPC code flows and debugging based on the error logs. So, my analysis might not be correct. But from the logs, we see that `T24 (PID: 39264)` thinks the IPC leader is dead but the leader (PID: 39170) still continues to receive messages from that child. Please see lines `3795` and `3828` and from the log snippet below, (sorry I am attaching a pict

[2021-07-22 18:14] vijaydhanraj commented on #1923
Thanks @iqbaleric. But do you think just the dummy values from `/proc/stat/` as discussed above in this issue will unblock `SPECCPU17` workload?

[2021-07-22 20:55] bliu40 commented on #2564
Thanks for the reply. It shows "ls: cannot access '/usr/lib/python3.8/pycache/future.cpython-38.pyc.1110420480': No such file or directory" when I check it via `ls -la /usr/lib/python3.8/pycache/future.cpython-38.pyc.1110420480`

After that, I have reinstalled the graphene, check each steps very carefully, I found some issue related to the `dkms`.
when I install some packages related to python, it

[2021-07-22 21:43] mkow commented on #2221
Nah, I'll just close it :) There was no reply since March here and the issue is almost for sure already resolved.
@sindhuamir please reopen/ping us if the problem still persists.

[2021-07-22 21:43] #2221 closed

[2021-07-22 21:44] mkow commented on #2076
I'd keep it until we add the TOML arrays and basically use more TOML-ish constructions for everything.

[2021-07-22 22:14] mkow commented on #1976
I tested it without SGX on 20.04 and it works with current master. Under SGX it required more complex configuration, so I skipped it (and it seems the reporter ran it without SGX).
I'm closing this issue. @mainarke: Please reopen/ping us if it's still relevant.

[2021-07-22 22:14] #1976 closed

[2021-07-22 23:04] mkow commented on #1702
It still segfaults, so I guess "yes" :)

[2021-07-22 23:04] mkow commented on #1701
Yes.

[2021-07-22 23:18] mkow commented on #2365
I wouldn't say there's anything wrong with this test, it's just that we have too big per-process overhead to be able to run it. I think we can close this issue then.

[2021-07-22 23:38] boryspoplawski commented on #2531
There seem to be a problem somewhere indeed. The interesting part of the log starts before the part on the screenshot you posted (would be nice to see if IPC leader tried to send a response).
Actually, could you please try the following patch and see if it changes anything:
[code]

[2021-07-22 23:39] mkow commented on #1923
SPECCPU is just a benchmark, not a real workload, right?
Also, what does it have to do with this issue, which is about PyTorch?

[2021-07-22 23:55] mkow opened #2576 "Move to C11 atomics"
## Description of the problem

We should migrate away from the mixture of GCC built-ins and some legacy custom atomics to C11 atomics.

For reasons why not to stay with GCC built-ins please see the discussion under #1593.

[2021-07-22 23:55] mkow commented on #1593
Please don't close issues this way ;) We need to open a new issue, but about C11 atomics. So, I just opened #2576 for this.

[2021-07-23 05:59] vijaydhanraj commented on #2531
Do you mean after one of the children posts this message `[P39264:T24:waitpid03] warning: IPC recipient *39170* died while we were waiting for a message response`? If so no, but I have attached a new log that was taken based on the patch which shows the leader sending an IPC message even after one of the children posts that the leader has died. Please see lines `3404` and `3409`

In this new repro

[2021-07-23 06:32] dimakuv commented on #2564
Sorry, the error that you have with `dkms` is not related to Graphene. Looks like something got corrupted on your machine after you updated to the newer Linux kernel. Please google how to fix this.

[2021-07-23 06:36] dimakuv commented on #2365
Why close? This test is not practical to run for CI purposes, but it seems to reveal some bug in Graphene. At least we should try to analyze where this error stems from. Maybe it is indeed a trivial out of memory (out of some other resource?) error and the issue may be closed then.

[2021-07-23 09:39] boryspoplawski commented on #2531
3377 is the first line with non-normal log entry for `P12542` process. I have no idea what's failing, but this might be the case of #2532. To verify that you could apply this patch:
[code]
and then check if there is this new error log somewhere before the one that fails (`error: IPC worker: receiving message header from 12495 failed: -13`) and that the reported injection address is inside an read

[2021-07-23 10:05] anjalirx-intel opened #2578 "stat returned ENOENT error for a directory which has symbolic link reference to its starting directory"
## Description of the problem
Accessing the directory which has symbolic link reference to its starting directory, should throw error "Too many levels of symbolic links error (ELOOP) but got ENOENT error.

TC-5:     {loop_dir, ELOOP}

## Steps to reproduce
To repro this issue, run stat03_setup in linux native and stat03_run in Graphene environment.

## Expected results
 TPASS: stat() failed as exp

[2021-07-23 10:08] anjalirx-intel commented on #2578
@pwmarcz Hi Pawel,
Currently, symlink is not supported in Graphene(ENOSYS), so to test ELOOP error for stat function, we have split the code and created the symlink and directory in linux environment and when tested with Graphene the stat returns ENOENT error.

Is there a way we can create symlink inside Graphene itself?

[2021-07-23 10:18] pwmarcz commented on #2578
Hi. Currently there is no way to create your own symlink in Graphene; there are only symlinks in "pseudo" filesystems (such as `/proc/self -> /proc/PID`).

I'm planning to implement the `symlink` call: we talked about it with other maintainers, and we want it to create in-memory symlinks (same as we do with named pipes and sockets). However, right now this is not a priority, because AFAIK there is

[2021-07-23 10:26] anjalirx-intel commented on #2479
This issue is also seen for Graphene-Native when machine os version is 20.04.

[2021-07-23 11:53] #2564 closed

[2021-07-23 11:58] mkow commented on #2365
Ah, wait, I misread your previous comment, sorry.
I read that it's more than her RAM size :) Ok, then it's more suspicious, although 109 enclaves sound like a lot and something may actually just OOM.

[2021-07-23 12:10] #2578 closed

[2021-07-23 19:05] vijaydhanraj commented on #2531
It looks like we do see this debug message even in the normal/working case. But I have attached a log `repro3_waitpid.txt` with the issue repro where we do see the debug message being printed before the failure. Do we put this issue on hold until other IPC issues are resolved and then revisit?

[repro3_waitpid.txt](https://github.com/oscarlab/graphene/files/6870721/repro3_waitpid.txt)

[2021-07-23 20:01] boryspoplawski commented on #2531
That's expected.

The idea was to check where the address that this log message print is in the failing run (what instruction in which function).

[2021-07-23 22:19] vijaydhanraj commented on #2531
OK, hope that helps. Just to clarify, I did observe the same address being printed even for a successful case of terminating a thread, like T7, and also observed the same address even for failure case, i.e. when terminating T19.

[2021-07-23 23:39] boryspoplawski commented on #2531
I would need the untrusted PAL binary to be able to check what address is that (elf base address would be helpful too). The same address can happen, e.g. it's just after syscall instruction in read ocall, and in successful case it's e.g. some random read that's not mandatoriy. Who knows. Needs more debugging/details.

[2021-07-24 14:37] Nirusu commented on #2572
+1 for this, would be helpful if you actually want to detect which LibOS is currently being used.

One approach I saw in Mystikos was that they chose their values reported by `uname` in a fashion to which version of the syscall interface they try to be compatible to, see: https://github.com/deislabs/mystikos/blob/dcbd7a3c17816b104ca7497a1e5af45d05e5ab3c/kernel/syscall.c#L2112

I think this is a ne

[2021-07-26 09:33] ADL-work commented on #2261
@dimakuv unfortunately I still have the issue. I will try a couple more with different settings, if it doesn't work, I will install Flask-on-Graphene and run from there.
Thanks for your help!

[2021-07-26 09:51] dimakuv opened #2581 "[Tools] `graphene-manifest` doesn't ignore comment lines (`#`)"
## Description of the problem

Our `graphene-manifest` utility invokes Jinja2's parser that doesn't recognize our TOML-style comments (starting with `#`). The particular offending line is here: https://github.com/oscarlab/graphene/blob/9f0943e39432e5440066c8448780a08eb4254c77/python/graphenelibos/manifest.py#L105

So if the user wrote something like this in the TOML manifest:
[code]

And changed t

[2021-07-26 09:52] dimakuv commented on #2581
I'm not sure whether Jinja2 can be asked to ignore such TOML comments? Alternatively, we can have one more manifest preparation step where we remove all TOML comments via some other utility.

Or we can always just add this caveat to our docs :)

@woju @mkow What do you think?

[2021-07-26 11:49] mkow commented on #2581
Wait, this is perfectly fine and expected. That's how Jinja works. If you want to comment out something in Jinja, then you need to use Jinja comments, not TOML comments.

[2021-07-26 12:05] dimakuv commented on #2581
But this is extremely confusing to Graphene users. I was hoping that Jinja has some special integration with TOML, and we could just intrust it to ignore comments. Otherwise we need to create an intermediate file with removed TOML comments and feed this file to Jinja.

[2021-07-26 12:28] mkow commented on #2581
Maybe we could use .jinja or .toml.jinja extension to make it more clear that this file is _not_ in TOML, but in Jinja?

Why would it? It's a template language, you use it to generate all possible kinds of text files. It's agnostic to the output format.

I'm not sure we should change anything except making users more aware that this is not parsed as TOML, but as Jinja, and _then_ in toml.

[2021-07-26 12:31] mkow commented on #2581
Alternative idea: just use Jinja comments in our examples, it doesn't matter if the comment lands in the final manifest.

[2021-07-26 12:39] dimakuv commented on #2581
Looks like this issue won't be resolved simply (I don't like Michal's proposals), so let's put a low priority on this. After all, this should be a rare case when someone does `# comment starts and then {{ jinja_template_occurs }}`.

[2021-07-26 13:55] dimakuv commented on #2563
@Nirusu I created https://github.com/oscarlab/graphene/pull/2582 to decouple Examples' Makefiles from Graphene-internal paths and files.

[2021-07-27 04:21] shamamathew commented on #2475
@anjalirx-intel , pls verify

[2021-07-27 07:38] yanzhichao opened #2583 "How many times does the graphene do remote attestation when the programe is multithreading like ppml ？"
## Description of the problem
we try to count the times of getting  the wrap-key from provision-server when the programe configes the protectfile.  we want use the times for billing.

We can't figure out the logic to get wrap key, It doesn't seem that programe only get  key one time when start.  For example ppml will get key three time from provision-server ,it means will do three times retmote at

[2021-07-27 08:08] dimakuv commented on #2583
Are you referring to our PPML example [(this tutorial](https://graphene.readthedocs.io/en/latest/tutorials/pytorch/index.html))? The key is provisioned only once in that example. How do you know / why do you think that it is provisioned three times?

Multi-threaded programs create only *one* enclave, not multiple enclaves. *Multi-process* programs will create multiple enclaves.

It very much depen

[2021-07-27 08:22] Nirusu commented on #2563
@dimakuv Thank you! Looks good to me, an alternative for SGX_SIGNER_KEY as you noted would still be preferable, but since that's definable from the environment anyway, that's no biggie.

One alternative I could suggest here is just randomly generating the key as part of the make, and alternatively maybe setting it globally in the example directory if you want to keep the same MRSIGNER between the

[2021-07-27 08:39] yanzhichao commented on #2583
Yes, I referring to your PPML example ,but I change some code as following,  I unzip the data.zip which include the input.jpg,class.txt and alexnet-pretrained.pt to the protect directory of "/workplace/encryptedData"
[code]
and also I use your  Secret Provisioning service from Graphene.

I find the times in the secret-provisioning service's logs . when run ppml ,it seems will do three times remote

[2021-07-27 08:51] dimakuv commented on #2563
Well, yeah, generating a dummy key as part of the make is also reasonable. Let's see what other Graphene maintainers think.

[2021-07-27 08:54] dimakuv commented on #2583
I see. Thanks for the logs! The PPML example is a *multi-process* program. Apparently, it creates 3 programs (one main, and two utilities: I think PyTorch spawns a `gcc` or `ld` processes to get some information from the OS). So each program talks to the Secret Provisioning Server at startup. This is wrong, thanks for noticing this, I'll fix it soon.

Yes, if the program is multi-threaded (not mul

[2021-07-27 09:11] yanzhichao commented on #2583
So do you mean you would give some modification at the PPML application level?
Is it possible that we could introduce some modification at Graphene level to force ONLY ONE remote attetstaion per application, and the secret key could be transfered implicitely via (maybe) local attetstaion to other enclaves are launched later but belong to the same application?

[2021-07-27 09:26] dimakuv commented on #2583
No, I will perform a modification at the Graphene level. Nothing will change in the PPML application.

This is actually exactly what's happening already in Graphene. The only problem is that the preloaded shared library (`libsecret_prov_attest.so`) runs several times, but this is unnecessary and doesn't really change anything in Graphene behavior (because Graphene already implicitly transfers the

[2021-07-27 09:26] anjalirx-intel commented on #2451
Verified on below config as said. Issue still exists.

Error:
graphene-direct stress-ng --chmod 3 --timeout 60s

[code]

Machine Config:
Kernel 5.12.0-051200-generic
OS: 20.04.1 LTS (Focal Fossa)
Stress-ng: version 0.11.07 (gcc 9.3, x86_64 Linux 5.12.0-051200-generic)

[2021-07-27 09:30] anjalirx-intel commented on #2475
@shamamathew Verified, Issue is fixed

[2021-07-27 09:32] yanzhichao commented on #2583
That's cool ,  wait for your enhancement  !

[2021-07-27 11:42] mkow commented on #2563
Not sure if we want to do this, it may suggest to our users reading the examples that the signing keys are per-enclave or per-build.
Maybe it's just the error message with missing `SGX_SIGNER_KEY` we should fix? I don't think we have any nice handling of this case.

[2021-07-27 11:47] mkow commented on #2451
This looks like just a missing entry in the manifest. Could you run this on "trace" debug level and find on which file it fails?

[2021-07-27 11:54] anjalirx-intel commented on #2451
@mkow This is not about missing file in the manifest. If you see the above observation it does work with few stressors. If you see above observation mentioned in description, initially it worked for 1 stressor and 3 stressor as well and then it throw **No such file or directory** error

[2021-07-27 12:20] dimakuv commented on #2583
@yanzhichao I created a PR that fixes your issue: https://github.com/oscarlab/graphene/pull/2586.

[2021-07-27 12:33] dimakuv commented on #2563
@mkow, you should take a look at #2582. In that PR, I do this in each Example:
[code]

In other words, `SGX_SIGNER_KEY` envvar points to the dummy signing key generated during Graphene build (if the user follows our QuickStart guide) by default. But ideally, for production purposes, the user will overwrite this dummy default with her own key: `SGX_SIGNER_KEY=<path-to-my-signing-key> make`.

So the

[2021-07-27 12:58] mkow commented on #2451
Hmm, but still, this info would be very helpful to see why it could fail.

[2021-07-27 13:01] mkow commented on #2563
Why not both? I.e. keep this default, but if `SGX_SIGNER_KEY` doesn't exists after this conditional substitution then we error out?

[2021-07-27 16:49] #1998 closed

[2021-07-28 03:34] sbellem opened #2588 "Remote attestation example with Python"
Is there documentation and/or examples on how to perform remote attestation when using Python in an enclave?

[2021-07-28 05:43] jinengandhi-intel opened #2589 "Stress-ng fork, vfork, clone tests fail with Graphene"
## Description of the problem

For fork test, 2/5 times we see the following error message during fork creation and termination.
[code]
Logs for the same are attached here.
[fork_stress-ng_error_log2.txt](https://github.com/oscarlab/graphene/files/6890596/fork_stress-ng_error_log2.txt)
[fork_stress-ng_error_log1.txt](https://github.com/oscarlab/graphene/files/6890598/fork_stress-ng_error_log1.txt)

[2021-07-28 06:32] dimakuv commented on #2588
No, there is no documentation or examples particular to Python + SGX Remote attestation.

But you can apply the Secret Provisioning library to your Python workload: https://github.com/oscarlab/graphene/tree/master/Examples/ra-tls-secret-prov. The variant you will probably be interested in is `secret_prov_pf_client`.

I also recommend to read our docs: https://graphene.readthedocs.io/en/latest/atte

[2021-07-28 07:35] Nirusu commented on #2563
Why not auto-generate a key globally in the example folder, if non is existing? Shouldn't that suggest that the key is not bound per enclave or per build?

I mean, if you plan on keeping building Graphene in the quickstart guide, it will probably be fine, but if you want to decouple examples and/or plan on using prebuilt releases in the quickstart guide, I think generating a key if non exists make

[2021-07-28 09:01] dimakuv commented on #2563
Do you mean add this logic to each of the examples' Makefiles? This feels to me like too much hand-holding. Also, auto-generating a private key in the Makefile sounds like a bad idea from the security perspective -- the users don't even notice that a very important security artifact was created in some random fashion.

For now, we went with the "error out" approach in Makefiles, see https://github

[2021-07-28 12:44] Nirusu commented on #2563
Yes, this was my idea, but I also get your point about this being too much hand holding. As long as one can easily find the issue (e.g. noted in docs, easy googleable which kind of key you need (RSA-3072)), I think that's sufficient.

[2021-07-28 14:43] vijaydhanraj commented on #2531
Debugged `waitpid03` test further with @boryspoplawski and this is indeed the case of #2532 but just in this case the error happens in the `ocall_write` flow. From the logs we can see that the reported injection address is inside `sgx_ocall_write` ocall just after a syscall instruction.
[code]

As mentioned in #2532, once `-EINTR` is returned, the `TLS` connection gets out of sync and failure ensu

[2021-07-28 15:56] adityapribadi3 opened #2591 "ERROR: C library 'graphene-lib' not found"
I get this error when installing graphene on AWS ec2
referring to this guide https://graphene.readthedocs.io/en/latest/quickstart.html

[2021-07-28 16:58] mkow commented on #2588
This is a question, not a bug, so I'm closing it. @sbellem please use our mailing list (support@graphene-project.io) for usage questions/support.

[2021-07-28 16:58] #2588 closed

[2021-07-28 17:04] mkow commented on #2563
I agree with @dimakuv, this step is something our users should be aware of, not something we should do behind their back automatically. They need to know that running enclaves requires a private key from the developer and that they should generate one.

[2021-07-28 17:09] mkow commented on #2591
On which command exactly? Could you include console logs?

[2021-07-28 19:02] pwmarcz commented on #570
Okay... looks like right now we don't support host-level named pipes (only emulated ones, created with `mknod` from inside Graphene).

Unfortunately trying to access a "real" named pipe, mounted from outside triggers a `BUG()` - I think they worked "by accident" before and were exposed as regular files...

I would like to fix that, but does it make sense? Should Graphene have both emulated named p

[2021-07-28 23:41] mkow commented on #570
Hmm, no idea. If we don't rely on this functionality in LibOS then just doing `BUG()` if someone (i.e. LibOS developer) actually tries to do this sounds reasonable and it may actually catch some bugs in LibOS where we accidentally access some pipes not created by us.

[2021-07-29 00:06] sbellem commented on #2588
Thanks. Did not know that you do not use issues for questions. Sorry.

[2021-07-29 00:25] mkow commented on #2588
No problem :)
But FYI, we have "IMPORTANT: please do not post general questions here; if you have questions, please use mailing list: support@graphene-project.io" in the issue template you get when creating a new one ;) Anyways, if you still have some questions then please just continue there, we'll try to help.

[2021-07-29 02:29] sbellem commented on #2588
Oh, I am sorry! I was helping with a hackathon, and it was late, and just skimmed super quickly through the comment, and overlooked the IMPORTANT ... and deleted the whole thing to post my question ... sorry.

[2021-07-29 05:25] anjalirx-intel commented on #2451
Closed the issue by mistake

[2021-07-29 05:54] anjalirx-intel commented on #2451
**Partial Logs**
[chmod_4_stressor_trace.zip](https://github.com/oscarlab/graphene/files/6898171/chmod_4_stressor_trace.zip)

Complete Logs is not able to upload because file size is too high even after compressing.

[2021-07-29 06:49] dimakuv commented on #570
I would say that we shouldn't support this case. Named pipes (`mknod(S_IFIFO)`) sit somewhere between regular pipes (`pipe()`) and UNIX domain sockets (`socketpair()`). Both regular pipes and UNIX domain sockets can only be created inside Graphene. Also, both are transparently encrypted.

So we should follow this pattern: allow named pipes only between related Graphene processes and always encrypt

[2021-07-29 06:52] dimakuv commented on #570
But throwing a `BUG()` is wrong. We should catch this case (app trying to open an "unknown", host level named pipe) and report an error like `Graphene cannot work with host-level named pipes (only named pipes created between related Graphene processes)`. Something like this.

Ideally, we should also check named UNIX domain sockets, and report a similar error. I guess right now UNIX domain sockets

[2021-07-29 08:47] sahason commented on #2175
@dimakuv Please  assign this bug to me.

[2021-07-29 08:49] sahason commented on #2538
@dimakuv Please assign this to me.

[2021-07-29 10:00] pwmarcz commented on #570
So, to sum up: the reported bug in `file_attrquery` is fixed by 13bd8c6e85f2f803d19f29079cf8fea5b5c5d5f7 (it now opens the file with `O_NONBLOCK`); I also verified manually that it works.

However, accessing a host named pipe also triggers a `BUG()` in LibOS, which I'm fixing in #2592.

[2021-07-29 10:01] pwmarcz commented on #570
Apparently PAL exposes such sockets as `pal_type_dev` and Graphene is happy to report them to user as character devices...

[2021-07-29 10:21] pwmarcz opened #2593 "SGX startup is slow due to quadratic TOML processing"
## Description of the problem

Graphene-SGX startup is slow for manifests that have a lot of `trusted_files`.

## Steps to reproduce

On an Ubuntu 18.04 machine, current master branch (c602e5614db4b71e878a0b9ba3df816cee048a52). Try to run Python example with `graphene-sgx python -c "print('hello')"`.

## Expected results

This should be relatively quick.

## Actual results

The command takes 10 se

[2021-07-29 10:40] dimakuv commented on #2589
Someone needs to root cause this. It doesn't seem to be related to https://github.com/oscarlab/graphene/issues/2514.

[2021-07-29 10:57] mkow commented on #2593
Yup, because we're using wrong TOML constructs for this, we should use arrays, not dictionaries (which are slow, and the keys make no sense here). But this will be resolved when we completely fix #2076.

[2021-07-29 11:06] mkow commented on #570
Ah, I thought this `BUG()` can only be triggered by modifying LibOS code, then `BUG()` is perfectly fine. If it's reachable from the user app then it should be fixed to not allow this.

[2021-07-29 12:35] boryspoplawski commented on #2581
+1 to using Jinja comments in examples and explaining in docs that we use Jinja + TOML.

[2021-07-29 12:36] dimakuv commented on #570
Is this meaningful? Sounds like a totally wrong thing to do. Anyway, this is not relevant to this particular issue.

[2021-07-29 14:49] dimakuv commented on #2589
This was interesting. The root cause is like this:

- The main process forks child processes like crazy
- The fork is implemented on Linux PAL as follows: `checkpoint -> fork -> execve("libpal.so") -> restore`
- Notice how the child process is started via `execve()` -- this allows Linux host to apply ASLR to map `libpal.so` at some rather random high address (e.g. `0x7fc8f4167000`)
- `restore` in

[2021-07-29 15:05] dimakuv commented on #2589
@jinengandhi-intel If you could try #2595 on your side, would be great. Works for me.

[2021-07-29 15:06] #570 closed

[2021-07-29 15:53] adityapribadi3 commented on #2591
i have done some research, so this command "meson build --buildtype=release -Dsgx=enabled -Ddirect=enabled" cause the error if I change to this one "-Ddirect=disabled" it will work but when I want to run this "graphene-sgx helloworld" it gives me this error
error: Cannot open device /dev/sgx/enclave. Please make sure the Intel SGX kernel module is loaded.
error: load_enclave() failed with error -2

[2021-07-29 15:58] mkow commented on #2591
Have you done what the error says? :) ("Please make sure the Intel SGX kernel module is loaded.")
Does this file exist? If so, what's its ownership/perms?

[2021-07-29 17:14] monavij commented on #2591
Did you get an SGX enabled VM on AWS? As far as I know AWS does not support SGX .

[2021-07-29 17:19] adityapribadi3 commented on #2591
I'm not sure, that's why I'm trying. Can we run graphene from the virtual box running ubuntu vm? @monavij

[2021-07-29 22:01] monavij commented on #2591
No - hardware has to support it and VMM needs to expose it to the VM. You should try and get an SGX enabled VM from Azure or ali cloud.

[2021-07-30 00:54] mkow commented on #2591
@adityapribadi3: Try running https://graphene.readthedocs.io/en/latest/manpages/is_sgx_available.html on that server.
Anyways, this is definitely not a problem in Graphene, so I'm closing the issue. Feel free to continue the discussion though.

[2021-07-30 00:54] #2591 closed

[2021-07-30 03:38] jinengandhi-intel commented on #2589
Sure, will test with the PR.

[2021-07-30 07:23] anjalirx-intel commented on #2489
Updated the issue for RHEL as well.

[2021-07-30 07:30] anjalirai-intel opened #2598 "Graphene-SGX: Redis Example is failing without sgx.nonpie_binary = true for CentOS"
## Description of the problem
Redis server is not started without` sgx.nonpie_binary = true` for SGX in CentOS
It started failing after this commit
https://github.com/oscarlab/graphene/commit/b2a8eeecb5e109c81badac17ee9b59fa99b31c8e

## Steps to reproduce
cd Examples/redis
make SGX=1 start-graphene-server & ../../Scripts/wait_for_server 5 127.0.0.1 6379
./src/src/redis-benchmark

## Expected resul

[2021-07-30 07:39] anjalirx-intel opened #2599 "Numpy is failing with memory fault at 0x00000000 for CentOS in SGX"
## Description of the problem
Numpy & Scipy Python Examples are failing with memory fault issue in CentOS

## Steps to reproduce
Comment the dist-packages mounting in python.manifest.template and /etc/default/apport line as well
make SGX=1 all
graphene-sgx ./python scripts/test-numpy.py

## Expected results
error: Using insecure argv source. Graphene will continue application execution, but this c

[2021-07-30 07:41] anjalirx-intel commented on #2599
The workload is failing in RHEL as well

[2021-07-30 08:53] dimakuv commented on #2598
In the actual results, there is no error log for `graphene-sgx redis-server ...`. How is this? There is nothing that Redis prints? What about `loader.log_level = "all"`?

[2021-07-30 08:57] adityapribadi3 commented on #2591
@mkow sorry im new in this things, so I have come to this "~/graphene/Pal/src/host/Linux-SGX/tools/is-sgx-available" and "make" after that it shows me "g++ -O2 -std=c++14 -DNDEBUG -Wall -Wextra -Wno-multichar -masm=intel is_sgx_available.cpp -o is_sgx_available"

how can i call the is_sgx_available ?

[2021-07-30 08:57] dimakuv commented on #2599
I see this in the log:
[code]

This looks like NumPy/SciPy tries to allocate 128MB of memory per thread. And at some point the default enclave size https://github.com/oscarlab/graphene/blob/13b8be69f77315f34f49a31967f352c3e9225384/Examples/python/python.manifest.template#L42

is not sufficient.

This looks like a feature of CentOS/RHEL/Fedora-based distributions of NumPy/SciPy. I think by increasi

[2021-07-30 08:59] dimakuv commented on #2591
@adityapribadi3 You built the `is_sgx_available` executable with this Make command. Now you can run it with `./is_sgx_available`.

To be honest, you should educate yourself in Linux. It seems that you don't understand what you're doing...

[2021-07-30 09:04] adityapribadi3 commented on #2591
@dimakuv thank you for your advise

[2021-07-30 09:06] anjalirx-intel commented on #2598
Logs attached for " `make SGX=1 start-graphene-server & ../../Scripts/wait_for_server 60 127.0.0.1 6379`" with log_level as all

[2021-07-30 09:10] anjalirx-intel commented on #2599
I increased the enclave size to 4G like you said and it worked.

**Result:**
[intel1@localhost python]$ graphene-sgx ./python scripts/test-numpy.py
error: Using insecure argv source. Graphene will continue application execution, but this configuration must not be used in production!
numpy version: 1.14.3
numpy.dot: 0.44974699020385744 sec

Closing the issue

[2021-07-30 09:10] #2599 closed

[2021-07-30 09:14] dimakuv commented on #2598
Wow. Weird.

Can you do
[code]

And paste the output

[2021-08-02 01:51] boryspoplawski commented on #2531
@vijaydhanraj could you check if #2602 fixes the issue?

[2021-08-02 02:26] boryspoplawski opened #2603 "[PAL/Linux-SGX] Exception handling wrongly distinguishes ocall interruption"
## Description of the problem
Current master (3182ca948c6712631a3ac9bf8983b8103351c9a9) does not recognize part of case A (you can check the comments in `enclave_entry.S` for naming conventions), as it only checks if `rip` is in range `[Locall_about_to_eexit_begin, Locall_about_to_eexit_end)`, but code in that range calls  `__restore_xregs` https://github.com/oscarlab/graphene/blob/master/Pal/src/

[2021-08-02 08:49] dimakuv commented on #2603
Is the correct fix to this: rework `enclave_entry.S`? Or an additional check `[begin-of-restore-xregs, end-of-restore-xregs)`?

[2021-08-02 08:55] prateeksahu opened #2604 "GSC: Unable to deploy Emojivoto sample app using graphene GSC"
## Description of the problem
Unable to deploy simple microservice application (emojivoto - https://github.com/BuoyantIO/emojivoto/) using graphene GSC.

## Steps to reproduce
System:
Azure VM DC8_v2 (8 cpu, 32G mem)
Kernel: 5.11.16

Run GSC tool on specific container images - emojivoto-web, emojivoto-emoji-svc, emojivoto-voting-svc
    config.yaml

[code]
   manifest (named image.manifest)
[code]

[2021-08-02 09:03] jinengandhi-intel opened #2605 "Example workloads failing on CentOS after "Decouple all examples.." commit"
## Description of the problem
With this commit the method to compute the ARCH_LIBDIR has changed and this change is causing most Example workloads to fail. https://github.com/oscarlab/graphene/pull/2582/files

Error message from most workloads:

[code]

Essentially the `gcc -dumpmachine` is resolving to `x86_64-redhat-linux` whereas this path doesn't exist on the system. As per our CentOS machine

[2021-08-02 09:09] dimakuv commented on #2604
GSC currently hard-codes the environment variables based on the initial values in the original Docker image. See starting from here: https://github.com/oscarlab/graphene/blob/master/Tools/gsc/gsc.py#L93

To support your use-case, GSC needs a way to propagate environment-specified envvars into the Graphene SGX enclave (in your case, Kubernetes sets these envvars and propagates them to each Docker c

[2021-08-02 09:18] aneessahib commented on #2260
this issue is different than 2479.

what happens here is that, when the child process is asleep (read FUTEX_WAIT), a PID KILL (SIGINT) is sent from the parent. Graphene handles this with a thread wake (read FUTEX WAKE), and a SIGCONT being sent to the child process.
The FUTEX WAKE succeeds, but the SIGCONT is sent even before the original FUTEX WAIT could gracefully exit so that it could subsequen

[2021-08-02 09:25] prateeksahu commented on #2604
Thanks @dimakuv
I have used marblerun as well, and I was actually trying to run graphene with the sample app that marblerun uses so that I can study the pros and cons of the two.
Can you help me try the insecure way of env var propagation? Since this is a very initial research experiment and not a production level deployment, I might be okay with it.

[2021-08-02 09:56] dimakuv commented on #2604
Check this https://graphene.readthedocs.io/en/latest/manifest-syntax.html#environment-variables.

I guess it would be enough to add `loader.insecure__use_host_env = true` to this file: https://github.com/oscarlab/graphene/blob/848f9617acfec9fd719871a3adfd3e38ad94ea40/Tools/gsc/templates/entrypoint.manifest.template

This is of course only for a research experiment.

[2021-08-02 10:36] #2583 closed

[2021-08-02 10:39] dimakuv commented on #2605
Yes, this is expected. I put this comment in the Redis example: https://github.com/oscarlab/graphene/blob/master/Examples/redis/Makefile#L22-L25

Basically, try building all examples like this: `ARCH_LIBDIR=/lib64 make`. This way you don't need to change `fs.mount` in the manifest templates of each example.

[2021-08-02 10:41] dimakuv commented on #2260
@boryspoplawski to the rescue. I think that Borys's new PR https://github.com/oscarlab/graphene/pull/2602 solves (or partially solves) the root cause reported by @aneessahib. But I'm not sure, so Borys can comment better.

[2021-08-02 10:55] jinengandhi-intel commented on #2605
Yes, we have tried it manually and it works, but shouldn't there be a generic way of generating the manifest files for the examples? or we call them out as not-applicable for CentOS? In it's current form they are failing and there are customers who are trying Graphene with CentOS who will face the error and report back.

[2021-08-02 11:16] dimakuv commented on #2605
When merging that "Decouple all examples..." commit, we agreed that we currently only say about Ubuntu 18.04/20.04 support out of the box. The other distros currently require tweaks.

It's unclear how to make all our Makefiles choose between Ubuntu and CentOS peculiarities in a reasonable way. I'm more than open to suggestions (but not something like `if os == centos then arch_libdir="/lib64"`, th

[2021-08-02 12:35] boryspoplawski commented on #2260
If I understood the root cause correctly then yes, #2602 should fix it. @aneessahib could you try that PR?

[2021-08-02 12:39] boryspoplawski commented on #2603
What do you mean? Both would fix the issue. I'll submit a fix soon (which might not survive the rework if it's ever finished completely (instead of partial). I just wanted to make sure it fixes the problem and it does: I was able to run 15k runs without any issues (took me ~9h).

[2021-08-02 13:03] dimakuv commented on #2603
Given that you will submit a fix soon, my question is irrelevant :) (I was asking basically: will you "rework everything" and subsequently fix this bug, or will you make a more pointed fix.)

[2021-08-02 15:07] dimakuv commented on #2593
Using TOML tables instead of TOML arrays also blocks my other PR: https://github.com/oscarlab/graphene/pull/2484

I started working on this transition. Here is the idea:

- [ ] Refactor all relevant places in code (https://github.com/oscarlab/graphene/pull/2607)
- [ ] First try to parse legacy TOML-table syntax `sgx.allowed_files.bla = "file"`, if not found, try new TOML-array syntax `sgx.allowed_

[2021-08-02 15:13] mkow commented on #2603
Would this really work? This function has more than one callsite.

[2021-08-02 15:45] boryspoplawski commented on #2603
Don't worry, I have a working fix already (but want to merge other stuff first).

[2021-08-02 16:45] prateeksahu commented on #2604
Thanks @dimakuv for the quick support. This helped me navigate past the blocker. I am now able to run the application.

For future readers, the line to be added is `loader.insecure__use_host_env = 1` and it can be added to your own manifest file (`image.manifest` in my case) or the `entrypoint.manifest.template` as suggested above. I decided to add it to my own so as to keep the original files cle

[2021-08-02 16:45] #2604 closed

[2021-08-02 17:34] aneessahib commented on #2260
@boryspoplawski  - #2602 does not fix it.

[2021-08-02 18:05] boryspoplawski commented on #2260
I was not able to reproduce the issue on #2602 in 60 tries, where as it triggeres on current master in most (~90%) tries.

[2021-08-02 22:23] woju commented on #2581
It's technically possible, we could do `env = jinja2.Environment(..., line_comment_prefix='#')`, that way Jinja will treat TOML comments the same as jinja comments, i.e. they won't appear in rendered output and jinja syntax won't be interpreted.

https://jinja.palletsprojects.com/en/3.0.x/api/#jinja2.Environment
https://jinja.palletsprojects.com/en/3.0.x/templates/#line-statements

I've never used

[2021-08-02 23:02] mkow commented on #2581
@woju: The problem with this is that you can't create a comment in the template which would go to the final rendered manifest. Not sure if that's a problem, but sounds like a limitation which (as you said) we won't be able to lift later without breaking compatibility.

[2021-08-03 02:12] aneessahib commented on #2260
ok i see what i missed. I tried clock_nanosleep02 - which failed (should be another issue completely). But nanosleep02 passes now with the PR. @anjalirx-intel could try this on her side once the PR is merged.

[2021-08-03 03:33] llly opened #2609 "[LibOS] `bind` Unix socket, `addrlen` parameter checking is different from Linux, and causes error in Python"
## Description of the problem
Graphene `shim_do_bind` function return  EINVAL for "addrlen is wrong" when `addrlen` is not same as `sizeof(struct sockaddr_un)`, which is 110.
https://github.com/oscarlab/graphene/blob/20156c6e23ea6570614197a97daf77dcd764153b/LibOS/shim/src/sys/shim_socket.c#L467-L469
But smaller size can work on Linux.

## Steps to reproduce
Copy example from `man bind` and change

[2021-08-03 03:45] jinengandhi-intel commented on #2605
I was going through Quick Start Guide and there we have a section called "Running Sample Applications" where we ask users to try the examples, can we add a note here that the current examples only supports Ubuntu distro?
https://graphene.readthedocs.io/en/latest/quickstart.html#running-sample-applications

[2021-08-03 05:33] jinengandhi-intel commented on #2598
[intel1@localhost redis]$ readelf -h redis-server
ELF Header:
  Magic:   7f 45 4c 46 02 01 01 00 00 00 00 00 00 00 00 00
  Class:                             ELF64
  Data:                              2's complement, little endian
  Version:                           1 (current)
  OS/ABI:                            UNIX - System V
  ABI Version:                       0
  Type:

[2021-08-03 06:21] dimakuv commented on #2598
Thanks. As suspected, Redis is built as a non-PIE executable on CentOS. You can notice this by `EXEC` type and by the entry point address `0x42b170` (approx 4MB). So that's why without `sgx.nonpie_binary = true`, Redis fails.

Just for comparison, here's how Redis executable looks like on Ubuntu:
[code]

I left the irrelevant fields out. You can see that Redis on Ubuntu is `DYN` (PIE executable, o

[2021-08-03 06:33] dimakuv commented on #2598
#2610 should fix this isse.

[2021-08-03 06:34] dimakuv commented on #2605
@jinengandhi-intel Good suggestion, let me create a quick PR with this note.

[2021-08-03 07:15] dimakuv commented on #2581
@mkow From what I understand, using Jinja-style comments in our manifest files will lead to the same issue: comments will disappear from the final rendered manifest.

[2021-08-03 07:17] dimakuv commented on #2609
@llly So just replacing https://github.com/oscarlab/graphene/blob/20156c6e23ea6570614197a97daf77dcd764153b/LibOS/shim/src/sys/shim_socket.c#L468

with `if (addrlen > sizeof(struct sockaddr_un)) ` should work?

[2021-08-03 08:52] llly commented on #2609
Yes. I think so.

[2021-08-03 08:53] woju commented on #2581
I don't know if it's really a problem. Who needs comments in rendered manifests and why?

[2021-08-03 09:08] dimakuv commented on #2581
I agree. Doesn't seem like a problem to me.

[2021-08-03 09:50] ravikumarbhattiprolu opened #2612 "Ubuntu 20.04 support for GSC"
Currently GSC supports Ubuntu 18.04 as base OS. Can you please add support for Ubuntu 20.04 also?

## Description of the problem

## Steps to reproduce

## Expected results

## Actual results

[2021-08-03 11:36] dimakuv commented on #2612
@aneessahib @veenasai2 A reasonable request, please take a look at 20.04 support at some point.

[2021-08-03 11:39] aneessahib commented on #2612
we're looking into this. Assign it to me

[2021-08-03 16:14] adityapribadi3 opened #2613 "Error deploy to Azure confidential computing"
Hi, I have tried to deploy graphene in an Azure confidential computing machine. I follow this guide
https://graphene.readthedocs.io/en/latest/cloud-deployment.html
also, I have checked using is_sgx_available and the result is

SGX supported by CPU: true
SGX1 (ECREATE, EENTER, ...): true
SGX2 (EAUG, EACCEPT, EMODPR, ...): false
Flexible Launch Control (IA32_SGXPUBKEYHASH{0..3} MSRs): true
SGX exten

[2021-08-03 16:19] dimakuv commented on #2613
You updated the kernel version to 5.11 -- this version has its own SGX driver (built-in). This effectively disables the "default" DCAP SGX driver installed by Microsoft Azure under ```/usr/src/linux-headers-`uname -r`/arch/x86/```.

So you should delete your Graphene that you built previously, and rebuild it again following the same instructions. But you should specify ```make ISGX_DRIVER_PATH=""

[2021-08-03 16:40] adityapribadi3 commented on #2613
Hi dimakuv,
I have tried to run using this one "make ISGX_DRIVER_PATH="" SGX=1" in step 3 but I still have the same error, also I use ubuntu 20.04 gen2, or should I try to use ubuntu 18 and use the default kernel?

[2021-08-03 17:12] adityapribadi3 commented on #2613
for the update, I have followed the same as the guide including ubuntu 18 and using the default the kernel. When I run "graphene-sgx helloworld", it return this
error: Using insecure argv source. Graphene will continue application execution, but this configuration must not be used in productio
n!
Hello world!

[2021-08-03 17:25] dimakuv commented on #2613
So you got it running on Ubuntu 18.04. Congrats!

What happens on 20.04 I am not sure. Please try again *from scratch*, and don't forget to use `make ISGX_DRIVER_PATH="" SGX=1`.

[2021-08-03 17:27] adityapribadi3 commented on #2613
Thank you for your help dimakuv, so for this error "error: Using insecure argv source" I don't need to worry right?

[2021-08-03 17:30] dimakuv commented on #2613
You don't need to worry about this error. This is perfectly normal (well, insecure but functional -- that's because we wrote a very simple HelloWorld example and didn't care much about its security).

[2021-08-03 17:31] adityapribadi3 commented on #2613
ok thanks for your help, appreciate it

[2021-08-03 17:31] #2613 closed

[2021-08-04 08:45] Satya1493 commented on #2443
@dimakuv, please assign this to me. I've started to have a look.

[2021-08-04 13:40] jinengandhi-intel commented on #2589
The issue is not seen with the PR

[2021-08-04 14:46] dimakuv commented on #2105
(the below text is moved from #2556 to avoid duplication.)

## Description of the problem

@vijaydhanraj recently expanded support for `/proc/cpuinfo` and added support for `/sys` pseudo-filesystems:
- https://github.com/oscarlab/graphene/pull/1910
- https://github.com/oscarlab/graphene/pull/1975
- ...and several fixup PRs to these...

The general approach is to copy all relevant information from

[2021-08-04 14:47] dimakuv commented on #2556
Closing this to avoid duplication (moved to https://github.com/oscarlab/graphene/issues/2105)

[2021-08-04 14:47] #2556 closed

[2021-08-04 14:48] dimakuv commented on #1794
Clang is again workable, but we need to add it to our Jenkins CI. Keeping this issue open until we add to Jenkins CI.

[2021-08-04 15:26] aneessahib opened #2615 "[GSC] Update GSC to follow the new build improvements"
GSC is currently pointed to an older version of graphene prior to the build changes.  Updates have to be made to the GSC config file and scripts to point to master.

[2021-08-04 15:41] chicolinux opened #2616 "Updating Graphene to the latest version"
## Description of the problem
Hello, I already have a working version of Graphene, but this about 4 months old, so I want to update my installation to the latest one, RC1.2, How to go about it? Erase the cloned repository and clone it again?? Any ideas or recommendations?
## Steps to reproduce

## Expected results

## Actual results

[2021-08-04 16:10] bigdata-memory opened #2617 "RFC: Two-step signing feature"
## Description of the problem
Currently, Graphene has single step signing feature only which requires the access to the signing key pair on the local build system. However, for production use, the signing key generated by ISV usually is not stored on local build system. therefore, the two-step signing feature is important for platform deployment. for details, please refer to [SGX Developer Referen

[2021-08-04 22:52] bigdata-memory opened #2619 "Expose quote outside of enclave"
## Description of the problem
As the document mentioned in https://graphene.readthedocs.io/en/latest/attestation.html?highlight=%2Fdev%2Fattest
`Remote Attestation is exposed to the application via /dev/attestation pseudo-filesystem. Remote attestation in Graphene uses the Intel SGX PSW’s AESM service and the Intel DCAP libraries under the hood.
Secure Channel is constructed using the RA-TLS libra

[2021-08-05 04:35] veenasai2 commented on #2615
Please assign to me.

[2021-08-05 06:07] dimakuv commented on #2616
I would erase the cloned repository, clone the new one, checkout the RC1.2 tag, and build + install again. Something like this:
[code]

[2021-08-05 06:07] dimakuv commented on #2616
Since this is not a real bug/suggestion to Graphene, I'm closing this issue. If there are more questions on the build procedure, feel free to reopen the ticket.

[2021-08-05 06:07] #2616 closed

[2021-08-05 06:11] dimakuv commented on #2619
What is the use case for dumping the SGX quote in some location on the host system?

I'm not against the idea (in fact, this will probably be needed for services like Microsoft Azure Attestation), but what is the exact scenario here?

Note that `/dev/attestation/` pseudo-files are exposed to the application, but the application itself typically doesn't use these files -- instead the helper librari

[2021-08-05 06:39] sahason commented on #2175
@thomasten This issue is not seen with latest master. Could you please confirm and close this?

[2021-08-05 07:34] dimakuv commented on #2175
Let's close this issue then. If this issue is still there, @thomasten, feel free to reopen.

[2021-08-05 07:34] #2175 closed

[2021-08-05 07:35] dimakuv commented on #2609
Please try https://github.com/oscarlab/graphene/pull/2620

[2021-08-05 12:42] woju commented on #2558
#895

[2021-08-05 13:11] VogtIndustries opened #2622 "Accessing file is denied in GrapheneSGX, even though it's specified as allowed in Manifest"
I am trying to run a program of mine in GrapheneSGX, but I'm encountering a problem with file access.

The program runs flawlessly in Graphene without SGX, but in GrapheneSGX it builds and runs, but I cannot access my output file "BaselineData.txt".
When running with debug-level logging, I receive the following error:

'''Accessing file:BaselineData.txt is denied (Operation denied). This file is n

[2021-08-05 13:32] pwmarcz commented on #2593
@dimakuv What about `sgx.trusted_checksum` though? Will it remain a table (with the same quadratic-lookup problem), or will it be an array (and the parsing code will need to "zip" both arrays), or...?

[2021-08-05 13:35] dimakuv commented on #2593
`sgx.trusted_checksum` will be an array. Effectively, `sgx.trusted_files[index] = "file:bla"` has a corresponding item `sgx.trusted_checksum[index] = "12345..."`.

I have a branch in my local repo, I'll publish it after #2607 is merged.

[2021-08-05 13:37] dimakuv commented on #2622
Can you show the relevant snippet from your manifest file?

[2021-08-05 13:44] VogtIndustries commented on #2622
I have appended the whole Manifest File as Manifest.pdf on my post, but below is my whole SGX related Manifest part :)

############################### SGX: GENERAL ################################
sgx.enclave_size = "256M"
sgx.debug = true
sgx.nonpie_binary = true
sgx.thread_num = 16
############################# SGX: TRUSTED FILES #############################
sgx.trusted_files.runtime = "file:{

[2021-08-05 13:51] woju commented on #2593
There's those other efforts related to partial manifest and HSM signing and I'm not sure how the manifest structure should look like. In case of partial manifests (i.e. situation, when you don't have all the trusted/protected files on your machine and you rely on externally provided hashes), don't you want something like:

[code]
?

Because managing parallel arrays, while certainly possible to get

[2021-08-05 13:59] jinengandhi-intel opened #2623 "Meson not recognizing different values for -Ddirect and -Dsgx when run back-to-back and build dir already exists"
## Description of the problem
If you follow the steps in the Quick Start Guide for non-SGX https://graphene.readthedocs.io/en/latest/quickstart.html#quick-start-without-sgx-support (`-Ddirect=enabled -Dsgx=disabled`) followed by the steps in the Quick Start Guide for SGX https://graphene.readthedocs.io/en/latest/quickstart.html#quick-start-with-sgx-support (`-Ddirect=enabled -Dsgx=enabled`)  the S

[2021-08-05 14:17] jinengandhi-intel opened #2624 "Bash example in CentOS failing with permission denied /usr/bin/etc/gshadow during graphene-sgx-sign stage"
## Description of the problem
Bash example fails with the following error during signing on CentOS machine:

[code]

The same command passes when run with sudo.

[code]

## Steps to reproduce

`cd Examples/bash`
`ARCH_LIBDIR=/lib64 make SGX=1`
## Expected results
Manifest file generation, sgx-sign and token should pass.

## Actual results
graphene-sgx-sign fails with permission denied error

[2021-08-05 14:23] woju commented on #2623
To change configuration of an existing build directory, you should use `meson configure`: https://mesonbuild.com/Commands.html#configure. This is quickstart, so I don't think we should bother with documenting meson intricacies here.

[2021-08-05 14:32] dimakuv commented on #2593
Definitely doable, though I wouldn't consider it important. `sgx.trusted_checksum` is a Graphene-SGX-internal feature which users never use or even know about. How exactly this is implemented in the final `.manifest.sgx` and in Graphene-SGX code, should be irrelevant to the users/developers.

Forcing users to use an "array of two-field tables" sound much more complicated than my current "array of

[2021-08-05 14:35] dimakuv commented on #2622
There is a "bug" in Graphene. You cannot do this:
[code]

when your application opens the file like this: `file:BaselineData.txt`.

Even though the underlying path is the same, but your manifest contains the **absolute path** and the application opens the **relative path**. Graphene currently doesn't understand that these two ways of specifying a file path are the same.

So the fix is simple:
[cod

[2021-08-05 15:02] jkr0103 commented on #2549
Please assign to me.

[2021-08-05 15:05] VogtIndustries commented on #2622
Ohh I see, thank you very much!!! 👍🏼
This solved my issue and everything works as expected now :)
Also thank you for the extremely quick replies!

[2021-08-05 15:05] #2622 closed

[2021-08-05 15:36] mkow commented on #2593
I like this idea, it preserves simplicity for usual use-cases, but doesn't block more complicated ones.
And I think we already had someone asking to support providing hashes without the corresponding data to some of the trusted files.

[2021-08-05 16:58] #2489 closed

[2021-08-05 16:58] #2605 closed

[2021-08-05 17:07] mkow commented on #2581
The difference is that you won't be able to emit such comments if we go with skipping `#` on Jinja level. And all of this is for a weird case where a user confused the language they write in...

[2021-08-05 17:27] mkow commented on #2619
We can't generate it without cooperation from the application, someone has to fill the user data field. Why would you need a quote without any data there?

[2021-08-05 18:02] pwmarcz commented on #2545
Seems fixed by #2592.

[2021-08-06 03:27] jinengandhi-intel commented on #2623
I kind if disagree here, we shouldn't expect users to be aware of meson, either we change the steps in the documentation which makes sure we never run into this issue, or we clearly call out the `meson configure` command to resolve the issue.

[2021-08-06 06:02] jinengandhi-intel opened #2627 "Quick Start Guide missing documentation for installation of meson python3-jinja2 python3-click"
## Description of the problem
Quick Start Guide for SGX and Non-SGX do not specify the meson, python3-jinja2, python3-click which are used by Graphene, without which users will see error during the build/install or test execution steps.

https://graphene.readthedocs.io/en/latest/quickstart.html

These seem to be present in the Building guide: https://graphene.readthedocs.io/en/latest/building.html

[2021-08-06 06:19] dimakuv commented on #2624
Thanks for the bug report.

This is because we have this: https://github.com/oscarlab/graphene/blob/80e36a6a1e91a43f8c33b64efacb61b697fdccff/Examples/bash/manifest.template#L33

This implies that `graphene-sgx-sign` utility will "unfold" the directory where `bash` is located (on CentOS, this is `/usr/bin`) and add **all its files and sub-directories** as Graphene trusted files.

Surprisingly, Cent

[2021-08-06 06:21] dimakuv commented on #2624
Thanks for the bug report.

This is because we have this: https://github.com/oscarlab/graphene/blob/80e36a6a1e91a43f8c33b64efacb61b697fdccff/Examples/bash/manifest.template#L33

This implies that `graphene-sgx-sign` utility will "unfold" the directory where `bash` is located (on CentOS, this is `/usr/bin`) and add **all its files and sub-directories** as Graphene trusted files.

Surprisingly, Cent

[2021-08-06 06:21] dimakuv commented on #2593
Ok, let me implement Woju's approach.

[2021-08-06 06:29] dimakuv commented on #2545
@anjalirx-intel Could you verify on your side that the latest Graphene master has this fixed?

[2021-08-06 06:33] dimakuv commented on #2624
Thanks for the bug report.

This is because we have this: https://github.com/oscarlab/graphene/blob/80e36a6a1e91a43f8c33b64efacb61b697fdccff/Examples/bash/manifest.template#L33

This implies that `graphene-sgx-sign` utility will "unfold" the directory where `bash` is located (on CentOS, this is `/usr/bin`) and add **all its files and sub-directories** as Graphene trusted files.

Surprisingly, Cent

[2021-08-06 06:34] dimakuv commented on #2593
Ok, let me implement Woju's approach.

[2021-08-06 07:33] #2532 closed

[2021-08-06 07:41] dimakuv commented on #2539
We had a clush of two PRs fixing this issue: #2577 from @sahason and #2626 from @pwmarcz.

Sorry for this. I guess the reason why this happened was because we didn't have the Assignee in this issue :( So @pwmarcz didn't notice that this was already taken by @sahason. We need to be more careful with assignments.

Since #2626 is a more "complete" PR, let's merge it instead of #2577.

[2021-08-06 07:43] chicolinux opened #2628 "Updating the TF version that EXAMPLE/tensor-flow-lite installs"
## Description of the problem
Hello, I already posted this same question on the mailing list but without any feedback, so after a few months later I want to post it here even though is not an issue per se.

I need to update the TensorFlow version that Graphene install for default for the EXAMPLE/tensor-flow-lite example. It install TF v1.9, and I want to update it to 2.4.

So, can this be done? I

[2021-08-06 07:45] dimakuv commented on #2628
We didn't try to update the TensorFlow Lite version from 1.9 to 2.4. Please try it out (just change the version in the Makefile, as you correctly noticed). If there are any issues, you can report them in this GitHub issue.

We also have a proper TensorFlow example coming: https://github.com/oscarlab/graphene/pull/2530

[2021-08-06 08:39] dimakuv commented on #2623
This deserves a note in the documentation, so I created a PR to fix this.

Indeed, `meson <builddir>` vs `meson configure <builddir>` is quite tricky. It doesn't help that our QuickStart "build directory" is called `build` which confuses users to think that `meson build` is a command, and not "first invocation of Meson to create a `build/` directory". Actually, I find this decision of Meson a very

[2021-08-06 09:26] adityapribadi3 opened #2630 "PPML example with SGX Error"
Hi so I follow this guide
https://graphene.readthedocs.io/en/latest/tutorials/pytorch/index.html#executing-pytorch-with-graphene-in-sgx-enclave
I have successfully run "make SGX=1" however when I run "graphene-sgx ./pytorch pytorchexample.py"
it throws me this error

error: Using insecure argv source. Graphene will continue application execution, but this configuration must not be used in producti

[2021-08-06 10:26] dimakuv commented on #2593
So I tried this:
[code]

And got Python TOML error:
[code]

So yeah, Python's TOML parser doesn't support mixed arrays: https://github.com/uiri/toml/issues/270. Actually, looking at this GitHub repo, the project seems to be dying? There was no commit activity in the last couple months (I think from January 2021).

But this workaround works:
[code]

[2021-08-06 10:38] dimakuv commented on #2593
Oh nice, our C TOML parser doesn't support mixed arrays:
[code]

Well, the latest version supports it: https://github.com/cktan/tomlc99/issues/51

I will update our TOML C parser to this latest version then.

[2021-08-06 11:14] #2603 closed

[2021-08-06 11:40] #2539 closed

[2021-08-06 11:40] #2540 closed

[2021-08-06 11:40] #2548 closed

[2021-08-06 12:20] dimakuv commented on #2630
Strange, the file should have been overwritten, but Python says that it can't overwrite it...

Does anyone from the Graphene team have time to look into this?

[2021-08-06 12:53] dimakuv commented on #2593
Ok, I implemented everything in my local branch.

My Python SGX manifest is similar to Pawel's in terms of number of Python-internal files:
[code]

Old times:
[code]

New times:
[code]

About **5x improvement** (looking at `user` time).

[2021-08-06 14:31] woju commented on #2558
You can only transfer issues to another repo *owned by the same user/orga* (https://docs.github.com/en/issues/tracking-your-work-with-issues/transferring-an-issue-to-another-repository). So this need to be done in such a way:
1. create new repo in oscarlab/
1. move issues to the repo
1. move repo to new orga

And I might have missed something, I didn't test this.

[2021-08-06 14:47] mkow commented on #2624
Hmm, I got a new idea: What if we just skipped inaccessible files in trusted files recursive scan? We can emit a warning that something is being skipped, but let the generation finish.

[2021-08-06 14:59] mkow commented on #2630
@adityapribadi3 please use proper Markdown formatting for issues, the current version is unreadable.

[2021-08-06 15:12] adityapribadi3 commented on #2630
<img width="1280" alt="Screen Shot 2021-08-07 at 1 12 03 am" src="https://user-images.githubusercontent.com/22907832/128532276-fea6a417-a58e-49dd-9a87-144996ef4e6e.png">

[2021-08-06 15:20] mkow commented on #2630
@adityapribadi3: Sorry for being a bit rude, but have you actually read my comment...?

[2021-08-06 15:33] adityapribadi3 commented on #2630
sorry, I didn't get it you want me to use the template if I want to report the issue or do you want me to resend the error again from the terminal?

[2021-08-06 15:56] adityapribadi3 commented on #2630
## Description of the problem

PPML example with SGX Error when executing

## Steps to reproduce

This guide
https://graphene.readthedocs.io/en/latest/tutorials/pytorch/index.html#executing-pytorch-with-graphene-in-sgx-enclave
I have successfully run "make SGX=1" however when I run "graphene-sgx ./pytorch pytorchexample.py"

## Expected results
result.txt
## Actual results
[code]

[2021-08-06 18:20] mkow commented on #2623
This is bad, I admit that I was confused myself with this. What about using `meson build/` or `meson setup build/` in our docs? (assuming that a trailing `/` is accepted)

[2021-08-06 18:27] bigdata-memory commented on #2619
The things to fill the field of user data could be any that specified in manifest file. e.g. wrapped keys, fingerprints, access token. thanks.

[2021-08-06 18:40] mkow commented on #2619
If you mean protected files wrap key, then no, it can't be specified there in production configurations, because manifest is known to the untrusted host.

You can't exchange any secrets with an enclave if user data field in quote contains just some unique id. How would you start e.g. an in-enclave-terminated TLS this way? Or any other secure channel?

Ditto, manifest is known to the host, you can'

[2021-08-06 18:53] bigdata-memory commented on #2619
We definitely don't suggest our customers to attach sensitive info in quote. but it is quite flexible to allow user to configure it according to their own usages, in some cases, user just needs to assure those data are sourced from enclave in question, e.g. application output results, the secret fingerprints, the encrypted keys to exchange information, even the protected access token to grant exte

[2021-08-06 19:39] mkow commented on #2619
You suggested exactly this in your previous response. Citing: "The things to fill the field of user data could be [..] e.g. [...], access token".

It already is, the app may write anything it wants through our `/dev/attestation/user_report_data` interface. See https://graphene.readthedocs.io/en/latest/attestation.html.

a) It's already possible.
b) Your proposed solution doesn't allow for this, be

[2021-08-06 19:39] #2619 closed

[2021-08-07 15:42] dzygann opened #2632 "Postgres | Error opening executable"
Hi,

we're trying to run Postgres in Graphene. OS is Ubuntu 20.04.

To that end we created our own Dockerfile:
[code]
Which we then build and signed using gsc.
However when starting the image we encounter the following problem:
[code]

Remembering what dimakuv said in a previous issue, we took a step back to try again without gsc and only graphene-direct using the memcached example as a base.
Duri

[2021-08-07 16:03] dzygann opened #2633 "Postgres | GSC Failed to load entrypoint"
Hi,

as you can see in issue #2632 we're trying to run Postgres in Graphene. OS is Ubuntu 20.04.

Contrary to issue #2632 we didn't use our own dockerfile, but instead, we used one from Dockerhub `https://hub.docker.com/_/postgres`

Then again we build and signed it using gsc.
When trying to run this image however we encountered the following problem:
[code]

If we follow the instruction to add th

[2021-08-07 16:17] mkow commented on #2632
I think your postgres is located at `/usr/lib/postgresql/10/bin/postgres`, but you run `bin/pg_ctl`, which will be `/bin/pg_ctl` unless you set a non-default CWD in the manifest. At least that's what the Graphene error you see says - it can't find the executable you want it to run.

[2021-08-07 16:21] mkow commented on #2633
[code]

Graphene doesn't support running scripts as entrypoints. You need to pass an ELF binary as the `executable` argument to Graphene (but it can be e.g. Bash, which could start the script you want).

[code]

Exactly as the error says, you already have this entry in your manifest and you added another, duplicated one.

Anyways, this error message seems to be confusing users, I'll try to fix it

[2021-08-08 12:52] dzygann commented on #2632
Czesc @mkow

What we did is to move the Postgres DB to the Examples folder for the graphene-direct test. It works like a charm by using the following command without Graphene:
[code]
Is it possible to define a user who should execute the command?
E.g something like this:
[code]

In the dockerfile is already such a command:

[code]

It seems that this isn't working, because the user `postgres` is n

[2021-08-08 18:44] mkow commented on #2632
Cześć :)

No, we don't emulate users and permissions inside Graphene. But the logs you pasted above show that the problem is just in a wrong path to the postgres binary. `init_exec_handle: cannot find executable in filesystem: -2` means that the executable was not found inside Graphene. Please read my previous comment carefully, it explains what's exactly wrong ;)

[2021-08-08 19:39] dzygann commented on #2632
Hi,

yes, I understood your point and you are right! I was confused and used the wrong path :D
When I use the correct path I get the following error:

[code]

Since there is no argument to emulate the user, is there no way to get around this issue?
[code]

[2021-08-08 21:41] mkow commented on #2632
Hmm, depends how postgres checks it. You can try changing the env variable (`$USER`), but if it's using the user-ID-related syscalls, then you'll need to patch `shim_do_getuid()` (and maybe others also) in Graphene to pretend you're another user.

[2021-08-09 06:51] dimakuv commented on #2623
@mkow's latest comment was implemented in https://github.com/oscarlab/graphene/pull/2629

[2021-08-09 07:00] dimakuv commented on #2633
@dzygann If this answers your question, please close the issue. Otherwise feel free to ask further.

[2021-08-09 07:10] dimakuv commented on #2632
Maybe it's good time to implement emulation of a current user in Graphene? The current hard-coding of `0` (= root user) in Graphene is wrong, misleading and confuses everyone who encounters this.

Why not:
- Get the current host user ID on startup
- Memorize and propagate to the LibOS
- Use this user ID in all syscalls, and skip/disallow syscalls that change it

Sounds much more logical than havin

[2021-08-09 10:50] pwmarcz opened #2635 "`ld.so` is at a different path than on Linux"
(As discussed in #2625).

* Graphene mounts the dynamic linker under ``/lib/ld-linux-x86-64.so.2`, together with other glibc libraries. However, Linux executables (for x86-64 and glibc) have the ELF interpreter path set to `/lib64/ld-linux-x86-64.so.2`.

* Because of that, Graphene does not use the ELF interpreter path directly (as Linux does) but tries paths `LD_LIBRARY_PATH` (falling back to `/l

[2021-08-09 11:02] #2598 closed

[2021-08-09 12:28] dimakuv commented on #2635
Doesn't seem like much of a problem to me. But ideally (and for other reasons) I would prefer to not use a `/lib` path for Graphene-patched libs but instead something like `/graphene-lib`. And force users to specify `LD_LIBRARY_PATH` in the manifest file. And hard-code `/graphene-lib` instead of `/lib` in Graphene's find-interpreter code.

One of the reasons for this is making it less magic for no

[2021-08-09 14:49] Satya1493 commented on #2550
@dimakuv please assign this to me.

[2021-08-09 16:57] #634 closed

[2021-08-09 17:01] boryspoplawski commented on #2635
1. We need to use the loader path from ELF headers. What if some app uses `/app/my_ld.so`? Also note that using our patched glibc on SGX PAL is purely runtime performance optimization.
2. Direct mounting of host libraries directories is just for tests. In production environments you need to provide all libraries. Case of GSC, where we do use "host" libraries and mount the paths 1 to 1 is not a pro

[2021-08-09 17:08] dimakuv commented on #2633
Hard to say... Did you try to run with debug logs of Graphene? Did you try this without GSC (bare metal, no Dockers)?

[2021-08-09 17:10] mkow commented on #2632
But there's no "current user", we're running a completely different OS instance than the host, so, passing host user id is conceptually wrong. What we can do is to hardcode some other ID than 0 or add a proper uid emulation.

[2021-08-09 17:10] boryspoplawski commented on #2632
It's not wrong: we do not emulate any permission checks, i.e. allow for everything, which is pretty much all capabilities (default uid `0` "permissions").

I would rather say it's the problem of postgress. Why it disallows being run as root? uid `0` does not mean anything anymore (think of capabilities and namespaces).

[2021-08-09 17:17] dimakuv commented on #2632
Well, yes, maybe just hard-coding some ID other than 0. We can also have a manifest option for this.

I am also curious if Postgress decides whether it runs as root by looking at `/etc/passwd` and finding the row corresponding to user ID (group ID?) `0`. In this case, supplying a specially crafted `/etc/passwd` file would fix this issue.

[2021-08-09 17:36] dimakuv commented on #2632
Actually, why do you say that it's "conceptually wrong"? Graphene is not really a "completely different OS instance", since Graphene re-uses the FS and the network stacks (and all the resources limitations, and all scheduling, etc.) from the host OS.

So I would say that what conceptually wrong is that Graphene virtualizes the user ID (*hey, you have all permissions*) but doesn't virtualize host-f

[2021-08-09 17:41] boryspoplawski commented on #2632
This is only the case for a specific implementation of specific PAL. Well, it's the case for all PALs currently, but that should not affect the overall arch design.

We definitely should visualize UIDs. Keeping Graphene file permissions as host-level file permissions is imo design flaw, but that's an orthogonal issue.

Also please read my previous message.

[2021-08-09 17:58] dimakuv commented on #2632
Ah, this is a good point. Ok, so virtualizing the user ID (instead of propagating such info from the host OS) is the correct way.

So how should Graphene behave in a situation with an application refusing to run with `uid == 0` (if this is indeed the kind of check in Postgres)?

And, continuing my example, how should Graphene behave on an application trying to e.g. access some file that can be ope

[2021-08-09 18:12] boryspoplawski commented on #2632
Fix your application then :) Is there no option like `--insecure_run_as_root_pretty_please_with_sugar_on_top_Im_aware_of_consequences` in progress?
I guess we could add a manifest option for initial, virtualized uid.

If the host-fs file permissions are wrong (Graphene cannot access  the file):
a) file was created by Graphene - bug in Graphene, needs fixing,
b) file was not created by Graphene - d

[2021-08-09 18:27] dimakuv commented on #2632
Agreed with your logic.

Yes, sounds like everyone is fine with this approach.

[2021-08-09 22:36] vijaydhanraj commented on #2531
Ran the waitpid03 LTP test over 50 iterations and couldn't repro the issue. @boryspoplawski #2602 does seem to fix the issue.

[2021-08-09 23:03] boryspoplawski commented on #2531
Good, closing this then as fixed.

[2021-08-09 23:03] #2531 closed

[2021-08-10 01:44] ratnadeepb opened #2636 "GSC fails to sign container image"
## Description of the problem
[code]
when running
[code]

## Steps to reproduce

The issue won't reproduce on the current master branch. I am following up on [this](https://github.com/oscarlab/graphene/issues/2435) issue.
[code]

## Expected results
A signed copy of the container being created.

## Actual results
Fails with the following error:
[code]

[2021-08-10 01:54] mkow commented on #2636
Hehe, I think I know what's the problem :) This missing file name (`empty_frame_v1_2_4-GH`) looked suspicious to me, so I googled it, and it turns out that it's actually named `empty_frame_v1_2_4-GH#42345.pkl`. The rest of the story should be obvious now :)

@ratnadeepb: Could you check `/entrypoint.manifest` for this specific entry? The question is on which layer the hash is not properly escaped.

[2021-08-10 02:04] mkow commented on #2636
Ok, I found the bug, it's actually in GSC, not Graphene's TOML handling. Can you add missing doublequotes around the file path in https://github.com/oscarlab/graphene/blob/b9e151748d66be80d1e20cfa0513fc44f1cbe85b/Tools/gsc/finalize_manifest.py#L81 and check again?

[2021-08-10 03:54] lghhh commented on #396
Where can I found the Go support?

[2021-08-10 06:19] #2538 closed

[2021-08-10 06:21] dimakuv commented on #2538
We merged the corresponding PR, but just to be explicit: the merged PR doesn't add the ability to use `O_PATH` (and thus fail on certain system calls with `-EBADF`) but instead explicitly disallows using `O_PATH` in Graphene (as it is not supported currently).

[2021-08-10 06:30] dimakuv commented on #2636
@mkow I don't think this is a bug in GSC. The relevant code snippet is this: https://github.com/oscarlab/graphene/blob/b9e151748d66be80d1e20cfa0513fc44f1cbe85b/Tools/gsc/finalize_manifest.py#L75-L81

So you can see that we add some escaping and we put contents of the `trusted_file_entry` in doublequotes. Otherwise TOML parsing wouldn't work at all.

But I agree that the bug is somewhere inside GSC

[2021-08-10 06:33] dimakuv commented on #396
@lghhh There is currently no example of Go applications. What is meant by "Go support is working" is that Graphene can run Go applications. So you can try it out yourself -- take your original Go app and write a Graphene manifest file for it, and run.

We are currently working on adding a Go-app example to Graphene. So at some point you'll see it under https://github.com/oscarlab/graphene/tree/mas

[2021-08-10 06:34] chicolinux opened #2637 "Error when running my own TFLite model"
## Description of the problem
I am getting the following error when running my own TFLite model:
tensorflow/contrib/lite/kernels/reshape.cc:68 num_input_elements != num_output_elements (3200 != 0)
Failed to allocate tensors!make: *** [Makefile:88: run-graphene] Error 139

This is related to the Tensorflow Lite EXAMPLE that comes with graphene!

I guess because the label_image application is expect

[2021-08-10 06:49] dimakuv commented on #2637
Unfortunately, this doesn't sound like a Graphene issue but rather a mismatch between the `label_image` example application and your own model.

We (Graphene developers) are not professionals in TensorFlow Lite and in AI/ML workloads in general, so I don't think anyone here can help with your issue. You should first try to make the original (native) application work for you, and then try it under

[2021-08-10 06:55] ravikumarbhattiprolu opened #2638 "Support for "setsid" system call"
## Description of the problem
Enhancement Request - Need support for "setsid" system call to enable proper handling of signals inside the docker and also to avoid zombie processes when docker run is killed with SIGTERM. This is needed for proper handling of gsc containers.

Saw that it is in the todo list. Can the priority be increased?
## Steps to reproduce

## Expected results

## Actual results

[2021-08-10 07:47] lghhh commented on #396
Thanks a lot!

[2021-08-10 10:04] aniket-intelx opened #2639 "execve for a zero length file with executable permission failing with EINVAL instead of ENOEXEC"
## Description of the problem
execve03: This testfile checks for execve syscall for different errors like ENAMETOLONG, ENOENT, ENOTDIR, EFAULT, EACCESS and ENOEXEC.

**Failed TC**:
6. {test_name6, ENOEXEC}
This testcase creates a file which is of zero length and has execute permissions, so this testcase should result in ENOEXEC error.

This testcase was working fine before this commit https://gith

[2021-08-10 10:47] anjalirai-intel commented on #2545
Hi @dimakuv

It is not throwing BUG error but the test is still failing

error: Using insecure argv source. Graphene will continue application execution, but this configuration must not be used in production!
TINFO: Timeout per run is 0h 05m 00s
TPASS: unlink(/tmp/unlink05_file) succeeded
TFAIL: unlink(/tmp/unlink05_fifo) failed: EACCES (13)

Summary:
passed   0
failed   0
skipped  0
warnings 0

[2021-08-10 10:49] jinengandhi-intel commented on #2605
Issue is verified.

[2021-08-10 11:30] anjalirai-intel commented on #2531
@boryspoplawski
In the latest jenkins nightly, fcntl12 or fcntl12_64 is still failing with IPC error. The issue still exists

Standard Output
[code]

Standard Error
[code]

[2021-08-10 11:40] mkow commented on #2636
Ah, that's a bit confusing that the quotes are added there instead of on that line I quoted :)

Btw. I just found a bug related to these doublequotes, but probably unrelated: there's that `if trusted_file_entry in already_added_files:`, but if I see correctly, `already_added_files` contains just file URIs, without escaping?

[2021-08-10 11:46] mkow commented on #2637
@dimakuv: But I think he says that this happens with the model included in our examples?

[2021-08-10 12:16] mkow commented on #2639
Please check if #2640 fixes the problem for you.

[2021-08-10 12:18] mkow commented on #2545
@anjalirai-intel Please use markdown in your comments...
@pwmarcz Could you take a look at this?

[2021-08-10 12:37] anjalirai-intel commented on #2545
@mkow Comment Updated

[2021-08-10 12:40] anjalirai-intel commented on #2426
Please reopen the issue. The issue still exists for SGX.

**Standard Output**
[code]
**Standard Error**
[code]

[2021-08-10 12:44] boryspoplawski commented on #2531
And is already tracked by https://github.com/gramineproject/gramine/issues/21.

[2021-08-10 12:56] boryspoplawski commented on #2638
What do you mean? You cannot run docker inside Graphene and if you are talking about Graphene inside a docker container, then Graphene emulated `setsid` (or lack of it) does not matter at all.

[2021-08-10 14:25] pwmarcz commented on #2545
To recap, the scenario is: first create a FIFO on host, then try to delete it from inside Graphene. This will fail, because Graphene does not support host-level FIFOs, and fails with -EACCES on any attempt to access them (see #2592).

I don't think there's a good reason to support deleting such unrecognized files: it's not possible to create such files from inside Graphene anyway (`mknod` will cre

[2021-08-10 14:32] mkow commented on #2545
Ok, then it seems that we can close this issue.

[2021-08-10 14:32] #2545 closed

[2021-08-10 16:54] ravikumarbhattiprolu commented on #2638
We are able to run gsc containers. However, in one of our containers, we use dumb-init as entry point to docker and it uses setsid to start the actual program. Since setsid is not yet supported in graphene, we have to modify the docker to change entry point.

[2021-08-10 17:04] dimakuv commented on #2356
@Nirusu Could you take a look at #2641 and maybe try it out?

[2021-08-10 17:28] dzygann commented on #2633
Hi,

we could run the shell script by adding the user as a parameter
[code]
The postgres docker runs for a short time (~1min) and terminates with the following log entries:
[code]
Do you have an idea what the illegal instruction is?
Why does it terminate with the `chown` command? We didn't use this command explicitly.

[2021-08-10 17:53] Nirusu commented on #2356
Will give it a shot tomorrow! Thanks, very appreciated :)

[2021-08-10 18:11] woju opened #2642 "RFC: Separate signing"
This is a proposal for split signing enclaves.

# Definitions

- **rendering**: processing jinja+toml to toml only
- **trusted file expansion**: recursive walk through directories to pick regular files inside them
- **trusted file measurement**: calculating sha256 over the regular file
- **TBSSIGSTRUCT**: SIGSTRUCT to be signed with RSA
- **SIGSTRUCT**: after signing

# Current status

There are t

[2021-08-10 18:13] woju commented on #2642
@mkow @dimakuv @boryspoplawski

[2021-08-10 19:50] mkow commented on #2261
I'm closing this, as we don't have enough information to either analyze the issue of easily reproduce ourselves.

@ADL-work we can reopen it if you provide the above.

[2021-08-10 20:02] mkow commented on #2633
Which commit of Graphene do you use? (internally, inside GSC)

[2021-08-11 04:12] jinengandhi-intel commented on #2589
Intermittently the issue is also seen in LibOS Bootstrap_401_exit_group

[2021-08-11 04:55] chicolinux commented on #2637
No, @dimakuv is right! I am using my own TFLite model!! Thank you guys! I guess you can close this issue! By the way, It will nice to update the documentation at state that the label_image demo app, expects images >= 224x224x3

[2021-08-11 04:55] #2637 closed

[2021-08-11 06:58] dimakuv commented on #2636
I don't think it's true because the input TOML manifest (created by the user) must contain *already escaped* file URIs. Otherwise it is not a proper TOML file. In other words, the writer of the input manifest is to blame :)

We even have the comment about this:
https://github.com/oscarlab/graphene/blob/b9e151748d66be80d1e20cfa0513fc44f1cbe85b/Tools/gsc/finalize_manifest.py#L24

[2021-08-11 07:04] aniket-intelx commented on #2639
I am getting the expected results for the above mentioned PR #2640. Thanks.

[2021-08-11 07:05] dimakuv commented on #2514
A list of related issues that have this "IPC leader does not wait for all processes to finish" bug:
- https://github.com/oscarlab/graphene/issues/2426
- https://github.com/oscarlab/graphene/issues/2531
- https://github.com/oscarlab/graphene/issues/2541
- https://github.com/oscarlab/graphene/issues/2542

We closed these issues since they are tracked here. Any new issues that boil down to this bug w

[2021-08-11 07:05] dimakuv commented on #2542
Tracked in meta-issue https://github.com/gramineproject/gramine/issues/21, closing here.

[2021-08-11 07:06] dimakuv commented on #2541
Tracked in meta-issue https://github.com/gramineproject/gramine/issues/21, closing here.

[2021-08-11 07:09] dimakuv commented on #2545
I agree with Pawel's assessment. Previously we had a bug in Graphene that kinda "allowed" the `unlink05` test but resulted in illegal-instruction segfault. Now we explicitly forbid scenarios like `unlink05` by cleanly returning `-EACCES`.

So this particular test `unlink05` can be considered "impossible" in Graphene and should always fail. That is, until the moment we have an important real-world

[2021-08-11 07:17] dimakuv commented on #2589
We understand the root cause, but we have at least two different proposals to fix it:
- https://github.com/oscarlab/graphene/pull/2597
- https://github.com/oscarlab/graphene/pull/2595

We got a bit stuck on which proposal to choose (I prefer Borys's #2597). But we need to expedite this, since it even fails `Bootstrap_401_exit_group` periodically.

[2021-08-11 09:59] Nirusu commented on #2356
@dimakuv Tested it out with our Marblerun samples, and yup, it works as expected and we can finally get rid of our filtering hack when this is merged. Great job!

[2021-08-11 11:18] Jacinda-Guo opened #2643 "/graphene/Examples/pytorch/ Error"
# Description of the problem
graphene: v1.2-rc1
Ubuntu 18.04
Linux 4.15.0
Graphene has been compiled and installed successfully. The `graphene-sgx helloworld` command is run successfully.
The dependency was installed in the /Examples/ pytorch/ directory as described in the document and compiled successfully.

# Steps to reproduce
Refer to the link: [https://github.com/oscarlab/graphene/tree/v1.2-r

[2021-08-11 12:55] mkow commented on #2637
Ah. I was confused by "I am getting the following error when running my own TFLite model" vs "This is related to the Tensorflow Lite EXAMPLE that comes with graphene!" :)

[2021-08-11 13:02] dimakuv commented on #2636
Yes, we should move GSC to use a proper TOML parser (`import toml`) instead of this hand-crafted parsing. Basically, that's what the TODO comment says. The bug is probably because of this hand-crafted parsing, yes.

[2021-08-11 13:28] ratnadeepb commented on #2636
I got slightly lost here. Is the signing issue being caused by incorrect toml handling?

[2021-08-11 14:07] mkow commented on #2636
Yes, most likely.

[2021-08-11 15:00] dimakuv commented on #2642
Manifest schema for trusted files is already changed: https://github.com/oscarlab/graphene/pull/2644

I generally agree, but we need to do something about naming. Users could theoretically use Graphene for say both Intel SGX-related `sgx.trusted_files` and Intel TDX-related `tdx.super_trusted_files`. In such case, do we put all this functionality in one `graphene-manifest` tool? Or should we have

[2021-08-11 15:02] boryspoplawski commented on #2514
@dimakuv wait, most of the linked issues exhibit the bug described here, but this bug is not the main reason they fail (it just causes some error messages, but does not make the test fail - that happen before these error msgs). #2541 is a good example

[2021-08-11 15:41] #2623 closed

[2021-08-11 15:41] #2627 closed

[2021-08-11 15:52] boryspoplawski commented on #2638
There are no plans to support setsid. There is no notion of terminal in Graphene (and probably never be) so implementing setsid makes no sense.
P.S. I don't know why would you use setsid in non-Graphene case in the scenario you described.

[2021-08-11 15:53] boryspoplawski commented on #2638
Where did you see that exactly?

[2021-08-11 16:42] ravikumarbhattiprolu commented on #2638
The existing docker is implemented with dumb init as entry point as per https://engineeringblog.yelp.com/2016/01/dumb-init-an-init-for-docker.html
We are trying to reconfigure the same docker into GSC and there we need support for setsid system call.
I remember seeing a reference to setsid in one of the documents. I will check again.

[2021-08-11 16:43] #2609 closed

[2021-08-11 16:50] ravikumarbhattiprolu commented on #2638
In the file LibOS/shim/src/sys/shim_getpid.c I saw below:

long shim_do_setsid(void) {
    **/* TODO: currently we do not support session management. */**
    return -ENOSYS;
}

[2021-08-11 17:04] boryspoplawski commented on #2638
From `dumb-init` docs:

This is weird. If you want to send a signal to the whole process tree rooted at pid 1 in container, just use a process group. No need for proxying signals...
Also you can normally send **all** signals to pid1 in container from outside, the restrictions only apply to signals from inside.
Generally to me it seems like this `dumb-init` solves non-existing issues.

That `TODO`

[2021-08-11 17:05] boryspoplawski commented on #2638
BTW, you cannot inject host-level signals into a Graphene process (except for one time SIGTERM injection, if you opt-in for that in manifest).

[2021-08-11 17:14] adityapribadi3 commented on #2630
Hi @mkow, for the update this error already resolve by changing the script in "pytorchexample.py" when importing the torchvision to "import torchvision.models as models" However now when I run "sudo graphene-sgx ./pytorch pytorchexample.py" I have a different error

ubuntu@VM2:~/graphene/Examples/pytorch$ sudo graphene-sgx ./pytorch pytorchexample.py
error: Using insecure argv source. Graphene wil

[2021-08-11 17:28] woju commented on #2642
Yes, why not? If there are other measurement schemes/requirements, all that expansion/measurement things could be added. (I'm not familiar with TDX, so I might have missed something important.)

Because libpal.so is our memory layout just after enclave loading (plus manifest), right? So it's not sufficient to have just SHA256, we need to know how it loads. So if you really don't like it, we could

[2021-08-11 17:36] woju commented on #2076
After #2593/#2644 `fs.mount` also should be an array and that would pretty much be it I think.

[2021-08-11 20:42] dzygann commented on #2633
Hi @mkow,
we really did use an older version, thanks for pointing it out.  Now we pulled the current version. We have seen that the behaviour changed a little bit after the commit https://github.com/oscarlab/graphene/commit/7059cd44a4ff9268160f15cac7441d1018452eab

Now we are back at the starting point:

[code]
The workaround to use the `/bin/bash` as entrypoint does not work anymore for this case

[2021-08-11 21:38] mkow commented on #2633
Ok, seems this time someone used raw `exec` on a script from another Bash script, which resulted in `execve()` on a script.

Dmitrii said you wanted to start contributing to Graphene, right? If that's true, then this may be a good candidate for your first contribution :) I.e.: adding support for shebang scripts in execve() syscall implementation + entrypoint loading code. You probably should start

[2021-08-12 03:34] jinengandhi-intel commented on #2623
Verified.

[2021-08-12 03:34] jinengandhi-intel commented on #2627
Verified.

[2021-08-12 03:38] lghhh commented on #396
I have a hard time migrating golang into Graphene. I try to write simple helloworld.go, Makefile and manifest.template like Python example. But I got "no child prosess" error for graphene-direct and "out of memory" error for graphene sgx, I have try various enclave_size, stack.size and thread_num.

Could you please help me confirm that Graphene support golang runtime (run .go inside) or linux bina

[2021-08-12 09:23] sahason commented on #2643
@mkow Please assign this to me.

[2021-08-12 17:48] bigdata-memory opened #2647 "[BUILD] Improve the UX by auto-detecting in-tree GSGX driver"
## Description of the problem
The in-tree GSGX driver actually can be detected easily for GSGX building system, so it is not necessary for dev. to set the environment variable beforehand, as follows
`ISGX_DRIVER_PATH=""`

I suggest to set it automatically if the in-tree SGX driver available to use during building this project, if possible, just let dev. to confirm it. thanks.

[2021-08-12 18:17] woju commented on #2642
Could you please describe here what you understand as "2-step signing feature"? How this should exactly work?

[2021-08-12 20:51] monavij commented on #2642
@woju  I think Gary is pointing out that PR#2596 touches many of the same files and he has already refactored the code. Since Dmitrii has already reveiwed his PR, maybe close that first and then build on top of that? Otherwise all that effort goes wated.

[2021-08-12 22:47] mkow commented on #2647
But the build machine may be completely different than the one where you actually intend to deploy the enclave. And it's quite likely that it won't even support SGX.

[2021-08-13 11:37] ntk97 opened #2648 "Unable to load the enclave while running the graphene-sgx helloworld"
## Description of the problem
### Not able to run the graphene-sgx helloworld from the graphene master branch
Using  **Ubuntu 20.04** and kernel version **"Linux 5.11.0-051100-generic"**

## Steps to reproduce

Followed the steps mentioned in the document
[](https://graphene.readthedocs.io/en/latest/quickstart.html#quick-start-without-sgx-support)

Step-1
`git clone https://github.com/oscarlab/gra

[2021-08-13 15:36] woju commented on #2642
On Thu, Aug 12, 2021 at 01:52:07PM -0700, Mona Vij wrote:

Yes, that's correct, this is overlapping effort, as was the change of
trusted_files schema. That's why I put this RFC, because we suddenly had
mutliple proposals affecting the same code and manifest data, and without
coordination, it's possible more effort will be wasted. Sure I can go review
his PR, but the problem is, that PR is refactor

[2021-08-13 16:26] monavij commented on #2642
all right I understand now. Let's not keep going in circles then and waste more effort. Now I remember that you had proposed last week to continue this discussion via this issue. Let's continue reviewing this here as well as in our meeting next week, so we can reach consensus and make sure it works for various different use cases and requirements.

[2021-08-13 19:04] bigdata-memory commented on #2642
@woju The 2 step signing feature has been presented by @ying2liu in community meeting, her PR is [#2528](https://github.com/oscarlab/graphene/pull/2528), we got the feedback to refactor the sign code first (PR #2596) and then to apply her PR on it. we already processed it before this RFC presented, the 2-step signing is a feature for production-ready, not nice-to-have once because our customers ex

[2021-08-13 21:05] hanboa commented on #2617
@bigdata-memory We want to include a built Graphene-SGX into a docker base image of an application for people to download to build their workspace for the application. If I don't want to include the signing key into the base image, what is the best way for the user who downloads the base image to sign the files for enclaves?

[2021-08-14 02:04] mkow commented on #2642
## Comments to RFC

### The developer signature

Normally I'd say that this is completely out of scope for Graphene and this should be implemented by the developer's infra (e.g. through some policies/ACLs on the RPC), but I also know that if we won't force people to sign the signing requests then they will just make their signing servers sign any blob they receive...

### MRENCLAVE verification

O

[2021-08-14 04:29] bigdata-memory commented on #2617
@hanboa Thank you for this question, I think it could be a typical scenario that needs this two-step signing feature. In the production environment, the signing key is rare to be available to use in building environment/workspace, this feature is preferred in this case, basically, it generates signing material first. and then send this material to signing facility because the signing key usually l

[2021-08-14 12:31] mkow commented on #2617
@hanboa I think your case is completely unrelated to two-step signing, but maybe I'm missing something? What you need is just to ship a container with Graphene installed and probably some stub manifest written and then just let people finish the setup and then build the enclave and sign it.

What @bigdata-memory mentioned is the case where you want to use an HSM or a separate facility for signing,

[2021-08-15 17:49] ying2liu commented on #2642
#2528 two-step signing implementation is based on the current signing script without changing the code structure. I didn't want to trigger debates because of the structure changes, because we have several customers are waiting for this feature for their next releases. If you have any additional comments on code and PR description, please let me know. I will update the patch accordingly.

[2021-08-16 06:12] svenkata9 commented on #2648
@ntk97 Could you try executing these commands and then execute graphene-sgx?

mkdir -p /dev/sgx
sudo ln -s /dev/sgx_enclave /dev/sgx/enclave
sudo ln -s /dev/sgx_provision /dev/sgx/provision

[2021-08-16 08:19] nayana97 commented on #2648
**sgx_enclave** and **sgx_provision** is not found in **/dev**

So, soft linking can't  be a solution. but I tried the above commands, same issue persists
[code]

let me know, How I could progress ?

[2021-08-16 08:22] ntk97 commented on #2648
sgx_enclave and sgx_provision is not found in /dev

So, soft linking can't be a solution. but I tried the above commands, same issue persists

[ubuntu@kiwifruit-desktop regression]$ graphene-sgx helloworld
error: Cannot open device /dev/sgx_enclave. Please make sure the Intel SGX kernel module is loaded.
error: load_enclave() failed with error -2
let me know, How I could progress ?

[2021-08-16 11:01] mkow commented on #2648
@ntk97: Please reformat your issue to use proper Markdown, all lines are now merged and I'm not really sure what commands you used. Just google some Markdown guide on the internet ;)

[2021-08-16 11:16] dimakuv commented on #2648
@ntk97 Looks like you installed the DCAP out-of-tree driver on this system?

If so, remove Graphene, download it again, and in one of the build steps do:
[code]

The path to the DCAP out-of-tree driver is typically `/usr/src/sgx-1.23456/`.

[2021-08-16 11:19] mkow commented on #2648
@dimakuv: I think they are using the driver from the kernel? (5.11)

[2021-08-16 12:19] dimakuv commented on #2642
Ok, fair enough. Sounds like overloading `graphene-manifest` with several unrelated features, but there won't be many divergences, I guess. And as Michal mentioned, we will probably even make manifest option names more generic, e.g. instead of `sgx.enclave_size` we will have something like `enclave.size` (or `trusted.size`).

[2021-08-16 14:11] woju commented on #2642
On Mon, Aug 16, 2021 at 05:19:56AM -0700, Dmitrii Kuvaiskii wrote:

Yes, I think everything that counts as transforming manifest would be in-scope
in `graphene-manifest`. I could use some good advice where to make a red line,
but at least I think this is better than transforming manfest in
`graphene-manifest` (jinja render) and then transforming it again in
`graphene-sgx-sign` (sgx.trusted_files e

[2021-08-16 14:56] ntk97 commented on #2648
@dimakuv  @mkow :  I am using in-build kernel driver - **Kernel version 5.11**

[2021-08-16 15:01] mkow commented on #1794
Removing from the milestone, as the clang part is done, and adding to CI is not a priority right now (will be after ASan integration).

[2021-08-17 06:17] bigdata-memory commented on #2642
I don't think the `dev. signing` should be bound to this process, it adds another layer of complexity while being coupled with `dev. private key`, the signing tool just need to produce the signing material `enclave_sig.dat` to be signed in signing facility, without that, the signing part might be similar to @ying2liu's PR. Other features your proposed, e.g. pre-hash, could be separated addons to 2

[2021-08-17 07:13] veenasai2 commented on #2648
from your "Results of ./is-sgx-available script"
SGX2 (EAUG, EACCEPT, EMODPR, ...): **false**

can you please check if sgx in enabled in bios?

[2021-08-17 10:58] mkow commented on #2638
@ravikumarbhattiprolu: Seems that Borys answered all your issues and there's nothing on our side to do, so I'm closing it.

[2021-08-17 10:58] #2638 closed

[2021-08-17 11:03] ntk97 commented on #2648
Yes, SGX is enabled in bios.
I Ran ` cpuid | grep SGX`

results are as follows:
 **SGX: Software Guard Extensions supported = true
      SGX_LC: SGX launch config supported      = false
   Software Guard Extensions (SGX) capability (0x12/0):
      SGX1 supported                         = true
      SGX2 supported                         = false
      SGX ENCLV E*VIRTCHILD, ESETCONTEXT     = false

[2021-08-17 11:11] svenkata9 commented on #2648
@ntk97 Nayana, Another suggestion that came from one of our team members based on what they came across as well - I think it could be the same issue.

Could you try executing this command and try the graphene-sgx helloworld? `sudo mount -o remount,exec /dev`

[2021-08-17 13:55] #2639 closed

[2021-08-17 17:01] hanboa commented on #2617
@mkow Thanks for the comment. In our case, the signer and the enclave runner are separated, so when the enclave runner builds the workspace with the pre-built Graphene-SGX to run their application inside the enclave, it may need the signer who provides the codes to sign the codes for the enclave runner to execute.

[2021-08-17 17:06] mkow commented on #2617
@hanboa: Sorry, but I just didn't understand your comment.

[2021-08-17 17:41] Time0o commented on #2633
@mkow It seems like shebang support was built into `execve` up until commit c8fc2a1106e28ceb81fa308721209162afbc33b2. It's not quite clear to me why that commit removed it again.

Also, if a new implementation were to be based on Linux, wouldn't that cause license issues? LGPLv3 is not compatible with Linux's implementation of `execve`.

[2021-08-17 18:57] woju commented on #2642
@ying2liu I've read https://01.org/sites/default/files/documentation/intel_sgx_sdk_developer_reference_for_linux_os_pdf.pdf pages 14-20. I understand that we already generate correct structure, and this proposal already states that we should expose a Python function `grapenelibos.sgx_sign.get_tbssigstruct` to generate that. (TBS SIGSTRUCT, to-be-signed SIGSTRUCT, is a name I invented to distinguis

[2021-08-18 00:15] hanboa commented on #2617
@mkow following your comments of "...let people finish the setup and then build the enclave and sign it.". People who finish the setup and build the enclave will need the ISV to sign it.

[2021-08-18 05:56] ying2liu commented on #2642
Please note, two-step signing script includes:

  1.  The first-step creates the signing material (the users could decide how to send the material to the signing facility and use whatever secure scheme they want).
  2.  the second-step does verify the signature file before signing the enclave.  This verification is done in the graphene signing script to ensure that the material is not compromised(

[2021-08-18 06:07] monavij commented on #2642
@ying2liu  Woju is talking about verifying that the requester is authorized to get something signed by the signing facility. In production signing facilities, we presume that there will be  some sort of authorization that happens. If we don't make them stop and think about this step, then they may allow anyone who can access the signing facility get signed. I believe we can build a small wrapper o

[2021-08-18 13:25] woju commented on #2642
The verification of signature in both the SDK tool and #2528 is only a sanity check against misapplication of the signature from a different enclave build and could be skipped entirely without consequences to the overall security model (if something goes wrong there, CPU will just refuse to execute the enclave). But if somebody wanted this feature, as a test in the build pipeline, I have nothing a

[2021-08-18 16:55] sahason commented on #2630
@mkow PR #2655 seems to address this as well. Please assign it to me.

[2021-08-18 17:03] adityapribadi3 commented on #2630
Hi @sahason , is it already fixed?

[2021-08-18 18:30] bigdata-memory commented on #2642
Based on our discussion and review, this proposal contains some implicit requirements to signing facility and it looks not compatible with the protocol which described in [SGX Developer Reference](https://download.01.org/intel-sgx/sgx-linux/2.11/docs/Intel_SGX_Developer_Reference_Linux_2.11_Open_Source.pdf) P20, I don't think the GSGX can take control over our customer's signing facility for just

[2021-08-18 18:34] bigdata-memory commented on #2642
Please refer to the two-steps signing feature request #2617 as well, you can find an attached screenshot over there. thanks.

[2021-08-18 19:24] ying2liu commented on #2642
@Vij, ***@***.***>  Graphene does not have any control over the signing facility.  Users could have their own secure scheme, but it is not part of the two-step signing process.
“ The ISV takes the enclave signing material file to an external signing platform/facility where the private key is stored, signs the signing material file, and takes the resulting signature file back to the build platform.

[2021-08-19 05:05] sahason commented on #2630
@adityapribadi3 Yes, please check with this PR #2655.

[2021-08-19 05:26] anjalirai-intel commented on #2514
Hi @dimakuv

I am attaching the list of tests which fails with IPC issue here for the verification purpose. Some of these tests are not placed in original bug.

- [ ] waitpid04
- [ ] waitpid03
- [ ] fcntl12
- [ ] recvfrom01
- [ ] send01
- [ ] connect01
- [ ] recv01
- [ ] sendto01
- [ ] fcntl12_64
- [ ] kill09

[2021-08-19 10:39] veenasai2 commented on #2615
This issue is resolved now and changes are merged to graphene master.
Git commit id: 7059cd44a4ff9268160f15cac7441d1018452eab.

[2021-08-19 10:40] jkr0103 commented on #2549
Tests with message "TBROK: Test haven't reported results!" are executing in a forked process. Results of the tests are written on a shared memory by forked process for parent process to read but same is not being reflected in parent process. This happens because graphene doesn't support shared memory.

[2021-08-19 10:40] #2615 closed

[2021-08-19 14:31] boryspoplawski commented on #2514
What is worth noting is that these tests do not fail, they just print an error message at the end, but still succeed.

[2021-08-19 17:43] adityapribadi3 commented on #2630
hi sahason, I have try to change the code in "pytorch.manifest.template" and it works but the problem is the example get killed in my machine, I'm using azure DC VM with 16gb RAM, if there a way to limit the RAM so the application is not killed?
'''
ubuntu@VM3:~/graphene/Examples/pytorch$ sudo graphene-sgx ./pytorch ./pytorchexample.py
Killed
'''

[2021-08-20 07:46] sahason commented on #2630
@adityapribadi3  I am sure about any such mechanism. @mkow Can you please comment here?
One suggestion here is to increase the size of RAM/EPC.

[2021-08-20 07:56] jkr0103 commented on #2393
Please assign to me

[2021-08-20 08:09] adityapribadi3 commented on #2630
I'm using Azure VM with 32Gb RAM and still the process get killed

[2021-08-20 11:03] anjalirai-intel commented on #2443
@Satya1493 This issue is also seen on RHEL setup Kernel 5.12

[2021-08-20 11:41] mkow commented on #2630
Does this workload really need 16GB of memory?

I guess the reason you get OOM-ed is that PyTorch is spawning some children, each of which also taking 16GB. And you probably don't have any swap mounted (or just a small one), so the OOM killer kills you right after you cross the 16/32 GB boundary.

[2021-08-22 13:29] adityapribadi3 commented on #2630
oh ok then thx, so the only way is upgrading the RAM right?

[2021-08-23 07:54] #2630 closed

[2021-08-23 07:54] #2643 closed

[2021-08-23 09:22] sammyne opened #2660 "How to perform local attestation between two graphene apps?"
## Description of the problem

I'm running two graphene apps in the same SGX machine, and wondering if there is any doc or example of how to perform local attestation between apps.

Remote attestation isn't what I want.

## Steps to reproduce

## Expected results

## Actual results

[2021-08-23 09:25] aneessahib commented on #2612
the below can be used to unblock 20.04 work while we formally update the repo.

1)	Open  graphene/Tools/gsc/templates/Dockerfile.ubuntu18.04.compile.template and make the below change
    a.	FROM ubuntu:18.04 AS graphene  ->   FROM ubuntu:20.04 AS graphene
2)	Open graphene/Tools/gsc/test/ubuntu18.04-python3.dockerfile and make the below change
    a.	From ubuntu:18.04 -> From ubuntu:20.04
3)	Open

[2021-08-24 09:49] mkow commented on #746
As discussed on the call, this should have lower priority.

[2021-08-25 02:21] bvavala opened #2663 "File corruption using protected files"
## Description of the problem
A large file can get corrupted when stored on disk as a _protected_ file.

## Steps to reproduce
The bug was tested on 851f708, and earlier versions using the previous `pal_loader` way to run the apps.

1. compress ~1MB of text in a tar file
`-rw-rw-r-- 1 bruno bruno 4852 Aug 21 00:12 scripts/1mb.txt.tar.gz`

2. untar the file in graphene in a _protected_ folder (i.e.

[2021-08-25 10:18] ntk97 commented on #2648
this `sudo mount -o remount,exec /dev` worked on new  ubuntu 20  with kernel version 5.11

Thanks and closing my issue

and **Flexible Launch Control (IA32_SGXPUBKEYHASH{0..3} MSRs): false**  in  my old machine, that is one of the reason for not able to load the enclave.

[2021-08-25 10:18] #2648 closed

[2021-08-25 12:44] mkow commented on #2663
Interesting, I guess the reason this slipped unnoticed is that `LibOS/shim/test/fs` tests are missing this case?

Flushing after each `ipf_write` may not be a good idea due to performance reasons, I think the real problem here is that for some reason the file is not flushed at `close()`. Could you check if #2372 fixes this issue? (you may need to rebase it to the current master though, it's pretty

[2021-08-26 02:58] Kanakoo opened #2664 "Data transmission error with Python gRPC running in graphene"
## Description of the problem
When running python grpc in graphene, and grpc server and client are on different machines, data transmission sometimes goes wrong when data transmitted is large.
## Steps to reproduce

The issue was tested on latest version [v1.2-rc1](https://github.com/oscarlab/graphene/releases/tag/v1.2-rc1). It happens both with graphene-direct and graphene-sgx when grpc server an

[2021-08-26 04:59] Kanakoo opened #2665 "Huge performance drop when running pytorch training with graphene-sgx"
## Description of the problem
When running a unet pytorch training (use cpu) with graphene-sgx, there's a huge performance drop (about 18 times) compared to running with graphene-direct or without graphene.
## Steps to reproduce

The issue was tested on latest version [v1.2-rc1](https://github.com/oscarlab/graphene/releases/tag/v1.2-rc1) and on ICX.
To reproduce it:
1. Here is the example code: [p

[2021-08-27 07:06] anjalirai-intel opened #2666 "Graphene-SGX: Syscalls wakes up early/prematurely on Server Machines"
## Description of the problem
When Kernel Timer Precision Tests are run on Server machines, the tests are failing with woken up early error.

These below mentioned syscalls wakes up early on servers

clock_nanosleep02
epoll_wait02
nanosleep01
poll02
pselect01
pselect01_64
select04
futex_wait05

## Steps to reproduce
Run LTP tests with SGX=1

## Actual results
**graphene-sgx clock_nanosleep02:**
[c

[2021-08-27 09:57] yanzhichao opened #2667 "untrusted PAL sent PAL event"
## Description of the problem
I want to add some code in function `int set_protected_files_key(const char* pf_key_hex) ` for my special  purpose.
https://github.com/oscarlab/graphene/blob/851f7082dc995e509d36c4acfbd6dec1295f84cb/Pal/src/host/Linux-SGX/enclave_pf.c#L632

for test, I add a sample function  in the `int set_protected_files_key(const char* pf_key_hex) `  as follow
[code]

my func `mall

[2021-08-27 23:55] mkow commented on #2667
Sorry, but I didn't understand your whole comment. Could you clean up/reword it?

[2021-08-30 02:37] sammyne commented on #2660
In my case, there is a QE-like enclave `X` authenticating local enclaves by means of issuing signed tokens for any locally attested enclaves. `X` is a centralized service with constant quote (periodically refreshed) such that users just needs to check the quote of X and its signed token to authenticate enclaves on the same platform. @mkow

[2021-08-30 17:26] dimakuv commented on #2612
@aneessahib Do we want to add this 20.04 stuff to the GSC templates? Or do you have plans to make the GSC templates more generic? It would be good to have this 20.04 support out-of-the-box in GSC.

[2021-08-30 18:13] dimakuv commented on #2479
I would agree with @mkow. Looks like disabling these LTP tests is the simplest way.

[2021-08-30 18:19] dimakuv commented on #2660
@sammyne Graphene supports local attestation flows, but this is not described clearly in the documentation (for the reason that it is not really needed by normal users).

However, you can find hints to implement local attestation:
- https://graphene.readthedocs.io/en/latest/attestation.html#low-level-dev-attestation-interface
- https://github.com/oscarlab/graphene/blob/c321726229eaf0a1b52dc5e2507c

[2021-08-30 21:04] mkow commented on #2660
Oh, I really forgot that we actually support this... :)

[2021-08-31 02:13] sammyne commented on #2660
Great thanks. It would be better if the document can explicitly describe the usable but undocumented `/dev/attestation/target_info` and `/dev/attestation/my_target_info`. @dimakuv @mkow