[2021-08-31 02:13] #2660 closed

[2021-08-31 03:20] aneessahib commented on #2612
yes - i will be submitting the PR today.

[2021-08-31 04:41] Kanakoo commented on #2665
Do you mean to run with command "numactl --cpunodebind=0 --membind=0 graphene-sgx python scripts/train.py"? I've tried it, and performance of each step improves by 10 seconds, see the logs:
[code]
It's still a huge performance drop compared to not using sgx. And after graphene starts, it still takes about 1 hour to start training.

[2021-08-31 04:59] Kanakoo commented on #2665
I only know DataLoader will start multiple processes when specifying num_workers > 0. But specifying multiple processes will cause "Function Not Implemented" error in graphene, so I've specified it to 0, see:
[code]
which means it only starts one process.
And  ```for batch_idx, (data, target) in enumerate(train_loader):``` runs fast as shown in logs.

[2021-08-31 08:12] mkow commented on #2660
Yeah, I agree that we should document it.

[2021-08-31 09:07] dimakuv commented on #2665
@Kanakoo Could you run `graphene-sgx` with trace log level (set `loader.log_level = "trace"` in your manifest file)? This will produce a lot of debug information. Redirect all the resulting output to some file, and attach this file here. So we can take a closer look at what Graphene tries to do, and where the performance bottleneck may come from.

[2021-08-31 09:20] dimakuv commented on #2647
@mkow replied to the part of the question `set it automatically if the in-tree SGX driver available`. Indeed, Graphene binaries are probably built on some random developer machine and then distributed to the actual SGX-enabled machine. So finding the SGX driver *automatically* is meaningless.

There is another part to this question: why does Graphene explicitly require `ISGX_DRIVER_PATH` to be set

[2021-08-31 09:36] #2647 closed

[2021-08-31 09:36] dimakuv commented on #2617
@hanboa writes:

First, why is it important that **the ISV** signs the final enclave in your scenario? Typically, whoever finishes the setup (bundles the prebuilt Graphene-SGX binaries with the application binaries + application manifest) is responsible for signing -- you call these people *enclave runners*.

Second, if you really want the ISV to sign the final enclave, then why not just:
1. The e

[2021-08-31 09:50] mkow commented on #2617
@dimakuv: This is problematic, I don't think ISV should ever sign the enclave. It has no reasonable way to introspect the bundle and check what's actually being signed, it just gets a bunch of unknown binaries to sign. IMO it always has to be the last party which added/modified something in the enclave.

[2021-08-31 10:49] dimakuv commented on #2663
You can't use different kinds of paths (absolute vs relative) when encrypting protected files (via `pf-crypt`) and when later accessing them (in `graphene-sgx`). This is a known limitation -- or "feature" if you want -- of the Protected Files implementation. In a nutschell, each protected file holds some metadata inside, and one of the metadata fields is the path (filename) of this protected file

[2021-08-31 10:51] dimakuv commented on #2663
This sounds like the culprit in this particular case. @bvavala It looks like you could write your own very simple test in C, to strip all the unnecessary fluff of invoking `tar` and `cp`. And if you would simply open your protected file and copy its contents to another file, without performing any explicit flushes and closes, you'll hit the same issue. Do you have the bandwidth to try to produce s

[2021-08-31 10:54] mkow commented on #2581
So, what shall we do with this one? I'd just close it, I think it works as expected and the upcoming signing tooling changes will make it even clearer (the manifests will end with `.toml.jinja` instead of `.manifest`).

[2021-08-31 10:55] aneessahib commented on #2665
we tried your workload at our end using the same manifest files. Only see about 2% of overhead. This is probably a set up issue at your end. will send you the details separately.

[2021-08-31 10:56] mkow commented on #2666
@anjalirai-intel: Are you planning to submit a PR with this? If not, I can do this.

[2021-08-31 10:58] anjalirai-intel commented on #2666
@mkow We are waiting for reply from Anees, And then I can submit the PR

[2021-08-31 11:01] dimakuv commented on #2667
Why are you adding this `malloc2DArray()`? What happens if you just add `log_debug("after malloc2Darry\n");`? Does Graphene-SGX then work all the time, without exceptions?

Why do you use the PPML example? The PPML example is extremely big and complex. You should start with a small test, preferrably written in C.  This would give you much better control of what the application and Graphene are doi

[2021-08-31 11:16] dimakuv commented on #2581
Ok, let's just close it.

[2021-08-31 11:16] #2581 closed

[2021-08-31 14:05] yanzhichao commented on #2667
thanks for your reply @dimakuv
 Actually，In my scene, all the data is be compressed to a zip file，then encrypt with wrapkey.  I want to decrpyt the zip file and unzip to specify pretected directory when get the wrap key for apps. So that app like ppml could read the file directly and no need to unzip.
So, I want to add some code in   `int set_protected_files_key(const char* pf_key_hex) `  to imple

[2021-08-31 14:12] dimakuv commented on #2667
No, no limits. As long as the added code is correct, Graphene happily works and doesn't throw exceptions.

Why are you trying to do this at the level of Graphene source code? Your scenario sounds like a change to TensorFlow scripts, not a change of internal Graphene workings.

[2021-08-31 14:28] yanzhichao commented on #2667
Ok, I will check my code again.
 I submit a commit to my persional rep later. If convenient, help me to review my code.

because we want to suitable for any apps which developed by any language and framework.

[2021-08-31 14:49] dimakuv commented on #2667
You could achieve this in a less intrusive way. I would recommend the premain way: https://github.com/oscarlab/graphene/issues/2347. In this way, your tiny helper program does your "decrypt the zip file" logic and then `execve`s the actual application (which can be any language/framework).

[2021-08-31 14:53] mkow commented on #2004
Ok, it seems that this is just `lscpu` assuming that everything in `/sys` is available and having no error checking. We don't plan to implement PCI devices information in sysfs, so I'm closing this issue.

[2021-08-31 14:53] #2004 closed

[2021-08-31 15:17] mkow commented on #1918
@pedrotbtl: Any updates on this? Can we close this issue?

[2021-08-31 15:23] mkow commented on #1880
Closing because of no response from the reporter for quite some time (and the issue is likely to be resolved by now).

[2021-08-31 15:23] #1880 closed

[2021-08-31 15:23] pedrotbtl commented on #1918
Hi @mkow and @dimakuv, I haven't got time to test this yet. Please close it and I follow up with you once I have tested it out. Thanks for implementing this!

[2021-08-31 15:25] #1918 closed

[2021-08-31 15:27] mkow commented on #1802
Dropping this to P2, as I think we don't know any workload which doesn't have a fallback to POSIX locks (which were added recently).

[2021-08-31 15:31] mkow commented on #1734
We have proper Graphene installation procedure now, so this should be irrelevant.

[2021-08-31 15:31] #1734 closed

[2021-08-31 17:00] pwmarcz opened #2669 "Rename external APIs"
(As discussed in #2662)

Graphene's patched code currently uses an API that contains some internal names ("shim_*", "syscalldb"). I propose the following changes:

* `SYSCALLDB` macro -> `GRAPHENE_SYSCALL`
* `shim_register_library` and possibly other functions -> `graphene_register_library`
* `SHIM_*_OFFSET` -> `GRAPHENE_*_OFFSET`
* `shim_entry_api.h` -> `graphene_entry_api.h`
  *  Other `shim_*.h

[2021-08-31 17:03] pwmarcz commented on #2669
Probably should be done after project move (#2558) since the name will likely change.

[2021-09-01 01:53] yanzhichao commented on #2667
Your solution is very excellent, I'll have a try to see if it fits my scene exactly.

[2021-09-01 03:34] aneessahib commented on #2612
@dimakuv  - I have submitted the PR. I took a shot at updating the tests as well to make it generic for ubuntu versions, but its a lot of work to clean it up. But thats not too important for now. So i think its ok to leave the tests at 18.04, and only generalize GSC templates and scripts. We'll need to update the website documentation as well once the PR is ready for merge.

[2021-09-01 03:37] aneessahib commented on #2666
@mkow this ones a slightly different issue (atleast looks a bit different). may not be related to C-states, but if it is then we can close this one too. will get back soon.

[2021-09-01 04:20] aneessahib commented on #2256
[code]
```results``` is a global variable. Updates from child does not reflected due to no support for shared memory. This is expected behavior for now.

[2021-09-01 06:02] mkow commented on #2256
This test is already disabled in our config (exactly for this reason), so I'll just close this issue.

[2021-09-01 06:02] #2256 closed

[2021-09-01 06:39] sahason commented on #2550
The first issue in the list ‘Opening device special file with O_RDONLY or O_WRONLY or O_RDWR permission fails’ is expected behaviour in graphene. As the permissions on the host of this device special file are 000, opening the file is not allowed in graphene. The reason behind the test to pass in host is running as super user.

[2021-09-01 08:51] llly opened #2672 "BUG() triggered during vfork"
I countered an `BUG()` whem migrating Java program from old Graphene version to latest 1.2 rc. It can reproduce every time.
https://github.com/oscarlab/graphene/blob/f7aa86ed3ae4bbb99480d16bab98c87625b778c9/LibOS/shim/src/ipc/shim_ipc_pid.c#L150-L153
There are several fork() called in the Java program to run another system command. Other forks  succeed. I cannot root cause it.

Here is the log:
[c

[2021-09-01 09:44] Kanakoo commented on #2664
I've found another issue. When data transmitted is large enough, about 300M, sometimes gRPC server will output error like this:
[code]
To reproduce, we need to modify maximum message transmission size of grpc first. grpc_server.py and grpc_client.py codes in the exmaple zip file are as bellow:
grpc_server.py:
[code]
grpc_client.py:
[code]

[2021-09-01 09:54] Kanakoo commented on #2665
Thanks Anees! I've seen that.
Jitender found that the PRMRR size of my machine is too small, after I increase it to the maximum 64GB and add some optimizations including openmpi and libiomp5.so, the performance with sgx is even a little bit better than without sgx! see:
[code]
However, it still takes about 1 hour before the training starts, i mean between the log ```error: Using insecure argv sour

[2021-09-01 11:08] mkow commented on #2664
Interesting, seems like large sends/recvs/reads/writes get mangled. I'd expect that gRPC has proper retry loop for partial operations, but on the other hand I think we also have this part done properly :)

Could you try to reproduce this issue in C, without gRPC? This would require checking which syscalls gRPC uses for the buggy transmission (you can do this in Graphene with "trace" log level) and

[2021-09-01 11:12] mkow commented on #2665
I guess this is how much time preheat takes for such a huge enclaves? Can you try disabling it?

[2021-09-01 11:16] #2593 closed

[2021-09-01 12:02] dimakuv commented on #2672
@llly Could you try it on the latest Graphene? After the `v1.2-rc` release, we had a bunch of bug fixes and small changes to the IPC (Inter-Process Communication) subsystem in Graphene.

In particular, when you move to the latest Graphene, you will notice more meaningful Process IDs (instead of your current `P4346`, `P5015` there will be more meaningful `P1` for main process, `P2` for the first ch

[2021-09-01 12:04] qiyuangong opened #2673 "Progress bar for large enclave or app"
## Description of the problem
When launching a large enclave with graphene, e.g, 32-128GB,  we need to wait for a few minutes for enclave creation and app/lib copy etc. However, current command line output show nothing to end users. We don't know which stage we are and how much time we need to wait for. That's not user friendly. :(

Adding a progress bar can simply fix this problem.

## Steps to r

[2021-09-02 02:25] Kanakoo commented on #2664
I ran graphene with trace level, but couldn't find out which syscall it used...
server log:
[code]
client log when everything is normal:
[code]
client log when error happens:
[code]
Here is the detailed full log:
[grpc-log.zip](https://github.com/oscarlab/graphene/files/7095576/grpc-log.zip)

[2021-09-02 03:43] Kanakoo commented on #2665
I've ran with trace level and got the log. The whole log file is too large, about 1.7G, so i split 100M and compress it here: [pytorch-log.zip](https://github.com/oscarlab/graphene/files/7095882/pytorch-log.zip)

[2021-09-02 06:45] Kanakoo commented on #2665
I've tried to disable preheat and found no effects.

[2021-09-02 16:02] mkow commented on #689
That's pretty bad. `mlock` would be easy to fake (because it's not semantically visible, it's only for performance). `membarrier` should be possible to implement, but quite hard in SGX model - we'd need to send signals to all threads and wait for their confirmations that they actually issued a barrier. No idea if there's any easier way...

[2021-09-03 07:11] dimakuv commented on #689
From what I understood from the `dotnet/` GitHub comments (linked in Nils's reply above), .NET needs `mlock` but can live without `membarrier` (but with sub-par performance).

It could be a trivial exercise to add dummy `mlock/munlock` and check if .NET workloads still work... @Nirusu Do you care about performance of whatever .NET workload you're trying to enable? Will stub/dummy implementations o

[2021-09-03 07:17] Nirusu commented on #689
Okay, so I experimented a bit with getting the CoreCLR (the .NET runtime) running. Here's what I found out:

- Faking `mlock` (& `munlock`?) to just return 0 is enough to pass.
- Running .NET 5.0 with the default GC configuration ("Workstation Garbage Collection") works pretty terrible, always running OOM during launch and crashing. Switching to the so-called ["Server Garbage Collection"](https://

[2021-09-03 07:25] dimakuv commented on #689
...And .NET runtime seems adamant on requiring `flock` if an application uses the FileSystemWatcher class. Which we didn't implement in Graphene (to date) because "haven't yet encountered any real-world applications" :)

[2021-09-03 07:25] dimakuv commented on #689
@Nirusu Out of curiousity: do you really want to run a .NET runtime inside the SGX enclave? :)

[2021-09-03 07:51] Nirusu commented on #689
Haha, well the idea was to evaluate if it's possible to get this ["Microservice Demo"](https://github.com/GoogleCloudPlatform/microservices-demo) running in SGX with Graphene with little effort. There is just this one service running in .NET making trouble :)

Otherwise, I do not think .NET applications are really a high priority... maybe for some enterprise stuff, but yeah I rarely encounter .NET

[2021-09-03 13:01] jkr0103 commented on #2664
Root caued the issue and fixed. I will submit the PR on Monday. Please assign the bug to me and add appropriate bug tag and priority.

[2021-09-03 13:20] boryspoplawski commented on #2664
@jkr0103 Thanks! Could you describe shortly what was the issue (or give offending file+line, if it was simple issue)?

[2021-09-03 15:38] jkr0103 commented on #2664
if one of the `DkStreamWrite' (inside sendmsg in shim_socket.c file) invocations only did a partial write, the code simply continues writing from the next buffer (buf[i+1]) which is wrong. We should bail out as we do in recvmsg https://github.com/oscarlab/graphene/blob/1a2275e00d00a29de12e2d7de840141ce264b2cb/LibOS/shim/src/sys/shim_socket.c#L1484-L1487

[2021-09-03 15:52] boryspoplawski commented on #2664
@jkr0103 Yeah, this must be it, thanks for debugging it.

P.S. Don't forget to add "Fixes #number" to the PR fixing it.

[2021-09-04 01:30] sudharkrish opened #2675 "With Go program, when server program does a read, getting permission denied."
#Paste any logs using three backticks (```).

## Description of the problem
With Go program, when server program does a read, getting permission denied.

## Steps to reproduce
Able to reproduce on a recent graphene pull(Aug 30th, 2021), commit-id-> c321726229eaf0a1b52dc5e2507c9cfab423ea94
Also able to reproduce on [https://github.com/oscarlab/graphene/releases/tag/v1.2-rc1](url)

Providing Sample

[2021-09-04 01:49] sudharkrish opened #2676 "With Go program, inside a docker container, bind fails with permission denied error, invalid handle error."
## Description of the problem
With Go program, inside a docker container, bind fails permission denied error

## Steps to reproduce
Able to reproduce on a recent graphene pull(Aug 30th, 2021), commit-id-> c321726229eaf0a1b52dc5e2507c9cfab423ea94
Also able to reproduce on [https://github.com/oscarlab/graphene/releases/tag/v1.2-rc1](url)

Providing Sample Go program and scripts to reproduce the issu

[2021-09-06 07:54] yanzhichao commented on #2667
@dimakuv  I take your suggestion to put the unzip logic to premain, and it worked well.
Thanks again, Close.

[2021-09-06 07:54] #2667 closed

[2021-09-06 11:22] jinengandhi-intel opened #2680 "Workloads (Redis, Curl, R) failing with Out of memory PAL error after new manifest syntax to define lists of SGX trusted files."
## Description of the problem

On some systems (tried with RHEL, CentOS servers) we are seeing a regression with some of the workloads mentioned in the bug title. Not seeing the same issue on Ubuntu client as well as servers. This is a regression that was introduced with the recent commit: `Define SGX allowed/trusted/protected files as TOML arrays`
https://github.com/oscarlab/graphene/commit/ddc01

[2021-09-06 11:26] dimakuv commented on #2680
@jinengandhi-intel Could you attach a `redis-server.manifest.sgx` final manifest file? I wonder what is so special about RHEL/CentOS.

I assume that the difference is in how this final manifest file is generated on Ubuntu vs on RHEL/CentOS.

[2021-09-06 11:30] dimakuv commented on #2680
@jinengandhi-intel Also could you attach `redis-server.manifest.sgx` file in Ubuntu (where it doesn't fail)?

I want to look at two versions of this `redis-server.manifest.sgx` file: one in Ubuntu, one in RHEL. Comparing them side by side, we may spot the difference, which will be the root cause of this failure.

[2021-09-06 12:39] #2550 closed

[2021-09-06 12:43] jinengandhi-intel commented on #2680
Manifest SGX file for Ubuntu are attached here. For RHEL, I am awaiting the manifest files from my colleague
[R.manifest.sgx.txt](https://github.com/oscarlab/graphene/files/7116028/R.manifest.sgx.txt)

[curl.manifest.sgx.txt](https://github.com/oscarlab/graphene/files/7116027/curl.manifest.sgx.txt)

[2021-09-06 13:43] aniket-intelx commented on #2680
Please find the manifest.sgx files for RHEL attached.
[curl.manifest.sgx.txt](https://github.com/oscarlab/graphene/files/7116334/curl.manifest.sgx.txt)
[R.manifest.sgx.txt](https://github.com/oscarlab/graphene/files/7116336/R.manifest.sgx.txt)
[redis-server.manifest.sgx.txt](https://github.com/oscarlab/graphene/files/7116339/redis-server.manifest.sgx.txt)

[2021-09-07 01:08] yanzhichao commented on #2675
try to config above parameter to  manifest
[code]

[2021-09-07 06:43] dimakuv commented on #2675
Is it possible to try this Go program in TCP mode (switch from a UDP connection to the TCP connection)? This will give us some more info on which part of Graphene fails.

In particular, the UDP handling code in Graphene is buggy -- not many programs use UDP, so didn't have enough testing in Graphene.

[2021-09-07 06:48] dimakuv commented on #2676
May be fixed by this PR: https://github.com/oscarlab/graphene/pull/2678

[2021-09-07 10:35] dimakuv commented on #2680
RHEL manifest files are ~10MB in size... This feels like way too much for the initial 64MB pre-allocated by Graphene.

@aniket-intelx @jinengandhi-intel Can any of you run the failing workload (e.g., `redis-server`) on RHEL under GDB and find the exact place where the `out of PAL memory` error happens? I would assume that it happens here: https://github.com/oscarlab/graphene/blob/33a68bc4302891e8c

[2021-09-07 11:23] anjalirai-intel commented on #2680
@dimakuv
Before the mentioned commit the RHEL manifest files for curl is ~16MB in size and it did worked.

@aniket-intelx will be sharing the rest of the details soon

[2021-09-07 12:30] jkr0103 commented on #2393
@srcman Could you share the sample you are trying to execute with graphene?

[2021-09-07 15:48] aneessahib commented on #2666
On some systems - the RDTSC and the system clock drifts away from each other significantly, that at higher gaps (above 100ms), rdtsc falls behind, and this gets flagged by LTP. Currently the correction is done every 10seconds  ```#define TSC_REFINE_INIT_TIMEOUT_USECS 10000000 ``` . Reducing this timeout further could resolve this issue, but might have a perf impact.
@dimakuv - i think 10s timeout

[2021-09-07 16:41] dimakuv commented on #2666
@aneessahib Reducing our hard-coded timeout from 10 seconds to e.g. 1 second makes sense. Please try it out on a couple workloads, and if their performance doesn't change much, then no problem.

The original 10 second timeout value was chosen without any good justification, other than it is definitely good enough. We can decrease this constant as we see suitable.

Decreasing to 100 milliseconds so

[2021-09-07 20:04] sudharkrish commented on #2675
I tested with some sample Go program that launches a TCP server, that listens on a TCP port. Client is able to connect to it, and send a buffer. TCP server is able to read that buffer(sent by client), without any issues, when running in Graphene.

Attaching the test TCP program in Go->([gopro_tcp_testing.zip](https://github.com/gramineproject/graphene/files/7124041/gopro_tcp_testing.zip) )

Also h

[2021-09-07 20:14] sudharkrish commented on #2676
@dimakuv , this PR #2678 that you have mentioned, has change only in Graphene-direct, not in Graphene-SGX. I am testing in Graphene-SGX, also I am using a non-zero port-number.
In any case, I tested with a TCP Go server program, and it still fails to bind, when launched inside a docker container using Graphene-SGX. Here is a zip file with the program and how to test-> ([gopro_tcp_testing_container

[2021-09-08 06:12] svenkata9 commented on #2665
@Kanakoo You can try couple of things - Please refer to this PR 2530
Before running the workload:
## Pre-System setting
Linux systems have CPU frequency scaling governor that helps the system to scale the CPU frequency to achieve best performance or to save power based on the requirement. To achieve the best peformance, please set the CPU frequency scaling governor to performance mode.

``for ((i=

[2021-09-08 06:22] svenkata9 commented on #2628
We have a PR to update the Tensorflow Examples with a real-world one: https://github.com/oscarlab/graphene/pull/2530
This will use TF 2.4.0 AVX. Could you please check?

[2021-09-08 08:19] ntk97 opened #2684 "Unable to Sign the graphenized Docker image using gsc sign-image:"
## Unable to Sign the graphenized Docker image using gsc sign-image:
I am trying build GSC for avalon-python-worker, I have avalon-python-worker docker image. signing of graphenized image is failed.

## Steps to reproduce

- `git clone https://github.com/hyperledger/avalon.git`
- `cd avalon/tc/graphene/python_worker/`
- `docker-compose `build` builds the docker image  avalon-python-worker-dev
- `g

[2021-09-08 12:28] dimakuv commented on #2680
We debugged and the problem is in Graphene's pre-allocated internal PAL memory pool of 64MB.

We fail on `toml_parse()`: https://github.com/gramineproject/graphene/blob/33a68bc4302891e8c591570942bc39394acefd23/Pal/src/host/Linux-SGX/db_main.c#L683

But we read `loader.pal_internal_mem_size` (which increases the internal PAL memory) only after parsing: https://github.com/gramineproject/graphene/blo

[2021-09-08 14:03] dimakuv commented on #2684
First of all, I don't know about this Avalon Docker image (`avalon-python-worker-dev`). I can see that the relevant page in the Avalon repo (https://github.com/hyperledger/avalon/tree/main/tc/graphene/python_worker) was last updated 7 months ago, so it may be incompatible with Graphene and GSC.

However, your steps do not seem to have any particular assumptions about Avalon and its integration wit

[2021-09-08 14:45] dimakuv commented on #1236
This issue was finally fixed by #2621. I forgot to link this issue to that PR, so closing it now manually.

[2021-09-08 14:45] #1236 closed

[2021-09-08 16:15] bigdata-memory opened #2685 "RFC: Trusted files metadata sideloading"
## Description of the problem

The current manifest building and loading process consumes amount of time and memory resources for some workloads which has many direct and indirect dependencies including dynamic libraries, configuration files and data files. the original design of it may become one of bottleneck for complex workloads if large EPC available to use, the current design shown in Fig.1

[2021-09-08 18:17] sudharkrish commented on #2675
@dimakuv , you seem to be right that when I tried a sample TCP server Go program, it worked fine in Graphene. So, it appears like issue is seen when having UDP server in Go running in Graphene. But for the actual Go application server that I am using-> https://github.com/omec-project/upf-epc/tree/master/pfcpiface, the team that supports this application, have informed that they need to use UDP ser

[2021-09-09 05:04] sahason commented on #2543
Regarding the issue, graphene creating the file with some default permissions (0755), but it reported back different permissions (0700) I have submitted a PR gramineproject/gramine#10

As per my understanding regarding the issue file having default permission (0755) always even though umask is used to set file mode creation mask, the current implementation of `shim_do_umask` does not set the file

[2021-09-09 06:28] sahason commented on #2684
@dimakuv Please assign this to me.

[2021-09-09 07:49] dimakuv commented on #2558
We have `./Documentation/graphene_logo.svg` (Graphene logo). We need a new one to finalize the renaming from Graphene to Gramine. (The rest of the renaming is done in the PR.)

[2021-09-09 11:09] dimakuv commented on #2360
My hacky fix in #2372 is sub-par. We should actually refactor Protected Files in a much more comprehensive way, because it also shows it deficiencies for @pwmarcz's work on the FS.

Currently postponing resolving this issue. Until we have a proper PF re-implementation.

[2021-09-09 11:22] pwmarcz commented on #2069
Right now this is by design: Graphene does not expose host-level symlinks as symlinks.

We haven't decided yet how to solve this: we can either expose host-level symlinks, or support applications creating a symlink in Graphene by creating an in-memory entry (same as we do for named pipes and Unix sockets).

[2021-09-09 11:23] dimakuv commented on #292
Unfortunately, the solution in #2533 seems to introduce significant performance overheads (2-7% on some tested workloads). This doesn't sound acceptable, so we have to come up with another solution. This means that we'll have to postpone solving this issue to a later time.

[2021-09-09 11:41] pwmarcz commented on #1841
Current status:

We don't want to support host modifying files without Graphene knowing, but we definitely *do* want to support multiple processes modifying files. This likely requires synchronizing information using IPC (at the very least, sending information that cache needs to be invalidated for some process).

I did some early attempts ("sync engine", #2158) but I feel that the solution needs

[2021-09-09 12:40] boryspoplawski commented on #292
1. It's #2649 not #2533
2. Why is that unacceptable? Most tested workloads exhibited <=2% run time degradation. With the improved code manageability and bug fixes it might be worth merging. Or might not. I would say it needs consideration, but I would definitely not dismiss it based on 1 workload with 7% degradation.

[2021-09-09 15:27] boryspoplawski commented on #2541
This is completely unrelated to https://github.com/gramineproject/gramine/issues/21 (it prints an error message, but it's expected and long after test already failed).

[2021-09-09 15:28] boryspoplawski commented on #2542
This is completely unrelated to https://github.com/gramineproject/gramine/issues/21 (it prints an error message, but it's expected and long after test already failed).

[2021-09-09 15:31] boryspoplawski commented on #2426
I've verified this: the test works as expected and passes successfully on Graphene (on both PALs).
There is one small caveat: it sometimes indeed print an error as stated above, but it's a known issue (https://github.com/gramineproject/gramine/issues/21) and it does not cause the test to fail and does not affect it in any way (it's already after the test passed successfully). Keeping this closed.

[2021-09-09 15:36] boryspoplawski commented on #2531
I've re-verified this and the test passes successfully (it prints an error message - tracked by https://github.com/gramineproject/gramine/issues/21 - but it does not affect the test).

[2021-09-09 15:40] boryspoplawski commented on #2514
I've verified that list - non of these fail due to the problem described in this issue. Some of them do sometimes print an error message described here, but it happens already after the test finished and is unrelated to actual result of the test (be it fail or success).

[2021-09-09 15:43] boryspoplawski commented on #2514
On the original topic: I don't think implementing 2nd option will be that easy: Graphene does not bother cleaning most of the stuff up at exit (depending on host to clean it, which is not a problem atm), so this would require a lot of changes (e.g. closing all files, releasing all handles, cleaning up all threads and all user memory, lot of other cleanups).

[2021-09-09 17:49] mkow commented on #2069
@jinengandhi-intel: Do I understand correctly, that this test checks host-level symlinks? If so, that's currently not implemented as Paweł said and these tests fail as expected. So, we can close this issue if that's the case.

[2021-09-09 17:56] mkow commented on #292
Yup, only one workload had this bad 7% degradation and everything else had negligible slowdowns. Before dismissing this solution we should check this one workload more closely (this was TF ResNet50, if I remember correctly?), maybe it's doing something really weird.

[2021-09-10 00:15] mkow commented on #2617
This was superseded by https://github.com/gramineproject/gramine/issues/11, which is the design we'll implement.

[2021-09-10 00:15] #2617 closed

[2021-09-10 00:45] mkow commented on #2208
The valid part of this issue will be resolved when we implement https://github.com/gramineproject/gramine/issues/11. I'm closing this one to keep the discussion in one place.

[2021-09-10 00:45] #2208 closed

[2021-09-10 08:19] dimakuv commented on #2675
@sudharkrish Have you tried https://github.com/gramineproject/graphene/pull/2679? This solves a problem with partial writes, both in TCP and in UDP modes. Not sure if this can help.

Anyway, can you run your failing app with `loader.log_level = "all"`? And attach the resulting log. May show some interesting info.

[2021-09-10 08:25] dimakuv commented on #2676
Can you run it with `loader.log_level = "all"` and attach the resulting log?

[2021-09-11 00:42] sudharkrish commented on #2675
@dimakuv , I applied PR #2679 but it did not make a difference. I am attaching logs with loader.log_level = "all"-> (
[udp_graphene_logs1.zip](https://github.com/gramineproject/graphene/files/7146957/udp_graphene_logs1.zip))

[2021-09-11 01:30] sudharkrish commented on #2675
@dimakuv did some debugging and here is some info.
When Go Program calls net.ListenUDP, this api invokes 2 syscalls, 1. to create socket, 2. bind
When Go server program calls net.ListenUDP these 2 syscalls are successful.
I can break in LibOS at shim_do_socket and shim_do_bind

Later, when Go server code, does a read, I can break at
shim_do_read, and below is the trace:

shim_do_read-> (hdl type i

[2021-09-11 01:31] sudharkrish commented on #2675
Here is some GDB trace output:

Thread 1 "loader" hit Breakpoint 5, shim_do_read (fd=3, buf=0xc8184aa8, count=1024) at ../LibOS/shim/src/sys/shim_open.c:45
45          if (!is_user_memory_writable(buf, count))
(gdb) c
Continuing.
[P1:T2:main] trace: ---- shim_futex(0x5a6978, FUTEX_PRIVATE|FUTEX_WAIT, 0, 0xc80e9eb0, 0x0, 0) ...

Thread 1 "loader" hit Breakpoint 6, do_recvmsg (fd=3, bufs=0xfb0913e0,

[2021-09-11 01:38] sudharkrish commented on #2676
@dimakuv attached log-> ( [udp_bind_perm_denied_within_container_graphene_log.zip](https://github.com/gramineproject/graphene/files/7147022/udp_bind_perm_denied_within_container_graphene_log.zip))

[2021-09-12 14:03] #382 closed

[2021-09-12 14:03] #2104 closed

[2021-09-13 08:53] dimakuv commented on #2675
@sudharkrish Thanks for debugging this. Indeed, you are correct. UDP support in the PAL code is... bad.

To explain again what Sudha already found out. (We have the same problem in Linux and Linux-SGX PALs, so below I describe on the example of the Linux PAL.)

We have two PAL handle types in Gramine: `PAL_TYPE_UDP` and `PAL_TYPE_UDPSRV`.

We have two implementations of the recv function for UDP:

[2021-09-13 08:55] dimakuv commented on #2675
You see this error because we have these checks:
- https://github.com/gramineproject/gramine/blob/74420be3a01d82415b36f142f5e52c87385befdd/Pal/src/host/Linux/db_sockets.c#L719
- https://github.com/gramineproject/gramine/blob/74420be3a01d82415b36f142f5e52c87385befdd/Pal/src/host/Linux/db_sockets.c#L750

@sudharkrish What happens if you simply remove these checks? Then your Go program *may* start wo

[2021-09-13 09:04] dimakuv commented on #2676
The relevant part of this log is:
[code]

To be honest, this doesn't help much. Apparently, there is some issue with the address parameter used by `bind()` of the UDP server. Could you maybe debug it with GDB?

Given that we didn't debug UDP properly, and the UDP code in PAL is **very old**, it's no surprise it is so buggy... We need to refactor it completely.

[2021-09-14 15:29] dimakuv commented on #2558
We now have three public repos:
- https://github.com/gramineproject/gramine/
- https://github.com/gramineproject/gsc
- https://github.com/gramineproject/examples/

The order of reviewing and merging PRs:
1. https://github.com/gramineproject/gsc/pull/6 -- Add README and gitignore
2. https://github.com/gramineproject/gsc/pull/8 -- Add documentation
3. https://github.com/gramineproject/gramine/pull/3

[2021-09-14 16:48] #1248 closed

[2021-09-15 00:43] sudharkrish commented on #2675
@dimakuv per your suggestion, after allowing udp-server objects to invoke udp_receive which does NOT take address parameter, read works.
[code]

In general, UDP-server code in C, passes address parameter passed along with read or write on that UDP socket handle, so Graphene's UDP-server code is able to handle it.
In contrast with Golang UDP-server code, we can get call to udp.read(without address

[2021-09-15 00:52] sudharkrish commented on #2676
@dimakuv did some debugging with GDB, and turns out that this a configuration issue, not a graphene issue.
Given that this Go application was run using Graphene, inside a docker container, bind failed due to this error-> EADDRNOTAVAIL(99)	Cannot assign requested address
But Pal's-> unix_to_pal_error_positive, does NOT check for this->EADDRNOTAVAIL, and instead returns a default value of PAL_ERROR_

[2021-09-15 06:36] dimakuv commented on #2676
Thanks for debugging this. Looking at https://github.com/gramineproject/gramine/blob/40e942db6b02555cf2414f20bbd313b63f50e400/Pal/src/host/Linux/pal_linux_error.h and https://github.com/gramineproject/gramine/blob/40e942db6b02555cf2414f20bbd313b63f50e400/common/include/pal_error.h, I don't see any suitable PAL error code to correspond to `EADDRNOTAVAIL`. In other words, we'll have to add a new PAL

[2021-09-15 06:36] #2676 closed

[2021-09-15 06:40] dimakuv commented on #2675
@sudharkrish Could you show your resulting modifications to Gramine (via `git diff` is enough)? It will be helpful to see the midifications to know if these modifications is all that is needed, or for this feature to be bullet-proof, we need to add additional checks/logic.

[2021-09-15 10:28] mkow commented on #2552
Closing, as I don't see any reasonable usecase for this feature.

[2021-09-15 10:28] #2552 closed

[2021-09-15 11:47] mkow commented on #1919
@pwmarcz: Is this still relevant? I remember that some recent changes might have fixed Valgrind. Also, will we actually want Valgrind support once we have UBSan+ASan?

[2021-09-15 12:11] mkow commented on #2491
This was fixed as part of https://github.com/gramineproject/gramine/pull/33, closing.

[2021-09-15 12:11] #2491 closed

[2021-09-15 12:52] pwmarcz commented on #1919
I think the issue with load address is still there?

Anyway, yes, I don't think this is a promising avenue. Initially I wanted to use Callgrind for profiling, but perf works pretty well. Our UBSan and ASan integration will probably not cover everything Valgrind has to offer (we have no tracebacks, no stack instrumentation, etc.) but seem less invasive, and should be easier to expand than getting V

[2021-09-15 13:41] mkow commented on #1919
Thanks for the details! I'll close this issue then.

[2021-09-15 13:41] #1919 closed

[2021-09-15 15:15] #2297 closed

[2021-09-15 15:15] #2479 closed

[2021-09-15 22:54] sudharkrish commented on #2675
@dimakuv , it is just 2 lines of change, here is the diff below:
[code]

[2021-09-15 23:49] sudharkrish commented on #2675
@dimakuv did some reading on this UDP topic. As per info in this blog-> [(https://dadrian.io/blog/posts/udp-in-go/)](https://dadrian.io/blog/posts/udp-in-go/), atleast in Golang, it is not possible to do a udp_write(without a address parameter) for a non-connected socket. But udp_read is possible on a non-connected socket. This is the use-case this PR tries to resolve(that is udp_read for a non-co

[2021-09-16 03:00] Kanakoo commented on #2665
I've already applied these settings but found no effects.

Besides, I have discovered which part caused the extremely slow loading, that is ```from skimage import io```.
I wrote a simple example to test:
[code]
and found that when running with graphene-sgx on bare metal, it took about 30 minutes to import, see:
[code]

I was wondering if there was any problem with my python environment, so i packa

[2021-09-16 05:52] svenkata9 commented on #2665
Based on my little analysis with strace, this module import seems to be heavy on IO operations (stat/read/ftsat) and hence the perf impact with Graphene-SGX.

[2021-09-16 06:52] dimakuv commented on #2675
Thanks, @sudharkrish, this is very useful. I assigned this issue labels, we'll need to add such UDP functionality to Gramine. Probably not just yet because it needs more reading and testing, and we are currently busy with other things.

[2021-09-16 07:12] dimakuv commented on #2665
@Kanakoo @svenkata9 Actually, what are the sizes of the `*.manifest.template`, `*.manifest`, and `*.manifest.sgx` files for your application? I recently learned that people sometimes have `manifest.sgx` files which are ~70MB in size (which obviously makes Graphene slow).

[2021-09-16 07:35] Kanakoo commented on #2665
@dimakuv  when running on bare metal, they are:
[code]
when running in container, I remake the exmaple, and they are:
[code]
Is 13M too large?

[2021-09-16 07:57] dimakuv commented on #2665
No, this is a normal value. And `1.3M` in the container is a very good value.

So yes, the manifest-file size is not a reason for performance slowdown. I guess it's just the fact that `import skimage.io` is just slow by itself because it performs a lot of file I/O (as @svenkata9 debugged). Unfortunately, there is probably not much that can be done here.

We *could* look into these performance bott

[2021-09-16 08:25] #2069 closed

[2021-09-16 11:24] #2680 closed

[2021-09-17 06:11] llly commented on #2672
@dimakuv I can reproduce this failure on latest Graphene trunk.
This time it's caused by `clone` a process at the very beginning of Python program.
[code]

[2021-09-17 08:07] dimakuv commented on #2672
@llly How can we quickly reproduce it? What is the Python script you tried and is there anything special you did in `python.manifest.template`?

[2021-09-17 14:07] boryspoplawski commented on #2672
Also what is the exact commit hash you've run this on?

[2021-09-21 01:01] sudharkrish opened #2688 "UDP Client does not get the correct address using getsockname"
## Description of the problem
UDP Client does not get the correct address using getsockname.
When UDP client connects to a server address, kernel assigns the IP-address:port-number for
the client's end-point. After call to connect system call, the client IP address:port-number can be retrieved using
getsockname system call.
I am using a golang program, that calls a Go library api-> net.DialUDP(whi

[2021-09-21 01:17] sudharkrish commented on #2688
Debugged this issue.
When graphene gets a call to getsockname, it does NOT make a system call, instead it returns previously saved value
of socket-address in LibOS socket handle(sock->addr.in.bind) in shim_do_getsockname.
But in this case, the value saved is incorrect(since it is the value of the server address client connected-to, and NOT the address assigned to client by kernel).

When applicati

[2021-09-22 09:35] woju commented on #2563
Yes, I remember about this. Don't you want to move this issue to gramine repo?

--
pozdrawiam / best regards
Wojtek Porczyk
Gramine / Invisible Things Lab

 I do not fear computers,
 I fear lack of them.
    -- Isaac Asimov

[2021-09-23 00:22] glorysdj commented on #2672
the commit hash is fb71e4376a1fa797697832ca5cbd7731dc7f8793
and also on 1.2-rc1, same issue happens
and on previous commit 1b8848bdae09fa0e92e4644b7fbd4e8c6cd1718c which is before 1.2-rc1, it works well

[2021-09-23 00:25] glorysdj commented on #2672
actually we use bash to start java/python programs
please refer to this manifest
https://github.com/intel-analytics/analytics-zoo/blob/master/ppml/trusted-big-data-ml/python/docker-graphene/bash.manifest.template

any comments and help will be appreciated!

[2021-09-23 00:26] boryspoplawski commented on #2672
That commit is 5 months old...
Please try the newest master from the new repository (at the time of writing: https://github.com/gramineproject/gramine/commit/ff5a2da0dd577f47204a546465aab6797bce5d83)

[2021-09-23 00:28] glorysdj commented on #2672
sorry, I pasted the wrong commit, actually we are now running on fb71e4376a1fa797697832ca5cbd7731dc7f8793, and encounter this issue.

[2021-09-23 09:17] dimakuv commented on #2672
@glorysdj Unfortunately, the manifest you provided requires a very specific environment on the machine (Python3.6, Java, Spark, something called `zinc`, etc). So we won't be able to reproduce this.

Anyway, @boryspoplawski, do you have an idea what the debug log above could indicate? In particular, why this could trigger:
[code]

In other words, why the main process P1 wouldn't know all ancestor I

[2021-09-23 10:17] jinengandhi-intel commented on #2666
@mkow @dimakuv @aneessahib Can you re-open the issue? Seems like the issue is not completely fixed and we still see tests failing with woken up early message on a server but its is very intermittent. Please find attached logs for 2 of the tests where I was able to repro the issue 1 in 8/9 times. (Search for TFAIL in the logs)

In terms of priority it can definitely go down as the issue is not cons

[2021-09-23 11:14] dimakuv commented on #1803
@pwmarcz It would be good to go through the "master list of issues" again and verify which ones were already fixed/became irrelevant. After this we can close this issue.

I don't want to transfer this issue to the new Gramine repo since it's a meta-issue which is almost completely fixed at this point.

[2021-09-23 11:17] dimakuv commented on #760
Since the transition to Meson is (almost) complete, I'm closing this issue. I didn't find any particular things that could be useful in the new Gramine repo.

[2021-09-23 11:17] #760 closed

[2021-09-23 11:21] dimakuv commented on #2589
Pinging @boryspoplawski about #2597

[2021-09-23 11:25] dimakuv commented on #2105
We hope to finish this effort before the release.

[2021-09-23 15:33] boryspoplawski commented on #2672
@dimakuv no idea, sounds like a serious bug, but we've never seen that before...

@glorysdj @llly Could you please post a trace log of a full execution? Maybe then we could tell more (the provided snipped skips too much details).

[2021-09-24 02:03] Yujindawang opened #2689 "[Error:38]Function not implemented. multiprocessing in graphene"
I run a pytorch program in graphene, but here threw an error when it comes to multi-process communication.
[code]
Sorry I can’t provide the relevant code. So i typed a simple example to simulate this situation.

[code]

when i run this py in graphene, same error was thrown.
[code]

This seems to be related to Sem_lock.

So I want to confirm the problems of multi-process in graphene and how to solv

[2021-09-24 04:21] aneessahib commented on #2666
so what we are seeing here is expected. looks like on this system, the negative time drift is detected as early as 25ms, which is why the test fails only at that point, and begins to pass soon as it goes above 50ms. Unfortunately, we cant correct this anymore as there could be a perf impact.

The original issue that was fixed was for a 100% reproducible time drift issue. And now since this residua

[2021-09-24 09:07] dimakuv commented on #2689
From what I understand, Python's `multiprocessing` package uses POSIX semaphores (or maybe even older Sys-V semaphores). Check https://linux.die.net/man/7/sem_overview.

Gramine currently doesn't support semaphores at all. So this example unfortunately cannot run in Gramine.

[2021-09-24 09:10] dimakuv commented on #2689
You can actually add `loader.log_level = "trace"` in your manifest file, and re-run your simple example. Gramine will output a lot of additional info.

If you see some system call like `sem_wait()` or `sem_open()` or `segmet()`, and they return `-38` ("not implemented"), then it's definitely the problem: Gramine doesn't support these system calls (Gramine doesn't support semaphores).

[2021-09-24 09:12] dimakuv commented on #2666
I generally agree with @aneessahib. ~~Since this is not a real "bug" (it is simply that timestamp reported by Gramine may be very slightly off in comparison to the previous timestamp), and it only exhibits itself in an LTP test (and not on any real workload), we could ignore it for now. (**this comment was wrong, so I mark it as cut out**)~~

[2021-09-24 09:17] glorysdj commented on #2672
[test-orca-tf-text-sgx.log](https://github.com/gramineproject/graphene/files/7224508/test-orca-tf-text-sgx.log)

trace log is attached.

also you can run it with below docker image:
[code]

attach the container
[code]

init the sgx manifest
[code]

run the workload
[code]

[2021-09-24 09:46] Yujindawang commented on #2689
i got it, so is there any workaround to deal with this problem?

[2021-09-24 09:49] dimakuv commented on #2689
The only workaround I can think of is: don't use `multiprocessing` package in Python.

[2021-09-24 09:51] ziqi-zhang opened #2690 "How to transmit variables between SGX and untrusted environments"
Hi,

I want to implement a pytorch program that needs to transmit tensors between SGX and the untrusted environment. I have read the pytorch tutorial but it doesn't mention such techniques. The tutorial mainly displays how to run a script inside the SGX. I was wondering are there any documents about how to implement/use such features?

Best wishes,

[2021-09-24 09:55] dimakuv commented on #2690
Please expand on this. What do you mean by "transmit"? In which direction? In which format? Can you use regular files for this transmission (that's the typical way of sharing something between the untrusted host and the SGX enclave)?

[2021-09-24 10:07] ziqi-zhang commented on #2690
Thanks for your quick apply! I want to perform some tensor computation inside the SGX and other computations in the untrusted environment. This requires to transmit variables in and out the SGX in both directions.

The format is pytorch tensor. Regular files are viable options but I'm afraid the file operation is slow. Is it possible to use some shared memory between SGX and the untrusted environm

[2021-09-24 10:30] dimakuv commented on #2690
Gramine is a generic SGX runtime, and it doesn't allow for splitting the process in trusted and untrusted parts. The whole process must be shifted inside Gramine (and thus to inside the SGX enclave). So I'm afraid that without significant refactoring of your original PyTorch program, you won't be able to achieve your goal.

No, Gramine doesn't support this. Maybe in the future we'll add such suppo

[2021-09-24 11:05] ziqi-zhang commented on #2690
Thanks!

[2021-09-24 11:05] #2690 closed, assigned to nobody

[2021-09-24 15:04] pwmarcz commented on #2543
* The chroot filesystem rewrite (https://github.com/gramineproject/gramine/pull/5) should cause Gramine to report back the same permissions as it applied, because the permissions are now cached and not read from host.
* We will still report *previously unknown* files incorrectly (e.g. already existing on host, or created by another process), gramineproject/gramine#10 should fix that.
* Gramine doe

[2021-09-24 23:17] mkow commented on #2666
Hmm, but it's pretty bad that we can expose negative time delta to the application. The LTP test exposes it consistently, but normal apps may still hit it sporadically, just not as often as this specialized test.

[2021-09-27 07:42] dimakuv commented on #2666
@mkow Sorry, I think I got confused by the two issues. My comment about the "negative time delta" concerned this issue: https://github.com/gramineproject/gramine/issues/82.

The issue here is different: here the complaint is that the time drift is observable after a tiny amount of time (25ms), and we only recalibrate the time drift with 50ms periodicity (see https://github.com/gramineproject/grami

[2021-09-28 00:25] glorysdj commented on #2672
@dimakuv @boryspoplawski  any insights?

[2021-09-28 01:28] Yujindawang commented on #2689
I try to set num_workers=0 to ban the multiprocessing function ,  
[code]
The original error 38 disappeared, but another bug happened, my program killed by singal 8. I  checked that it means  8) SIGFPE.
I have tried without graphene, it ran successfully. Then i try to increase enclave_size, stack.size and pal_internal_mem_size,but all invalid. I have no idea what happened.
![微信图片_20210928092345](h

[2021-09-28 06:03] #2664 closed

[2021-09-28 06:14] dimakuv commented on #2689
`arithmetic fault` is interesting!

Can you debug your program using gdb? You simply build all Gramine in debug mode and then run `GDB=1 gramine-sgx <your app>`. For more info, check https://gramine.readthedocs.io/en/latest/devel/debugging.html

The debugger should point you to the place in code / assembly instruction where SIGFPE (`airthmetic fault`) happens. This may immediately give you an idea

[2021-09-28 07:46] #2589 closed

[2021-09-28 11:30] mkow commented on #2666
Ah, I see. Then it's not very important. This test is disabled anyways in the public CI because it requires disabling C-states, so I think we can just close this issue as we don't plan to do anything more about it.

[2021-09-28 11:30] #2666 closed

[2021-09-28 15:59] dimakuv commented on #2684
This was actually fixed by https://github.com/gramineproject/gsc/pull/10 which we just merged. I'm closing but @ntk97 please test on your side that it works now.

[2021-09-28 15:59] #2684 closed

[2021-09-28 16:09] ntk97 opened #2692 "Function not implemented (src/ip.cpp:563) in testing GSC container"
## Function not implemented (src/ip.cpp:563) in testing GSC container
### Trying to the integrate Avalon with Graphene,  while testing the GSC build container with simple client without Avalon.
## Steps to reproduce

Build the avalon-python worker base image by following below steps
- `git clone https://github.com/hyperledger/avalon.git`
- `cd avalon/tc/graphene/python_worker/`
- `docker-compose b

[2021-09-28 16:11] ntk97 commented on #2684
I tested with the PR [GSC] Install toml python package properly gramineproject/gsc#15, it worked

[2021-09-28 16:16] dimakuv commented on #2692
Sorry but this is not a Graphene problem. You should be asking Avalon people what this `src/ip.cpp` file could be.

Anyways, quick googling lead me to this: https://github.com/zeromq/libzmq/blob/5d8d857540323e2d85c64a7edde1ad5280cad04b/src/ip.cpp#L563. This feels like a right hit, so probably Avalon uses libzmq (ZeroMQ, https://github.com/zeromq/libzmq).

Looking at that code, we see this system c

[2021-09-28 16:18] dimakuv commented on #2684
@ntk97 Yes, but now you can test with the `master` branch of GSC. I mean, you won't need to use that PR; you can just use the master now.

[2021-09-28 16:19] #2558 closed

[2021-09-29 04:05] qqingli commented on #2665
Finally I found why "from skimage import io" is too slow in sgx, it indirectly calls ctypes to scan dynamic libraries and fork many processes. A workaround is adding these codes before ```from skimage import io``` to disable the scanning.
[code]

[2021-09-29 07:42] ntk97 commented on #2692
Enabling the` eventfd()` by adding `sys.insecure__allow_eventfd = true` in manifest resolved the issue.

[2021-09-29 07:42] #2692 closed, assigned to nobody

[2021-09-29 11:54] #2291 closed

[2021-09-29 13:28] #2356 closed

[2021-09-29 13:28] dimakuv commented on #2356
@Nirusu Just in case you haven't noticed, we merged the envp PR!

[2021-09-29 15:18] thomasten commented on #2356
Thanks @dimakuv. Are you able to estimate when you will publish the first (pre) release (candidate) of Gramine? Ideally, we would wait for this and then make all necessary changes to MarbleRun.

[2021-09-29 15:59] dimakuv commented on #2356
@thomasten I would say definitely by mid-October. Ideally by the end of next week (~ 8. October).

[2021-09-30 01:36] Yujindawang commented on #2689
Sorry for not being able to check the message due to some things in the past two days, i will try GBD immediately.

[2021-09-30 23:49] boryspoplawski commented on #2672
@glorysdj Could you check if https://github.com/gramineproject/gramine/pull/109 fixes this issue?

[2021-10-04 10:00] #2543 closed

[2021-10-06 03:14] jkr0103 commented on #2541
Please assign to me

[2021-10-06 04:31] jkr0103 commented on #2542
Please assign to me

[2021-10-07 04:13] jkr0103 commented on #2541
I am unable to reproduce the issue with below commits until Jul on Ubuntu 18.04 and Kernel 5.11.0-rc7-intel-next+. Please share the commit ID, OS and kernel version of machine where issue was seen.

commit f7e2a7793e2031d5feec0f1faf5f30ba9320bf5e (HEAD)
Date:   Thu Sep 9 03:01:03 2021 -0700

commit e637fab1af3e0a348d6ded339f3a84bdbe747ed9
Date:   Thu Sep 23 03:37:24 2021 +0200

commit 6a7fdaf98164

[2021-10-07 04:13] jkr0103 commented on #2542
I am unable to reproduce the issue with below commits until Jul on Ubuntu 18.04 and Kernel 5.11.0-rc7-intel-next+. Please share the commit ID, OS and kernel version of machine where issue was seen.

commit f7e2a7793e2031d5feec0f1faf5f30ba9320bf5e (HEAD)
Date:   Thu Sep 9 03:01:03 2021 -0700

commit e637fab1af3e0a348d6ded339f3a84bdbe747ed9
Date:   Thu Sep 23 03:37:24 2021 +0200

commit 6a7fdaf98164

[2021-10-08 00:18] glorysdj commented on #2672
yes, we will try this

[2021-10-09 09:18] glorysdj commented on #2672
have tried with latest gramine, but encountered another issues, when run a very simple java program. will try to summarize the issue.

[2021-10-09 13:14] Nada-Bu commented on #2437
I face the same problem. Using this command: mount -o remount,exec /dev, solved it.
Thanks

[2021-10-13 04:12] jinengandhi-intel commented on #2541
This issue is not reproducible with the latest Gramine master, might have been unknowingly fixed by some commit in the past few weeks. @dimakuv can you close this issue? Anjali is out and I don't have permissions to close issues.

[2021-10-13 04:12] jinengandhi-intel commented on #2542
This issue is not reproducible with the latest Gramine master, might have been unknowingly fixed by some commit in the past few weeks. @dimakuv can you close this issue? Anjali is out and I don't have permissions to close issues.

[2021-10-13 06:26] #2541 closed

[2021-10-13 06:26] dimakuv commented on #2542
@jinengandhi-intel Thanks for verifying!

[2021-10-13 06:26] dimakuv commented on #2541
@jinengandhi-intel Thanks for verifying!

[2021-10-13 08:55] aniket-intelx commented on #2624
In the recent nightly runs, we are seeing the permission denied for `'/usr/bin/chfn'`

[2021-10-18 11:39] dimakuv commented on #2624
@aniket-intelx What is this file?

[2021-10-18 12:11] mkow commented on #2665
Seems this is resolved, closing.

[2021-10-18 12:11] #2665 closed, assigned to nobody

[2021-10-18 13:15] mkow commented on #1840
This was implemented in https://github.com/gramineproject/gramine/pull/56.

[2021-10-18 13:15] #1840 closed

[2021-10-18 17:59] KeplerC opened #2693 "[Examples] Python Example Stuck Without Any Error Message"
## Description of the problem

I just installed graphene and `make` the manifest by the document. The installation and manifest compilation do not report any error message. However, as I ran `graphene-direct ./pytorch pytorchexample.py`, and the program stuck indefinitely. This occurs for both vanilla python and pytorch example.

[code]

## Steps to reproduce

After installing the graphene,
[code]

[2021-10-18 18:06] mkow commented on #2693
This repository is not used anymore, please use https://github.com/gramineproject/gramine.

[2021-10-18 18:06] #2693 closed, assigned to nobody

[2021-10-19 03:23] Renshy342 opened #2694 "ModuleNotFoundError: No module named 'graphenelibos'"
## Description of the problem
I follow the "[Quick start without SGX support](https://graphene.readthedocs.io/en/latest/quickstart.html)" step by step.
when I input "sudo make" in file "/graphene/LibOS/shim/test/regression/", I receive

[code]

I have no idea how to deal with the: "No module named 'graphenelibos'".

**THANK YOU FOR ANY HELP!**

[2021-10-19 04:18] aniket-intelx commented on #2624
Please find the attached file for error message. Also, let me know if you need the manifest file.
[Bash.txt](https://github.com/gramineproject/graphene/files/7370100/Bash.txt)

[2021-10-19 07:19] dimakuv commented on #2624
@aniket-intelx I meant: what is the purpose of this file, what data it contains, what permissions it has, etc. Looks like it requires root to access it https://www.ibm.com/docs/fr/aix/7.1?topic=c-chfn-command.

Can you skip this file? Like, did you do any trick to skip `/usr/bin/etc/gshadow`?

Otherwise the only way would be to run Bash as root for now, and wait for the enhancement in Gramine sugg

[2021-10-19 07:20] dimakuv commented on #2624
Actually, @boryspoplawski @mkow @woju This "skip inaccessible files" shouldn't be too hard to implement, right? We just need to tweak our Python gramine-manifest file. Could anyone do this fix?

[2021-10-19 07:22] dimakuv commented on #2694
This "Graphene" repo and the "Graphene" documentation web page are legacy and deprecated. We switched to the new name "Gramine". So, please use:

- https://github.com/gramineproject/gramine
- https://gramine.readthedocs.io/en/latest/quickstart.html

[2021-10-19 14:43] boryspoplawski commented on #2624
I'll do it

[2021-10-19 18:05] Renshy342 commented on #2694
THANK YOU.
I follow the guide(https://github.com/gramineproject/gramine). But when I input the "sudo meson setup build/ --buildtype=release -Ddirect=enabled -Dsgx=disabled", I received:
[code]
I don't konw how to deal with the problem.
**THANK YOU FOR YOUR HELP!**

[2021-10-19 18:14] dimakuv commented on #2694
Did you perform Step 4 in https://gramine.readthedocs.io/en/latest/quickstart.html#quick-start-with-sgx-support ?

It has this command: `sudo apt-get install -y ... protobuf-c-compiler ... python3-protobuf ...` -- it installs the Google Protobuf packages, which contain the program `protoc-c`.

[2021-10-19 18:14] dimakuv commented on #2694
@Renshy342 Also, I hope you have Ubuntu 18.04/20.04/21.04?

[2021-10-20 02:32] yanzhichao opened #2695 "web server use golang, QPS(queries per second) is very low"
## Description of the problem

## Steps to reproduce
It's an web app which developed by beego.   beego is an opensource MVC web framework which use golang (https://github.com/beego/beego/)

The app have a restfulAPI :`http://10.10.11.8:30002/marketplace/dp/v1/welfare/all`
It's work fine without grahene-sgx , But it's QPS is very low when run in graphene-sgx , as follow pic show: need about 2 min t

[2021-10-20 08:09] dimakuv commented on #2695
Golang on Linux uses raw system calls (raw `syscall` instructions, see https://www.felixcloutier.com/x86/syscall.html).

Intel SGX hardware **disallows** raw `syscall` instructions. This means that every `syscall` instruction invoked inside the SGX enclave results in a SIGILL ("Illegal Instruction", see also https://www.felixcloutier.com/x86/ud) exception. Exceptions in Intel SGX hardware are **ve

[2021-10-20 08:31] yanzhichao commented on #2695
Thank you @dimakuv
Every reply is very timely

Ok, I will have a try to use solutions (1) and (3)
otherwish We can only consider implementing our application in another language

Thanks for your analysis again.

[2021-10-20 09:14] dimakuv commented on #2695
@yanzhichao Please inform us of any interesting findings!

[2021-10-26 13:19] mkow commented on #2057
We finished migration to Meson (in [the new repo](https://github.com/gramineproject/gramine)), so I'm closing this.

[2021-11-04 14:16] Cosmin2106 opened #2696 "File Listener Based on INOTIFY Throws Error"
## Problem description
Hi! I am trying to run a Java application compiled with GraalVM inside Graphene SGX. The scope of my prototype is to continuously watch an unprotected folder (added to the manifest via *sgx.allowed_files = ["file:<folder>"]*) for modifications. For that, I use the command **FileSystems.getDefault().newWatchService();**, which, in turn, uses **inotify** at system level.

Even

[2021-11-07 15:27] mkow commented on #2696
Hi,

This repo is not used anymore (please see the readme). The project was migrated to https://github.com/gramineproject/gramine/. Please also ensure that you tested the most recent master and the bug still reproduces, we might have fixed the problem in the meantime.

[2021-11-07 15:27] #2696 closed, assigned to nobody

[2021-11-08 14:00] SoulKa commented on #2694
I had the same problem. For me it was that the PYTHONPATH environment variable was not set to where graphenelibos was installed for me. Use `whereis graphenelibos` to locate the directory and add that directory by using `export PYTHONPATH=/my/path/to/graphenelibos/parent/directory`. Check that it worked by typing `echo $PYTHONPATH`. After that I could use graphene

[2021-11-11 07:22] kvijay1918 opened #2697 "Issue with libprotobuf version."
I am using Ubuntu v21.10 and kernel 5.13 and the code name is impish.

root@a4bf01694f20:# lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description: Ubuntu 21.10
Release: 21.10
Codename: impish
root@a4bf01694f20:#

root@a4bf01694f20:~# uname -r
5.13.0-20-generic

root@a4bf01694f20:~/vj-scripts# uname -m
x86_64

I tried installing psw installer. Got the below error.

The foll

[2021-11-11 07:26] kvijay1918 commented on #2697
I am using Ubuntu v21.10 and kernel 5.13 and the code name is impish.

root@a4bf01694f20:~# lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 21.10
Release:        21.10
Codename:       impish
root@a4bf01694f20:~#

root@a4bf01694f20:~# uname -r
5.13.0-20-generic

root@a4bf01694f20:~/vj-scripts# uname -m
x86_64

I tried installing psw installer. Got the belo

[2021-11-11 07:46] dimakuv commented on #2697
Dear Vijay,

Please post this issue in the official Intel SGX SDK & PSW repository: https://github.com/intel/linux-sgx

You found an interesting issue. I believe you're correct, there is a mismatch in what your Ubuntu 21.10 provides and what the SGX PSW package expects. Hopefully the Intel SGX SDK & PSW people can help you.

In the meantime, I can only recommend to downgrade your machine to a more

[2021-11-11 07:46] #2697 closed, assigned to nobody

[2021-11-17 11:56] saruvig opened #2698 "Issue in Cloud Deployment to AKS"
Hi,

I am following the steps given in https://graphene.readthedocs.io/en/latest/cloud-deployment.html#prerequisites for deploying the Hello World application to AKS.

I am getting an error at the ./gsc build step: Failed to build unsigned graphenized docker image `gsc-python-unsigned`.

It stops running at Step 1/19: FROM gsc-graphenelibos/aks:latest AS graphene

The Azure VM has the following fe

[2021-11-17 13:09] dimakuv commented on #2698
Please note that Graphene was renamed to Gramine, and all repositories and documentation moved to new places:
- https://github.com/gramineproject/gramine -- main Gramine repo
- https://gramine.readthedocs.io/en/latest/cloud-deployment.html -- documentation on Cloud Deployment

[2021-11-17 13:14] dimakuv commented on #2698
So please check there (actually, wait until tomorrow since we'll update the Cloud Deployment page -- it had some small bugs)

[2021-11-17 20:15] mkow commented on #2698
Closing this, as we're no longer using this repository.

[2021-11-17 20:15] #2698 closed, assigned to nobody

[2021-12-17 10:06] #2448 closed

[2022-01-18 12:31] drozdowsky opened #2699 "Decimal type prone to float rounding error."
## Description of the problem
We use graphene with django_graphene but the issue is related with this package.
v 2.1.9:
[code]
Decimal.parse_value(value) gets value of type float, it converts it to Decimal which results in rounding error.

Workaround (it probably should be fixed in upper frames):
[code]

I think this happens because client can send the decimal as float, it probably works fine with

[2022-01-19 22:04] salsal97 opened #2700 "pytorch sample config for better performance"
## Description of the problem
Hi,

I'm trying to run the pytorch example in this repo and its taking ~45 seconds to run completely right now, with a decreased enclave size of 4GB. This was the optimum state I could reach, and not even the openMP patch would decrease the runtime further.
- Is there any way to make this example faster?
- Is there any change required in the current environment for th

[2022-01-20 01:17] mkow commented on #2699
Hi, please check the main readme of this repo. The project was moved to https://github.com/gramineproject/gramine and this repository is kept only for historical reasons (we'll archive it soon).

[2022-01-20 01:17] #2699 closed, assigned to nobody

[2022-01-20 07:53] dimakuv commented on #2700
First, you should use the new Gramine repo: https://github.com/gramineproject/gramine (Graphene was renamed to Gramine and moved under a new GitHub org). This "Graphene" repo is outdated.

Second, what is your machine? How much EPC does it have? If you have an older, wimpy SGX-enabled machine with only 96MB - 128MB of EPC, you will see pretty bad performance on big workloads like PyTorch. Please a

[2022-01-20 12:37] mkow commented on #2695
Seems stale, closing.

[2022-01-20 12:37] #2695 closed, assigned to nobody

[2022-01-20 12:37] #2700 closed, assigned to nobody

[2022-01-20 12:42] salsal97 commented on #2700
@dimakuv
Hi, I used graphene since gramine does not have a pytorch sample as of yet. I'm using an Icelake machine, with 24 cores -

[code]

[2022-01-22 17:07] #789 closed

[2022-01-31 14:54] #2467 closed

[2022-01-31 21:45] #1717 closed

[2022-02-14 07:32] #435 closed

[2022-05-04 12:05] #2105 closed

[2022-06-17 21:25] #674 closed

[2022-06-17 21:25] #2046 closed

[2022-06-17 21:25] #2335 closed

[2022-06-17 21:25] #2391 closed

[2022-06-17 21:25] #2393 closed

[2022-07-25 17:03] #638 closed