[2020-05-08 12:37] #1473 closed

[2020-05-08 17:43] yamahata opened #1480 "SIGCHLD can arrive much later after waitpid() returned"
The current implementation of graphene may delay SIGCHLD after waitpid().
related to https://github.com/oscarlab/graphene/issues/1297

## Description of the problem
On Linux kernel kernel, waitpid() and SIGCHLD should happen closely.
When waitpid() is returned, application expects SIGCHLD is already received if SIGCHLD is unmasked.
Such assumption is reasonable because waitpid() returning and SIGC

[2020-05-08 18:02] yamahata opened #1481 "sigaction(SA_RESTART) is not supported."
`sigaction(SA_RESTART)` is not supported. So system call won't be restarted automatically on the interrupt by signal.

[2020-05-09 00:58] dimakuv commented on #1463
@emilhem I started looking into it, thanks for the GitHub repo! Also check my issues I opened in that repo.

So I found and fixed two bugs thanks to this Erlang workload: https://github.com/oscarlab/graphene/pull/1483.

At this point, there is some `ECONNRESET` error on one of the pipes, and I cannot go further without understanding Erlang sources... One obvious suspect is `timerfd` which is not i

[2020-05-09 01:02] dimakuv commented on #1375
@ArnaudCarrere #1454 was merged today. If it solves all your problems, please close this issue.

[2020-05-10 23:31] boryspoplawski commented on #1480
I would vote for using a single message for child's death, which would then cause SIGCHLD to be delivered if needed (this would happen on the receivers side).

[2020-05-11 11:48] stefanberger opened #1485 "Futex variables are 32 bit (int) on Linux but ours are 64 bit"
The mutex_handle in https://github.com/oscarlab/graphene/blob/master/Pal/src/host/Linux/pal_host.h#L39 defines a 64 bit variable that is later on used as the futex variable and also used in cmpxchg here https://github.com/oscarlab/graphene/blob/master/Pal/src/host/Linux/db_mutex.c#L108 . Futex variables are 32 bit on Linux (int) though [http://man7.org/linux/man-pages/man2/futex.2.html] the cmpxch

[2020-05-11 16:35] dimakuv commented on #1480
I'm confused. #1297 talks about a race between SIGUSR1 and waitpid. The issue here talks about a race between a special-case SIGCHLD and waitpid.

Do we want to solve only the "SIGCHLD vs waitpid" race or a broader issue of "any signal vs waitpid"? The first one should be easier to solve, the second one may involve some special logic (solution 3 in Isaku's list).

[2020-05-11 16:55] dimakuv commented on #1485
Yes, we need to fix this for sure by changing `mutex->locked` to 32 bit. We should also use the 32-bit version of cmpxchg.

However, I would also prefer to decide on which atomics we use in Graphene. Currently we have at least two options: GCC builtins (see  e.g. https://github.com/oscarlab/graphene/blob/31b752a3350ba250a941a153e15e5167e792df46/Pal/include/lib/spinlock.h#L162) and atomics stolen f

[2020-05-11 17:15] yamahata commented on #1480
In this PR, I have the "SIGCHLD vs waitpid" in mind.
I agree that "any signal vs waitpid" is also still an issue.

[2020-05-11 17:18] boryspoplawski commented on #1480
I think if we send this "child died" message via the same channel as all signals, it would fix both issues, if we handle these messages in order (since child cannot send any more signals after death).

[2020-05-11 17:24] boryspoplawski commented on #1485
I wasn't part of any larger discussions about it, but I would prefer GCC builtins as well.

[2020-05-11 20:43] mkow commented on #1485
I thought we wanted to move to C11 atomics? Or is there a problem in using them without stdlib?

[2020-05-11 20:57] boryspoplawski commented on #1485
I think you cannot assume anything about how C11 atomics are represented i.e. `atomic int` could be a struct, which kind of makes it unusable in most places for us.

[2020-05-11 21:01] mkow commented on #1485
Ah, right, we're using those atomics on the buffer passed to `futex()`. Then GCC builtin sounds good, although they may bite us later when porting this to other compilers.

Ad. other places: isn't this only a problem when we use something both for futexes and operating on this manually? This is IMO a very limited use case in our codebase.

[2020-05-11 21:07] dimakuv commented on #1485
LLVM implements GCC builtins:

[2020-05-12 08:00] emilhem commented on #1463
Just so it doesn't look like I'm ignoring dimakuv here, we've been discussing Erlang in the repo issues here: https://github.com/emilhem/graphene-erlang/issues?q=is%3Aissue

To summarize, timerfd can be disabled (the consequences for doing this is unclear right now).

[2020-05-13 09:45] justalittlenoob opened #1498 "sgx nginx example error: libnss_systemd.so.2 is denied."
I am new to graphene. When i try to run the nginx example, i got the error. Any advice would be appreciated. Thanks in advance.

OS: Ubuntu 18.04
SGX: [https://github.com/intel/linux-sgx](url) master branch
All files under `graphene` project is not changed.
Maybe i need to add something in `graphene/Examples/nginx/nginx.manifest.sgx`? I am not sure.
But despite this problem, I can still visit `htt

[2020-05-13 10:18] boryspoplawski commented on #969
On the current master I'm hitting OOM (256MB enclave) ater ~5800 threads (with the exact same code as above). When I add a `wait(NULL)` call after `pthread_join` (bug #1068) I hit `Internal memory fault` after ~15 threads in SGX and 50% of times without SGX.
Summary: I don't think this got any better.
I'm currently trying to fix some parts of threading in Graphene, hopefully that will help (or at

[2020-05-13 12:38] mkow commented on #1498
Try adding this library here: https://github.com/oscarlab/graphene/blob/a179c79e3cb27431092f1e41fa02f81529f981bc/Examples/nginx/nginx.manifest.template#L72-L75
I checked, and we have the same warning on our Jenkins, but only on 18.04. If you want you can try to fix this and submit a PR, if not we can try to find someone else to fix it. The only tricky part is that this should be added only on Ubun

[2020-05-14 12:13] justalittlenoob commented on #1498
@mkow  Your suggestion is perfect. I truly appreciate your timely help.

[2020-05-14 12:13] #1498 closed

[2020-05-15 04:33] stefanberger opened #1507 "Recent moves of PAL header files -- made accessible to LibOS ? An issue?"
So far the following PAL commits moved header files from PAL Linux/Linux-SGX into the public Pal/include/... while deduplicating some of those header files. Is the new location of these header files a problem? If it is, I would move them under a hierarchy under Pal/src/host/{Linux,Linux-SGX}/include before they get entangled too deeply. We'd loose the deduplication on the way, though.

 Pal/src/ho

[2020-05-15 16:10] dimakuv commented on #1507
I don't think moving PAL-private headers under `Pal/include/arch/...` is correct. Some PAL headers have nothing to do with architecture details (examples are `pal_host.h` and `pal_linux.h` files). So I would be against this proposal.

I see two solutions:

1. Put a guard `#ifndef IN_PAL  #error CANNOT INCLUDE THIS IN LIBOS` or similarly `#ifdef IN_PAL ...declare all ... #else ...declare only LibOS

[2020-05-15 16:27] stefanberger commented on #1507
@dimakuv I was mostly concerned about the moves we already have done due to comments from @yamahata . They are not providing API prototypes of the PAL for others to call, so from that perspective the moves would be fine. Otherwise they contain inline functions that may not be of use to LibOS for example. So worst case could be that they cause clashes due to structure being redefined, but that's no

[2020-05-15 16:35] stefanberger commented on #1507
@dimakuv Let's use `#ifndef IN_PAL` then to hide things.

[2020-05-15 16:36] dimakuv commented on #1507
Sounds good! At least for now it should work fine.

[2020-05-15 17:27] yamahata commented on #1507
I'm fine with IN_PAL trick.

[2020-05-16 12:32] #1507 closed

[2020-05-18 09:00] justalittlenoob opened #1513 "question about making graphene+sgx docker image"
I've made a graphene+sgx docker image(by `docker commit`. isgx and gsgx drivers are installed on the host machine, sgx sdk/psw and graphene are installed in the image), which an run graphene/Examples successfully.

The problem is the image is too big for me (about 1.8G). So i am wondering that if sgx sdk/psw and graphene can only be installed on the host machine (just like isgx and gsgx driver), a

[2020-05-18 15:58] dimakuv commented on #1513
@vahldiek Could you reply to this question?

[2020-05-18 22:20] vahldiek commented on #1513
Thanks for pointing me to this question!

The Intel SGX sdk/psw is not required to be installed in the Docker image. Instead simply mount the devices which are required in your Docker run command.
[code]
(You may have to replace `isgx` with `sgx` depending on your driver.

To reduce the image size further, I would suggest to look at the [Graphene Secure Container PR](https://github.com/oscarlab/gr

[2020-05-19 07:02] justalittlenoob commented on #1513
@vahldiek That's what i'm looking for. Thank you very much:)

[2020-05-19 07:50] justalittlenoob commented on #1513
@vahldiek
How to add proxy when using gsc build image? For example,
A gsc command with no proxy, it should like
`./gsc build hello-world:latest test/ubuntu18.04-python.manifest`
right?

How to add proxy to the command? I tried
`./gsc build --env http_proxy --env https_proxy hello-world:latest test/ubuntu18.04-python.manifest`
and
`./gsc build --build-arg http_proxy=$http_proxy --build-arg https_pr

[2020-05-19 16:39] vahldiek commented on #1513
There are several options. GSC itself currently does not provide such configuration options. Instead you could add configuration to ~/.docker/config.json which changes the global behavior of all docker containers started with this configuration file. This file allows to specify a proxy and so on.

In case you prefer a different option, you will have to change [gsc.py](https://github.com/oscarlab/g

[2020-05-19 21:19] vahldiek opened #1520 "Future direction of Graphene Secure Containers"
## Description of the problem

The first version of Graphene Secure Containers is worked on in PR #1430. This issue lists limitations and possible future features, and should serve as a discussion forum for others to highlight which features are a priority.

- List of trusted files does not include files in folders of symlinks
  - Implement os.walk in [finalize_manifests.py](https://github.com/osc

[2020-05-20 09:18] justalittlenoob commented on #1513
@vahldiek
Thanks for your detailed advice. For my situation, both proxy and network are necessary. I can set proxy through `~/.docker/config.json`, but how to set the network(e.g. `--net=host`)?

[2020-05-20 15:24] vahldiek commented on #1513
Yes. You may provide a ``network_mode`` to the build command in [gsc.py](https://github.com/oscarlab/graphene/blob/60d5c8c1676261aa28c45207ec06bd95cff583d6/Tools/gsc/gsc.py#L207).

[2020-05-21 01:51] justalittlenoob commented on #1513
@vahldiek Ok, i got it. Thank you so much:)

[2020-05-21 01:51] #1513 closed

[2020-05-21 05:43] qiyuangong opened #1525 "Building Graphene-SGX encountered an error "ld: cannot find -lc""
## Description of the problem

Building Graphene-SGX based on https://graphene.readthedocs.io/en/latest/building.html .  Previous steps works well. But, build Graphene-SGX encountered an error.

## Steps to reproduce

[code]

## Expected results

## Actual results

[code]

Seems that gcc is looking for `libc.a`, which comes with gcc.2.19 package.

[2020-05-21 07:07] dimakuv commented on #1525
What is the Linux distribution you're using?

The error that you see `cannot find -lc` means that the system linker (`ld`) cannot find Glibc (the standard C library). This is highly unusual. I can only assume that you're trying to build on a Musl-based Linux distribution such as Alpine. This won't work unfortunately.

We are currently supporting Ubuntu 16.04, 18.04, and 20.04. We are also aware of

[2020-05-22 10:58] justalittlenoob opened #1530 "docker-entrypoint issue when using GSC build docker images"
I am trying to using [GSC](https://github.com/oscarlab/graphene/tree/191f6550c2c144f9fe3a86df27c8844c795d3485/Tools/gsc) to convert standard docker images to sgx based.

If the image doesn't have a `docker-entrypoint`, such as `nginx`, everything goes well.
But when the image has a `docker-entrypoint` sh file, such as `redis`, the generated  `gsc-redis` image cannot work.

It seems that GSC doesn'

[2020-05-22 16:33] vahldiek commented on #1530
The issue here is that the entrypoint is not an executable binary. In its current implementation GSC does not understand this difference as I recently documented in the [limitations of GSC](https://github.com/oscarlab/graphene/issues/1520).

As a result,  GSC asks Grapehene to work with a executable file not binary. A simple workaround is to make the interpreter which is an executable binary expli

[2020-05-23 00:07] noodlehair-git opened #1533 "Unable to install Graphene-SGX on Ubuntu 18.04"
I am not able to install Graphene properly (https://graphene.readthedocs.io/en/latest/building.html). While running the sample code, I am getting the following error

```Cannot open device /dev/gsgx. Please make sure the Graphene SGX kernel module is loaded```.

This is probably because, during the installation command
```sudo insmod gsgx.ko```, I got the following error

```insmod: ERROR: could n

[2020-05-23 02:06] dimakuv commented on #1533
It looks like your system has Secure Boot enabled. Please check this: https://askubuntu.com/questions/762254/why-do-i-get-required-key-not-available-when-install-3rd-party-kernel-modules.

[2020-05-23 02:16] noodlehair-git commented on #1533
Thanks for the response. Sure, I'll disable and try once. Any specific reason on why should secure boot be a problem? @dimakuv

[2020-05-23 11:44] qiyuangong commented on #1525
@dimakuv
Thank you for reply! :)

I'm using Ubuntu 18.04, and an older commits. I will try master later.

[2020-05-25 08:09] justalittlenoob commented on #1530
@vahldiek
Your detailed instructions let me know more about GSC and Graphene. Thank you very much.
According to your advice, i remake the `redis` docker image.  But when i run `docker run` command, there is an error
`pal-sgx-get-token: error: argument --sig/-sig: can't open 'sh.sig': [Errno 2] No such file or directory: 'sh.sig'`

My steps are as follows. Did i miss something?  (Ubuntu 18.04)
1. `

[2020-05-25 13:02] emilhem commented on #1464
We've had some discussions regarding this in other threads and repos. Ref: https://github.com/emilhem/graphene-erlang/issues/2, https://github.com/emilhem/graphene-erlang/issues/3

But to summarize:

Erlang has this as an optional dependency (although currently not yet a configurable option (ref: https://bugs.erlang.org/browse/ERL-1258), but you can patch files to enforce it (ref: https://github.c

[2020-05-25 17:31] vahldiek commented on #1530
The error message that you show hints at an issue in step 5. Step 5 should have generated a signature (if successful). Could you share the output of one of the steps in step 5? In particular, the step which invokes `finalize_manifests.py`.

Besides this issue, you will run into trouble, since you only specified a single manifest file. You'll have to at least specify two manifest files (since you'r

[2020-05-26 00:09] boryspoplawski opened #1534 "Random SIGPIPE on ipc handle"
## Description of the problem
Sometimes a process will receive a SIGPIPE on ipc handle which will cause it to shutdown.

## Steps to reproduce
In ltp tests:
`i=0; while [[ $i == 0 ]]; do ./pal_loader ./fork11 ; i=$?; done`

## Expected results
All runs succeed.

## Actual results
After some time it will stop with:
```fork11      2  TBROK  :  tst_sig.c:234: unexpected signal SIGPIPE(13) received (p

[2020-05-26 04:13] dimakuv commented on #1534
I'm pretty sure it's because of this PR: https://github.com/oscarlab/graphene/pull/1495.

Basically, we merged correct emulation of SIGPIPE now, which broke some other part of Graphene (most probably the infamous race on "Linux kills the process" vs "Graphene sends/receives the SIGCHLD signal").

[2020-05-26 06:20] justalittlenoob commented on #1530
@vahldiek
Hi, according to you advice. I changed step 5, and the error message is as below.
I am not sure the `sh.manifest` will work.
`cat sh.manifest`
sgx.enclave_size = 4G

`cat redis.manifest`
sgx.allow_file_creation = 1
sgx.enclave_size = 4G
sgx.thread_num = 8

`./gsc build zredis:0.1 sh.manifest redis.manifest`
 ---> dd239ccf3f52
Step 16/20 : COPY *.manifest ./

 ---> 031ac04c2f8f
Step 17/20

[2020-05-26 06:27] vahldiek commented on #1530
Sorry to not have mentioned this in the previous post, but the manifest name has to be ``app.manifest`` where app is the binary that is visible under the current ``$PATH`` environment variable. The program fails, since this is not the case.

I think the actual binary of redis may be called ``redis-server`` and hence, the manifest needs to be called ``redis-server.manifest``. GSC only infers the ex

[2020-05-26 06:49] justalittlenoob commented on #1530
@vahldiek
After change the manifest name, the image can be built. But when `docker run`, still has the error. There is no signature file generated.
`graphene/Tools/gsc/gsc-zredis:0.1# ls`
apploader.sh  Dockerfile  finalize_manifests.py  redis-server.manifest  sh.manifest

`./gsc build zredis:0.1 sh.manifest redis-server.manifest`
 ---> 288f1a2e5a73
Step 17/20 : COPY finalize_manifests.py /

 --->

[2020-05-26 06:54] vahldiek commented on #1530
The output of finalize_manifest.py does not show an error, but it is incomplete (no mention of a generation of a manifest for redis-server). Let me try to replicate this issue and get back to you (likely tomorrow).

If you want to debug yourself, try running the finalize_manifest.py script at this stage of the gsc build yourself and see why the invocation of pal_signer fails or what its output is.

[2020-05-26 07:00] justalittlenoob commented on #1530
@vahldiek
Thanks, i'll have a try and looking forward to your results.

[2020-05-26 19:55] boryspoplawski commented on #1534
Seems like that's it. We need to distinguish SIGPIPE on graphene internal file descriptors vs app fds, handle the former and pass the latter to the app.

[2020-05-27 15:29] qiyuangong commented on #1525
Master branch works well. :)
Issue closed.

[2020-05-27 15:29] #1525 closed

[2020-05-27 15:35] qiyuangong opened #1539 "Try to run ray (multi-process) with Graphene-SGX"
## Description of the problem
Try to run ray (https://github.com/ray-project/ray) with Graphene-SGX. Based on https://github.com/oscarlab/graphene/tree/master/Examples/python-scipy-insecure .

Ray will launch 2 process with code below.

`scripts/test-ray.py`

[code]

## Steps to reproduce
[code]

## Expected results
[code]
## Actual results
[code]

Seems that ray is looking for `gcc` and `ld`.

[2020-05-27 18:46] dimakuv commented on #1539
Yes, it looks like you need to add manifests for `gcc` and `ld` and mark them as `sgx.trusted_children` in the Python manifest.

You can look at this example: https://github.com/oscarlab/graphene/tree/master/Examples/gcc. Notice how the main executable (`gcc`) has trusted_children in its manifest: https://github.com/oscarlab/graphene/blob/master/Examples/gcc/gcc.manifest.template.

Btw, Graphene a

[2020-05-28 01:40] dimakuv commented on #1534
Ok, so the bug happens because Graphene has internal pipes for IPC communication. In particular, `send_ipc_message()` invokes `DkStreamWrite()` on an IPC pipe between the parent and the child, and the read end of the pipe may be already closed because the child exited. So since Graphene supports SIGPIPE now and propagates it from host to LibOS to app (https://github.com/oscarlab/graphene/pull/1495

[2020-05-28 04:00] qiyuangong commented on #1539
OK. I will try that later. :)

Another question is that: Ray is trying to launch a socket for connection (multi-node). I guess `gcc` and `ld` is involved in this stage. Do I need to trust network related libs?

[2020-05-28 04:52] dimakuv commented on #1539
I'm unsure what you mean by this. You typically add all libraries that you trust to the manifest as `sgx.trusted_file = file:<path-to-trusted-library>`. This way, when you build the `manifest.sgx` file, the library is measured, and its hash is appended to the manifest. Afterwards, since the `manifest.sgx` file is a part of the MRENCLAVE (SGX enclave) measurement, the trust in a particular version

[2020-05-28 10:07] qiyuangong commented on #1539
I have add `gcc` and `ld` with  `trusted_children` in manifest, and copy `*.sig` and `*.sgx`.

Still encounter `gcc` and `ld` error:
[code]

Another error is related to child process
[code]

[2020-05-28 15:46] dimakuv commented on #1539
Please attach your generated `manifest.sgx` file. Something is wrong in the way GCC and LD are added.

Did you also add the `/usr/bin` FS mount point to the manifest?

[2020-05-29 06:03] qiyuangong commented on #1539
`gcc` and `ld` error are caused by `trusted_files`. I forgot to add `/usr/bin/gcc` and `/usr/bin/ld` into trusted files.

[2020-05-29 06:15] qiyuangong commented on #1539
No more gcc and ld errors. Just infinity debug message. :(
[code]

[2020-05-29 11:52] stefanberger commented on #1534
Let me give this a shot via the test application I added to LibOS. The above test case works fine on my 4 vCPU system literally forever - fork11 always passes.

[2020-05-29 12:34] stefanberger commented on #1534
Before #1495 Pal had a signal handler for SIGPIPE but was more or less ignoring the signal, with #1495 we are not forwarding all signals to LibOS. If there was a way to distinguish between internal file descriptors and LibOS level ones, we could keep the old behavior for internal ones and invoke LibOS for those on the LibOS level. I suppose there's not way for use to look up a file descriptor and

[2020-05-29 12:59] stefanberger commented on #1534
Scratch this. I can test it and it's not the solution.

[2020-05-29 13:30] stefanberger commented on #1534
PR #1543 fixes the `fork11` issue and the regression test case also works.

[2020-05-29 13:46] boryspoplawski commented on #1534
@stefanberger we already had a PR (#1542, it's marked as closing this issue above) that deals with this issue ...

[2020-05-29 13:57] stefanberger commented on #1534
@boryspoplawski oh dear... hadn't looked.

[2020-05-29 14:05] stefanberger commented on #1534
... looks a lot more complicated.

[2020-05-29 14:44] mkow opened #1544 "Production blockers"
This issue lists problems which block production use of Graphene. It will be updated as we fix these issues.

It only mentions the most important problems and it's not about UX/UI/docs, only essential features/problems blocking production usage. So, fixing them won't mean the users will be happy using Graphene, but that it's possible to use it in production. It also mixes problems from all PALs.
I

[2020-05-29 16:38] dimakuv commented on #1534
@stefanberger Yep, we raced on fixing this issue :)

My PR looks more complicated for two reasons: (1) it is built on top of Borys's PR which constitute the bulk of changed lines -- it will be rebased once Borys's PR is merged, and (2) I refactored `db_exception.c` logic in both Linux and Linux-SGX PALs as part of this work.

If you look at only my 3-4 last commits, you'll see that our solutions a

[2020-05-29 16:46] qiyuangong commented on #1539
No output. That's the strange part. Seem that code is freeze on init stage.

[2020-05-29 16:56] dimakuv commented on #1539
What do you mean no output? I meant the whole debug output from Graphene (the part of it you copy-pasted in your previous message).

To collect the whole output from Graphene, I typically use `tee` like this:
[code]

I'd like to peek into your collected `myapp.log` output.

[2020-05-29 16:56] stefanberger commented on #1534
No problem. Closing my PR.

[2020-05-30 20:00] noodlehair-git opened #1547 "Importing scapy, timeloop, socks, flask, tbselenium, selenium"
I wanted to import ```scapy, timeloop, socks, flask, tbselenium, selenium``` in the ```python-manifest``` file. So, I added the dependencies to first make ```socks``` work, but I still get import error. Here is my manifest file.
[manifest.zip](https://github.com/oscarlab/graphene/files/4706343/manifest.zip)

[2020-06-01 17:18] dimakuv commented on #1547
Did you change `python.manifest` file? You are supposed to change the template: `python.manifest.template`. The `python.manifest` file is auto-generated from the template.

What do you mean by "I get import error"? Please re-build your Python example with `make SGX=1 DEBUG=1`, save the log output, and copy-paste it here (or figure out yourself what Graphene wants from you).

[2020-06-02 07:36] justalittlenoob commented on #1530
@vahldiek
Hi,  I've tried something. It seems that both`.sgx` and `.sig` file are successfully generated. But for unknown reasons, `pal-sgx-get-token` didn't work.

Do you have any suggestions？

[2020-06-02 16:45] vahldiek commented on #1530
Could you provide some output, otherwise it is very though to know the error...

Thanks,
Anjo

[2020-06-02 21:58] noodlehair-git commented on #1547
Thank you so much for your reply. I'm pretty much new to SGX and Graphene and hence having issues figuring out. I have attached my log file as well as the manifest template I am using.

[log.zip](https://github.com/oscarlab/graphene/files/4719882/log.zip)
[manifest.zip](https://github.com/oscarlab/graphene/files/4719884/manifest.zip)

By import error I mean that I am getting the following error wh

[2020-06-03 07:56] justalittlenoob commented on #1530
@vahldiek
Hi Anjo, thank you for your patience. I also hope to generate some useful output but unfortunately there is no useful information. Every step looks normal without error.  Have you tried to replicate this issue? Or you don't have that problem? It would be great if you can tell me your build/test steps(including config and manifest files), so i can have a try according to it.

The only err

[2020-06-03 15:17] vahldiek commented on #1530
This seems again to be an error related to your gsc build process. The 'sh.sig' file should have been created during `gsc build` command. The important output would be from the `gsc build`. I think this could be again related to the finalize_manifests.py not producing enough error output and silently failing.

I'll try to have a look at this over the next couple of days and try to reproduce it.

[2020-06-04 03:01] qiyuangong commented on #1539
Still cannot work. Seems that main process is creating and killing child-process in an infinite loop.

Attached is a debug.log. I deleted infinite log in tails.
[debug.log](https://github.com/oscarlab/graphene/files/4727242/debug.log)

[2020-06-04 03:06] lejunzhu opened #1552 "[Graphene-SGX] JVM needs syscall getcpu to start"
When testing JVM (openjdk version "11.0.7" 2020-04-14), starting "java" fails with such message:
"A fatal error has been detected by the Java Runtime Environment: SIGSEGV (0xb) at pc=0xffffffffff600800, pid=1, tid=2"

With debug message enabled, the following message suggests that it's trying to use getcpu syscall, then falling back to vsyscall, which causes SIGSEGV:
[     2] WARNING: syscall getc

[2020-06-04 03:06] qiyuangong commented on #1539
I also tried this PR (https://github.com/oscarlab/graphene/pull/1542). Still doesn't work for me. The same infinity loop.

[2020-06-04 10:39] mkow commented on #1552
Thanks for debugging this. We don't support Java explicitly yet, but if you'd have time to implement a PR which implements getcpu syscall (which would just return that there's only one node) we'd gladly merge it :)

[2020-06-05 12:56] kleirama opened #1558 "Is it neccessary to install intel_sgx_psw packege when using Grapehen"
Hi,

I have read through Documentation directory here in Graphene repository and It seems that intel sgx psw is not mentioned as a requirement. Do we need to install it while using Graphene-SGX?

I am not using https://github.com/intel/linux-sgx-driver  nor https://github.com/intel/linux-sgx to install Intel SGX driver and SDK and PSW. I think that when you mention that you need to go through the

[2020-06-05 17:11] dimakuv commented on #1558
Yes, it is necessary to install Intel SGX PSW as well. In particular, PSW installs the Launch Enclave, the Quoting Enclave (these are the so-called "ae" or "Architectural Enclaves"), and the AESM service -- all of which are needed by Graphene. Also, if you're using the DCAP software infrastructure on your system, you need to install all required DCAP libraries -- Graphene needs `libsgx-dcap-ql` an

[2020-06-07 20:18] mkow opened #1561 "[Linux-SGX] Children argv goes through untrusted host"
Currently Linux-SGX PAL passes arguments to newly spawned children through host's execve, which is not secure. Linux-SGX should be changed to work the same as Linux PAL, which passes them inside the checkpoint (which is encrypted on Linux-SGX).

[2020-06-08 01:48] qiyuangong commented on #1539
@dimakuv
Another question is that: ray is launching a few Python child process. Do I need to add these Python child process into `trusted_children` .

[2020-06-08 17:27] bigdata-memory opened #1563 "[Linux-SGX] Implement sched_setaffinity"
## Description of the problem
The most of performance benchmark tools and some key applications that optimized for performance may heavily rely on the set_affinity feature to explicitly arrange the thread affinity to underlying processor according to the topology of HW. currently the LibOS uses dummy function to handle the set-affinity related request, that would cause unexpected behaviors to run

[2020-06-09 00:33] noodlehair-git commented on #1547
@dimakuv Did you get a chance to see where exactly I am going wrong? I am having issues importing python packages.

[2020-06-09 07:12] #1552 closed

[2020-06-09 13:57] boryspoplawski commented on #828
Since the deref has been debugged and now brk and vmas work a bit different (see #1431), I'm voting for closing this (as resolved/tracked elsewhere).

[2020-06-09 16:50] dimakuv commented on #828
Agreed with @boryspoplawski . Closing this.

[2020-06-09 16:50] #828 closed

[2020-06-10 10:32] manojgop opened #1569 "Fork not working with sh with Graphene Shielded container"
## Description of the problem
A sample C++ program which calls fork crashes with message "Killed" when running in Graphene shielded container (PR: [https://github.com/oscarlab/graphene/pull/1430]) if we use "sh" in Dockerfile eg: CMD [“sh”, “-c”, “cpptest”]

## Steps to reproduce
1) Build docker image (cpptest) in attached sample application
2) Build GSC docker image : sudo ./gsc build cpptest tes

[2020-06-11 05:53] #1534 closed

[2020-06-11 11:19] mkow opened #1573 "test_pal.py::TC_20_SingleProcess::test_500_thread rare failures"
## Description of the problem

This test fails on [current master](https://github.com/oscarlab/graphene/tree/a958ff0bca758f62a6c93bf1a6708bccad5aa175) after 10k runs on average. The difference is only in the output, error code is always 0.

## Steps to reproduce

In `Pal/regression`, run:
[code]
(warning: this is fish, not bash)

Config:
- DEBUG=1
- Ubuntu 16.04
- E3-1230 v6 (4x2 threads)

## Expe

[2020-06-16 08:34] manojgop opened #1585 "Issues with using popen() and pipe() in graphene SGX"
## Description of the problem
If we call `popen()` and `pipe()` in graphene SGX and get the result of execution, then results are not obtained. The same works as a normal linux application.

## Steps to reproduce
1) Unzip the attached file (cppexec.zip) in `graphene/Examples/` directory
2) `cd graphene/Examples/cppexec`.
3) Build --> `make distclean && make SGX=1`
4) Run --> `SGX=1 ./pal_loader cp

[2020-06-16 10:16] kamathhrishi opened #1586 "Attestation Error"
I tried attestation with a little older version of Graphene , it dated back to around end of march. When I put my client key and SPID. I get this error

`enclave initializing:
  enclave id:   0x000000080ffff000
    enclave hash: 75 6d 8b 63 fa 73 f9 f7 5a 88 e1 56 66 a5 05 53 4a 4b 8c a8 f8 60 72 ec 82 4a e7 20 31 2d 53 49
The error returned by quoting enclaveSegmentation Fault in Untrusted Code (

[2020-06-16 10:16] emilhem commented on #1463
Unsure whether this issue should be closed or not. Some of the issues are resolved and the Multi-Consumer/Multi-Producer pipes in Erlang are not a problem in Graphene itself.

[2020-06-16 10:57] mkow commented on #1586
Could you please describe reproduction steps + test if this still happens on up-to-date master?

[2020-06-16 16:13] dimakuv commented on #1463
Let's close this.

[2020-06-16 16:13] #1463 closed

[2020-06-16 17:55] #1573 closed

[2020-06-16 18:24] dimakuv commented on #1585
Thanks for this!

I looked into this, and there is no bug in Graphene. Unfortunately, your Makefile and `manifest.template` were incorrectly written. When I fixed all the issues, your example worked correctly.

## Issue 1: wrong/missing mount points

In `manifest.template`, you have:
[code]

That's wrong because `EXECDIR` actually resolves to `src`. This led to `/bin/sh` not found by Graphene beca

[2020-06-16 23:20] dimakuv commented on #1561
The part about "Linux PAL passes argv inside the checkpoint" is incorrect. Linux PAL works the same as Linux-SGX PAL where it simply passes argv during `execve()`:
[code]

[2020-06-16 23:29] mkow commented on #1561
I think I actually got this info from you ;) Anyways, should we fix both PALs? Fixing it in Linux PAL doesn't make that much sense, but OTOH doing the change in both would make the PALs more consistent.

[2020-06-17 02:04] dimakuv commented on #1561
Yeah, I'm fixing it in both PALs. But first I need to refactor the checkpoint/migrate code...

[2020-06-17 04:09] manojgop commented on #1585
@dimakuv Thanks for looking at this. I was able to execute it successfully after making the changes to Manifest and Makefile suggested above. I think from a graphene user perspective it would be easier if we can make the manifest less complex :-). One observation the output result.  I was not expecting the line  `Test exec with popen` twice in the output like below. The unmodified linux applicatio

[2020-06-17 12:01] manojgop commented on #1585
Also how can we keep the attributes of the files in `ls` command executed in graphene SGX same as that in host file system for example file permissions "rwx" and the date modified

[2020-06-17 12:06] mkow commented on #1585
We don't have emulation for this yet. The whole filesystem layer needs to be rewritten, afterwards we probably will be able to support such features.

[2020-06-18 16:17] dimakuv opened #1593 "[LibOS,Pal] Move to GCC atomic built-ins and fix memory orders"
## Description of the problem

We started moving from musl-borrowed `atomic.h` primitives to GCC atomic built-ins (https://gcc.gnu.org/onlinedocs/gcc/_005f_005fatomic-Builtins.html). We need to complete this transition. As part of this transition, we must:
1. Also switch from C11 atomics to GCC built-ins (thankfully, all modern compilers support GCC-style atomics)
2. Improve memory orders, e.g. re

[2020-06-18 23:25] stefanberger commented on #1593
FYI: After PR #1574 I have to work with this patch now on ppc64 to make the spinlock testcase work.

diff --git a/Pal/src/host/Linux/db_events.c b/Pal/src/host/Linux/db_events.c
index d53d3585..16837ec7 100644
--- a/Pal/src/host/Linux/db_events.c
+++ b/Pal/src/host/Linux/db_events.c
@@ -37,8 +37,8 @@ int _DkEventSet(PAL_HANDLE event, int wakeup) {
     if (event->event.isnotification) {
         /

[2020-06-18 23:27] noodlehair-git opened #1597 "Running a second python script in enclave."
The application that I am building using Graphene-SGX requires to run/launch a second python script within an enclave(from a script already running in enclave). How can I do this? I require the same ```python.manifest``` file. Shall I just run ```./pal_loader python.manifest second_script.py``` (after specifying second script as a trusted file in ```python.manifest.template```)?

[2020-06-18 23:30] stefanberger commented on #1593
Actually only changing the 'weak' parameter also works, otherwise it does get stuck occasionally:

[code]

[2020-06-18 23:31] dimakuv commented on #1597
What do you mean "requires to run/launch"?

Do you mean the first python script calls a second python script? In this case, you don't need to do anything special.

Or do you mean the first python script expects a user to start a second python script, and then they communicate with each other somehow? In this case, it depends on the communication style. If it is through files and/or TCP sockets, Gr

[2020-06-18 23:33] noodlehair-git commented on #1597
Thank you for your reply! Yes, I do mean the first python script calls a second python script.

[2020-06-19 00:07] dimakuv commented on #1597
In this case, it should (hopefully) work out of the box.

[2020-06-19 01:08] bigdata-memory opened #1598 "Optimize the system time function via TSC for GSGX"
## Description of the problem
In GSGX, the operation of fetching system time is cost due to triggering gettimeofday syscall each time when GSGX workloads trying to get time info.
There are some significant performance overhead that has already been observed.
@sudharkrish may help to provide some evidences.

## Steps to reproduce
Run function gettimeofday() repeatedly.
the syscall can be observed v

[2020-06-19 03:22] #1585 closed

[2020-06-19 12:04] manojgop commented on #1569
Update: After I reduce the SGX enclave Size from 4G to 256M it works fine.
sgx.enclave_size = 256M --> works fine
sgx.enclave_size = 4G ---> crashes

[2020-06-19 14:01] llly opened #1600 "poll() syscall cannot receive POLLHUP"
I reuse the pipe test to show a minimal poll() case.
https://github.com/llly/graphene/blob/poll_test/LibOS/shim/test/native/pipe.c
or
https://github.com/llly/graphene/commit/887d39d79904f53cf69cddc1606ae49cb5bd25ec#diff-8ec2c39fadf7057d4addec266a30bc10
`make DEBUG=1` and run native executable
[code]
Expected same output on Linux host and Linux-SGX host.

Actual results:
[code]
And never exit. `$./

[2020-06-19 14:51] mkow commented on #1593
I'm still not convinced about using them in places where we aren't forced to (i.e. where we don't use underlying variables also for `futex()`). #1510 radicalized me on this, the code looks hardly readable in places where we use builtin atomics.

I don't think we have to do this unless we have a benchmark showing that a particular component is noticeably slow. Doing this correctly is very hard and

[2020-06-19 14:57] stefanberger commented on #1593
... and this is why the series of patches I sent today takes a conservative approach with the memory orders. It's quite a few patches with possibly individual decisions about better memory order to make, so from this perspective PR #1601 could be a pain.

[2020-06-19 17:10] dimakuv commented on #1600
Thank you for the test case! Yes, this is some bug in Graphene. I'll try to debug it soon and report back.

Again, thanks for providing a minimal example!

[2020-06-19 17:17] dimakuv commented on #1593
True. Every time I think I understand memory orders, life proves me wrong... Agreed that in 99% of code snippets in Graphene the additional memory fences (inserted by SEQ_CST) do not harm performance.

[2020-06-19 17:18] dimakuv commented on #1593
@stefanberger, do you know why this happens? I never understood this `weak` parameter, tbh. IIUC, on x86 it is meaningless. And I know nothing about other architectures...

[2020-06-19 17:42] stefanberger commented on #1593
The difference in the generated code is one `bne` at the right spot that is missing in the weak version (causing 'spurious faults'). I had such a `bne` also in the code that loops over the reading and writing of the data and indicates that some memory access reservation didn't hold, so the op needs to be repeated.

[code]

[2020-06-19 18:21] smherwig opened #1602 "glibc-2.31 build: unexpected values for TZDIR and TZDEFAULT"
## Description of the problem
During Graphene's build of glibc-2.31's, tzset.c and tzfile.c, `TZDIR` an `TZDFAULT` are set to
`$GRAPHENE_ROOT/Runtime/share/zoneinfo` and `$GRAPHENE_ROOT/Runtime/etc/localtime`, respectively.  This caught me by surprise, as I noticed that even when I chrootfs mounted `/etc` and set `/etc/localtime` as a trusted file, an application's calls to `localtime(3)` and `cti

[2020-06-19 20:30] smherwig opened #1605 "undefined root directory and mount semantics"
## Description of the problem

When an application starts running in Graphene, it's current working directory is `/`.  If the application lists `/`, it gets a listing of the `pal_loader`s current working directory, and if it lists `..`, it gets a listing of the `pal_loaders`'s parent directory, and so forth.

Moreover, if the application chroot mounts `$GRAPHENE_ROOT/Runtime/` onto `/lib`, and the

[2020-06-19 23:19] mkow commented on #1605
This is basically point 4. of the list from #1544. Basically the whole filesystem layer should be rewritten from scratch, there's no hope there :)
There are many more issues like this, we just need to implement this whole thing from scratch.

[2020-06-22 17:52] dimakuv commented on #1539
@qiyuangong Sorry for the late response. No, if your child processes are the same Python executable, then *no*, you don't need to specify them as `trusted_children`.

[2020-06-22 18:20] dimakuv commented on #1569
@manojgop I do not see any errors in the attached `gsc-mycpptest.log.zip`. Is this the complete log?

The error you experience is weird. I cannot find a reason why it would fail with 4GB but succeed with 256MB. Could it be that your Linux machine simply doesn't have enough RAM, and Linux decides to kill this application? (Linux has an OOM killer: https://unix.stackexchange.com/questions/153585/how

[2020-06-22 18:32] dimakuv commented on #1602
Thanks for reporting this bug!

Your workaround sounds like a reasonable fix for the current situation.

Do you have a suggestion how to fix this default behavior of Graphene and Glibc? I see couple options:
1. Ignore this problem and use/recommend your workaround in manifests.
2. Building Glibc with overwritten values for the default path (default values of `TZDIR` and `TZDFAULT` -- for example t

[2020-06-22 18:57] smherwig opened #1610 "strstr returns const char *; POSIX says it returns char *"
## Description of the problem
commit: bf155c7

`graphene/Pal/lib/string/strstr.c`'s `strstr` returns `const char *`.  This of course makes sense, but POSIX says the return value is simply a `char *`.  (https://pubs.opengroup.org/onlinepubs/9699919799/functions/strstr.html)

## Steps to reproduce

N/A

## Expected results
N/A

## Actual results
N/A

[2020-06-22 19:09] dimakuv commented on #1605
+1 to @mkow. The semantics of the current in-Graphene FS implementation are moot and underspecified. Fixing these semantics requires a complete re-write of the FS subsystem.

[2020-06-22 19:11] dimakuv commented on #1610
Thanks for reporting this! Does this lead to any build or runtime failures? Looks like just a small harmless divergence from the standard. (We should fix it though.)

[2020-06-22 19:22] smherwig commented on #1602
In the short-term, I would recommend (1) or (2) -- they mostly seem equivalent from a user's perspective, since the user will need to add the files as trusted in both cases (but also set `loader.env` in the case of (1)).

In the long-term, I would explore (3).  The Runtime directory is Graphene's build of libc, but the problem is that for full libc support, you need some configuration files.  Here

[2020-06-22 19:29] smherwig commented on #1610
No, it doesn't lead to any failure that I know of.  It's just a minor issue if you're incorporating additional third-party code that expects the POSIX signature.

[2020-06-23 10:36] manojgop commented on #1569
@dimakuv I'm able to reproduce this issue using standalone graphene SGX (without GSC). Attached is the sample cppexec code. You can try it by unzipping it in Examples folder.  `make SGX=1` and run using `SGX=1 ./pal_loader cppexec.manifest` .
If I keep `sgx.enclave_size = 4G`  process gets killed with `sgx.enclave_size = 256M` it's working.

I'm trying this in Azure VM.
MemTotal:       16397588 kB

[2020-06-23 15:51] mkow commented on #1602
Hmm, wait, how is it possible that something *underneath* LibOS knows about "Runtime" folder? Shouldn't it be seen as `/lib`? (according to your config)

[2020-06-23 16:23] smherwig commented on #1602
The libc build hardcodes the path `/home/smherwig/src/phoenix/LibOS/../Runtime/etc/localtime`, and that's how it's seen to `shim_open`.

I haven't looked too closely at the path lookup logic, but I'm guessing it tries to find which `fs.mount.*.path` is the longest prefix of the path being opened; in my configuration, none are a prefix.

[2020-06-23 16:37] mkow commented on #1602
Ok, I checked and it gets hardcoded in the glibc binary as you said. IMO we should fix the build then, so I vote for option 2.

[2020-06-23 17:32] vshulhat opened #1612 "shim_mprotect: assert failed ../include/shim_flags_conv.h:32 WITHIN_MASK(prot, PROT_READ | PROT_WRITE | PROT_EXEC)"
Thanks for your great job!

## Description of the problem
I'm trying to run simple python script with Graphene.
[code]
It ends with error:
[code]
There is full [log](https://github.com/oscarlab/graphene/files/4820885/log.txt).
The same error in SGX and non-SGX mode.
I ran some your examples and there were no errors.

Please, give me any advice. Thanks in advance.

## Steps to reproduce
commit: b0d

[2020-06-23 18:11] stefanberger commented on #1297
I would hope that the situation has improved over the last few months. However, I also see a few errors when I run ltp inside a Xen VM:

[code]

This report is quite consistent between runs. Each of the failing test cases, when run individually, easily passes, though.

[2020-06-23 18:17] stefanberger commented on #1027
It works for me on non-SGX. I cannot test on SGX, though.

[code]

[2020-06-23 18:20] stefanberger commented on #1010
This works fine for me. Maybe issue has been resolved?

[2020-06-23 18:34] stefanberger commented on #917
I just tried this. I compiled the above test program to `server` and then ran the following:

[code]

In another terminal:

[code]

Connection terminated. This looks like correct behavior now (with current master)?

[2020-06-23 18:37] stefanberger commented on #791
Problem may be solved by now (?):

LibOS/shim/src/sys/shim_epoll.c:
[code]

[2020-06-23 19:35] stefanberger commented on #1612
The fixed log will show this here:

[code]

So, there's an additional flag in there that we don't handle, yet. At least for this I now created PR #1613 .

[2020-06-23 22:42] dimakuv commented on #1612
@vshulhat Are you familiar with this Python library? Why does it require `PROT_GROWSDOWN`? Does it use its own internal stacks?

[2020-06-23 22:47] dimakuv commented on #1612
@stefanberger Thanks for the PR! Do you think that we could emulate these currently-unsupported flags by simply ignoring them? I looked at `man mprotect`, they seem to be rather useless.

[2020-06-23 22:56] dimakuv commented on #791
Yes, this was fixed. Let's close this issue.

[2020-06-23 22:56] #791 closed

[2020-06-23 22:57] dimakuv commented on #917
Indeed, this was fixed when I reworked the poll implementation. Closing this issue.

[2020-06-23 22:57] #917 closed

[2020-06-23 22:58] dimakuv commented on #1010
Yes, it also works fine for me. We fixed it at some point but forgot to close this issue.

[2020-06-23 22:58] #1010 closed

[2020-06-23 23:07] dimakuv commented on #1027
Yes, I added `mkfifo` some time ago. Now we should enable `lseek02` test. I created the corresponding PR: https://github.com/oscarlab/graphene/pull/1614.

[2020-06-23 23:09] dimakuv commented on #1297
It would be good to finally debug and fix LTP tests, but no time for this...

[2020-06-23 23:34] stefanberger commented on #1612
@dimakuv I tried to implement support for PROT_GROWSDOWN and it didn't work because the vma->flags didn't have MAP_GROWSDOWN set as it should be and I couldn't find a corresponding shim_mmap() call that had 0x100 (MAP_GROWSDOWN) set. They may not be entirely useless and depending on how they are used could have some side effects if not properly supported. So I had the impression one could say PROT

[2020-06-23 23:36] dimakuv commented on #1612
@stefanberger Thanks. Yes, there could be some unexpected side effects if we just ignore these flags. I wonder though if this works for most cases (like this Python library). We could always write a warning that this may lead to unexpected results.

[2020-06-24 08:55] vshulhat commented on #1612
@dimakuv It's popular Deep Learning framework. Unfortunately I don't know very well what happens under hood, so can't answer these questions.

[2020-06-24 12:58] stefanberger commented on #1612
@dimakuv Sent PR #1615 . Maybe we can find something.

[2020-06-24 13:38] mkow commented on #1593
Another reason why _not_ to move to GCC atomic built-ins: introducing memory corruptions is very easy when using them, as we saw at least 2 times in PRs using them (#1601 and one older, don't remember the number now. ofc not blaming the author, this is GCC's insanity, or maybe even a bug).

The problem is that things like `__atomic_compare_exchange_n` are declared as `__atomic_compare_exchange_n (

[2020-06-24 14:12] stefanberger commented on #1593
@mkow This `type` thing is obviously misleading. What would be safer would be a static assert on the size of the types but we'd have to wrap the function in a macro.

[2020-06-24 14:25] stefanberger commented on #1593
[code]

[2020-06-24 17:49] stefanberger commented on #1297
This Xen VM may be bad... With #1617 I now get this here on Fedora 31:

[code]

All clean!

[2020-06-24 18:13] dayeol opened #1618 "Interactive mode proposal"
I want to be able to receive additional information after I started Graphene.
For example, Graphene starts building the enclave but waits until some further information,
and then finishes initialization once the information arrives.
This will be useful for may use cases as we can control the enclave's lifecycle more dynamically.

To kick off the discussion, I want to propose a new command-line opt

[2020-06-24 18:41] dimakuv commented on #1618
I agree with the command-line option to specify that the user wants to start Graphene in interactive ("wait-for-request") mode.

Note that we shouldn't introduce such an option to the manifest file because then it will be confusing: what does this option (say `sgx.interactive = 1`) mean for forked/execve'd processes? The only time we want to start this interactive mode is when we start the first p

[2020-06-24 21:05] dimakuv commented on #1593
@mkow Very good argument. I didn't expect GCC to be so dumb... So with C11 atomics, such things will be caught as compile-time errors?

[2020-06-25 13:28] mkow commented on #1618
I think this shouldn't be a manifest option, as manifests are signed, but this option should be overridable - if I understand correctly, everything it does happens on the untrusted side.

btw. Before we do any smaller changes to the interface I'd prefer to first resolve #1053 (and probably consider this request there).
btw2. Why do you need such a feature, exactly? Is this something for debugging

[2020-06-25 13:52] mkow commented on #1593
@dimakuv yes. See https://godbolt.org/z/y8o-A_:

[code]

Output:

[code]

btw. as you see, C11 atomics also work on native integer types, so, I think we could use them together with futexes (just using `int` + `atomic_compare_exchange_strong_explicit` in such cases instead of `atomic_int`).

[2020-06-25 13:59] mkow commented on #1593
btw. found that other PR with other occurrence of this bug, which even got to master: https://github.com/oscarlab/graphene/pull/1354

[2020-06-25 16:19] dimakuv commented on #1618
Since I work with @dayeol, I can answer this. We are currently looking into tweaking Graphene to FaaS workloads. Basically, we want to explore how to "pre-heat" the enclave for the workload (say, start Python and import all typically used modules) and then run the workload on a particular request.

Of course, we can do it at the app level (above Graphene). But we are also exploring if stopping Gra

[2020-06-25 16:44] mkow commented on #1618
Hmm, sounds like freezing it _between_ requests would make more sense? I'm not sure if doing this during initialization has any advantages for your use-case.

[2020-06-25 16:55] dimakuv commented on #1618
Yes, it makes sense and we're looking into this as well. Freezing between requests doesn't require any changes to Graphene. Or at least it will require only non-intrusive changes (which doesn't deserve an issue on GitHub). This issue is only to gather ideas how to specify that Graphene needs to be run in some kind of interactive mode (to pause at certain places).

[2020-06-25 17:20] mkow commented on #1618
But if you _only_ want to freeze during app execution (e.g. between requests), but would you need such an interface on Graphene level? As you said, this will be implemented in the app code itself.

[2020-06-25 17:47] #1027 closed

[2020-06-25 20:33] #1561 closed

[2020-06-25 22:49] dimakuv commented on #1618
So we're thinking of the following scenario in this issue:
1. Create the enclave with ECREATE and populate with EADD/EMEASURE.
2. Pause right before EINIT.
3. Wait for client request. If there are any special requirements for this request, add more EADD/EMEASURE. Also, change SIGSTRUCT bits if needed.
4. Do the final EINIT.

This way, the client request receives a more targeted MRENCLAVE and other

[2020-06-25 23:32] mkow commented on #1618
Ok, so this will be much more complex API than just freezing during initialization, but also control over what is loaded and how. Seems complex.
btw. I don't think HTTP is a good choice for this, maybe @woju could suggest something better suited?

[2020-06-25 23:40] dimakuv commented on #1618
Yes, I agree that HTTP/REST protocol is way too complicated... But other than these, I only know Redis binary protocol (https://redis.io/topics/protocol). Let's wait for Wojtek's recommendation.

[2020-06-26 00:03] mkow opened #1623 "test_libos.TC_02_OpenMP.test_000_simple_for_loop sometimes crashes on Linux-SGX"
## Description of the problem

This test crashes from time to time on Linux-SGX PAL. I managed to reproduce the problem after ~1200 runs on current master (7d0c307bf8be53f5c0a1434a37fa842f0abaaaea).

## Steps to reproduce

On Ubuntu 16.04, run:

[code]

(warning: this is fish, not bash)

## Expected results

No failures.

## Actual results

[code]

After ~1200 runs.

Another log, from Jenkins:

[c

[2020-06-26 01:13] mkow commented on #1623
This seems to be Linux-SGX-PAL-specific, I couldn't reproduce this on Linux PAL even after 5k runs.

[2020-06-26 22:05] bigdata-memory opened #1626 "Please speed up the project building using all cpu cores. It is very slow."
## Description of the problem
I have tried to build the clean project, it cost me about several more minutes on my powerful machine. I found it just uses 1 cpu core to fulfill the building. that is why it is so slow.

## Steps to reproduce
make

## Expected results
Used up all cpu core to accelerate project compilation.

## Actual results
It just used 1 core to build this project.

[2020-06-26 22:26] dimakuv commented on #1626
One can simply add `-j X` to parallelize the make build. In fact, this is what we do in Jenkins.

[2020-06-27 00:30] bigdata-memory commented on #1626
Thanks.

[2020-06-27 00:30] #1626 closed

[2020-06-27 00:34] bigdata-memory opened #1628 "GNU ar report 'u' modifier messages repeatably during project building"
## Description of the problem
There are many following lines repeatably shown in project building.
    _ar: `u' modifier ignored since `D' is the default (see `U')_

## Steps to reproduce
make

## Expected results
no such many messages produced during building

## Actual results
![image](https://user-images.githubusercontent.com/10856796/85910362-3564c380-b7d3-11ea-9aa1-059adde5bc4e.png)

[2020-06-29 14:56] kleirama opened #1631 "Porting a static library in Graphene-SGX"
Hi,

I am planning to port my application build over mTCP using Graphene-SGX. To do that I have also to port mTCP inside enclave. Some information about **mTCP**: mTCP is a static library. The compiled library is saved as mtcp/lib/libmtcp.a file. mTCP-enhanced libraries usually link up with end point applications such as mine for instance.

Questions I have are:
Q1: Is it possible to port mTCP in

[2020-06-29 16:26] dimakuv commented on #1631
Yes, Graphene-SGX supports static libraries. But! at the cost of **much worse performance**. This is because static libraries use the `syscall` instruction to issue system calls -- this instruction is forbidden in Intel SGX and results in a hardware fault. Graphene-SGX correctly interprets this fault (which is forwarded by the host OS as a SIGILL signal) and emulates it via an appropriate system c

[2020-06-29 16:28] dimakuv commented on #1631
Also, doesn't mTCP rely on some Linux magic with shared buffers for fast network I/O? If it does, then Graphene may *not* support mTCP (Graphene-SGX generally doesn't support shared memory).

[2020-06-29 18:15] kleirama commented on #1631
Do you mean shared buffer between NIC and mTCP or between mTCP and user-level application? If you mean the second one then yes, mTCP uses a shared buffer between application and itself, if you mean between NIC and mTCP then mTCP is built over DPDK/netmap and I have seen that authors of https://github.com/cloud-security-research/sgx-ids have  introduced some patches to make Graphene work with DPDK.

[2020-06-29 18:26] #1600 closed

[2020-06-29 18:32] dimakuv commented on #1631
That was me who did this work :)

Unfortunately, adding DPDK to Graphene is an ugly hack. It was never merged in Graphene, and we are not planning to merge it (or support a fork). You are encouraged to look at that patch and update it to work with the newest Graphene (in your private fork). However, there will be no support for this.

[2020-06-29 19:52] mkow commented on #1628
@bigdata-memory for the future: Please don't post logs as screenshots and instead paste them in a code block (enclosed in \`\`\`).

[2020-06-29 21:34] kleirama commented on #1631
Hi,
What you mean by ugly hack? Did such hack results in performance penalty? I am not worried a lot about performance but I still would like to have a performance near to the vanilla one? Do you think using a static library I mentioned above and DPDK will not give me a performance comparable to the performance of my vanilla application?

[2020-06-29 22:00] dimakuv commented on #1631
No, it's not about performance (performance was great).

It's about the overall design of Graphene. The SGX-IDS work (on Snort + DPDK) introduces too many workarounds to the overall design of Graphene. This was good for a quick proof-of-concept but we don't want to enable this in the mainline Graphene.

[2020-06-29 22:24] kleirama commented on #1631
Well I just need to use Graphene because I found it the best option to port an SGX because doing it manually (by using SGX SDK) is also a lot of work and not performanc-wise due to the usage of ECALLs and OCALLs. I really appreciate your help and I found your comments very helpful. You can close this issue now if you want.

[2020-06-30 03:02] dimakuv commented on #1631
I encourage you to play a bit with mTCP and Graphene and see if you could tweak either of them to work for your use case. Maybe it will actually turn out easier than I expect :)

[2020-06-30 13:54] qiyuangong commented on #1539
I will check if #1607 fixed this issue. :)

[2020-07-01 01:12] boryspoplawski commented on #1612
@vshulhat  Could you check this out on #1636 ?

[2020-07-01 10:51] vshulhat commented on #1612
@boryspoplawski This error has disapeared. I can import lib and run test script. Thanks a lot!

[2020-07-01 17:02] bigdata-memory commented on #1628
I see, thanks.

[2020-07-02 19:07] #1612 closed

[2020-07-03 20:29] dimakuv opened #1642 "Update all parts of Graphene and examples to use mbedTLS 2.23.0"
There is a new release of mbedTLS: version 2.23.0. We should update all parts of Graphene to it. In particular:

1. `/Pal/lib/crypto`
2. RA-TLS example
3. Secret Provisioning example

[2020-07-05 15:28] qiyuangong opened #1643 "Network and port allowed question"
Simple question about network related configuration.

I have tried redis and apache examples. It works. :)

I saw `net.allow_bind.redisport = :6379`  in redis example (https://github.com/oscarlab/graphene/blob/master/Examples/redis/redis-server.manifest.template#L76). It opened an allowed port for external connection. However, for apache example, there isn't and port or network related configurati

[2020-07-06 00:09] dimakuv commented on #1643
The option ` net.allow_bind` is *not* currently enforced. Graphene currently ignores it. It was added to the Redis example "for future". At some point, Graphene will restrict network configurations based on the manifest file, but this is still future work.

[2020-07-06 02:10] qiyuangong commented on #1643
@dimakuv Thanks for reply! :)

That means all Graphene ports widely opened for connection right now. That's not a big problem in most cases, but may cause troubles if someone try to hack that service.

Hoping this configuration will be ready in near future. Issue closed.

[2020-07-06 02:10] #1643 closed

[2020-07-07 01:52] qiyuangong opened #1650 "TensorFlow-mkl Java allocate memory error"
# Description of the problem
Trying to copy memory through `unsafe.copymemory`, then encountered a memory error

[code]
## Steps to reproduce
Create 2 memory buff with JNI, then copymemory.

[2020-07-07 13:08] qiyuangong opened #1651 "Is power 2 size reasonable when enclave size is larger than 16GB"
Just a question about this check:
If my application requires 20GB memory, it seems that I have to apply for 32GB EPC.  If my application requires 33GB, then I have to apply for 64GB.

That's a huge waste of EPC. :)

[2020-07-07 13:17] mkow commented on #1651
Enclave size is _not_ the same as EPC size, EPC is only a cache for current working set. Enclave size is the virtual memory address range dedicated for an enclave. The size of this range must be a power of 2, which is required by SGX hardware.

Having said this, I don't remember if the whole range has to be measured at start or if this is only Graphene's peculiarity. @dimakuv will know ;)
Also, th

[2020-07-07 17:04] dimakuv commented on #1651
@mkow is right. The application requires say 32GB of *virtual memory*. It will be backed by EPC which you can think of as *physical memory* of your machine. So a machine with say 128MB of EPC can still run 32GB enclaves.

The enclave memory has to be size of *power of 2*: this is a HW requirement (it is easier to implement memory-range checks in MMU this way, boils down to bit twiddling). So you'r

[2020-07-07 21:32] dimakuv commented on #1610
This is fixed by #1325 as a side effect.

[2020-07-07 22:47] kim0 opened #1652 "nodejs 12 crashes on Assertion `(uv_loop_init(&tracing_loop_)) == (0)'"
## Description of the problem

## Steps to reproduce

* Install nodejs-12 on Ubuntu 1804, per these instructions https://github.com/nodesource/distributions/blob/master/README.md#debinstall
* Try to run the example, nodejs crashes on an assertion as below
* graphene git commit 3323d214442a1f546a2d7b2a06e5b8128d0d8cbc

## Expected results
nodejs runs

## Actual results
[code]

[2020-07-07 23:06] #1628 closed

[2020-07-08 00:33] qiyuangong commented on #1651
Thank you @mkow @dimakuv for details explanation. :)

Now I understand the difference of EPC and enclave size, and the reason of power of 2 limitation.

Issue closed.

[2020-07-08 00:33] #1651 closed

[2020-07-08 00:33] bigdata-memory opened #1653 "LibOS Glibc building shows errlist.c GLIBC_2.12 (old errno.h)"
## Description of the problem
The LibOS managed glibc compiling reports the following message during glibc building.
    ```*** errlist.c count 134 inflated to GLIBC_2.12 count 135 (old errno.h?) ```
It looks like the GSGX LibOS issue. and confused me when building GSGX every time.

## Steps to reproduce
make

## Expected results
No such errlist.c warning messages

## Actual results
shows
    ```*

[2020-07-08 03:03] qiyuangong opened #1656 "Building error on current master"
## Description of the problem
Encounter errors when build with graphene master branch with latest sgx-driver and sgd-sdk
[code]

## Steps to reproduce
Install latest sgx-driver and sgx-sdk
Then, build graphene

[2020-07-08 03:34] qiyuangong commented on #1656
Seems conflict with sgx-sdk installation.

[code]

Remove `ld ld.gold objdump` in `/usr/local/bin`. Fix this problem.

Thanks to @llly . :)

[2020-07-08 03:34] #1656 closed

[2020-07-08 08:36] qiyuangong commented on #1650
Well, I guess it's related to MKL. Because it complained about memory allocation. I'm trying to use tensorflow mkl version with JAVA API.

[code]

[2020-07-08 10:40] Mic92 opened #1658 "iperf3 cannot set tcp congestion algorithm"
## Description of the problem

When trying to connect to `iperf3 -s` it close the connection with the following error:

[code]

There was no congestion algorithm explicitly set via `--congestion` flag

## Steps to reproduce

Graphene commit use: 08e217786f45628e0a9cfab3b400f7eb6b8c1be3

## Expected results

graphene passes all setsocketopt syscall cleanly to the operating system.

## Actual result

[2020-07-08 10:48] Mic92 commented on #1658
Current workaround is to do:

[code]

[2020-07-08 11:54] mkow commented on #1658
The issue here is that we emulate Linux, not just forward everything to the host (because of this approach it's possible to port Graphene to non-Linux hosts without rewriting everything).

I'm not sure if we want to emulate this flag, it would require changes to PAL API.

@dimakuv any thoughts?

[2020-07-08 18:09] dimakuv commented on #1658
@Mic92 As Michal mentioned, Graphene doesn't forward everything to the underlying host (for both portability and security reasons).

1. Do you think `TCP_CONGESTION` is a rather important option? Or 99% of applications don't use it? In the latter case, there is no reason to support this option in Graphene.
2. Do you think simply ignoring this option would be fine? Or would it be surprising to user

[2020-07-08 18:23] Mic92 commented on #1658
I can probably live without it, its just that I came across the issue and have posted a work-around that makes iperf3 usable in this case.

[2020-07-08 18:41] dimakuv commented on #1658
Ok, thanks for explanation. We'll keep this issue open for the future. Maybe we'll implement it one day.

[2020-07-09 01:24] qiyuangong opened #1661 "HDFS get loginUserFromSubject encounter error"
## Description of the problem

Trying to run HDFS read in enclave. But, HDFS filesystem encountered error when getting user and group error.
https://github.com/apache/hadoop/blob/trunk/hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/security/UserGroupInformation.java#L710

## Steps to reproduce
Try read file with HDFS Filesystem API.

## Expected results
Read successful.

## Ac

[2020-07-09 14:34] qiyuangong commented on #1661
Caused by getting username problem, resolved by adding etc and libnss* into trusted list.

Thanks to @llly

[2020-07-09 14:34] #1661 closed

[2020-07-10 17:16] bigdata-memory opened #1664 "Unexpected AEX vector occurred inside PAL! Panic!"
## Description of the problem
I encounter " Unexpected AEX vector occurred inside PAL! " panic when I run a modified LibOS native test case  "time" after several seconds.
it just repeatedly call getimeofday() at interval 5 secs.

## Steps to reproduce
SGX=1 ./pal_loader time # repeatedly call gettimeofday() at interval 5 secs

## Expected results
No panic

## Actual results
the following is the la

[2020-07-10 18:02] dimakuv commented on #1664
I will debug this now. It could be the same issue as here: https://github.com/oscarlab/graphene/pull/1663. I'll check.

[2020-07-10 18:19] dimakuv commented on #1664
@bigdata-memory , so the error you see happened due to FSGSBASE becoming prohibited? Then I won't debug this error.

[2020-07-10 19:01] bigdata-memory commented on #1664
@dimakuv Yes, I tried several times, it popped up such panics many times after several seconds, and then I'm aware of that may caused by machine suspending, and I digged into this issue and found the root cause, after that, I reloaded the GSGX driver, it works.

[2020-07-10 19:05] bigdata-memory commented on #1664
This panic didn't show any useful message and make user confused on this case.
I think it is also related to GSGX UX issue.

[2020-07-10 19:45] dimakuv commented on #1664
@bigdata-memory Thanks for debugging this! Your PR is approved.

[2020-07-10 21:50] kleirama commented on #1631
Hei again,
I have started playing around a bit with mTCP and Graphene and I have come into a point that I wonder if the thread mechanism of mTCP is supported by current version of Graphene.
mTCP allocates one TCP thread for each application thread and co-locates them in the same physical CPU core. mTCP also uses lock-free data structures between the application and mTCP. Since I have not participa

[2020-07-10 22:06] bigdata-memory commented on #1664
Thank you very much for helping me fix the bug in my PR and approving it.

[2020-07-13 12:11] bearDream opened #1671 "[Question]where is my RA_CLIENT_SPID?"
## Description of the problem

In Examples, ra-tls-mbedtls.
I try for that "RA-TLS flows with SGX and with Graphene, EPID-based (IAS) attestation:", but I don't know where found my SPID, so please help me.

[2020-07-13 12:27] #1653 closed

[2020-07-13 16:37] dimakuv commented on #1671
EPID-based remote attestation relies on a web service called IAS provided by Intel.

You must register with Intel via https://software.intel.com/content/www/us/en/develop/topics/software-guard-extensions/request-license.html to use this service. After you register, you get your credentials which include the SPID.

[2020-07-13 19:36] #1610 closed

[2020-07-13 21:01] #508 closed

[2020-07-14 01:32] bearDream commented on #1671
Thanks a lot

[2020-07-14 01:32] #1671 closed

[2020-07-15 18:24] #1664 closed

[2020-07-16 01:25] dimakuv opened #1678 "[Pal/Linux-SGX] Protected Files do not work with Protected argv/env"
This design issue was detected while working on #1674.

We provision the secret (the master key to encrypt/decrypt protected files) on top of RA-TLS which runs on top of LibOS which is executed only after PAL bootstrap code. However, reading protected-argv and protected-envp file is implemented in the PAL bootstrap code.

This results in a situation when there is **no key** to decrypt the file wit

[2020-07-16 01:27] dimakuv commented on #1678
One correct solution would be to provision the PF master key at the SGX PAL level, before dealing with argv and env. Unfortunately, this is rather impossible to implement in a self-contained manner at this level...

[2020-07-16 08:41] jinghe-INTC opened #1680 "some cases failed from LibOS/shim/test/regression, with DCAP driver"
## Description of the problem
I took the DCAP 1.7 version of SGX driver and SDK for Graphene. Most of the regression cases passed with it, except 3 from LibOS/shim/test/regression:
TC_04_Attestation::test_000_attestation
TC_04_Attestation::test_001_attestation_stdio
TC_90_CpuidSGX::test_000_cpuid

## Steps to reproduce

1. Checkout SGX code from:
https://github.com/intel/linux-sgx
and  submodules

[2020-07-16 10:19] #1598 closed

[2020-07-16 14:54] qiyuangong commented on #1563
What will happen if I used OMP with affinity configuration in current version/master?

[2020-07-16 15:45] mkow commented on #1678
I'm vetoing this terrible hack, no way :)

Yup, this, or maybe switching to the external agent/daemon model? I think most other solutions picked this path and don't have such problems.

[2020-07-16 16:59] dimakuv commented on #1563
@qiyuangong Probably nothing bad, but performance of OpenMP will be sub-optimal. Performance degradation will be especially pronounced on many-core machines (24+ cores). PR #1580 will fix it.

We actually run small OpenMP examples as part of our test suite, and it works fine. At least it doesn't break on the current master and outputs correct results.

[2020-07-16 21:33] dimakuv commented on #1680
Thanks, we'll debug this as soon as we'll find time.

Do you know what changed in the DCAP driver v1.7? I remember that versions v1.6 and intermediate ones `LD_1.32` and `LD_1.33` worked.

[2020-07-16 22:30] bigdata-memory opened #1685 "[PAL/Linux] Failed to declare '_r_debug@@PAL' as default"
## Description of the problem
The Graphene building failed due to an Error as follows

on platform

## Steps to reproduce
make

## Expected results
No any errors

## Actual results
reports

[2020-07-16 23:49] qiyuangong commented on #1563
OK. I got it.

Thank you for reply. :)

[2020-07-17 07:44] llly opened #1688 "[LibOS] program could hang because ipc_helper_lock used in shim_clean_and_exit() before create_lock() called"
## Description of the problem
`ipc_helper_lock` is created in` init_ipc_helper()` called via [RUN_INIT(init_ipc_helper);](https://github.com/oscarlab/graphene/blob/master/LibOS/shim/src/shim_init.c#L572)
However a lot of `RUN_INIT` is used before RUN_INIT(init_ipc_helper);. At that time `ipc_helper_lock` is uninitialized.

When any of `RUN_INIT()` before `RUN_INIT(init_ipc_helper);` fails, the `RU

[2020-07-17 07:50] jinghe-INTC commented on #1680
As I know, there is no big change in DCAP 1.7 driver, v1.35.
And on my machine, the failures are still reproducible if DCAP 1.6 driver and PSW are installed.

[2020-07-17 14:26] llly commented on #1685
You need to use default as from Ubuntu. The as provided by SGX repo has higher version that `/usr/bin/as` Ubuntu.

I'm not sure it expected error or not. Removing the as from sgx-linux works.

[2020-07-17 16:32] bigdata-memory commented on #1685
This issue can be fixed, I'm going to submit a PR
Thank you for the suggestion.

[2020-07-17 16:39] dimakuv commented on #1685
I will copy-paste @chiache's reply to this (on a slack channel):

[2020-07-17 16:41] dimakuv commented on #1680
Hm, then I don't know how to debug this. DCAP 1.6 works fine on my machines.

Are you sure the AESM service works correctly on your machine? Do you see any errors via `sudo service aesmd status` and `dmesg | grep sgx`?

[2020-07-17 17:01] dimakuv commented on #1688
Thanks @llly ! Impressive analysis. I'll look into it and submit a patch.

[2020-07-17 18:19] dimakuv commented on #1688
Done. See https://github.com/oscarlab/graphene/pull/1691.

Now it fails like this instead of hanging:
[code]

[2020-07-17 22:33] markueni opened #1692 "make SGX=1 failed when building redis and all other applications in Example directory"
I am trying to run redis in Example directory by typtin

but I get the following error:

[code]

When I have built graphene before some months I did not get any error of that type but now that I have reinstalled again I get such error. Does this error may have to do with new kernel patches? I have downgraded my kernel version at 4.20.3 generic and I am assuming it may have to do with that.

[2020-07-17 22:36] dimakuv commented on #1692
This error means that you cannot connect to the AESM service. What does `sudo service aesmd status` show?

You need to install AESM (it is a part of Intel SGX PSW) and start it.

[2020-07-17 22:53] markueni commented on #1692
@dimakuv here is the output of aesmd

[code]
I think that I have installed all SGX binaries. I say binaries because I did not install SDK, PSW and Driver from git repository.

[2020-07-17 23:25] dimakuv commented on #1692
You seem to be running the newest Intel SGX SDK/PSW and the Intel SGX driver?

Do you know if these are the DCAP versions? In particular, is the driver a DCAP-based driver from https://github.com/intel/SGXDataCenterAttestationPrimitives?

If the driver that you installed on the system is the DCAP driver, then you need to rebuild Graphene from scratch because it probably thinks that the driver is s

[2020-07-18 00:39] markueni commented on #1692
Problem solved. I inputed as driver path the old sgx driver but now when I inputed the path of DCAP-based driver it worked. Thnx @dimakuv

[2020-07-18 00:41] #1692 closed

[2020-07-20 01:16] jinghe-INTC commented on #1680
You are right. I didn't install sgx-aesm. After I installed sgx-aesm and sgx-aesm-quote-ex, the 2 attestation cases passed.

But the CPUID case still fails. Is it working properly on you machines with DCAP driver 1.32/1.33 or 1.35. Thanks!

[2020-07-20 13:03] bearDream opened #1696 "[Graphene SGX python]os.system("python3 xxx.py")"
I try to use this command "os.system("python3 xxx.py")" run another python script, In general, I use this in pure python project(eg. Flask web), it is normally. But when I use this in Graphene with SGX, nothing to output, and "os.system("python3 xxx.py")" no any return value.
I haven't seen any error problems. it is ambiguous! Please help me  -.-

[2020-07-20 16:26] dimakuv commented on #1696
Could you re-build with `make DEBUG=1 SGX=1` (or change `loader.debug_type = inline` manually in the manifest.template file)? And dump the relevant output where things start to go wrong?

[2020-07-20 16:34] dimakuv commented on #1680
Yes, it is working properly on our machines. It doesn't depend on the SGX driver. I think you have a "corner case" CPU that reports something in CPUID which Graphene tries to parse but doesn't recognize.

What is this CPU? Is there anything "special" in this CPU? Some feature that is very new or really rare?

Could you execute `cpuid` on your machine and show us the output?

[2020-07-20 18:57] #1688 closed

[2020-07-21 02:15] bearDream commented on #1696
Thank you for your care about this problem~ I try to use "make DEBUG=1 SGX=1 " and output follow logs when I run this command.

[code]

[2020-07-21 02:31] bearDream commented on #1696
I try to simplify this situation when I write a simple python script as follow:

[code]
use 'make PYTHONVERSION=python3.6 SGX=1 ' compile and run it, but output log as follow:

[code]
os.system("xxx") return value 1 means that execute failed.
So, What should I do when I try to use 'os.system("xxx")'.
Please help me, thanks a lot -.-

[2020-07-21 03:14] dimakuv commented on #1696
Here is the issue:

Look at the name of the manifest file. It is `python3.6` -- you probably called your manifest `python` or `python3`. You need to rename your manifest to `python3.6` or make a symlink with this name or copy your existing manifest to this new manifest.

[2020-07-21 05:21] jinghe-INTC commented on #1680
If I execute `cpuid` alone, there is always `CPUID test passed`.

But the machines with the problem are indeed specially, because they are of development models and for Intel internal use. Some information like "Model name" wasn't written in.

It is still interesting since `cpuid` only fails with Graphene on these machines.  Is it possible to make it pass in Graphene the same as it does without Gr

[2020-07-21 05:39] dimakuv commented on #1680
The reason why `cpuid` fails with Graphene is because Graphene must *validate* and *sanitize* returned CPUID values. Recall that Graphene runs the application inside the SGX enclave with security guarantees, so Graphene must perform additional checks on untrusted inputs. And CPUID returns many values -- if some of them were maliciously modified by the hacker, the application inside the enclave cou

[2020-07-21 08:43] jinghe-INTC commented on #1680
Thanks for the explanation. I will close the issue since you help solve all my problems.

[2020-07-21 08:43] #1680 closed

[2020-07-21 12:22] qiyuangong commented on #1650
Actually, this issue is caused by `TF_MKL_ALLOC_MAX_BYTES`. This env lost during env/parameter passing.

It can be fixed by add `loader.env.TF_MKL_ALLOC_MAX_BYTES = 10737418240` into manifest. :)

[2020-07-21 12:22] #1650 closed

[2020-07-21 12:56] mkow opened #1701 "[Pal/Linux-SGX] DkVirtualMemoryAlloc() crashes when called on a non-enclave page"
## Description of the problem

`DkVirtualMemoryAlloc()` crashes when called on a page which is inside the "user range" (aka. LibOS memory range) but which was not added to the enclave.

## Steps to reproduce

See #1698 (this issue is the reason why the bug in #1698 manifested in a crash instead of an error).

## Expected results

Should never crash.

## Actual results

`memset()` inside `__create_

[2020-07-21 13:01] mkow opened #1702 "[Pal/Linux-SGX] mmap with MAP_FIXED on the main executable segfaults"
[code]

This crashes Linux-SGX PAL on the current master (1895f3463d92139260d56b1d4e3fa2bfbeea07f8; thx @boryspoplawski for the PoC code).

The problem is that the whole executable area is bookkeeped as a normal user mapping inside LibOS, but at the same time, it may contain holes on SGX (e.g. the area between code and data section is not added to the enclave). The snippet above tries to overwrite

[2020-07-22 06:09] bearDream commented on #1696
I resolved these issues, but when I execute 'os.system('python3 scripts/helloworld.py')', return value '32512'.
Partial Debug output log follows here:

[code]
Please..Please.. -.-

[2020-07-22 17:35] dimakuv commented on #1696
This message tells you that you must add a separate manifest for `/bin/sh` and mark `/bin/sh` as a trusted child of your main `python3` manifest. Moreover, in this new manifest for `/bin/sh`, you must add `python3` as a trusted child.

So you need the chain of manifests like this: `python3.manifest` -> `sh.manifest` -> `pyhon3.manifest`.

[2020-07-24 13:34] mkow commented on #1597
Seems the question was answered, closing.

[2020-07-24 13:34] #1597 closed

[2020-07-24 13:36] mkow commented on #1558
The question was answered and no follow-up from the reporter for quite some time, closing.

[2020-07-24 13:36] #1558 closed

[2020-07-24 13:37] mkow commented on #1586
@kamathhrishi ping ^
We won't be able to debug this without more information.

[2020-07-24 13:39] mkow commented on #1539
@qiyuangong any updates? #1607 was merged, if it solves your problem then please close this issue.

[2020-07-24 13:39] #1533 closed

[2020-07-24 13:42] mkow commented on #1402
GSGX driver is deprecated and we definitely don't want to install it without explicit administrator consent. See https://github.com/oscarlab/graphene-sgx-driver/blob/09fc0e943693a8f68f1f3389dbaa68387b691106/README.rst.

[2020-07-24 13:42] #1402 closed

[2020-07-24 20:53] #1375 closed

[2020-07-24 20:55] mkow commented on #1353
No response from the reporter / not enough info to reproduce, closing.
@ArnaudCarrere: feel free to reopen if you have more information (see @dimakuv's questions) and if the bug still occurs on the current master.

[2020-07-24 20:55] #1353 closed

[2020-07-24 20:56] #1343 closed

[2020-07-24 20:59] mkow commented on #1228
@dirknono Does your problem still occur on the current master? Does it happen also with non-Graphene applications which use SGX?

[2020-07-24 21:02] mkow commented on #1141
Seems this issue is dead, closing.
@fixerivan Feel free to reopen if you're still interested in making this work.

[2020-07-24 21:02] #1141 closed

[2020-07-24 21:07] mkow commented on #1035
The requested feature is already on master (see #1383, #1392, #1414 and #1532), closing.

[2020-07-24 21:07] #1035 closed

[2020-07-24 21:11] mkow commented on #609
Seems we already managed to do this, closing.

[2020-07-24 21:11] #609 closed

[2020-07-25 01:07] qiyuangong commented on #1539
@mkow #1607 solved current problem. :)
Issue closed

[2020-07-25 01:07] #1539 closed

[2020-07-26 00:03] markueni opened #1712 "./pal_loader does not exist"
I have followed the instructions both https://github.com/oscarlab/graphene/blob/master/Documentation/quickstart.rst and https://github.com/oscarlab/graphene/blob/master/Documentation/building.rst but when I try to run `SGX=1 ./pal_loader helloworld` I get the following error:
`bash: ./pal-loader: No such file or directory`
The same error I got when I go to /Example/redis and after succesfully exec

[2020-07-26 00:35] #1712 closed

[2020-07-27 07:04] jianyu-m opened #1713 "[Graphene socket] incorrect results returned from getsockname after binding on port 0"
## Description of the problem

*getsockname* returns port ipaddr:0 when a program binds on an arbitrary port.

The sample code is as follows:

[code]

## Steps to reproduce
Tested on Graphene (commit 0c7472cbbcd18dba7a9be4d2f47256e97dd07f5d). Graphene-SGX seems not to be affected, but I have not tested.

## Expected results
[code]

## Actual results
[code]

## Additional information

### Bug trace

[2020-07-27 17:59] dimakuv commented on #1713
@jianyu-m Thanks for reporting this bug! Indeed, looks like a bug. I will review your PR separately.

May I ask why you want to use **port 0** in your application? It is typically discouraged (very strongly discouraged actually :)) to use it. Or where you just experimenting with your local deployment and detected it? I'm just curious if there is a legit use for this.

[2020-07-27 18:26] jianyu-m commented on #1713
Thanks for your reply. Indeed this is not usual, i encounter this when trying to run pytorch rpc on graphene. The gloo backend uses port 0 as it does not care for the actual port.

[2020-07-28 01:14] WilliamXieIntel opened #1716 "how to build graphene on RHEL8.2"
Anyone successfully built graphene on RHEL8.2?

I met below error:
checking if gcc is sufficient to build libc... yes
checking for nm... nm
checking for python3... python3
checking version of python3... 3.6.8, ok
configure: WARNING:
*** These auxiliary programs are missing or incompatible versions: makeinfo
*** some features or tests will be disabled.
*** Check the INSTALL file for required versio

[2020-07-28 01:24] WilliamXieIntel commented on #1716
unset LD_LIBRARY_PATH by "export LD_LIBRARY_PATH=" resolved the issue.
Not sure why yet.

[2020-07-28 01:25] #1716 closed

[2020-07-28 01:28] boryspoplawski opened #1717 "[LibOS] epoll on pipes reports EPOLLOUT on read end of pipe"
## Description of the problem
When doing `epoll_wait` on read end of pipe with `EPOLLIN | EPOLLOUT` set, both of those are reported after successful wait.
This faulty behavior is due to the fact, that in Graphene pipes are emulated with (unix) sockets, which are bidirectional by nature.

## Steps to reproduce
See test at https://github.com/boryspoplawski/graphene/commit/98d49f08bf66900eb419335cc7b

[2020-07-28 01:29] dimakuv commented on #1716
It's due to the fact that Graphene builds Glibc as part of its own build. And Glibc doesn't build correctly with some `LD_LIBRARY_PATH` values. See https://github.com/Linuxbrew/legacy-linuxbrew/issues/141.

[2020-07-28 01:43] WilliamXieIntel opened #1718 "build error on RHEL8.2"
[code]

[2020-07-28 04:43] dimakuv commented on #1717
That's a bit strange. I thought we had this logic of eliminating "impossible" events for different types of handles. In this case, I was expecting our emulation of `epoll_wait()` to check "ok, it's a read end of the pipe, I should remove EPOLLOUT from its `events`".

[2020-07-28 12:26] boryspoplawski commented on #1717
That would be a sane way of handling this, but I can't find such logic anywhere in the source.
Btw, this is quite a edge case and no sane app will try doing this.

[2020-07-29 05:58] kamathhrishi commented on #1586
@mkow Genuinely sorry for not replying to this issue. I managed to resolve this. Thank you.

[2020-07-29 05:58] #1586 closed

[2020-07-29 05:59] kamathhrishi commented on #1586
It just occurred once and when I began the enclave again , it worked all fine..

[2020-07-29 09:42] mkow commented on #1586
No worries, thanks for updating us on this.

[2020-07-29 23:19] kleirama opened #1722 "How to run ./pal_loader"
I am trying to run `pal_loader` using the following command:
` SGX=1 ./pal_loader b-kernel-dynamic.manifest` but I get the following error:
[code]
My directory looks like that:

[code]
Am I running pal_loader with wrong arguments or is that there is an error when I build my manifest using

When I executed the above command I did not get any error though and .token, .sig, .manifest.sgx files were g

[2020-07-29 23:32] mkow commented on #1722
I guess you have a hyphen in a key name in the manifest? This is not supported by the current syntax, but you can work around it by using an underscore instead.
And yes, current manifest syntax and parsing is terrible, I hope someday we'll find somebody to work on #870.

[2020-07-30 02:14] mkow opened #1724 "Memory corruption in IPC subsystem"
## Description of the problem

Graphene's IPC subsystem doesn't care too much about ownership of objects, which are freely passed to functions and saved in various structures. This sometimes leads to memory corruptions - one of which is triggered by our R example.

## Steps to reproduce

Check out https://github.com/mkow/graphene/tree/mkow/r-debugging (this branch has additional debugging info pri

[2020-07-30 02:14] mkow commented on #1390
Blocked by #1724.

[2020-07-30 16:30] kleirama commented on #1722
Hei @mkow do you mean that I need to change b-kernel-dynamic into b_kernel_dynamic?

[2020-07-30 16:34] dimakuv commented on #1724
I will try to fix this when I have time. In particular, we must merge `shim_ipc_port` and `shim_ipc_info` into one struct (removing the latter).

[2020-07-30 16:52] mkow commented on #1722
See the docs: https://graphene.readthedocs.io/en/latest/manifest-syntax.html#basic-syntax:

Probably one of your keys contains a hyphen (`-`).

It contains hyphens only in the values, not in the keys.

[2020-07-30 18:05] dimakuv commented on #1722
Just to make @mkow 's point more concrete: you should change your `b-kernel-dynamic.manifest.template` to not contain keys with a hyphen (`-`) and generally any non-alphabet symbols, like this:
[code]

[2020-07-30 18:31] kleirama commented on #1722
@dimakuv  I am confused now. b-kernel-dynamic is my executabel just like it is redis-server.
I have this kind of manifest.template file

[code]
Now when I run it as SGX=1 ./pal_loader b-kernel-dynamic I got the following error:

I am trying to deby why my key format is invalid but could not find any error. I would really appreciate if you can help me about this error

[2020-07-30 18:42] mkow commented on #1722
[code]

Try removing leading blanks from the last line here.

[2020-07-30 18:43] mkow commented on #1722
(same in one more place)

[2020-07-30 19:06] dimakuv commented on #1722
Follow @mkow's advice. But I also notice this:
[code]

You cannot have the same key for two different files! Please fix to:
[code]

[2020-07-30 19:11] kleirama commented on #1722
@mkow thank you for your reply. However that was just a typo of me when writing the code of manifest here but in my manifest template I do not have those spaces,@dimakuv thank you for pointing out that I have the same key to two different files, I will try to run it again.

[2020-07-30 19:36] kleirama commented on #1722
Now I am able to run graphene server but I got the following error. I just want to know if that error is part of graphene or it is because I have not correctly configured my manifest file. If it is graphene error can you please tell me what this error means, if it is an error of my side then I will try to figure it out the problem by myself.

[code]

[2020-07-30 19:50] mkow commented on #142
LMbench was removed from our test suite due to multiple issues/bugs within it (see #1588). Closing.

[2020-07-30 19:50] #142 closed

[2020-07-30 19:51] mkow commented on #155
Not enough information to reproduce + probably outdated, closing.

[2020-07-30 19:51] #155 closed

[2020-07-30 19:52] mkow commented on #166
LMbench was removed from our test suite due to multiple issues/bugs within it (see #1588). Closing.

[2020-07-30 19:52] mkow commented on #167
LMbench was removed from our test suite due to multiple issues/bugs within it (see #1588). Closing.

[2020-07-30 19:52] #167 closed

[2020-07-30 19:55] mkow commented on #198
Closing this issue, we don't plan to fix up the current manifest syntax/parsing implementation, but we'll switch to something totally different instead (see #870 to track progress/discuss this change).

[2020-07-30 19:55] #198 closed

[2020-07-30 19:56] mkow commented on #203
No updates from the reporter, closing.

[2020-07-30 19:56] #203 closed

[2020-07-30 19:57] mkow commented on #211
LMbench was removed from our test suite due to multiple issues/bugs within it (see #1588). Closing.

[2020-07-30 19:57] #211 closed

[2020-07-30 19:57] mkow commented on #212
LMbench was removed from our test suite due to multiple issues/bugs within it (see #1588). Closing.

[2020-07-30 19:57] #212 closed

[2020-07-30 19:57] mkow commented on #214
LMbench was removed from our test suite due to multiple issues/bugs within it (see #1588). Closing.

[2020-07-30 19:57] #214 closed

[2020-07-30 19:57] mkow commented on #221
LMbench was removed from our test suite due to multiple issues/bugs within it (see #1588). Closing.

[2020-07-30 19:57] #221 closed

[2020-07-30 20:05] dimakuv commented on #1722
It's hard to say what it is without the debug output. Please rebuild your example with `make SGX=1 DEBUG=1` and check the log.

Regarding your manifest, I see two additional potential issues:
[code]

This is because you mount `/usr/lib` and have a file under this directory (`file:/usr/lib/libvnf-kernel-dynamic.so`), but you don't specify this directory as "searchable for libraries".

The second po

[2020-07-30 22:31] kleirama commented on #1722
@dimakuv I followed all your advices above and I still get the same error: The output below is with DEBUG argument enabled

[code]

So even though I took care of both potential issues you suggested at me, I still got the same problem.

[2020-07-30 22:41] dimakuv commented on #1722
Thanks! Now we can see the issue:
[code]

You are mounting two points: one is the direct child of the other one. This makes no sense, at least in Graphene, so it fails.

This happens because you have these two mount points in the manifest:
[code]

Please remove the first mount point (lines 12-14) since the second mount point already subsumes it. Rebuild and try again.

[2020-07-30 22:46] mkow commented on #265
I verified that Pal/regression tests use our own `memset` implementation (from `Pal/lib/string/memset.c`). Please reopen with a reproduction steps included if you still see this problem.

[2020-07-30 22:46] #265 closed

[2020-07-30 22:47] mkow commented on #275
LMbench was removed from our test suite due to multiple issues/bugs within it (see #1588). Closing.

[2020-07-30 22:47] #275 closed

[2020-07-30 23:07] mkow commented on #326
This is not the case anymore, closing.

[2020-07-30 23:07] #326 closed

[2020-07-30 23:14] mkow commented on #456
LMbench was removed from our test suite due to multiple issues/bugs within it (see #1588). Closing.

[2020-07-30 23:14] #456 closed

[2020-07-30 23:16] mkow commented on #466
Outdated, closing.

[2020-07-30 23:16] #466 closed

[2020-07-30 23:17] dimakuv commented on #435
This is still a valid issue. We didn't fix this stuff, see https://github.com/oscarlab/graphene/blob/8d239ea6efeb071d0b733d80e0247408dce8e441/LibOS/shim/src/sys/shim_epoll.c#L351. This is low priority though.

[2020-07-30 23:19] dimakuv commented on #277
This was fixed during rewrite of the poll logic. Closing.

[2020-07-30 23:19] #277 closed

[2020-07-30 23:41] mkow commented on #532
This test was refactored since then and doesn't have this logic commented out. Seems to be stable, so I'm closing this issue as outdated.

[2020-07-30 23:41] #532 closed

[2020-07-30 23:44] mkow commented on #559
I think the consensus here is that there's nothing to be changed on our side, closing.

[2020-07-30 23:44] #559 closed

[2020-07-30 23:45] kleirama commented on #1722
@dimakuv and @mkow  now everything works fine, thanks to your helpful comments. You may close this issue now

[2020-07-30 23:51] mkow commented on #661
Seems this is already fixed on current master, closing.

[2020-07-30 23:51] #661 closed

[2020-07-30 23:57] mkow commented on #753
Outdated, current implementation fails with `EOPNOTSUPP`.

[2020-07-30 23:57] #753 closed

[2020-07-30 23:58] #1722 closed

[2020-07-31 00:04] mkow commented on #782
Just tested and this is not the case anymore. We support building SGX and non-SGX PALs at the same time since long ago. Closing.

[2020-07-31 00:04] #782 closed

[2020-07-31 00:07] mkow commented on #854
This was just fixed by #1721.

[2020-07-31 00:07] #854 closed

[2020-07-31 00:12] mkow commented on #886
Fixed long time ago, closing.

[2020-07-31 00:12] #886 closed

[2020-07-31 00:14] mkow commented on #912
Outdated, closing.

[2020-07-31 00:14] #912 closed

[2020-07-31 00:17] dimakuv commented on #674
We still didn't fix item 2. So keeping this issue open.

[2020-07-31 00:21] mkow commented on #729
As per discussion on Slack: We're fine with closely following the kernel on this + there's already an explanation in our source. We can close this issue.

[2020-07-31 00:21] #729 closed

[2020-07-31 10:07] bearDream commented on #1696
@dimakuv  Thanks for dimakuv very much!
I tried to building chain of manifest like you said, but I failed in the past week. Can you build this chain in Example, I will pretty grateful you. Please....

[2020-07-31 12:04] mkow commented on #583
We've removed almost all memory gaps (the only one left is the one between code and data section of the user binary, but this also should be removed at some point), so this issue seems outdated. Please reopen if I'm wrong.

[2020-07-31 12:04] #583 closed

[2020-07-31 12:19] mkow commented on #1140
I just verified that this test still crashes on the current master (47d19bda95f61992166bb5023b4610b2ebbffdc6), although slightly differently:
[code]

I needed ~80 runs to trigger this bug. It's probably totally unrelated to the test itself and most likely just a general SGX PAL instability.

[2020-07-31 12:27] mkow commented on #1158
I also can't reproduce the issue, closing.
btw. There's another issue with this test though: it hangs both on SGX and natively, so it's broken like most of the things inside LibOS/shim/test/native. Everything in this directory should be reworked, but it's unrelated to this particular issue.

[2020-07-31 12:27] #1158 closed

[2020-07-31 12:30] mkow commented on #1435
Related issue: #1408 ("Elf relocations do not work correctly for small base addresses").

[2020-07-31 12:57] vahldiek opened #1728 "GSC error with Docker containers using scripts as entrypoints"
# Description of the problem

Docker images have an entrypoint which points to any executable file in the image's file system. When graphenized via GSC, this entrypoint is the starting application that is passed to Graphene (or the `pal_loader`). The `pal_loader` only accepts ELF binaries.

Some public Docker images use scripts as entrypoints. While the script is executable, it is not an ELF binar

[2020-07-31 13:01] vahldiek commented on #1530
GSC currently does not support scripts as entrypoints. Please see issue #1728 for details and a workaround.

[2020-07-31 13:09] #1530 closed

[2020-07-31 17:09] #1089 closed

[2020-07-31 23:01] #1026 closed

[2020-08-01 03:16] bearDream commented on #1696
@dimakuv I got it! I built for the chain of the manifest.
But If I run this command 'SGX=1 ./pal_loader python3.6.manifest scripts/test-system.py', it is still return 'shim_execve("/bin/sh",[sh,-c,python3 scripts/helloworld.py,]......'. So I doubt if need to point out three manifests in the command, but it doesn't look right!
Please help me~Thank you very much

[2020-08-01 04:19] stefanberger commented on #1718
FYI: Once the patch has been merged: You'll have to install glibc-static to build and link the test cases. And for being able to link the attestation testcase you'll need to have python2 installed to have mbedlts's crypto library built and available for linking then. The PAL regression and LibOS fs & regression test cases work. I didn't try anything else...

[2020-08-01 17:24] bigdata-memory opened #1734 "Test Graphene Symlinks in CI"
Description of the problem

As @mkow suggested in PR #1725. we may need to test Graphene paths in CI to identify those symlinks out and report it to submitter.

[2020-08-01 23:04] mkow commented on #1140
Ok, it's just #1408. Time to try fixing it, I guess...

[2020-08-01 23:05] mkow commented on #1140
Since the originally reported bug doesn't seem to trigger anymore and we have a separate issue for the NULL-deref bug (#1408), I'm closing this one.

[2020-08-01 23:05] #1140 closed

[2020-08-03 01:51] bearDream opened #1736 "sh as a child of python3 running fail"
## Description of the problem
I try to use this code "os.system('echo hello')" in python script, and add sgx.trusted_children.sh in python3.6.manifest.
However, when I run 'SGX=1 ./pal_loader  python3.6.manifest scripts/test-system.py', it is failed.

Feel pigs in the river...
## Steps to reproduce
In Master branch.

This is python3.6.manifest

[code]

This is sh.manifest

[code]

This is the toy

[2020-08-03 02:19] #1718 closed

[2020-08-03 02:21] dimakuv commented on #1736
Add the following to all your manifests:
- `sgx.static_address = 1`
- `sgx.enclave_size = 512M`

Rebuild and try again.

[2020-08-03 12:59] bearDream commented on #1736
Amazing! It is succeeded as you said. I am very grateful to you  ^.^
Unfortunately,  when I replace this code as follows, it is failed.
[code]
python3.6.manifest.template & sh.manifest.template same as before. In addition to add "sgx.static_address = 1" and modify encave_size to 512M.

_Now, I have three separate manifest.(python3.6.manifest -> sh.manifest.template -> python3.manifest)_

This is p

[2020-08-03 16:34] dimakuv commented on #1736
Try to add `loader.insecure__use_host_env = 1` in all your manifests. See https://graphene.readthedocs.io/en/latest/manifest-syntax.html#environment-variables.

[2020-08-03 23:36] markueni opened #1739 "Does the performance of an application porting in Graphene decrades after different several runnings?"
Hi,

I have ported an application in **_Graphene-SGX_** and performed some benchmark testing. At first performance was close to vanilla application but now it is degraded a lot. After each run I execute `make SGX=1 distclean` and then I rebuild again using `make SGX=1 DEBUG=1`. However when I run the applicat now as `SGX=1 ./pal_loader $(my_executable)`  the performance is 60% less than before and

[2020-08-04 03:27] bearDream commented on #1736
I'm grateful that your advice~
Although I think your advice is correct, it is failed.
I've tried both "loader.insecure__use_host_env = 1" and "loader.argv_src_file = file:../../Tools/argv_serializer", but the result is same.

All three manifests remain the same.

_I think shim_stat('...')=-2 maybe is the reason for the fatal, but I'm not sure._

There are debug logs partially following:
[code]

[2020-08-04 16:45] dimakuv commented on #1736
Are you sure you tried `loader.insecure__use_host_env = 1`? Your sentence seems to indicate that you tried the "Command-line Arguments" manifest option (`loader.insecure__use_cmdline_argv = 1`) instead of my proposed "Environment Variables" manifest option.

[2020-08-04 16:47] dimakuv commented on #1739
This should never be the case. Something is happening with your system. I can imagine several issues:

1. You actually run Graphene in different settings. Maybe the first couple times you ran Graphene, you didn't have many client requests, but the next time you had a flood of client requests -- Graphene's performance will be different.

2. You have "zombie" processes in your system. Maybe these ar

[2020-08-04 18:39] markueni commented on #1739
After reboot that problem was gone. I am not sure though but I guess the second option you mentioned is most likely.
I have another question off-topic. Is it possible to run Graphene-SGX in a VM with no KVM and QEMU patches. I always run it on my host machine but I want to try and run my application in a virtualized environment. I knew that there were issues of SGX inside VMs and the only way to d

[2020-08-04 19:23] dimakuv commented on #1739
@markueni Glad you fixed the original problem! Regarding KVM/QEMU: unfortunately, I am not aware of the current status of VM support of SGX. The last time I checked it was not upstreamed, so one had to rely on custom Intel patches to KVM/QEMU. I will try to ask those developers and get back to you if I know any new info.

[2020-08-05 01:51] bearDream commented on #1736
Hi, I'm sure use this command 'loader.insecure__use_host_env = 1', there are three manifests following:

**python3.6.manifest**
[code]

**sh.manifest**

[code]

**python3.manifest**
This manifest as like the python3.6.manifest.

[code]

The debug output is shown in [floor 5](https://github.com/oscarlab/graphene/issues/1736#issuecomment-668358734)

[2020-08-05 07:32] podcastinator opened #1743 "Error while running OpenJDK 11"
## Description of the problem

Hi! I'm trying to do a Hello World test with OpenJDK 11.0.8 and Graphene v1.1, but the run errors out with a memory fault / bookkeeping assertion failure.

I know you haven't officially tested Java support yet, but would appreciate any insights into what could be going wrong in case it's solvable my end.
Thanks!

## Actual results

Here's the debug log. In case it he

[2020-08-05 13:33] mkow commented on #1743
Looks interesting. Anyways, we are aware that OpenJDK fails under Graphene but we haven't had time to debug this.

This assert is concerning, it shouldn't fail like that. Maybe @boryspoplawski will have some ideas what may be causing it. I'd bet that it may be caused by #152, as 0xff000000 + 0x1000000 overflows 32-bit ints (from `shim_mmap(0xff000000,16777216, [..])`). We are slowly refactoring al

[2020-08-05 15:21] markueni opened #1745 "Can one run several executables inside a single enclave at once?"
Hei,

I have a scenarion in which I run a VNF over my VNF framework. I have created 5 VNFs component where 4 of them use APIs of my VNF framework. Now I want to run these VNFs component build over my VNF framework inside enclave. When I run it normally (no Graphene used) I run it in that order .`/hss ./icscf ./pcscf ./scscf`. Now the way I decided to run them over Graphene-SGX is as below:

In `..

[2020-08-05 15:45] mkow commented on #1745
Graphene can only run a single executable, but it is allowed to fork into more processes later. So, you can create an "entrypoint" shell script or executable which would then spawn all required processes. They will run in separate processes and enclaves, but inside the same Graphene namespace.

[2020-08-05 15:50] dimakuv commented on #1743
@podcastinator Please see this: https://github.com/oscarlab/graphene/issues/1152.

And this: https://mkyong.com/java/java-what-is-xms-and-xmx-parameter/.

[2020-08-05 16:37] podcastinator commented on #1743
@mkow Will try it out on the non-SGX PAL and report back.

@dimakuv I set the enclave size to 8G, and re-ran with a few different sets of Java heap size parameters. They all fail similarly, here are the results.

With `-Xms1m -Xmx1g`
[code]

With `-Xms1g -Xmx2g`
[code]

With `-Xms1g -Xmx4g`
[code]

[2020-08-05 16:44] mkow commented on #1743
Are you running unmodified Graphene, from our repo master branch?

Looking at the log:
[code]

mmap is called with `MAP_SHARED_VALIDATE` and `MAP_ANONONYMOUS` at the same time, which doesn't even reach the vma subsystem - it fails with EINVAL here: https://github.com/oscarlab/graphene/blob/660c564ab4fbc0ebb06b714ebfad6cf304470353/LibOS/shim/src/sys/shim_mmap.c#L77-L84
This assert should not even b

[2020-08-05 16:51] podcastinator commented on #1743
Yeah, I'm running unmodified v1.1 (commit `b66fbd1c`).

[2020-08-05 17:28] boryspoplawski commented on #1743
This was a bug in logging, which incorrectly displayed `MAP_SHARED_VALIDATE` and was fixed on the second commit after `b66fbd1c` ...

[2020-08-05 17:35] boryspoplawski commented on #1743
I think I know what's the problem: `PAL_CB(user_address.start) >= (char*)addr + length` (which is why this assert fails), but we do not check that before the call https://github.com/oscarlab/graphene/blob/master/LibOS/shim/src/sys/shim_mmap.c#L148
I'll prepare a quick fix.

[2020-08-05 17:43] boryspoplawski commented on #1743
@podcastinator Could you check that on branch https://github.com/oscarlab/graphene/tree/borys/mmap_ua_start_fix ?

[2020-08-05 17:44] mkow commented on #1743
Ah, lol, this explains it :)
@podcastinator for the future, please always use the most recent master branch. We keep it stable and it usually contains much more bugfixes than the last release.

[2020-08-05 17:49] markueni commented on #1745
@mkow

`So, you can create an "entrypoint" shell script or executable which would then spawn all required processes`

I would appreciate if you can elaborate this for me a bit more related to my scenario.

Do you mean that for my executable hss I need to modify it in the way that it calls all three other processes once it runs inside enclave? Is there any example in Graphene repository which has s

[2020-08-05 18:10] mkow commented on #1745
Yes.

AFAIR there isn't any. But you can just use a shell script or a simple C/C++ program spawning a few processes, there's nothing more to this.

[2020-08-05 18:29] markueni commented on #1745
@mkow I get your point and will do that. I have one concern though? When you have 4 processes running in different enclaves is performance supposed to downgrade a lot or it will be the same as it is when there is a single process in a single enclave?

[2020-08-05 18:30] #1739 closed

[2020-08-05 18:37] dimakuv commented on #1745
Performance will be roughly the same because the real bottleneck is the size of EPC (physical enclave memory). It is currently 128MB on Intel CPUs. So you will likely hit this limit -- both with "4 smaller enclaves in 4 processes" and with "1 huge enclave in 1 process".

[2020-08-05 18:38] dimakuv commented on #1745
Be aware that **creating a process/enclave** is super-slow in SGX and Graphene. But **once the process/enclave is created**, the performance is good (and limited by the size of EPC).

[2020-08-05 18:55] markueni commented on #1745
I have ported this application in Graphene SGX, so 4 processes in 4 different enclaves which communicate with each other and when I did some benchmarking I see that performance is 10x slower. I have ported also another VNF which has a single process runnning inside enclave and in that case performance was great but now with these 4 processes and 4 enclaves the performance is way too bad :(.

[2020-08-05 19:18] dimakuv commented on #1745
We'll need more info from you to give better answers regarding performance overheads. What is the multi-processing communication you use? How many messages processes send to each other, how often? Do you periodically spawn new processes or start them all together once? Is this C/C++ or some other language?

[2020-08-05 19:47] dimakuv commented on #1623
This was fixed by https://github.com/oscarlab/graphene/pull/1663. I tested again on master branch for couple hours, doesn't fail. Closing.

[2020-08-05 19:47] #1623 closed

[2020-08-05 19:52] markueni commented on #1745
I start all processes at once. It is 100%  c++ language. I send continously messages for a period of time I specify (30 seconds, 1 min, 5 min and so on). But the performance downgrade with 10x is when I try with 30 seconds. Also with one minute and 2 minutes and so on is still around 10x. Below is a more detailed description fo my scenario.

I am in `graphene/Example/$(my_directory)`. In this dire

[2020-08-05 22:22] podcastinator commented on #1743
@boryspoplawski That fixed it, thanks a lot!  And thanks for the tip @mkow

Had to iron out a few kinks in the manifest, but i got a hello world example up and running! Thanks for all your help!

[2020-08-05 22:24] dimakuv commented on #1743
@boryspoplawski Please submit a PR based on your branch and mark that it fixes this issue.

[2020-08-06 01:10] Arslan8 opened #1748 "Segfault in enclave."
Hi,
While doing generation based fuzzing on existing SGX programs, we saw that graphene-sgx enclave doesn't do proper NULL checking.
## Description of the problem

## Steps to reproduce

This generated code triggers the NULL access:
`/*[[[cog
    import cog
    filename = "./temp"
    with open(filename) as f:
        for line in f.readlines():
            cog.outl(line)
    ]]]*/
    ret = ecall_

[2020-08-06 12:46] bearDream commented on #1736
@dimakuv
Hi, I have observed that you have not responded to messages in the last two days.
I'm very concern about this issue, can you help me take a look.
Please...Please...

[2020-08-06 12:55] #1743 closed

[2020-08-06 14:14] mkow commented on #1748
I can't reproduce this issue. Are you sure you're running on an up-to-date version of Graphene?
For me such invocation prints `Creating arguments failed` and just exits.

[2020-08-06 18:15] Arslan8 commented on #1748
Hi @mkow, this is for Graphene-SGX... This was reproduced on the latest release tag: v1.0.1. I was unable to build head revision. Here's the backtrace i saw:
#0 _wordcopy_fwd_aligned (dstp=35361801776, srcp=0, len=12) at string/wordcopy.c:47
#1 0x000000083bb87df5 in memcpy (dstpp=0x83bba4630 <mem_pool+848>, srcpp=<optimized out>, len=100)
  at string/memcpy.c:41
#2 0x000000083bb82f15 in sgx_copy_t

[2020-08-06 18:26] mkow commented on #1748
Please test this on the current master, this bug was probably already fixed. v1.0.1 is 8 months old...

Why?

[2020-08-06 18:43] Arslan8 commented on #1748
IIRC there were some compilation errors on the particular revision I checked out so instinctively I went to the latest release...anyhow let me try to run it on current master too.

[2020-08-06 18:56] dimakuv commented on #1748
@Arslan8 That could be due to SGX SDK installing its own versions of `ld`, `ar` and so on. Check this: https://github.com/oscarlab/graphene/issues/1685.

[2020-08-06 18:59] Arslan8 commented on #1748
@dimakuv thanks for the pointer.. yeah I remember for Intel SGX-SSL I had to update those tools... I'll give it a try later tonight..

[2020-08-06 23:57] boryspoplawski opened #1752 "O_NONBLOCK ignored in pipe2"
## Description of the problem
`O_NONBLOCK` flag is ignored in `pipe2`

## Steps to reproduce
[code]

## Expected results
`read: -1 Resource temporarily unavailable`

## Actual results
Graphene hangs on `read`

[2020-08-10 13:21] bearDream opened #1757 "[Graphere SGX]python invoke other python script problem."
## Description of the problem

I'm so sorry to ask this issue again. I have posted other issues and send mail to support@graphene-project.io but not solve my problem.

I want to in a python script invoke another script (Like this: os.system('python3 helloworld.py')), but it is failed.
Invoke sequentially: python3.manifest -> sh.manifest -> python.manifest. There are three manifests separately.
Wit

[2020-08-12 15:59] #1752 closed

[2020-08-13 07:58] llly opened #1762 "protected file key g_pf_wrap_key is not passed from parent to child during process creation"
## Description of the problem
I'm testing protected files using configs
[code]
similar to secret_prov_pf_client Example to provisioning protected file key from server .
`LD_PRELOAD = libsecret_prov_attest.so` helps unmodified program to store the key in file `/dev/attestation/protected_files_key` and env `SECRET_PROVISION_SECRET_STRING` then access protected_files transparently.
However, if unmodi

[2020-08-13 12:21] mkow commented on #1762
Seems we overlooked this, the key should of course be inherited. Thanks for reporting!

[2020-08-13 17:37] dimakuv commented on #1762
@llly Thanks for debugging and reporting this! Indeed, we didn't test this feature with fork/execve.

I will find time and fix this next week.

[2020-08-14 08:58] llly commented on #1757
[code]
can reproduce this issue.
I also have investigated my debug log and found Suspicious item.
[code]
This is from the parent python. getdents64("/usr/lib/python3.6") returns 7025.
[code]
This is from the child python. getdents64("/usr/lib/python3.6") returns 53.

Maybe not all the trusted files in "/usr/lib/python3.6" are found by child python.

Hope it helps.

[2020-08-15 05:55] bearDream commented on #1757
Thanks for @llly response. But I think '53' is an early problem when I add "loader.insecure__use_host_env = 1" in manifests and some operations, this error not happened. This problem has been bothering me for more than a month.

[2020-08-17 05:00] llly opened #1764 "[LibOS]Apache flink using JDK7 not work due to socket flag checking"
## Description of the problem
When enabling https://github.com/apache/flink , Java exception `java.net.SocketException: Operation not supported (Read failed) ` is returned because Graphene socket syscall `shim_do_recvfrom` rejects socket flags `(MSG_DONTWAIT | MSG_PEEK)` .
## Steps to reproduce
Run flink using Graphene-SGX.
flink Java code
[int response = is.read();](https://github.com/apache/flin

[2020-08-17 19:32] dimakuv commented on #1762
@llly Could you check if https://github.com/oscarlab/graphene/pull/1765 fixes your application? It works for me on a DCAP-based system.

[2020-08-17 20:37] dimakuv commented on #1764
@llly Can you check if https://github.com/oscarlab/graphene/pull/1766 helps?

[2020-08-18 00:38] dimakuv commented on #1757
@llly is right, as always. Thanks for debugging this!

I was able to reproduce this error, and indeed the root cause is that suspicious `shim_getdents64(3,0x184e5a00,32768) = 53` (in other words, Graphene reads much less files from `/usr/lib/python3.6` in the child process than it's supposed to).

I am currently debugging this. I will create a multi-process Python example per @bearDream requests.

[2020-08-18 05:11] llly commented on #1762
#1765 fixes this issue. Thanks for the quick fix.

[2020-08-18 05:45] llly commented on #1764
Looks good for me. Thanks a lot.

[2020-08-18 08:15] llly commented on #1757
I cannot root cause this error and didn't create issue about it. I'm glad that I can help.

[2020-08-18 16:51] manojgop opened #1767 "DNS/IP resolution issue in docker image generated using GSC"
## Description of the problem
docker overrides some files in an image when it's started like `etc/resolv.conf` and `/etc/hosts`. These files will change after signing GSC docker image. But most of /etc is part of the list of trusted files generated by ‘Tools/gsc/finalize_manifests.py’. So while running GSC docker container we get error _"_Accessing file:/etc/resolv.conf is denied. (Unknown error)

[2020-08-18 17:30] #752 closed

[2020-08-18 17:30] #1764 closed

[2020-08-18 22:33] dimakuv commented on #1072
I just stumbled into this issue again on non-sgx Graphene with a PyTorch workload with massive numbers of threads (created and destroyed multiple times). There are some leaks in Graphene that resulted in 64MB of pre-allocated PAL space (`g_mem_pool`) being depleted, and PAL started allocating memory for things like `PAL_HANDLE event` using host-level `mmap` (see below). At the same time, LibOS all

[2020-08-19 03:04] llly opened #1769 "[Pal/Linux-SGX]sendfile() cannot work with protected file as in_fd"
## Description of the problem
There are several kinds of syscalls to access file, read, mmap, sendfile. I tried sendfile() and found it doesn't work with protected file.
## Steps to reproduce
This commit https://github.com/llly/graphene/commit/a45b3740b80852e7093a1209761a54445c725573 uses ra-tls-secret-prov example to call ` ssize_t sendfile(int out_fd, int in_fd, off_t *offset, size_t count);`
`o

[2020-08-19 13:33] kleirama opened #1770 "Does untrusted host has access to application code when this is shipped to untrusted host in order to run inside Graphene-SGX"
Hei,

Is it safe to say that when an application is ported into Graphene-SGX, its code is protected? I have studied and used Graphene to port my VNF application, and as I see it is that all VNF binaries are signed/hashed and shipped to untrusted part. But does that mean that untrusted part can access the VNF code and exploit attacks on it? My guess is that even if you ship just binaries to a third

[2020-08-19 15:01] mkow commented on #1770
What do you mean by "protected", exactly?

What's VNF?

You ship compiled binaries, the untrusted side doesn't compile anything.

It's not encrypted, but the hash of the initial state is verified during attestation.

Btw.: Our issue template says:

We use issues for bugs, not as a support forum. Please either use email or join our Slack.

Anyways, this question isn't even Graphene-related but is a

[2020-08-19 15:01] #1770 closed

[2020-08-19 17:02] #1762 closed

[2020-08-19 23:53] dimakuv commented on #1757
I fixed the bug and also added the Python multi-process example here: https://github.com/oscarlab/graphene/pull/1771. Please check it.

[2020-08-19 23:53] dimakuv commented on #1736
I fixed the bug and also added the Python multi-process example here: https://github.com/oscarlab/graphene/pull/1771. Please check it.

[2020-08-20 07:54] bearDream commented on #1736
Yeah！Thank you~

[2020-08-21 04:01] kenplusplus opened #1772 "[Graphene LibOS] redis-py not work as redis' client app in enclave"
## Description of the problem
A python app within graphene enclave failed to do redis.ping() via redis-py python lib with following exceptions. But it is works if using aioredis or redis-cli command line within enclave.

## Steps to reproduce

Test Case 1. Test redis ping via redis-py

1.1 Install redis-py in enclave via "pip3 install redis"
1.2 Put below sample test application in python3 enclave

[2020-08-25 16:34] dimakuv commented on #1772
@kenplusplus From the private correspondence, it seems that the bug is not in Graphene but in the used Redis-py library. Could you post some new information on this issue? (Or close it if you fixed the problem.)

[2020-08-25 20:43] dimakuv commented on #1769
@llly Could you check if solves your issue: https://github.com/oscarlab/graphene/pull/1774.

[2020-08-25 22:09] #1736 closed

[2020-08-25 22:09] #1757 closed

[2020-08-26 03:15] bearDream commented on #1757
Thanks for @dimakuv example provided.

[2020-08-26 03:27] #1696 closed

[2020-08-26 03:57] kenplusplus commented on #1772
@dimakuv Sure, I will close this one firstly. It is caused by the redis-py's assumption - blocking mode. The solution is adding socket timeout or update implemetation.

[2020-08-26 03:57] #1772 closed

[2020-08-26 05:52] llly commented on #1769
This PR fixes my issue. Thanks.

[2020-08-26 13:21] bearDream opened #1775 "Start flask app occured problem"
## Description of the problem
Python web framework flask loading to graphene will show errors.

## Steps to reproduce
In the Master branch(commit ID:  2b5b946).

flask app.py(toy code) as following:
[code]

manifest as following:
[code]

## Expected results
Normal output like this
[code]

## Actual results

[code]

I feel ridiculous.

[2020-08-26 15:32] dimakuv commented on #1775
You need to enable debugging output in Graphene. Add `loader.debug_type = inline`, rebuild and run again. This will give you more information on what binary is considered "not allowed enclave". I assume it is `sh`/`bash` because Python frequently spawns shell processes.

Btw, even though Graphene complained about "not allowed enclaves", Graphene was able to load the Flask server. I can see that it

[2020-08-26 19:38] #1769 closed

[2020-08-27 05:40] jinghe-INTC opened #1777 "Regression test hangs on a QEMU-KVM client with small EPC"
## Description of the problem

On a SGX capable QEMU-KVM client machine running Ubuntu 18.04 with DCAP driver, if the EPC size is as small as 16MB, it is understandable that the regression case "test_pal.py::TC_01_Bootstrap::test_120_8gb_enclave" would be the only failed one.
However, if repeat running the regression test set under Pal/regression, the test will hang at the case "test_pal.py::TC_20

[2020-08-27 08:32] jinghe-INTC commented on #1777
On a physical machine, the EPC size can be set to as small as 32MB, while is_sgx_available reports 22MB. If repeat the same regression test cases there will be no case failure or hanging.

[2020-08-27 15:31] dimakuv commented on #1777
I don't see anything special in the `socket` and `event` PAL regression tests. These tests don't spawn child processes (and thus child enclaves) and one of them doesn't even create child threads (in the same enclave). So there is very little that can go wrong. These are very weird failures.

Is there any other information that could help identifying the root cause?

Could it be the bug in the QEMU

[2020-08-27 17:40] dimakuv commented on #1685
https://github.com/oscarlab/graphene/pull/1778 explains the issue in greater detail. Basically, Graphene incorrectly injected the asm directive in files where the required symbol (global variable) was not declared, which is prohibited by newer `as`.

[2020-08-27 22:09] dimakuv commented on #1767
@vahldiek Is this a valid solution? Should we do this in GSC?

[2020-08-27 22:13] dimakuv commented on #1745
What is the EPC size of your machine where you test it? The current SGX machines have only 128MB and 256MB of EPC. When you create 4 enclaves, each of size 1GB, they all compete for this small amount of EPC. Basically, your machine tries to multiplex 4GB of enclave memory on 128/256MB of actual available memory. This leads to tremendous overheads due to *EPC paging*.

[2020-08-28 12:13] vahldiek commented on #1767
The described workaround is not ideal, since it relies on allowed files instead of trusted or protected files. Unless we decide that allowed files are benign in this case (which I dought).

When we developed the workaround the goal was to have a working example and look at what causes the discrepancy between the hashes of the files between build and run time. Based on my initial investigation thes

[2020-08-29 10:07] mkow commented on #1777
btw:

That's actually not true - EPC is only a cache (as per "C" in it's name :) ). This test works on standard EPC size (128MB, which is much smaller than 8GB) and should also work on 32MB EPC.

[2020-08-30 01:07] markueni commented on #1745
@dimakuv the EPC size of my machine is 256 MBs. Is there a way to overcome such problem? I have to run each component of my Network function application in separate enclaves, but I was also wondering is possible in Graphene-SGX to run all components within the same enclave instead of having 4 enclaves, so the components can still communicate to each other?

[2020-08-31 00:57] jinghe-INTC commented on #1777
That's true. The test was OK on a physical machine with 32MB EPC(as is-sgx-available measured 22MB).

[2020-08-31 03:08] #1685 closed

[2020-08-31 11:42] mkow commented on #1777
But it still breaks under QEMU-KVM? Could you run this single binary compiled with `DEBUG=1` added to Make invocation and "loader.debug" changed to "inline" in `Bootstrap6.manifest.template` and paste stdout + stderr from it?

[2020-08-31 16:36] vijaydhanraj opened #1783 "[LibOS, PAL] Add support for pseudo sysfs to get platform topology information"
## Description of the problem
Many libraries such as tbb, hwloc use sysfs-devices-system to get the underlying platform topology. But currently this isn't emulated in LibOS and PAL. So propose to support the following as pseudo files as a start. Based on feedback I can extend/trim these as needed.

/sys/devices/system/node
/sys/devices/system/cpu/cpu#/topology/core_siblings
/sys/devices/system/cpu

[2020-08-31 19:06] dimakuv commented on #1783
I suggest to have an initialization-only emulation of the CPU topology. In other words, we shouldn't introduce a new PAL (`DkNewFunc()`) and OCALL functions, but instead propagate the necessary CPU topology during enclave initialization in the `pal_sec` object. See https://github.com/oscarlab/graphene/blob/49746f8716167f1e98a5b16cb734ab62ff4ddb04/Pal/src/host/Linux-SGX/db_main.c#L184-L186.

The co

[2020-08-31 19:08] dimakuv commented on #1745
No, it's a hardware limitation. The only way is to wait for new SGX hardware with larger EPC sizes and buy it :)

No, unfortunately, Graphene doesn't support such a feature. You may take a look at Occlum though: https://github.com/occlum/occlum

[2020-08-31 21:23] mkow commented on #1783
(and if it turns out we need dynamic info for some use-case then we'll expand this implementation)

[2020-08-31 22:31] vijaydhanraj commented on #1783
Thanks @dimakuv and @mkow for the feedback.

[2020-09-01 03:29] llly opened #1787 "[LibOS] Feature Request: Add in-memory tmpfs"
When native app needs to use temporary files, typical solution is mounting /tmp of host OS #1139. There are several mountable_fs and builtin_fs file system type, `chroot` is used.

Now Protected filesystem feature is added. When temporary files contain sensitive data, it's hard to add them to manifest as sgx.protected_files because the file name is usually contain generated random string.

In-memo

[2020-09-01 17:20] dimakuv commented on #1787
I definitely like this idea of a new type of FS (`tmpfs`).

I think it will be sufficiently simple to add this to our LibOS. I'm pretty sure we can re-use the `str` file system.

The only question is: who will implement this? :)

[2020-09-01 17:21] dimakuv commented on #1787
@llly Do I understand you correctly, that you want:
[code]

[2020-09-01 18:50] yamahata commented on #1787
+1. nice idea and it's easy to implement.

[2020-09-02 06:35] manojgop commented on #1767
Docker overrides contents of the files `/etc/hosts` and `/etc/resolv.conf` when it is started. So since contents of these file changes when docker container starts, it's better not to calculate the hash of these files and use the option `sgx.trusted_files.<name>`.  Since the manifest file is owned by the application, if the application specifies the `sgx.allowed_files.<name>` option for a file , c

[2020-09-02 07:04] vahldiek commented on #1767
@dimakuv could you elaborate on the security risks when marking these files as allowed? If secure communication is anyways established via RATLS, what are the risks? For sure untrusted code could change the DNS lookup/hosts assignments for man in the middle attacks, but such things would either not verify via RATLS or the channel would be encrypted with a secret key.

I'm not sure if there are oth

[2020-09-02 12:09] mkow commented on #1767
I think the biggest risk is that all applications trust these files and don't expect malicious data there. DNS is not a problem IMO, it's not trusted anyway because it always go through the OS unprotected (ok, maybe except DNS-over-HTTPS, but none of apps we test use this; even if this is a problem, then it's not related to the issue we're discussing here but to general question about DNS shieldin

[2020-09-02 18:35] dimakuv commented on #1767
I know it's ugly as hell, but what about having special hacks in Graphene's LibOS for files like these?

In particular, before jumping to application's execution, Graphene opens and mmaps `/etc/resolv.conf` and `/etc/hosts` inside the enclave, does simple checks on the text (very light parsing), and then serves user requests from within the enclave?

I cannot come up with an alternative way of ens

[2020-09-02 18:52] mkow commented on #1767
It's not that hacky, we emulate the whole OS anyways, so having emulation for such files should be ok from the design perspective (OTOH, these are managed by usermode daemons, not the kernel we emulate, but still).

[2020-09-02 22:28] dimakuv opened #1791 "[Pal/Linux-SGX] Add interoperability with Microsoft Azure Attestation"
Microsoft Azure Attestation (MAA) is described here:
- https://docs.microsoft.com/en-us/azure/attestation/overview
- https://docs.microsoft.com/en-us/azure/attestation/basic-concepts

There is already basic infrastructure to communicate with MAA:
- https://github.com/Azure-Samples/microsoft-azure-attestation
- https://github.com/Azure-Samples/microsoft-azure-attestation/tree/master/intel.sdk.attes

[2020-09-03 02:02] llly commented on #1787
@dimakuv Yes, that's what I want. And `fs.mount.tmp.uri = file:/tmp` is not needed, either.

I can implement it and create PR of no objection.
A lot of operations in `shim_fs_ops`  and `shim_d_ops` of str fs are lacked. Need to add necessary operations when reusing str fs. Right?

[2020-09-03 05:08] llly opened #1792 "[Pal] Out-of-memory reported when protected file size bigger than 32M"
## Description of the problem
Protected files calloc `file_mht_node` and `file_data_node` when reading protected files.https://github.com/oscarlab/graphene/blob/c9fc06b9f5050974a980a90fe7fe7b2428cc4e22/Pal/src/host/Linux-SGX/protected-files/protected_files.c#L1148
https://github.com/oscarlab/graphene/blob/c9fc06b9f5050974a980a90fe7fe7b2428cc4e22/Pal/src/host/Linux-SGX/protected-files/protected_fil

[2020-09-03 11:22] mkow commented on #1787
I think that's the case. Basically, don't trust our codebase, a lot of things are missing or are incorrectly implemented :/

[2020-09-03 16:50] dimakuv commented on #1787
@llly You mentioned:

But why not? On normal Linux (at least on Ubuntu), the `/tmp` directory is not tmpfs but normal storage. I would like to keep this logic. This may be especially important if two applications -- one in Graphene enclave, another normal process -- want to share some file under `/tmp`.

So I'd vote for explicit syntax to declare mount points of type `tmpfs`. Then the user can cho

[2020-09-03 16:51] dimakuv commented on #1787
This would be great!

Yes, that's correct. You should check how the `chroot` mount point is implemented, under `fs/chroot/fs.c`, and implement the same functions-callbacks but based on `strfs`.

[2020-09-03 22:50] mkow commented on #1787
@dimakuv: Hmm, I don't get your response. If `type` is `tmpfs` then what would be the semantics of `uri`? If you want persistent `/tmp` then you just do `chroot` mount, not `tmpfs`. I think @llly is right that this parameter doesn't make any sense with `tmpfs`.

[2020-09-03 22:55] dimakuv commented on #1787
Ah, sorry, I misunderstood the comment.

What @llly means is that only two lines (instead of typical three) are needed for tmpfs mount points:
[code]

I initially understood @llly's comment as "Let's hard-code /tmp to be of type tmpfs".

[2020-09-04 04:16] bearDream commented on #1775
Thanks, this situation looks strange. but no problem in running.

[2020-09-04 04:16] #1775 closed

[2020-09-04 11:10] mkow opened #1794 "Clang support"
## Description of the problem

Would be good to support something more modern than GCC, e.g. clang :) I'd even vote to use it by default.

Next steps would be to make various clang sanitizers work and enable them in CI.

[2020-09-04 16:01] yamahata commented on #1794
To share what I know about
- lld(llvm ld) which does relaxation breaks relocation code in PAL. The code was derived from old glibc. Which was fixed in glibc upstream. So we need to bring the change into Pal.

Probably this one. (It may need more fix because I didn't go further)
commit 5f30cfec00f64edfc0ad932bf7065de13966b69d
Author: H.J. Lu <hjl.tools@gmail.com>
Date:   Sun Sep 2 05:22:24 2012 -07

[2020-09-04 16:27] mkow commented on #1794
To be honest I planned to rewrite the whole RTLD code, there are many more bugs and hacks in it. Not sure when I'll find time for this, though.
Also, conceptually our RTLD code should derive from the kernel, not glibc (interestingly, all these ELF parsers have differences between each other in handling some corner cases).

[2020-09-04 16:53] dimakuv commented on #1792
Yes, this is a known and very annoying problem. I will fix it now. I plan to introduce a new manifest option (instead of a build-time hack).

That's actually not entirely correct. Before that commit, the Graphene internal memory and application memory could grow into each other, and all hell broke loose. The application would start failing with random errors. With #1768 it became at least determin

[2020-09-04 17:04] mkow commented on #1792
Eh, maybe it's time to finally solve this PAL dynamic allocation issue? This isn't the first time we have troubles because of it and we'll eventually need a fix if we want to reasonably scale to bigger workloads.

[2020-09-04 17:24] yamahata commented on #1794
Agreed. it needs rewrite.

[2020-09-04 18:59] dimakuv commented on #1792
I am currently doing it (but again in a hacky way) through the new manifest option `sgx.internal_size = <integer>`.

I was thinking about this issue for a while but gave up -- it requires a lot of thought/work to consolidate the logic of LibOS and PAL. I'll submit my hacky but working solution soon.

[2020-09-07 08:29] llly commented on #1792
Yes. This fix solves this issue.

[2020-09-07 08:56] llly commented on #1787
I'll start from only tmpfs instead of mixing chroot and tmpfs. We can enhance design later if needed .

[2020-09-07 15:07] mkow commented on #1787
If I follow the discussion correctly there, are no plans for mixing of chrootfs and tmpfs, this was just a slight confusion in the discussion ;)
There should be a separate "tmpfs" type which you can mount at specific path inside Graphene and which isn't backed up by the host FS (and doesn't need "uri" parameter). If someone wants to have host-backed storage then they can just use (already implemen

[2020-09-07 17:03] dimakuv commented on #1787
+1 to @mkow said. Sorry if I confused everyone.

[2020-09-07 21:18] dimakuv commented on #1724
Submitted a fix #1799. However, it is far from what we expected to do/modify.

This may be a good refactoring PR, but it's not about this bug and it's not that simple. We general, we currently have 3 `shim_ipc_info` objects: for myself (sending IPC messages to myself and using this as a parent object for children), for my parent process, and for my leader process.

IPC ports are a bit different an

[2020-09-09 10:50] trusty-fox opened #1802 "[LibOS] Missing support for flock syscall"
Hello,
I don't know if there is a better place to track this, but would it be possible to add support for the `flock()` system call in Graphene LibOS?

At the moment, in [`shim_syscalls.c`](https://github.com/oscarlab/graphene/blob/master/LibOS/shim/src/shim_syscalls.c#L349) this is declared as unsupported.

[2020-09-09 12:15] mkow commented on #1802
I think this is blocked on filesystem rewrite (the current filesystem code is really terrible :) ).
Is there any particular application which doesn't work without `flock()`?

[2020-09-09 12:54] trusty-fox commented on #1802
I'm currently running PHP-CGI in Graphene (with and without SGX) and the PHP web applications I want to run make use of different ways of file locking. I can make it work by disabling all locking, but I don't think this is a useful workaround in practise.

Do you know any plans concerning rewriting the filesystem layer?

[2020-09-09 13:38] mkow commented on #1802
We have plans to do it, but no one has started this work yet. I hope to do it sooner than later as this is stopping us from progressing in a few areas and it's getting more and more annoying ;)

[2020-09-09 14:54] dimakuv commented on #1802
+1 to Michal's remark about the rewrite of the FS subsystem before implementing `flock()`.

Btw, isn't `flock()` (lock the file) is kinda useless in Graphene-SGX? We don't trust the host OS to actually honor file locks. The only thing that can be done is to restrict simultaneous file accesses when both originate from Graphene-SGX (i.e., in two threads). Though I think that this scenario is very im

[2020-09-09 15:02] mkow commented on #1802
I think we could have correct locking in protected fs and tmpfs? Only for chrootfs it's not possible.

[2020-09-09 15:31] mkow opened #1803 "[LibOS] Filesystem code needs to be rewritten"
## Description of the problem

Our old filesystem implementation requires complete rewrite.

* The code is ugly and unmaintainable, especially everything around `dentry` structures.
* There are tons of bugs there, each time we touch this subsystem in one place something unrelated in another place breaks.
* Refcounting is totally broken, most likely we still have memory leaks and use-after-free bug

[2020-09-09 15:42] dimakuv commented on #1803
I'd like to note that there is *no shared and consistent view of the FS across Graphene processes*. For example, a parent Graphene process and a child Graphene process will *not* see new/deleted files from the other process until they actually go and ask the host FS (recall that Graphene e.g. caches directory contents, so if parent listed the directory, then the child created a file in this direct

[2020-09-09 15:43] dimakuv commented on #1802
At the LibOS level, there is no "protected fs" (it is implemented purely at the Linux-SGX PAL layer).

For tmpfs sure. We need tmpfs first though :)

[2020-09-09 16:10] #1390 closed

[2020-09-09 16:10] #1724 closed

[2020-09-09 16:36] dimakuv commented on #1803
One common source of confusion is our `chroot` semantics of Graphene: people have a hard time wrapping their heads around the concept of chroot jails and just want everything from the host FS to be visible/accessible inside Graphene.

I believe we should implement a "God-like" option in Graphene to bind a single mount point to host's `/` (something that GSC does already). This way everything is mi

[2020-09-09 17:38] #1713 closed

[2020-09-09 18:50] mkow commented on #1803
No, I don't think we should allow this, sounds like a big footgun :) We should allow mounting all paths inside Graphene (including `/`), but IMO we shouldn't have an option to mount host's `/` to Graphene.

Ad mounting you described: IMO we should have Linux-like semantics of mounts, that you can stack them and we'll just execute the mount commands from the manifest one by one. This should allow f

[2020-09-09 20:52] bigdata-memory opened #1804 "[Examples] Pytorch accessing file:/etc/fstab is denied"
## Description of the problem
On my SGX2 system:
PRETTY_NAME="Ubuntu 18.04.5 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
VERSION_CODENAME=bionic
DCAP SGX driver = yes
PYTHONVERSION = 3.6.9

it reports the follo

[2020-09-09 20:58] bigdata-memory commented on #1804
The screenshot is attached here.
![image](https://user-images.githubusercontent.com/10856796/92654275-79c91100-f2a4-11ea-8a86-2f76fbf5c68e.png)

[2020-09-09 22:51] mkow commented on #1804
Please paste text logs instead of screenshots.

[2020-09-10 23:44] dimakuv opened #1809 "[LibOS] Implement waitid() system call"
We need to implement `waitid()` system call. We already have `wait()` and `waitpid()`, so this should be pretty straight-forward. We found an application that uses this syscall.

[2020-09-11 00:58] thiagomacieira commented on #1809
Please note that the Linux `waitid()` syscall has an extra parameter not present in POSIX.

POSIX: `int waitid(idtype_t idtype, id_t id, siginfo_t *infop, int options);`

Linux: `int waitid(int which, pid_t pid, siginfo_t *infop, int options, struct rusage *ru)`

See https://code.woboq.org/linux/linux/kernel/exit.c.html#kernel_waitid

With this extra parameter, you can implement all of the other w

[2020-09-11 06:30] dirknono opened #1810 "grpc server crash bug when using graphene"
Hi there,

I am running a C++ grpc server with graphene-sgx. It works well until I try to shut down a running stream-mode grpc client, consequently the server crashes as well. More specifically, the server will shut down if a stream is built but the client chooses to  shut down unexpectedly.

For instance, the C++ client code can be like:

      std::shared_ptr<ClientReaderWriter<Request,Response>

[2020-09-11 09:15] dirknono commented on #1810
You can also use the example https://github.com/grpc/grpc/tree/v1.31.0/examples/cpp/route_guide for test.
When the client is working and if I do 'ctrl+c', the server with graphene will crash.

[2020-09-11 09:16] dirknono commented on #1810
And my graphene version is around July 28th, should be quite new..

[2020-09-11 13:14] mkow commented on #1809
@dimakuv I could take a look at this, but I'd need an app which uses this to test the implementation. Worst case I can just use the two tests LTP has, but would be better to test it also on the thing you're using.

[2020-09-11 13:21] mkow commented on #1748
@Arslan8 Any updates on this?

[2020-09-11 13:31] mkow commented on #52
This was probably fixed long time ago, but the original reporter posted the links to `master` instead of the particular commit, so it's hard to say which places they wanted to mention. Anyways, I grepped the whole Linux-SGX/db_files.c for such an error pattern and didn't find any occurrence.

[2020-09-11 13:31] #52 closed

[2020-09-11 13:46] mkow commented on #1802
btw., related issue: #437

[2020-09-11 15:27] thiagomacieira commented on #1809
Very simple testcase:
[code]

[code]

[2020-09-11 15:35] thiagomacieira commented on #1809
BTW, the implementation for `wait4` above needs to `| WEXITED` to the options field. That's not implied in `waitid`. I also missed the `pid == 0` case which means `P_PGID` with `getpgid()`.

[2020-09-11 15:45] mkow commented on #62
FYI: Unfortunately still reproducible on the current master (https://github.com/oscarlab/graphene/tree/34b8eb1ec2b23d5538d8ede385eb1be50e29354d)

[2020-09-11 16:18] mkow commented on #461
This file was moved to `regression` directory and later renamed to `proc_common.c`. Now it runs as part of CI tests, so I guess this issue can be resolved. Some bugs mentioned in this thread are most likely still present, but they should be covered by #948.

[2020-09-11 16:18] #461 closed

[2020-09-11 16:26] mkow commented on #548
Regarding fully implementing getsockopt we already have #467. The original reporter haven't replied ad the gRPC discussion for quite some time, so the only issue left here is the bug in the docs, for which I'll submit a PR in a moment.

[2020-09-11 16:30] mkow commented on #548
Hmm, actually we have it implemented fully, LibOS just returns that this option is not enabled (if I see correctly). This issue can be closed, I think.

[2020-09-11 16:30] #548 closed

[2020-09-11 16:35] mkow commented on #467
The bug with uninitialized memory was fixed some time ago, see:
https://github.com/oscarlab/graphene/blob/34b8eb1ec2b23d5538d8ede385eb1be50e29354d/Pal/src/host/Linux-SGX/sgx_enclave.c#L311-L319

We're now returning some hardcoded state, which I think isn't an issue per se because we can't trust the host anyways (also, this is _not_ the LibOS layer, so this isn't directly related to what `getsockop

[2020-09-11 16:35] #467 closed

[2020-09-12 01:12] mkow commented on #1810
That's actually pretty old :) Could you try the current master? Signal 13 is SIGPIPE, for which we added some bugfixes recently.

[2020-09-12 01:43] mkow commented on #838
@diwata11 @kanakraju73 I'm cleaning up old issues right now. Does this issue reproduce on current master?

[2020-09-12 01:47] mkow commented on #855
This test was removed in #1726, closing.

[2020-09-12 01:47] #855 closed

[2020-09-12 01:56] #1745 closed

[2020-09-12 11:58] mkow commented on #165
Couldn't reproduce on current master (https://github.com/oscarlab/graphene/tree/34b8eb1ec2b23d5538d8ede385eb1be50e29354d). Seems that this was fixed when refactoring pal-$HOST binaries interface.

[2020-09-12 11:58] #165 closed

[2020-09-13 00:24] mkow opened #1814 "Rewrite GDB integration"
## Description of the problem

Current GDB integration has a lot of bugs, especially the Linux-SGX part.

## Known bugs/issues

- [x] Starting the debuggee causes a spam of logs about SIGILL, which triggers GDB pagination and requires manual scrolling through them. Fixed by #1828.
- [x] On Linux PAL there's an annoying prompt on each GDB start generated by one of our scripts. Fixed by #1828.
- [x]

[2020-09-14 06:09] Arslan8 commented on #1748
@mkow sorry for such a late response.. i got caught up with a deadline.. I was able to build v1.1 as well, the issue is still there:

[code]

even on master:

[code]
i yet have to debug it, but the behavior looks similar..

[2020-09-14 06:10] Arslan8 commented on #1748
also as you can see there is no "Creating arguments failed" print..

[2020-09-14 06:16] Arslan8 commented on #1748
Here's the backtrace:
[code]

[2020-09-14 06:41] Arslan8 commented on #1748
Here's what i see on master:
[code]
Here the function prototype is changed, instead of running the fuzzer again, i just remain the new argument unchanged. I can run the fuzzer later when i get some time..but looks like its present on both the latest tag/release and master...
Here's the modified call, if you can't find it in the backtrace...
[code]
let me know if anything else is required from my s

[2020-09-14 06:44] dirknono commented on #1810
Thanks for your reply. I tried the current master and graphene can handle the above issue now. But when I try with SGX=1, I still get crash and the following log:
Server listening on 0.0.0.0:50051
assert failed ../../../Pal/include/lib/slabmgr.h:410 *m == SLAB_CANARY_STRING
DkProcessExit: Returning exit code -131
Saturation error in exit code -131, getting rounded down to 125

Please have a look.

[2020-09-14 11:07] mkow commented on #1748
Please use the current master, v1.1 is 2 months old and the results on it are probably meaningless, it's almost 100 commits old ;)

here you go: https://github.com/oscarlab/graphene/blob/34b8eb1ec2b23d5538d8ede385eb1be50e29354d/Pal/src/host/Linux-SGX/db_main.c#L321-L325
Just use the up-to-date master ;)

I verified the code and I think it's working as intended. In general, we can't verify if a poi

[2020-09-14 11:15] mkow commented on #1810
Yeah, but looks like a different issue now, seems to be a memory corruption. I'll take a look at this today.

btw. please paste logs enclosed in \`\`\` (see some Markdown guide for more details), it's hard to read them if you just mix them with English text.

[2020-09-14 11:54] dirknono commented on #1810
Sure. Let me know if you need any further information. I will try to mark then in the right way.
[code]

[2020-09-14 12:55] dirknono commented on #1810
Also let me repeat how to crash the server running using graphene-sgx from a grpc client: Change the function RouteChat() in route_guide_client.cc to:
[code]
int main(int argc, char** argv) {
  // Expect only arg: --db_path=path/to/route_guide_db.json.
  std::string db = routeguide::GetDbFileContent(argc, argv);
  RouteGuideClient guide(
      grpc::CreateChannel("localhost:50051",

[2020-09-14 13:41] pwmarcz commented on #1794
I'm trying to get Graphene to compile under Clang 10 with `-Werror`, and now I'm running into warnings about unaligned pointers in IPC:

[code]

Looking at the code, it's even worse: we take a pointer to the message part after the header (`&msg->msg`), and cast it through `void*` to any of the few message types, which sounds like UB because the alignment is not ensured.

@dimakuv I talked with @mk

[2020-09-14 15:12] Arslan8 commented on #1748
Yeah, we agree that in general verifying a pointer is a hard problem. But a wild dereference in enclave could have adverse effects since that dereference is not protected by hardware memory protection constraints. In contrast what some projects (e.g. Intel SDK) do is that they glue the call with an untrusted lib, which does the dereferencing outside the enclave, while this would still crash the ap

[2020-09-14 16:52] mkow commented on #1748
But not too hard, you can solve this with TSX. What I mean is that it's IMO not worth solving, because there's no gain from solving this issue.

What adverse effects? It's still protected by the standard x86 memory protection rules, plus we don't allow it to point inside the enclave (see `sgx_copy_to_enclave()`).

If I understand you correctly, that would require us to jump out of enclave for ever

[2020-09-14 18:21] mkow commented on #1810
I have troubles getting this to build on my old Ubuntu 16.04 SGX server because of too old things in the official repo, seems it's time for an upgrade... I'll return to this once I do the upgrade.
In the meantime, would you have time to try to debug this issue yourself? I can provide some help/hints for this.

[2020-09-14 23:58] #1804 closed

[2020-09-15 01:08] #539 closed

[2020-09-15 02:41] dirknono commented on #1810
Thanks for your help. I am also looking into this...

[2020-09-15 06:46] dimakuv commented on #1809
@mkow Feel free to create a PR with this, I'm on vacation anyway and won't be able to get to this any time soon.

[2020-09-15 09:22] dirknono opened #1819 "could not run code in graphene-sgx"
I use graphene-sgx on my laptop. After reboot, I insmod gsgx.ko as uaual but today I cannot run my program in graphene-sgx.
I really don't know why.
I re-install sgx driver, sdk, psw and re-compile graphene, but I still get the following result when I run a code in graphene-sgx:
[code]

Could you please have a look? Thank you!

[2020-09-15 09:26] dirknono commented on #1819
My graphene version is the lastest master branch and sgx driver/sdk/psw is the stable version 2.7.1

[2020-09-15 09:26] dirknono commented on #1819
well, sgx driver is tag 2.6

[2020-09-15 12:12] mkow commented on #1809
Sure, we're working on this :)

[2020-09-15 13:26] mkow commented on #1819
This may be caused by the recent change in the upstream kernel where they prohibited changing CR4.FSGSBASE. Could you try either using kernel v5.9-rc5 or v5.4 with our backported FSGSBASE patches? See https://github.com/oscarlab/graphene-sgx-driver/blob/8ba1f588552531a3c63c81a91d11a2b5e7587b81/README.rst.

[2020-09-15 15:48] mkow commented on #1809
@thiagomacieira Could you test #1821? It doesn't support all the flags, but maybe it will be enough for your workload.

[2020-09-15 15:58] thiagomacieira commented on #1809
Left some comments there. The exit code won't be right.

[2020-09-16 05:48] lejunzhu commented on #1810
I'm able to reproduce this bug with non-SGX version of Graphene, and captured the stack trace with GDB. It seems that in shim_do_epoll_wait(), pal_cnt == 4 but epoll->pal_cnt == 3. This causes buffer overflow and Graphene will exit when it reaches free(pal_handles).

The value 3 is possibly from update_epoll() of last epoll_wait, because the client is just disconnected when it happens. But I'm not

[2020-09-16 09:35] dirknono commented on #1819
Thanks very much. This problem has been solved.

[2020-09-16 10:35] #1819 closed

[2020-09-16 13:32] qiyuangong opened #1823 "OpenVINO LTS and model zoo"
## Description of the problem
Glad to see that openvino example has been upgraded to 2020.4. But, this version is not a LTS version, which means it will be replaced by future release 4-5 months later.

1. Change to [2020.3LTS](https://software.intel.com/content/www/us/en/develop/articles/openvino-2020-3-lts-relnotes.html) maybe a better idea.

2. model zoo is released according to openvino version

[2020-09-16 17:26] monavij commented on #1823
Qiyuan - can you contribute updated openvino example with 2020.3LTS?

[2020-09-17 01:19] #63 closed

[2020-09-17 07:09] justalittlenoob opened #1825 "Example/openvino build error(GCC 9): redundant move in return statement"
OS: Ubuntu 20.04
gcc: 9.3.0

Is there any way to solve this problem without replacing gcc 9?
Any advice would be appreciated.

`make SGX=1`

make[3]: Leaving directory '/home/s031-n001/graphene/Examples/openvino/openvino/inference-engine/build'
[ 34%] Built target speech_sample_cpplint
make[3]: Entering directory '/home/s031-n001/graphene/Examples/openvino/openvino/inference-engine/build'
make[3]:

[2020-09-17 12:31] #646 closed

[2020-09-17 16:27] vijaydhanraj commented on #1825
This doesn't seem to be a graphene issue but have you tried removing the redundant move? This was suggested in https://qiita.com/PINTO/items/9c39466b8473da2a27e1
[code]

[2020-09-17 21:06] mkow opened #1829 "Implement getrandom syscall"
## Description of the problem

TensorFlow uses `getrandom()`, would be nice to have + it's trivial to implement.

[2020-09-17 23:53] mkow commented on #1829
Implemented on https://github.com/oscarlab/graphene/tree/mkow/add-get_random. I'll create a PR once #1822 gets merged (this depends on it).

[2020-09-18 06:22] qiyuangong commented on #1823
OK. That's a minor change. I will submit a PR for that. :)

[2020-09-18 08:04] justalittlenoob commented on #1825
@vijaydhanraj  Thank you very much, I think your advice is right.

[2020-09-18 08:04] #1825 closed

[2020-09-18 14:49] markueni opened #1832 "The {RD,WR}{FS,GS}BASE instruction is not currently enabled. Please reload Graphene SGX kernel module."
Hei,

I had ported one of my applications into Graphene-SGX, and now when I came back to run it as:

`SGX=1 ./pal_loader $(my_executable)`

I got the following error

`The {RD,WR}{FS,GS}BASE instruction is not currently enabled. Please reload Graphene SGX kernel module.`

However I have loaded Graphene SGX kernel module as it can be seen below
[code]
May I know what is going wrong?

Is there a new

[2020-09-18 22:54] mkow commented on #1809
@thiagomacieira Could you check if the updated version of #1821 solves your problem?

[2020-09-19 00:01] thiagomacieira commented on #1809
I'll ask the team that was doing the testing. Thanks for the update.

[2020-09-21 10:51] justalittlenoob opened #1834 "Examples/openvino Error: OpenCV is not available"
Hi, I got some trouble when tring to run openvino with graphene sgx. The detail is as below.
Any advice would be appreciated.

**os: ubuntu 20.04**
**graphene: v1.1**

`make SGX=1`
[code]

`graphene/Examples/openvino/openvino/inference-engine/temp$ ls`
[code]

There is no folder called `opencv_4.1.1_ubuntu16`.
Besides, when I tried to find `libopencv_imgcodecs.so.4.1`(`sudo find / -name "libopencv

[2020-09-21 11:02] mkow commented on #1834
Please use current master, not v1.1, it's been more than 100 commits this release. Also, the issue template has a huge banner asking to test on current master before posting an issue ;)

[2020-09-21 11:07] mkow commented on #1834
Btw. I just noticed that there's a new PR which fixes some stuff in OpenVINO, you can give it a try: https://github.com/oscarlab/graphene/pull/1833.

[2020-09-21 13:33] mkow commented on #1814
FYI: I updated the list with 2 more bugs.

[2020-09-22 08:14] jinghe-INTC commented on #1777
Here's the output from Bootstrap6 in debug mode:
$ SGX=1 ../../Runtime/pal_loader Bootstrap6.manifest.sgx
Manifest file: file:Bootstrap6.manifest.sgx
Inferred executable file: file:Bootstrap6
Token file: file:Bootstrap6.token
Read dummy DCAP token
enclave created:
    base:           0x0000000000000000
    size:           0x0000000200000000
    misc_select:    0x00000000
    attr.flags:     0x0000

[2020-09-22 08:37] justalittlenoob commented on #1834
@mkow
Thank you for your reply. I took your advice. But there is a new issue (_OpenCV is not available on current platform_) when using master branch. I tried to get some useful information in openvino PRs, but nothing help.

`libopencv-dev` and `python3-opencv` are installed. Did I miss something?

`make SGX=1`

--     ENABLE_CLANG_FORMAT = ON
--     ENABLE_TBB_RELEASE_ONLY = OFF
--
-- MODELS_PAT

[2020-09-22 08:48] jinghe-INTC commented on #1777
I tried Graphene on an Azure VM running Ubuntu 18.04 with small EPC,. Most of the regression cases passed except the 8gb case.
$ SGX=1 ../../Runtime/pal_loader Bootstrap6.manifest.sgx
Killed

and its config:
Max enclave size (64-bit): 0x1000000000
EPC size: 0x2a00000

[2020-09-22 13:23] mkow commented on #1834
I don't know OpenVINO well, but this seems like something unrelated to Graphene (maybe modulo our docs which should say what you need to install). I guess you need to go to OpenVINO docs and check the system requirements, they should have an building/installation guide.

[2020-09-22 22:24] mkow commented on #1777
Oh, I just noticed this: "Graphene commit b66fbd1 (tag: v1.1)". Please use current master, this version is more than 100 commits old...

[2020-09-23 03:54] jinghe-INTC commented on #1777
I have tried the latest commit f94c72b, and when doing the same test at the first time,  there was a different error message:
$ SGX=1 ../../Runtime/pal_loader Bootstrap6.manifest.sgx
Manifest file: file:Bootstrap6.manifest.sgx
Inferred executable file: file:Bootstrap6
Token file: file:Bootstrap6.token
Read dummy DCAP token
enclave created:
    base:           0x0000000000000000
    size:

[2020-09-23 05:54] llly opened #1837 "[LibOS] Spark meets error because of missing syscall fcntl(F_SETLK/F_SETLKW/F_GETLK)"
## Description of the problem
Trying to run spark using Graphene-SGX and caught Exception `Function not implemented`.
## Steps to reproduce
Run spark executor using Graphene-SGX.
## Expected results
Can work.
## Actual results
Got following exception:
[code]
The Java code is https://github.com/openjdk/jdk/blob/d7a0fb9ebc898e76207c27166b81630e837a064a/src/java.base/unix/classes/sun/nio/ch/FileDispa

[2020-09-23 12:26] mkow commented on #1810
I'll pass this to @boryspoplawski, he knows this code better than me.

[2020-09-23 13:00] mkow commented on #1777
Please paste logs in raw blocks (\`\`\`). I had to edit your post to make it readable.

Could you run our [`is_sgx_available`](https://graphene.readthedocs.io/en/latest/manpages/is_sgx_available.html) tool under your QEMU setup?

[2020-09-23 13:10] mkow commented on #1837
This is a duplicate of #437, closing. If you want to highlight the fact that this specific workload needs this functionality please comment under #437.

[2020-09-23 13:10] #1837 closed

[2020-09-24 01:48] #1809 closed

[2020-09-24 05:49] llly commented on #1837
It blocks Spark usage in Graphene. I'm glad to see that we have put it into production TODO list.

[2020-09-24 06:35] debin-yang commented on #1837
Suggest give those TODO tasks higher priority and start addressing it earlier. This is a blocking issue of Graphene to be used by the targeted usage which uses Spark and Graphene.  Workaround is identified and can work temporarily for POC of the usage  but the workaround will not work for production of the usage.

[2020-09-24 06:40] jinghe-INTC commented on #1777
[code]

[2020-09-24 06:42] dimakuv commented on #64
Adding some context here, in case people stumble on this issue.

The “Network Shield” automatically wraps all TCP/IP connections with TLS (and then adds RA-TLS functionality to these TLS connections to automatically perform SGX remote attestation). SCONE implements it, though I'm not familiar with the details and the completeness of this feature.

There was actually some research on this front in

[2020-09-24 08:14] dimakuv commented on #1810
@boryspoplawski changed some epoll logic most recently: https://github.com/oscarlab/graphene/pull/1763.

@lejunzhu , are you using the newest (master) version of Graphene? Such that it contains this PR already (from August 19).

If @boryspoplawski doesn't have time to debug this, I can take a look in the coming days.

[2020-09-24 10:37] #1834 closed

[2020-09-24 12:35] mkow commented on #1837
@llly @debin-yang Please move the discussion to #437, so that we have everything about file locking in one place.

[2020-09-24 12:40] dimakuv commented on #1794
@pwmarcz To be honest, I am not sure how to handle this warning.

We wrap all these IPC structs with `__packed` because we don't want any padding in these objects -- they are sent via UNIX domain/TCP sockets from one Graphene instance to another. So we want interoperability between two versions of Graphene (say compiled with different compiler versions) and also less bandwidth by packing these obj

[2020-09-24 12:50] mkow commented on #1777
Interesting, I'd say it may be a problem with QEMU's SGX emulation, but hard to say without more debugging. I'm currently quite busy, so I'm afraid you'll need to try to debug this yourself.
I'd start with looking at the code which is emitting this error and seeing which call to the driver caused it, then probably enable verbose output from the driver you're using.

[2020-09-24 13:01] boryspoplawski opened #1839 "[LibOS] Double free of epoll_item"
## Description of the problem
Under some racy conditions (see the attached code) it is possible to free an `epoll_item` twice.
The main issue is that `epoll_item` is always on two lists: each epoll instance has a list of watched handles and a handle has a list of epoll instances it's being watched by. When closing an epoll, we need to walk the former list, removing and freeing all epoll_items and

[2020-09-24 13:17] boryspoplawski opened #1840 "Forwarding selected host environment variables"
## Description of the feature

It would be nice to be able to forward some environment variables from the untrusted host e.g. by specifying their names in the manifest.
Example use case: providing the application with a ip+port/domain to connect to (which by definition can be manipulated by the untrusted host anyway).

Please note that this is a different feature than `loader.insecure__use_host_en

[2020-09-24 13:26] mkow commented on #1794
It means that our structure definition doesn't guarantee that all fields are aligned, which actually is the case (but I think we'd get the same warning if they were - because on another compiler or architecture they may stop to be aligned properly).

Possible solutions I can think of:
* Serialize the structure before sending and deserialize before using, effectively having 2 versions of all struct

[2020-09-24 13:31] dimakuv commented on #1777
+1 to @mkow . I cannot imagine anything wrong with Graphene in these test cases. It looks more like the QEMU deployment problem.

[2020-09-24 13:34] dimakuv commented on #1794
From these three options, I would go with option 2 (pad manually). Serializing is an overkill (that's what we hoped to get for free with `__packed` but it backfired).

[2020-09-24 23:23] mkow commented on #1832
Closing. Please comment if the instructions I pasted didn't help.

[2020-09-24 23:23] #1832 closed

[2020-09-24 23:26] #1748 closed

[2020-09-25 01:46] llly opened #1841 "[LibOS]dentry cache for filesystem can cause conflict between stat() result and host file status"
## Description of the problem
`shim_do_stat()`, `shim_do_lstat()` etc. check dentry cache for filesystem first. If the file is already looked up and exists in dentry cache, these function return the cached data. However the cache will be out of sync after other programs modify it. Then program in Graphene can get conflict result when calling `open()` to access real file.

## Steps to reproduce
A s

[2020-09-25 01:51] llly commented on #1841
I don't find a similar one in the issue list of Filesystem code needs to be rewritten. Help me to close this one if it's a know issue.

[2020-09-25 05:45] jinghe-INTC commented on #1777
But it doesn't work properly on an Azure VM either. It was killed shortly after starting.

[code]
The DCAP driver on KVM and Azure VM are both v1.36.

[2020-09-25 07:13] llly opened #1842 "[LibOS] Deadlock in fork() when another thread blocked in socket accept()"
## Description of the problem
`shim_handle` structure contains a mutex lock to protect other members. Lots of functions acquire the lock before read or write shim_handle structure.

Here are two of them.
`static int __do_accept(struct shim_handle* hdl, int flags, struct sockaddr* addr, int* addrlen);`
https://github.com/oscarlab/graphene/blob/0432c1794a5a2dacc125997a959c8e6b7e2ecc9d/LibOS/shim/src

[2020-09-25 07:50] dimakuv commented on #1777
@jinghe-INTC I am confused. What you're showing is the log of **8GB-enclave Bootstrap6**. It is supposed to be killed since the VM (Azure or your local one, doesn't matter) doesn't have enough EPC/RAM alloted for such a big SGX enclave. This is expected.

What I'm interested in: when and how do `socket` and `event` tests fail?

[2020-09-25 07:56] dimakuv commented on #1841
It's actually a feature :) The original idea behind this caching was that Graphene doesn't share FS state with the host OS. In other words, only Graphene processes are expected to modify the files in mounted directories.

But yes, this feature probably doesn't make sense. @mkow @boryspoplawski @yamahata Should we just remove FS caching inside Graphene and allow the host to modify files? (Of course

[2020-09-25 08:08] dimakuv commented on #1842
Interesting deadlock. Yes, it is an obvious bug, thanks for debugging this!

1. Not related to the bug itself, but why do you have a multi-threaded application that runs `fork()` in one thread and does `accept()` in another thread? AFAIK, forking on a multi-threaded application is strongly discouraged. What application is that?

2. I think it's perfectly normal to unlock before `DkStreamWaitForCli

[2020-09-25 08:08] jinghe-INTC commented on #1777
On a physical machine with small EPC, the case can still pass.
[code]

So it will have more strict requirement than that on VM?

[2020-09-25 08:10] jinghe-INTC commented on #1777
And I've never seen failure of case `socket `and `event` on any of the platforms.

[2020-09-25 08:19] justalittlenoob opened #1843 "Openvino in Graphene error while loading shared libraries"
I am trying to make openvino work in graphene-sgx according to [this doc](https://github.com/oscarlab/graphene/tree/master/Examples/openvino).  How can I make step 3 and step 4 work? The manifest file is attached [openvino.manifest.template](https://github.com/oscarlab/graphene/files/5281426/openvino.manifest.template.txt). Any advice would be appreciated.

1. build, **success**.
`make SGX=1`

2.

[2020-09-25 09:03] dimakuv commented on #1777
How much RAM do you have on your physical machine and on your VM instances?

Recall that in Linux, you may have a swap file (Linux moves RAM contents in this swap file when no more space left in RAM). Frequently in VM instances, this swap file is either *absent* or *very small*. So if you have say 1GB of RAM allocated for your VM, and no swap file, then any application that requires 8GB of memory

[2020-09-25 09:17] dimakuv commented on #1843
It seems that you're using Ubuntu 20.04. We didn't test OpenVINO on this version of Ubuntu.

Apparently, some paths changed on this newer Ubuntu.

In particular,  `/usr/x86_64-linux-gnu/libstdc++.so.6` now moved to `/lib/x86_64-linux-gnu/libstdc++.so.6`. Please reflect this change in your manifest-template file (on line 87).

Also, for some reason, your OpenVINO doesn't find the file `libopencv_im

[2020-09-25 09:38] yamahata commented on #1842
un/lock before/after dkwaitforclient itself seems okay. But we should audit if there are similar lock in libos.

[2020-09-25 09:56] mkow commented on #1841
Yes, I think this feature is broken by-design and should be removed. I linked this issue to the list in #1803 (fs rewrite).

[2020-09-25 10:02] mkow commented on #1842
This needs to be implemented carefully, we can't read `hdl->pal_handle` without the lock (I think).

[2020-09-25 10:05] dimakuv commented on #1842
@mkow , yes, agreed. But once set, `hdl->pal_handle` cannot be modified. So we can read it under the lock, check that it is not NULL, and use it later without the lock.

[2020-09-25 10:09] mkow commented on #1777
@dimakuv EPC has nothing to do with this, it's just a cache.

But not enough RAM in the VM sounds like a probable explanation for this failure.

[2020-09-25 12:23] #1829 closed

[2020-09-25 12:59] boryspoplawski commented on #1841
1) I like the idea of separation of Graphene and host filesystems and I don't think we can implement some features (like mounting) without it.
2) From what I can see from the logs, this is two **in Graphene** processes not seeing each others changes to fs, which is definitely an issue we need to address (be it now or when rewriting fs).

[2020-09-25 13:10] boryspoplawski commented on #1842
@dimakuv I don't think that's the case, e.g. https://github.com/oscarlab/graphene/blob/master/LibOS/shim/src/sys/shim_socket.c#L780

[2020-09-25 13:30] boryspoplawski commented on #1810
@dirknono @lejunzhu Could you check if this fixes the issue for you: https://github.com/oscarlab/graphene/tree/borys/unify_epoll_pal_cnt_sem ?

[2020-09-25 14:29] pwmarcz opened #1844 "Change the way Jenkins builds are set up"
**Background**: My immediate problem is adding builds for Clang (see https://github.com/oscarlab/graphene/issues/1794). After the PR https://github.com/oscarlab/graphene/pull/1830 is merged, it should be possible to build and test the (Ubuntu 18.04, non-SGX) combination. However, I would rather not add more Jenkinsfiles that contain almost exactly the same code.

**Problem**: The Jenkinsfiles cont

[2020-09-25 16:42] yamahata commented on #1841
- If dentry cache is dropped, namei/lookup operation will be just delegated into host.  It will be total design revise. (and some operation like mount will be difficult to implement)
- Do we want shared fs between graphene and host? (This isn't the case as borys pointed out in this case, though) For that, probably the client of 9pfs (or virtiofs or other popular protocol like NFS) needs to be impl

[2020-09-25 18:04] thiagomacieira opened #1846 "Document how to build without networking"
## Description of the problem
Package building runs in an environment without network access. So Graphene must document a way of building without hitting the network. Any dependencies that any normal build would download need to be listed, with instructions on where to place the files.

## Steps to reproduce
Type `make`

## Expected results
Build works.

## Actual results
Build fails because downl

[2020-09-25 18:19] mkow commented on #1846
+1

It's worth noting that offline builds are supported (via `DL_OFFLINE` + `DL_CACHE` parameters, see `Scripts/download`) but this isn't documented anywhere.

[2020-09-26 00:38] lejunzhu commented on #1810
Yes, it seems the issue is fixed in this branch. Route_guide_server doesn't crash any more when clients disconnect early.

[2020-09-26 06:36] llly commented on #1842
@dimakuv It's Spark using Java. I'm trying to enable it during these days.

[2020-09-26 18:53] kleirama opened #1847 "Error while trying to built the target libra_tls_verify_dcap.so"
I am trying to build `ra-tls` using `make dcap` and I got the following error:

[code]
I have `libsgx_dcap_quoteverify.so.1` under `/usr/lib/x86_64-linux-gnu` and as I see from Makefile located at  `Pal/src/host/Linux-SGX/tools/ra-tls`, I see that it expects libsgx_dcap_quoteverify.so.1 under `Pal/src/host/Linux-SGX/tools/common`

How can I manage to build dcap?

[2020-09-26 20:35] yamahata commented on #1842
One second  thought, this is design issue.
At the moment hdl->lock is mutex. So it assumes that the thread can blocked with the lock held.
On the other hand, fork logic assumes that other thread won’t hold the lock indefinitely. It means that the logic assumes the lock is spinlock effectively.

If we go to the direction for unlock before block, hdl->lock should be replaced with spinlock.
other cho

[2020-09-27 11:32] justalittlenoob commented on #1843
@dimakuv Hi, thank you very much. I think your suggestion is quite right. I can't try it right away, because my machine is crashed. I'll try your method tomorrow.

[2020-09-28 02:55] debin-yang commented on #437
Copy issues from #1837 Need to give this production TODO task higher priority and start addressing it earlier instead of later. This is a blocking issue of Graphene to be used by the targeted usage which uses Spark and Graphene. Workaround is identified and can work temporarily only for POC of the usage but the workaround will not work for production of the usage.

[2020-09-28 02:59] debin-yang commented on #1544
Support Basic file locking function support which is required to enable Spark with Graphene [#437](https://github.com/oscarlab/graphene/issues/437#issue-402949181)

[2020-09-28 11:00] mkow commented on #1544
@debin-yang This issue is only to aggregate general issues with Graphene which block it from being used in production for all purposes, not just specific workloads.

[2020-09-28 13:49] boryspoplawski opened #1848 "[LibOS] Epoll events reported only for the first fd in case of duplicates"
## Description of the problem
If an epoll instance monitors two fds that have the very same `pal_handle` (e.g. duplicated via `dup`) events will be reported only for the first one.
Code at fault: https://github.com/oscarlab/graphene/blob/16aed0987599ac7c6f9f37ecc26d62fbb8c0a51f/LibOS/shim/src/sys/shim_epoll.c#L341
The inner loop (`epoll->fds` list) looks for the first matching `pal_handl`, which a

[2020-09-29 06:23] justalittlenoob commented on #1843
@dimakuv  Just tried. Still has the issue (libopencv_imgcodecs.so.4.4: cannot open shared object file: No such file or directory).

1. run original OpenVINO/object_detection_sample_ssd, success.
2. run OpenVINO/object_detection_sample_ssd in Graphene-SGX or Graphene-NoSGX, fail.
`/graphene/Examples/openvino$ ./pal_loader openvino.manifest -i images/horses.jpg -m model/VGG_VOC0712Plus_SSD_300x300_f

[2020-09-29 07:39] yehuihe opened #1851 "Graphene on CentOS 8.1"
## Description of the problem
I installed graphene on my CentOS 8.1. When i 'make' in the root it showed me the following error:

*make -C Pal all*
*make[1]: Entering directory '/home/admin/Project/graphene-master/Pal'*
*src/Makefile.Host:10: *** Unsupported platform: x86_64-redhat-linux.  Stop.*
*make[1]: Leaving directory '/home/admin/Project/graphene-master/Pal'*
*make: *** [Makefile:12: all] E

[2020-09-29 08:15] dimakuv commented on #1843
Could you attach the auto-generated `openvino.manifest` and `openvino.manifest.sgx` files here?

[2020-09-29 08:24] dimakuv commented on #1847
Could you execute this particular step that fails manually, adding `-Wl,--verbose`? Like this:
[code]

GCC will output a lot of helpful info. In my case, I see these lines:
[code]

As you can see, my GCC tried several paths, and found `libsgx_dcap_quoteverify.so` in one of the classical Linux paths (`/usr/lib/x86_64-linux-gnu/`). Also, this is what I have in this directory (after installing Intel

[2020-09-29 09:01] mkow commented on #1851
Interesting. This was generated by this check: https://github.com/oscarlab/graphene/blob/4bb416952eb0e703beb7e0cc715bf5d161e15568/Scripts/Makefile.Host#L8-L12
but I don't see how could it fail this way, you have "linux" in the platform name. Are you sure you're using Graphene from master branch?

[2020-09-29 09:15] yehuihe commented on #1851
I downloaded zip from git (not clone). The directory named 'graphene-master'.

What it suppose to generate?

[2020-09-29 09:24] mkow commented on #1851
I don't think you're actually using master branch, the line numbers doesn't match. The error log you pasted contains `src/Makefile.Host:10`, while this error is generated on line 11 on current master.

I never used this "download zip" feature, no idea what exactly is downloaded there. Maybe you unpacked some older version from your Downloads folder?

[2020-09-29 10:00] justalittlenoob commented on #1843
@dimakuv Sure.
[openvino.manifest](https://github.com/oscarlab/graphene/files/5298073/openvino.manifest.txt)
[openvino.manifest.sgx](https://github.com/oscarlab/graphene/files/5298076/openvino.manifest.sgx.txt)
[openvino.manifest.template](https://github.com/oscarlab/graphene/files/5298077/openvino.manifest.template.txt)

[2020-09-29 10:39] dimakuv commented on #1843
Let's try a couple things in your manifest.template file.

1. Please add the line `loader.insecure__use_host_env = 1` (see https://graphene.readthedocs.io/en/latest/manifest-syntax.html#environment-variables).

2. I don't like these lines in the auto-generated manifests:
[code]

Is the second line the correct one? Could you replace these lines in the manifest.template with just `openvino` instead

[2020-09-29 12:14] justalittlenoob commented on #1843
@dimakuv   Thank you very much for your patience.
1. If only do step 1(add `loader.insecure__use_host_env = 1`), the result is same.
2. If do step 1 and 2:
`./pal_loader openvino.manifest -i images/horses.jpg -m model/VGG_VOC0712Plus_SSD_300x300_ft_iter_160000.xml -d CPU`

WARNING: Forwarding host environment variables to the app is enabled. Don't use this configuration in production!
object_detec

[2020-09-29 12:47] dimakuv commented on #1843
I'm giving up, I don't understand why your manifest doesn't work :(

We'll need to find an Ubuntu 20.04 machine and try Graphene + OpenVINO ourselves. I am out of ideas.

[2020-09-29 12:52] justalittlenoob commented on #1843
@dimakuv Thank you for your efforts. BTW, on my ubuntu18.04, there is the same issue...

[2020-09-29 15:50] #1810 closed

[2020-09-30 06:16] veenasai2 opened #1856 "Graphene-SGX limits maximum enclave size to 32G only"
## Description of the problem
Current implementation of Graphene-SGX doesn't allow enclave size larger than 32G.
sgx.enclave_size = 64G in manifest file, throws an error.

## Steps to reproduce
1.  cd graphene/Examples/redis    or any other Example code
2.  sudo vim redis-server.manifest.template
3.  sgx.enclave_size = 64G  and save
4.  sudo make SGX=1
5.  sudo SGX=1 ./pal_loader redis-server
erro

[2020-09-30 09:29] justalittlenoob commented on #1843
@dimakuv
Hi, I walk around the problem by hard code the opencv lib path to `loader.env.LD_LIBRARY_PATH`
Although I know it's not beautiful to do this.

[2020-09-30 10:03] pwmarcz commented on #1814
That is pretty weird.

* GDB does seem to recognize the functions:

[code]

* The function from program is visible when referred to by address:

[code]

* Breakpoints (`bootstrap.c:main`) seem to work (after my PR #1853)

* Just in case, this applies to other function names defined in PAL, not only `main`

* `maint info symtabs` is correct as far as I can tell, i.e. containes the right source path

[2020-09-30 10:07] mkow commented on #1814
Sounds like a good idea to test with GDB from master / the most recent release. GDB is quite buggy.

[2020-09-30 10:46] pwmarcz commented on #1814
Okay, the newest release (GDB 9.2) fixes this.
[code]

[2020-09-30 18:09] #1792 closed

[2020-10-01 04:41] noodlehair-git opened #1861 "Recent FSGSBASE update issue."
My NUC specifications are as follows:

```Linux NUC10i7FNH 4.15.0-117-generic #118-Ubuntu SMP Fri Sep 4 20:02:41 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux```

```Distributor ID: Ubuntu ; Description:    Ubuntu 18.04.5 LTS ; Release:        18.04 ; Codename:       bionic```

I haven't done any updates in like a month (or maybe more), but I am facing this error when I try to run my python script on Gr

[2020-10-01 06:26] dimakuv commented on #1861
You probably rebooted your machine, and the `/dev/gsgx` kernel module (the insecure Graphene SGX module) was not automatically loaded. Please do smth like this on your machine:
[code]

Please be aware that this trick is *only for debugging purposes* and *your OS becomes insecure*. Ideally, you would want to move to Linux 5.9 or higher or backport our FSGSBASE patches to Linux 5.4 (see https://gith

[2020-10-01 09:24] dimakuv commented on #1856
@veenasai2 Could you check that https://github.com/oscarlab/graphene/pull/1863 fixes your issue on your 64GB enclave?

[2020-10-01 12:26] veenasai2 commented on #1856
@dimakuv the issue is fixed now. I verified for enclave size 1024M, 32G, 64G, and 128G . All are working fine. You can close the issue. Thanks.

[2020-10-01 12:26] #1856 closed

[2020-10-01 12:41] mkow commented on #1861
This may also be helpful: https://graphene.readthedocs.io/en/latest/building.html#install-the-linux-kernel-patched-with-fsgsbase

[2020-10-01 14:16] pwmarcz commented on #1814
I found out that having at least GDB 8.2 would simplify the integration, because it has an `add-symbol-file -o <offset>` command which works well without listing all the sections (see [this comment](https://github.com/pwmarcz/graphene/blob/800e17e33c42e9989fffa5fc6637737c5c151e54/Pal/src/host/Linux-SGX/sgx_rtld.h#L18) for more context). There is also the bug with symbol namespaces mentioned above,

[2020-10-01 14:28] boryspoplawski commented on #1814
Dropping support for Ubunut 16 - gdb 7 - sounds like a good idea if that's a blocker, but I think we should support the default version from Ubuntu 18. Forcing newcomers to compile their own gdb version sounds pretty discouraging.

[2020-10-01 16:15] mkow commented on #1814
As Paweł already mentioned, +1 from my side to drop support for old GDBs.

Remember that this isn't a feature for users, but for developers, and only on older distros. I don't think compiling GDB from step-by-step instructions is a high bar, especially for someone who's trying to help developing such a low-level project.

[2020-10-01 16:42] yamahata commented on #1814
+1 for dropping ubuntu 16, (and adding ubuntu 20.04 which comes with gdb 9. )

Personally I’m fine with only supporting gdb only on  20.04.
For developer, probably 18.04 support is desirable.

[2020-10-01 18:50] woju commented on #1814
FWIW, buster (debian 10) has 8.2

[2020-10-02 08:39] dimakuv commented on #1814
+1 for asking GDB of at least v8.2. I guess there are no problems using it on older systems like Ubuntu 18.04 (most our development is on this OS distro)?

How long does it take to build GDB? If it's similar to say GCC, then we should *not* put it in our Jenkins -- it will take hours just to build (and we have very weak machines in our Jenkins). I think it is reasonable to simply ask devs to upgra

[2020-10-04 04:20] noodlehair-git commented on #1861
Thank you for your reply!
I get this error when I tried your suggested solution
```insmod: ERROR: could not load module gsgx.ko: No such file or directory```

[2020-10-04 09:34] #1861 closed

[2020-10-05 02:54] #1843 closed

[2020-10-05 03:20] justalittlenoob opened #1869 "Openvino in Graphene-SGX error: Accessing file: libstdc++.so.6/libjpeg.so.8/libpng16.so.16 denied"
when run OpenVINO/object_detection_sample_ssd in Graphene-SGX(accroding to this https://github.com/oscarlab/graphene/tree/master/Examples/openvino)
`SGX=1 ./pal_loader openvino.manifest.sgx -i images/horses.jpg -m model/VGG_VOC0712Plus_SSD_300x300_ft_iter_160000.xml -d CPU`

ubuntu 20.04 log
[code]

ubuntu 18.04 log
[code]

According to the error, I add sgx.trusted_files.libjpeg = file:/usr/$(ARCH

[2020-10-05 07:50] dimakuv commented on #1869
In the manifest that you've sent, you have these lines:
[code]

Note how you have two entries fused together in the first line. I don't know if you incorrectly copy-pasted your actual manifest, but this shouldn't work (I'm surprised Graphene didn't fail).

It should be three lines like this:
[code]

Infinite number of identifiers is possible. Identifiers are just some names that you choose for con

[2020-10-05 13:11] pwmarcz commented on #1814
It takes about 9 minutes on my machine, so yeah, seeing how Jenkins is going to be slower, it might be best to wait until we support Ubuntu 20.04...

I wouldn't *require* newer GDB until we have means of testing it, though.

[2020-10-05 16:11] justalittlenoob commented on #1869
@dimakuv
Sorry, it is a incorrectly copy-pasted mistake. It does look like this：
`fs.mount.lib.type = chroot`
`fs.mount.lib.path = /lib`
`fs.mount.lib.uri = file:$(GRAPHENE_DIR)/Runtime`

I have corrected this manifest file: [openvino.manifest.template](https://github.com/oscarlab/graphene/files/5328506/openvino.manifest.template.txt)
There are only 4 lines in this file that have been changed (lin

[2020-10-05 16:14] dimakuv commented on #1869
Are you sure you're running the latest master of Graphene?

I am puzzled because I don't experience any problems on Ubuntu 18.04.

[2020-10-05 16:26] justalittlenoob commented on #1869
@dimakuv
I am sure i am using the latest master branch.
I am building graphene according to https://graphene.readthedocs.io/en/latest/building.html, but without the step `Install the Linux kernel patched with FSGSBASE`. Does this matter?
Besides, the opencv is installed according to https://github.com/openvinotoolkit/openvino/blob/master/build-instruction.md#use-custom-opencv-builds-for-inference-

[2020-10-05 16:42] justalittlenoob commented on #1869
@dimakuv  The reason i am using `Custom OpenCV Builds for Inference Engine` is because I have a `OpenCV is not available on current platform` problem.(This problem is described here https://github.com/openvinotoolkit/openvino/issues/2392 )

[2020-10-05 16:55] dimakuv commented on #1869
@justalittlenoob I'm still confused... So what version of OpenVINO are you trying to run on Ubuntu 18.04? Is it the default https://github.com/oscarlab/graphene/tree/master/Examples/openvino without any changes to the Makefile and the manifest? Could you first verify that on Ubuntu 18.04, with the latest Graphene master version, and with unmodified OpenVINO example, it works fine?

[2020-10-06 05:20] justalittlenoob commented on #1869
@dimakuv

Yes. It works.

But what embarrassed me was
1. I had to use ubuntu20.04.  (Project needs).
2. If using ubuntu20.04, when run `graphene/Examples/openvino$make SGX=1` will get the issue

-- extracting...
src='/home/s031-n001/graphene/Examples/openvino/openvino/inference-engine/temp/download/iomp.tgz'
dst='/home/s031-n001/graphene/Examples/openvino/openvino/inference-engine/temp/omp'
-- ext

[2020-10-06 07:21] dimakuv commented on #1869
Got it. There seems to be some non-trivial issue in OpenVINO on Ubuntu 20.04. I am hoping to start testing Graphene under Ubuntu 20.04 more extensively and I'll update the OpenVINO example as well. Hopefully some time this week.

[2020-10-06 13:44] justalittlenoob commented on #1869
@dimakuv  Thank you very much for your help:)

[2020-10-07 12:37] pwmarcz opened #1871 "GDB tests fail on Jenkins"
See https://github.com/oscarlab/graphene/pull/1868.

GDB tests (`in test_libos.py`, currently skipped) fail on some slaves, as far as I can tell, the program inside GDB fails to start:

[code]

* The program fails to start before executing anything (even `starti` fails)
* The test fails on some Jenkins nodes but not all of them; on both Ubuntu 16.04 and 18.04 Docker images
  * Consistently passes

[2020-10-07 12:48] mkow commented on #1871
@donporter @dcowhig Please take a look at this, our Jenkins is in quite a bad shape currently (there are also other failures on SGX slaves, I think one is running out of disk space).

[2020-10-07 14:53] mkow opened #1873 "[LibOS] Implement madvise"
## Description of the problem

Some Linux test suites check if `madvise` syscall is implemented. I don't think implementing it has any use in supporting real-world applications (which are usually satisfied even if we return -ENOSYS from it), but adding it should be simple, as only `MADV_DONTNEED` mode is directly visible for the users and will make the tests suites happy :)

[2020-10-09 16:32] vijaydhanraj opened #1877 "[LibOS] Error with *at() calls when absolute path is provide with invalid dirfd (like -1)"
## Description of the problem
As per linux man-pages, dirfd can be ignored if an absolute path is provided when invoking *at() calls. But in graphene many of the *at() calls require a valid dirfd even when an absolute path is provided. If not, the call fails.

## Steps to reproduce
1. Build a simple graphene test application.
2. Invoke openat() function by setting dirfd to -1 and provide an absolu

[2020-10-10 06:47] tinoryj opened #1878 "Build error on ubuntu 20.04.1"
## Description of the problem

Compile according to "https://graphene.readthedocs.io/en/latest/quickstart.html" (Quick start with SGX support)  in the latest version of ubuntu 20.04.1 system, the error is as follows

[code]

It can be compiled with the 1.1 version in the release, but the following error appears in the 5th step `Build and run helloworld:make SGX=1 sgx-tokens`:

[code]

## Steps to

[2020-10-10 09:04] woju commented on #760
I propose to switch to meson (https://mesonbuild.com/). It uses ninja to actually invoke the compiler, but apart from invocation this is not visible to the user (it's not needed to write any ninja script).

The transition could be gradual, not everything at the same time, but during the transition period both build systems would have to be invoked one after another, like this:
[code]

As a first s

[2020-10-10 13:11] mainarke opened #1880 "Python: Error when writing h5 files"
## Description of the problem
I tried to run Tensorflow with Graphene (without SGX for now). The training process was fine; but when I tried to save the trained model using save_model(), there was an error. Note that the same script runs fine without Graphene.

I also tried to use load_model() with Graphene to load existing model (trained&saved without Graphene); similar error occurred.

I used th

[2020-10-11 06:17] mainarke commented on #1880
This error might be related to flock() syscall, according to [#1802](https://github.com/oscarlab/graphene/issues/1802). Is there a way to circumvent this?

[2020-10-11 17:04] mkow commented on #1878
Oops, seems I missed the gap in syscall numbering between `__NR_rseq` and `__NR_pidfd_send_signal` when implementing  #1838, sorry. Anyways, I see that someone has already implemented a fix for this: #1882.

[2020-10-11 17:51] mkow commented on #760
Sounds good. From my side: I'd vote for either Meson or Bazel. Bazel's big disadvantages are that it isn't available in repos and it's written in Java, but I like their `--sandbox` option to debug incorrect dependencies, which is AFAIK lacking in meson. Bazel is also more widely used, so I guess support for many things may be better. I'm not sure about other differences.

[2020-10-12 09:04] dimakuv commented on #760
First time I hear about `meson` but looks good. I'm fine with it.

[2020-10-12 09:27] dimakuv commented on #1877
@vijaydhanraj Will you be able to provide a PR fixing this?

Isaku said this on Slack, posting here for context:
[code]

[2020-10-12 09:29] dimakuv commented on #1880
Yes, the root cause here is that Graphene currently doesn't emulate the `flock()` system call. This is on our list of TODOs.

I am not aware of a way to circumvent this error in TensorFlow. Maybe others have more experience with TF.

[2020-10-12 17:32] vijaydhanraj commented on #1877
@dimakuv, yes I can provide a PR fixing this issue.

[2020-10-12 18:19] yamahata commented on #760
I'm fine with meson. Actually I don't have strong opinion about meson vs cmake (or other popular ones.)

[2020-10-12 23:49] lejunzhu commented on #1880
I did this when I was using TF 1.14:

[code]

Then you can write the return value using normal file IO. Similar to load_model().

[2020-10-13 03:21] mainarke commented on #1880
Thanks to @lejunzhu, I have implemented the following two wrappers. The usage is the same as the original `load_model`, `save_model`:

[code]

### Test Environment
Ubuntu 18.04
python version: `3.6.9`
tensorflow version: `1.15.3`
h5py version: `2.10.0`

The code can be run with Graphene LibOS, but I have not tested it with SGX=1.

### Note
If you encounter this error: `TypeError: expected str, byt

[2020-10-13 06:45] #1878 closed

[2020-10-14 11:18] dimakuv commented on #870
It was agreed to use TOML and migrate to it completely (removing the old ad-hoc parser). I am modifying the existing https://github.com/cktan/tomlc99 parser for our specific Graphene needs (no deps on Glibc, no setlongjumps, C-style error handling) and will submit a PR soon.

[2020-10-14 18:19] sudharkrish opened #1890 "When application runs as sudo user, SIGINT not received by application, it hangs."
## Description of the problem
Seeing an issue with signal handling in SGX mode. Have a simple test program, which has a signal handler(for SIGINT), so if user hits Ctrl-C, it should exit the program.  Issue encountered ONLY when application is run as sudo user, Ctrl-C is not detected, and program hangs

## Steps to reproduce

## Expected results
When user hits Ctrl-C, program should receive it, an

[2020-10-14 18:21] sudharkrish commented on #1890
Issue seen with graphene commid->1cbdf3225aba04f02c2caca2376edb46235b64e1

Here below is the test code to reproduce the issue.

**Issue seen ONLY when program is run as sudo user.**

[code]
sudo SGX=1 ./pal_loader helloworld

**Issue seen ONLY when program is run as sudo user.**

[2020-10-14 20:41] #1873 closed

[2020-10-15 01:11] llly opened #1891 "[LibOS]Glibc function daemon() fails because stat of /dev/null lacks st_rdev"
## Description of the problem
It's a simple issue. Glibc function `daemon` open and stat `/dev/null`, then checks stat.st_rdev against predefined value. See https://github.com/lattera/glibc/blob/master/misc/daemon.c#L70-L73 and https://github.com/lattera/glibc/blob/master/sysdeps/unix/sysv/linux/device-nrs.h#L25-L26.
However st_rdev is not set. https://github.com/oscarlab/graphene/blob/1b8e648ed8c

[2020-10-15 08:47] dimakuv commented on #1890
Two things:

1. I fixed a bug in signal handling recently. Please try newer Graphene, at least this commit: https://github.com/oscarlab/graphene/commit/a534cb4b852369fd20c84c049650c89a339659f5. This may or may not help...

2. Why do you want to run Graphene under `sudo`? It's pretty scary due to trivial shell escape. Note that the only blessed way of running Graphene currently is via the `pal_load

[2020-10-15 08:54] dimakuv commented on #1891
Thanks for this bug report! @llly Would you like to provide a PR with a simple fix? Just hard-code the value `1,3` for `/dev/null` and add a comment that it's taken from Glibc 2.31 and is required by e.g. Glibc's `daemon()` functions.

[2020-10-15 11:20] mkow commented on #1891
But we're emulating the kernel, not Glibc :) So, you should take the minor/major versions from the most recent Linux release.

[2020-10-15 23:46] kevincwells opened #1894 ""Fail: Trying to drop reference count below 0" when running nginx example"
## Description of the problem
When running the `nginx` example, the application immediately exits with a runtime error.

With the last stable release (v1.1):
[code]
With the latest pull of `master` (commit `bd5d56b1`):
[code]

In both cases, this refers to the function in `<graphene_root>/LibOS/shim/include/shim_internal.h`, which has not changed since v1.1:

[code]

## Steps to reproduce
As menti

[2020-10-16 06:05] llly commented on #1891
Major 1 is Macro MEM_MAJOR and minor 3 is from https://github.com/torvalds/linux/blob/master/drivers/char/mem.c#L978

[2020-10-16 08:44] dimakuv commented on #1894
I cannot reproduce it locally, Nginx works for me. I have Ubuntu 18.04, and we also test Ubuntu 16.04 in our Jenkins. Maybe it's because of your OS distribution? What is it?

[2020-10-16 23:20] sanmiawi opened #1900 "Signed Graphenized docker Exception: Failed. (Error Code = 30)"
## Description of the problem
I get the following error when trying to run a graphenized docker image built and signed with the **GSC** tool

[code]

## Steps to reproduce

- OS Ubuntu 18.04
- git cloned graphene  `git clone https://github.com/oscarlab/graphene.git`
- `cd graphene`
- `make`
- `make SGX=1`
- built docker image
- built graphenized image with `./gsc build --insecure-args b_docker_2 b

[2020-10-17 22:40] mkow commented on #1900
Does Graphene with Linux-SGX PAL works for you? (without GSC)
Error 30 is `AESM_SERVICE_UNAVAILABLE`. Could you check logs/status for aesmd service in your system?